@import "variables";

/**
 * Defines styles only for patterns Protosite.UiKit
 ========================================================================== */


/* Animation
 ========================================================================== */

.pattern-animation-fade,
.pattern-animation-movement {
	display: block;
	background-color: #F5F5F5; /* @clr-grey-100 */
	cursor: default;
	line-height: 5.2rem;
	text-align: center;
	background-color: @clr-white;
}
.pattern-animation-fade q,
.pattern-animation-movement q {
	cursor: text;
}
.pattern-animation-fade,
.pattern-animation-movement,
.pattern-animation-fade:hover,
.pattern-animation-movement:hover {
	text-decoration: none;
}

.pattern-animation-fade {
	transition: all .3s @easing;
}
.pattern-animation-fade:hover {
	color: white;
	background-color: white;
}

.pattern-animation-movement {
	position: relative;
}
.pattern-animation-movement::after {
	content: ' ';
	display: block;
	
	position: absolute;
	top: 0; right: 0; bottom: 0; left: 0;
	margin-left: 0;
	transition: all .8s @easing;
	
	width: 1.6rem;
	line-height: inherit;
	background-color: #424242; /* @clr-grey-800 */
}
.pattern-animation-movement:hover::after {
	left: 100%;
    margin-left: -1.6rem;
}


/* Preview colors
 ========================================================================== */

.pattern[class*="ui-bg-"] {
    width: 12.1rem; line-height: 2.4rem;
    display: inline-block;
    vertical-align: bottom;
    padding: .8rem .8rem 0;
}


/* Visibility
 ========================================================================== */

.pattern.ui-visible-x-desktop,
.pattern.ui-visible-desktop,
.pattern.ui-visible-tablet-landscape,
.pattern.ui-visible-tablet-portrait,
.pattern.ui-visible-mobile {
   display: inline-block !important;
   color: #BDBDBD; /* @clr-gray-400 */
}

/* x-desktop */
@media (min-width: 1360px) {
	.ui-visible-x-desktop {
		color: #424242 !important; /* @clr-gray-800 */
    }
}

/* desktop */
@media (min-width: 1180px) and (max-width: 1359px) {
    .ui-visible-desktop {
		color: #424242 !important; /* @clr-gray-800 */
    }
}

/* tablet--landscape */
@media (min-width: 1024px) and (max-width: 1179px) {
    .ui-visible-tablet-landscape {
		color: #424242 !important; /* @clr-gray-800 */
    }
}

/* tablet--portrait */
@media (min-width: 768px) and (max-width: 1023px) {
    .ui-visible-tablet-portrait {
		color: #424242 !important; /* @clr-gray-800 */
    }
}

/* mobile */
@media (max-width: 767px) {
    .ui-visible-mobile {
		color: #424242 !important; /* @clr-gray-800 */
    }
}