@import "settings/variables";

/**
 * Defines styles only for patterns Protosite.UiKit
 ========================================================================== */


/* Animation
 ========================================================================== */

.pattern-animation-fade,
.pattern-animation-movement {
	display: block;
	background-color: @clr-grey-100;
	cursor: default;
	line-height: 5.2rem;
	text-align: center;
	background-color: @clr-white;
}
.pattern-animation-fade q,
.pattern-animation-movement q {
	cursor: text;
}
.pattern-animation-fade,
.pattern-animation-movement,
.pattern-animation-fade:hover,
.pattern-animation-movement:hover {
	text-decoration: none;
}

.pattern-animation-fade {
	transition: all .3s @easing;
}
.pattern-animation-fade:hover {
	color: white;
	background-color: white;
}

.pattern-animation-movement {
	position: relative;
}
.pattern-animation-movement::after {
	content: ' ';
	display: block;
	
	position: absolute;
	top: 0; right: 0; bottom: 0; left: 0;
	margin-left: 0;
	transition: all .8s @easing;
	
	width: 1.6rem;
	line-height: inherit;
	background-color: #424242; /* @clr-grey-800 */
}
.pattern-animation-movement:hover::after {
	left: 100%;
    margin-left: -1.6rem;
}


/* Preview colors
 ========================================================================== */

.pattern[class*="u-bg-"] {
    width: 12.1rem; line-height: 2.4rem;
    display: inline-block;
    vertical-align: bottom;
    padding: @unit/2 @unit/2 0;
}


/* Visibility
 ========================================================================== */

.pattern.u-visible\@xdesktop,
.pattern.u-visible\@desktop,
.pattern.u-visible\@tablet,
.pattern.u-visible\@tablet-landscape,
.pattern.u-visible\@tablet-portrait,
.pattern.u-visible\@handset,
.pattern.u-visible\@handset-landscape,
.pattern.u-visible\@handset-portrait {
   display: inline-block !important;
   color: @clr-grey-400;
}

/* x-desktop */
@media (min-width: 1360px) {
	.u-visible\@xdesktop {
		color: @body-color !important;
    }
}

/* desktop */
@media (min-width: 1180px) and (max-width: 1359px) {
    .u-visible\@desktop {
		color: @body-color !important;
    }
}

/* tablet-landscape */
@media (min-width: 1024px) and (max-width: 1179px) {
	.u-visible\@tablet,
	.u-visible\@tablet-landscape {
		color: @body-color !important;
    }
}

/* tablet-portrait */
@media (min-width: 768px) and (max-width: 1023px) {
	.u-visible\@tablet,
	.u-visible\@tablet-portrait {
		color: @body-color !important;
    }
}

/* handset-landscape */
@media (min-width: @screen-handset-landscape) and (max-width: @screen-handset-landscape-max) {
	.u-visible\@handset,
	.u-visible\@handset-landscape {
		color: @body-color !important;
	}
}

/* handset-landscape */
@media (max-width: @screen-handset-portrait-max) {
	.u-visible\@handset,
	.u-visible\@handset-portrait {
		color: @body-color !important;
	}
}