
/* ========================================================================
   Document style
 ========================================================================== */

@import "../variables/_import.css";

:root {
    --body-background: var(--clr-grey-200;
    --selection-background-color: var(--clr-blue-600);
}

html {
    height: 100%;
    font-size: 62.5%;
}

body {
    background: var(--body-background);
    font-family: var(--font-family-default);
    font-size: var(--font-size-default);
    color: var(--text-color);
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary { display: block; }

audio,
canvas,
img,
svg,
progress,
video {
    display: inline-block;
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

img {
    border: 0;
}

svg:not(:root) {
    overflow: hidden;
}

audio:not([controls]) {
    display: none;
    height: 0;
}

template {
    display: none;
}

/* Selection
 ========================================================================== */

::-moz-selection {
    background-color: var(--selection-background-color);
    color: var(--selection-color);
    text-shadow: none;
}
::selection {
    background-color: var(--selection-background-color);
    color: var(--selection-color);
    text-shadow: none;
}
*[unselectable="on"] {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


/* Horizontal rule
 ========================================================================== */

hr {
    display: block;
    box-sizing: content-box;
    height: 0;
    border: 0;
    border-top: 1px solid var(--clr-grey-400);
    border-bottom: 1px solid var(--clr-white);
    margin: var(--unit) 0;
    padding: 0;
}
h1 + hr,
h2 + hr,
h3 + hr,
h4 + hr,
h5 + hr,
h6 + hr {
    margin-top: 0;
}


/* Block base
 ========================================================================== */

p,
ul,
ol,
dl,
blockquote,
pre,
address,
fieldset,
figure {
    margin: 0 0 .3rem 0;
}
* + p,
* + ul,
* + ol,
* + dl,
* + blockquote,
* + pre,
* + address,
* + fieldset,
* + figure {
    margin-top: calc(var(--unit) / 2);
}


/* Forms
 ========================================================================== */

label {
    cursor: pointer;
    user-select: none;
}

textarea {
    resize: vertical;
}

fieldset,
legend {
    border: 0;
    margin: 0;
    padding: 0;
}

button,
input,
optgroup,
select,
textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}

button,
select {
    text-transform: none;
}

button,
html input[type="button"], /* 1 */
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}

button[disabled],
input[disabled] {
    cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

input {
    line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    height: auto;
}

input[type="search"] {
    -webkit-appearance: textfield;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

textarea {
    overflow: auto;
}

optgroup {
    font-weight: bold;
}


/* Tables
 ========================================================================== */

table {
    border-collapse: collapse;
    border-spacing: 0;
}

td,
th {
    padding: 0;
}