
@import "../settings/palette.css";
@import "../settings/typography.css";

/* ========================================================================
   Paragraph
 ========================================================================== */

p {
    display: block;
    vertical-align: text-top;
    max-width: 54.4rem;

    font-family: inherit;
    font-size: var(--font-size-medium);
    line-height: var(--line-height-medium);
}


/* Figure inside the paragraph
 ========================================================================== */

p figure {
    display: inline-block;
    padding: 0;
    margin: 0;

    max-width: 30vw;
    max-height: 18rem;

    background-color: var(--clr-grey-300);
    background-size: contain;
}

p figure::before,
p figure::after {
    content: ' ';
    position: absolute;
    width: 100%;
    display: block;
    clear: both;
}

p figure img {
    width: 100%;
    max-height: inherit;
    object-fit: contain;
}


/* Image inside the paragraph
 ========================================================================== */

p img {
    display: block;
    width: auto;
    max-height: 11.8rem;
    margin: 0 auto;
}

p img[align="left"],
p img[align="right"] {
    display: inline-block;
    max-width: 19rem;
}

p img[align="left"] {
    float: left;
    margin: 0.3rem 1.2rem 0 .8rem;
}

p img[align="right"] {
    float: right;
    margin: 0.3rem 0.8rem 0 1.2rem;
}


/* Various paragraph sizes
 ========================================================================== */

p.u-text-large {
    max-width: 70.4rem;
}
p.u-text-small {
    max-width: 51.4rem;
}
p.u-text-xsmall {
    max-width: 44.8rem;
}