
@import "../settings/_import.css";

/**
 * Name:            Text elements
 * Description:     Defining styles for formatting text
 *
 * ======================================================================== */


/* Links
 ========================================================================== */

a,
.u-link {
    outline: 0;
    background-color: transparent;
    color: var(--link-color);
    text-decoration: var(--link-text-decoration);
    transition: var(--link-transition);
}
a:hover,
.u-link:hover {
    outline: 0;
    color: var(--link-hover-color);
    text-decoration: var(--link-hover-text-decoration);
}


/* Weight modifiers
 ========================================================================== */

b {
    font-weight: 500;
}
b > b, strong {
    font-weight: 600;
}
strong > strong {
    font-weight: 700;
}


/* Size modifiers
 ========================================================================== */

small {
    font-size: var(--text-sm);
    line-height: var(--line-height-sm);
}


/* Text-level semantics
 ========================================================================== */

abbr[title] {
    border-bottom: 1px dotted;
}
code,
kbd,
pre,
samp {
    font-family: var(--font-monospace);
    font-size: inherit;
}
code,
kbd,
samp {
    white-space: nowrap;
}
ins {
    display: inline-block;
    margin: 0 -.2rem;
    padding: 0 .2rem;
    background-color: var(--clr-green-100);
    color: var(--clr-grey-900);
    text-decoration: none;
}
mark {
    background-color: var(--selection-background-color);
    color: var(--selection-color);
    text-decoration: none;
}
i,
em,
dfn,
q {
    font-style: italic;
}

pre {
    overflow: auto;
    white-space: pre-wrap;
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}
sup {
    top: -0.5em;
}
sub {
    bottom: -0.25em;
}
