
@import "../settings/palette.css";


/* Style: `s-danger`
 ========================================================================== */

.s-danger,
.s-danger:hover {
	color: var(--danger-color);
}

.c-button.s-danger:not(.s-clean, .s-bordered) {
	background-color: var(--danger-color);
	background-blend-mode: color-burn;
	text-shadow: none;
}

.c-button.s-danger:not(.s-clean, .s-bordered),
.c-button.s-danger:not(.s-clean, .s-bordered):hover {
    color: var(--clr-white);
}

.c-button.s-danger:not(.s-clean, .s-bordered):focus,
.c-panel:not(.s-transparent) .c-button.s-danger:not(.s-clean, .s-bordered):focus {
    background-color: var(--clr-red-900);
}


/* Style: `s-muted`
 ========================================================================== */

.s-muted,
.s-muted:hover {
	color: var(--muted-color);
}


/* Style: `s-primary`
 ========================================================================== */

.s-primary,
.s-primary:hover {
	color: var(--primary-color);
}

.c-button.s-primary:not(.s-clean, .s-bordered) {
	background-color: var(--primary-color);
	background-blend-mode: color-burn;
	text-shadow: none;
}

.c-button.s-primary:not(.s-clean, .s-bordered),
.c-button.s-primary:not(.s-clean, .s-bordered):hover {
    color: var(--clr-white);
}

.c-button.s-primary:not(.s-clean, .s-bordered):focus,
.c-panel:not(.s-transparent) .c-button.s-primary:not(.s-clean, .s-bordered):focus {
    background-color: var(--clr-blue-900);
}


/* Style: `s-success`
 ========================================================================== */

.s-success,
.s-success:hover {
	color: var(--success-color);
}

.c-button.s-success:not(.s-clean, .s-bordered) {
	background-color: var(--success-color);
	background-blend-mode: color-burn;
	text-shadow: none;
}

.c-button.s-success:not(.s-clean, .s-bordered),
.c-button.s-success:not(.s-clean, .s-bordered):hover {
    color: var(--clr-white);
}

.c-button.s-success:not(.s-clean, .s-bordered):focus,
.c-panel:not(.s-transparent) .c-button.s-success:not(.s-clean, .s-bordered):focus {
    background-color: var(--clr-green-900);
}


/* Style: `s-warning`
 ========================================================================== */

.s-warning,
.s-warning:hover {
	color: var(--warning-color);
}

.c-button.s-warning:not(.s-clean, .s-bordered) {
	background-color: var(--warning-color);
	background-blend-mode: color-burn;
	text-shadow: none;
}

.c-button.s-warning:not(.s-clean, .s-bordered),
.c-button.s-warning:not(.s-clean, .s-bordered):hover {
    color: var(--clr-white);
}

.c-button.s-warning:not(.s-clean, .s-bordered):focus,
.c-panel:not(.s-transparent) .c-button.s-warning:not(.s-clean, .s-bordered):focus {
    background-color: var(--clr-orange-900);
}


/* Style: `s-transparent`
 ========================================================================== */

.s-transparent,
.s-transparent .c-panel__head {
	background: transparent;
	box-shadow: none;
}