
@import "../settings/base.css";
@import "../settings/space.css";


/* ========================================================================
   Component: `c-button`
 ========================================================================== */

:root {
    --c-button-icon-large-side: 4rem;
    --c-button-icon-xlarge-side: 16rem;
}

.c-button.s-small {
    font-size: var(--text-sm);
    line-height: 1.4;
    padding: var(--space-xs) var(--space-sm);
}
.c-button.s-large {
    font-size: var(--text-lg);
    line-height: 1.5;
    padding: var(--space-sm) var(--space-lg);
}

.c-button--icon.s-small {
    padding: var(--space-xs);
}
.c-button--icon.s-small + .c-button--icon.s-small {
    margin-left: var(--space-xs);
}

.c-button--icon.s-large {
    padding: var(--space-sm);
}
.c-button--icon.s-large:empty::before {
    width: var(--c-button-icon-large-side);
    height: var(--c-button-icon-large-side);
}
.c-button--icon.s-large::before {
    font-size: 32px;
    font-weight: 500;
}

.c-button--icon.s-xlarge {
    padding: var(--space-sm);
}
.c-button--icon.s-xlarge:empty::before {
    width: var(--c-button-icon-xlarge-side);
    height: var(--c-button-icon-xlarge-side);
}
.c-button--icon.s-xlarge::before {
    font-size: 128px;
    font-weight: 800;
}

.c-button--icon.s-xlarge + .c-button--icon.s-xlarge {
    margin-left: var(--space-md);
}
