
/**
 * Theme: Article
 ============================================================================ */

body.t-article {
    background-color: white;
}

/* Typeface of the article object
 ============================================================================ */

@import url('https://fonts.googleapis.com/css?family=Vollkorn|Vollkorn+SC&display=swap');

.t-article .o-article {
    --font-primary: 'Vollkorn', serif;
    --font-secondary: 'Vollkorn SC', serif;
}

/* Article object
 ============================================================================ */

.t-article .o-article {
    margin-left: auto;
    margin-right: auto;
}
