
/**
 * Theme: Article
 ============================================================================ */
 
@import url('https://fonts.googleapis.com/css?family=Vollkorn|Vollkorn+SC&display=swap');

.t-article {
    --font-primary: 'Vollkorn', serif;
    --font-secondary: 'Vollkorn SC', serif;
}

.t-article {
    background-color: white;
}


/* ========================================================================
   Object: Article
 ========================================================================== */

.t-article .o-article {
    margin-left: auto;
    margin-right: auto;
}

/* Combination of components: `o-article` & `c-panel`
 ========================================================================== */

.t-article .o-article.c-panel {
    padding-top: var(--space-md);
    padding-right: var(--space-xl);
    padding-bottom: var(--space-md);
    padding-left: var(--space-lg);
}
