
@import "../settings/breakpoints.css";
@import "../settings/space.css";

.t-errordoc .o-container {
    width: auto;
    max-width: 92rem;
}

@media (--screen-tablet-and-smaller) {
    .t-errordoc .o-container {
        margin: 0 var(--space-l);
    }
}
