
.t-palette {
    background-color: #f6f1e2;
}

.t-palette .o-palette {
    display: block;
    margin-top: 4rem;
    margin-bottom: 8rem;
}

.t-palette .o-palette .c-picture {
    display: inline-block;
}