@import '../settings/basic.css';
@import '../settings/shadow.css';

/**
 * Core Component: Avatar
 * Childnodes: Link, Mask and Image.
 *	
 * [ProtoSite](http://protosite.rocks/components/avatar.html)
 */

/** Settings
=========================================================================== */

:host {
	--bkgd-color: transparent;
	--bord-color: var(--clr-gray-300);
	--radius: 50%;
	--shadow: var(--shadow-2dp);
	--text-size: 0;

	--size: 5--unit;
	--size-xxs: 1--unit;
	--size-xs: 1.5--unit;
	--size-sm: 2.5--unit;
	--size-md: 6--unit;
	--size-lg: 8--unit;
	--size-xl: 12--unit;
	--size-xxl: 16--unit;

	#mask {
		--shadow: none;
	}
}

/* Size modifiers */

:host(.s-xxs) {
	--size: var(--size-xxs);
}
:host(.s-xs) {
	--size: var(--size-xs);
}
:host(.s-sm) {
	--size: var(--size-sm);
}
:host(.s-md) {
	--size: var(--size-md);
}
:host(.s-lg) {
	--size: var(--size-lg);
}
:host(.s-xl) {
	--size: var(--size-xl);
}
:host(.s-xxl) {
	--size: var(--size-xxl);
}

/** Context */

:host-context(.c-panel:not(.s-clean)) {
	--bkgd-color: var(--clr-gray-200);
	--shadow: none;

	#mask {
		--shadow: var(--inset-shadow-2dp);
	}
}

/** Rules
=========================================================================== */

:host {
	display: inline-block;
	inline-size: var(--size);
	block-size: var(--size);

	background-color: var(--bkgd-color);
	border-radius: var(--radius);
	box-shadow: var(--shadow);
	overflow: hidden;
	user-select: none;
	vertical-align: middle;
	position: relative;

	:is(#link, #mask, #image) {
		inline-size: var(--size);
		block-size: var(--size);
		border-radius: var(--radius);
		overflow: hidden;

		position: absolute;
		top: 0;
		left: 0;
		pointer-events: none;
	}

	:is(#link, #image) {
		display: none;
	}

	#link[href] {
		display: block;
		pointer-events: auto;
		z-index: 3;
	}

	#mask {
		display: block;
		box-shadow: var(--shadow);
		box-sizing: border-box;
		opacity: 0.8;
		border: 1--pixel solid var(--bord-color);
		z-index: 2;
	}

	#image[src] {
		display: block;
		object-fit: cover;
		pointer-events: auto;
		z-index: 1;
	}
}

:host-context(.c-panel:not(.s-clean)) #mask {
	border: unset;
}
