@import '../settings/main.css';
@import '../settings/shadow.css';

:host {
	--bg-color: transparent;
	--border: 1--pixel solid var(--muted-color);
	--shadow: var(--shadow-2dp);
	--text-size: 0;

	--size: 5--unit;
	--size-xxs: 1--unit;
	--size-xs: 1.5--unit;
	--size-sm: 2.5--unit;
	--size-md: 6--unit;
	--size-lg: 8--unit;
	--size-xl: 12--unit;
	--size-xxl: 16--unit;
}

:host [part='root']:not([style*='background-image']):empty {
	--bg-color: var(--clr-gray-100);
	--border: none;
	--shadow: none;
}

/* Size modifiers */

:host(.s-xxs) [part='root'] {
	--size: var(--size-xxs);
}
:host(.s-xs) [part='root'] {
	--size: var(--size-xs);
}
:host(.s-sm) [part='root'] {
	--size: var(--size-sm);
}
:host(.s-md) [part='root'] {
	--size: var(--size-md);
}
:host(.s-lg) [part='root'] {
	--size: var(--size-lg);
}
:host(.s-xl) [part='root'] {
	--size: var(--size-xl);
}
:host(.s-xxl) [part='root'] {
	--size: var(--size-xxl);
}

/**
 * Component: Avatar
 * Children: Image and Link
=========================================================================== */

:host :is([part='root'], a) {
	display: inline-block;
	border-radius: 50%;
	width: var(--size);
	height: var(--size);
	overflow: hidden;
	text-align: center;
	vertical-align: middle;
	user-select: none;
}

:host [part='root'] {
	background-color: var(--bg-color);
	border: var(--border);
	box-shadow: var(--shadow);

	img {
		user-select: auto;
		width: inherit;
		height: inherit;
		object-fit: cover;
	}

	&[style*='background-image'] {
		background-size: cover;

		img {
			display: none;
		}
	}
}

:host {
	display: contents;
	pointer-events: none;
	& > * {
		pointer-events: auto;
	}
}

/** Context: Panel Component
=========================================================================== */

:host-context(.c-panel:not(.s-clean)) {
	--shadow: var(--inset-shadow-2dp);

	img {
		z-index: -1;
		position: relative;
	}
}
