@import '../.snippet/icon.css';
@import '../settings/main.css';
@import '../document/icon-glyphs-arrow.css';

/**
 * Core Element: Arrow Image
 */

/** Settings
=========================================================================== */

:host {
	--size-xxs: 0.75--unit;
	--size-xs: 1.75--unit;
	--size-sm: 2.5--unit;
	--size-md: 5--unit;
	--size-lg: 10--unit;
	--size-xl: 16--unit;
	--size-xxl: 20--unit;
}

/* Size modifiers */

:host(.s-xxs) .icon {
	--icon-size: var(--size-xxs);
	--icon-weight: 400;
}

:host(.s-xs) .icon {
	--icon-size: var(--size-xs);
	--icon-weight: 400;
}

:host(.s-sm) .icon {
	--icon-size: var(--size-sm);
	--icon-weight: 400;
}

:host(.s-md) .icon {
	--icon-size: var(--size-md);
	--icon-weight: 500;
}

:host(.s-lg) .icon {
	--icon-size: var(--size-lg);
	--icon-weight: 500;
}

:host(.s-xl) .icon {
	--icon-size: var(--size-xl);
	--icon-weight: 800;
}

:host(.s-xxl) .icon {
	--icon-size: var(--size-xxl);
	--icon-weight: 800;
}

/** Rules
=========================================================================== */

:host {
	display: contents;

	* {
		pointer-events: none;
	}

	.icon[data-glyph] {
		@extend %icon;

		display: inline-block;
		width: var(--icon-size);
		height: var(--icon-size);
		vertical-align: middle;

		&::after {
			content: var(--icon-code);
		}

		&[data-glyph^='\\']::after {
			content: attr(data-glyph);
		}

		&::before {
			all: unset;
		}
	}
}
