
/* Media queries breakpoints
 ========================================================================== */

@screen-xdesktop: 1360px;
@screen-desktop: 1180px;
@screen-tablet-landscape: 1024px;
@screen-tablet-portrait: 768px;
@screen-handset-landscape: 480px;
@screen-handset-portrait: 240px;

@screen-desktop-max: (@screen-xdesktop - 1);
@screen-tablet-landscape-max: (@screen-desktop - 1);
@screen-tablet-portrait-max: (@screen-tablet-landscape - 1);
@screen-handset-landscape-max: (@screen-tablet-portrait - 1);
@screen-handset-portrait-max: (@screen-handset-landscape - 1);