
/* Media queries breakpoints
 ========================================================================== */

@screen-xdesktop: 1360px;
@screen-desktop: 1180px;
@screen-tablet: 1024px;
@screen-tablet-portrait: 768px;
@screen-handset: 480px;
@screen-handset-portrait: 240px;

@screen-desktop-max: (@screen-xdesktop - 1);
@screen-tablet-max: (@screen-desktop - 1);
@screen-tablet-portrait-max: (@screen-tablet - 1);
@screen-handset-max: (@screen-tablet-portrait - 1);
@screen-handset-portrait-max: (@screen-handset - 1);