@import "breakpoints";
// @import "./colors/google-material";
@import "./colors/yeun-open-color";
@import "shadow";

// Global variables
// ========================================================================

// basic
@host: 'http://ui.protosite.rocks';
@easing: cubic-bezier(0.3, 0, 0.2, 1);
@unit: 1.6rem;

// document text style
@body-background: @clr-grey-100;
@body-color: @clr-grey-800;
@body-color-caption: @clr-grey-900;
@body-font-family: "Open Sans", sans-serif;
@body-font-family-caption: "PT Serif Caption", serif;
@body-font-family-cursive: "Marck Script", cursive;
@body-font-size: (@unit * .875);
@body-line-height: 1.6;

// headers
@h1-font-size: 3.6rem;
@h1-line-height: normal;
@h2-font-size: 2.4rem;
@h2-line-height: normal;
@h3-font-size: 2rem;
@h3-line-height: normal;
@h4-font-size: 1.7rem;
@h4-line-height: normal;
@h5-font-size: 1.5rem;
@h5-line-height: normal;
@h6-font-size: 1.3rem;
@h6-font-weight: 600;
@h6-line-height: normal;
@small-font-size: 1.3rem;
@xsmall-font-size: 1.2rem;
@small-line-height: 1;

// links
@link-color: @clr-light-blue-800;
@link-color-hover: @clr-light-blue-900;
@link-text-decoration: underline;
@link-text-decoration-hover: none;
@link-transition: color 0.16s @easing;

// margins
@margin:        @unit * 1.5;
@margin-mini:   @unit / 2;
@margin-small:  @unit;
@margin-large:  @unit * 3.5;
@margin-xlarge: @unit * 6;

// other
@url-filters: @host + '/css/tools/filters.svg';