@import "breakpoints";
@import "./colors/google-material";
// @import "./colors/yeun-open-color";
@import "shadow";

// Global variables
// ========================================================================

@easing: cubic-bezier(0.3, 0, 0.2, 1);
@host: 'http://ui.protosite.rocks';
@iconic-font-path: '@{host}/vendor/fonts/iconic/';
@unit: 1.6rem;

// document text style
@font-family-caption: "PT Serif Caption", serif;
@font-family-primary: "Open Sans", sans-serif;
@font-family-secondary: "Open Sans", sans-serif;
@font-family-cursive: "Marck Script", cursive;

@font-size-large: 1.6rem;
@font-size-default: 1.4rem;
@font-size-small: 1.2rem;

@line-height-large: normal;
@line-height-default: 1.6;
@line-height-small: 1;

// color palette
@caption-color: @clr-grey-900;
@link-color: @clr-light-blue-700;
@link-hover-color: @clr-light-blue-900;
@text-color: @clr-grey-800;
@selection-color: @clr-white;

// headers
@h1-font-size: 3.6rem;
@h1-font-weight: 400;
@h1-line-height: 1;
@h1-margin: @space-s 0;
@h2-font-size: 2.4rem;
@h2-font-weight: 400;
@h2-line-height: 1;
@h2-margin: @space-s 0;
@h3-font-size: 2rem;
@h3-font-weight: 400;
@h3-line-height: 1;
@h3-margin: @space-xs 0;
@h4-font-size: 1.5rem;
@h4-font-weight: 400;
@h4-line-height: 1;
@h4-margin: @space-xs 0;
@h5-font-size: 1.4rem;
@h5-font-weight: 700;
@h5-line-height: 1.2;
@h5-margin: @space-xs 0;
@h6-font-size: 1.2rem;
@h6-font-weight: 400;
@h6-line-height: 1.2;
@h6-margin: @space-xs 0;

// links
@link-text-decoration: underline;
@link-hover-text-decoration: none;
@link-transition: color 160ms @easing;

// spaces
@space-default: @unit;
@space-xs: @unit / 4;
@space-s: @unit / 2;
@space-m: @unit;
@space-l: 2 * @unit;
@space-xl: 4 * @unit;