@import '../settings/basic.css';
@import '../settings/shadow.css';

%button-settings {
	--bkgd-color: var(--clr-white);
	--bord-color: transparent;
	--height: 4rem;
	--space: 2.4rem;
	--radius: 0.4rem;
	--shadow: var(--shadow-2dp);
}

%button-rules {
	display: inline-block;
	vertical-align: baseline;

	box-sizing: border-box;
	inline-size: inherit;
	block-size: max-content;
	min-block-size: var(--height);
	padding-inline: var(--space);

	background-color: var(--bkgd-color);
	border-color: var(--bord-color);
	border-radius: var(--radius);
	border-style: solid;
	border-width: 1--pixel;
	box-shadow: var(--shadow);
	cursor: pointer;

	transition-property: background-color, border-color, box-shadow;
	transition-duration: var(--base-duration);
	transition-timing-function: var(--base-easing);
}

:--button-any.s-warning {
	--bkgd-color: var(--clr-amber-600);
	--bord-color: var(--clr-amber-700);
	--text-color: var(--clr-white);
}

:--button-any-has-focus.s-warning {
	--bord-color: var(--clr-amber-50);
}

:--button-any.s-success {
	--bkgd-color: var(--clr-green-600);
	--bord-color: var(--clr-green-700);
	--text-color: var(--clr-white);
}

:--button-any-has-focus.s-success {
	--bord-color: var(--clr-green-50);
}
:--button-any.s-primary {
	--bkgd-color: var(--clr-blue-600);
	--bord-color: var(--clr-blue-700);
	--text-color: var(--clr-white);
}

:--button-any-has-focus.s-primary {
	--bord-color: var(--clr-blue-50);
}
:--button-any.s-danger {
	--bkgd-color: var(--clr-red-600);
	--bord-color: var(--clr-red-700);
	--text-color: var(--clr-white);
}

:--button-any-has-focus.s-danger {
	--bord-color: var(--clr-red-50);
}
