@custom-selector :--avatar .c-avatar:not(:empty), :--avatar-has-background;
@custom-selector :--avatar-has-background .c-avatar[style*="background-image"];
@custom-selector :--avatar-not-background .c-avatar:not([style*="background-image"]);
@custom-selector :--button-any .c-button, .c-panel:not(.s-clean) .c-button;
@custom-selector :--button-any-has-focus :--button-any:focus-visible;
@custom-selector :--button-any-is-active :--button-any:--is-active;
@custom-selector :--button-is-active .c-button:active, .c-button[aria-pressed=true];
@custom-selector :--is-active :active, [aria-pressed=true];
@custom-selector :--headings h1, h2, h3, h4, h5, h6;
@custom-selector :--icon-attr-excluded i, .icon, .s-icon;
@custom-selector :--icon-attr-included :--icon-attr-excluded[data-glyph];
