@import '../settings/document.css';

:root {
	--field-radius: 2--pixel;
	--field-height: 1.5--unit;
	--field-space-horz: 0.25--unit;
	--field-space-vert: 0.125--unit 0.1975--unit;
}

%field {
	display: inline-block;
	vertical-align: middle;
	width: inherit;
	min-height: var(--field-height);

	padding-block: var(--field-space-vert);
	padding-inline: var(--field-space-horz);

	background-color: var(--bg-color);
	border-color: var(--border-color);
	border-width: 1--pixel;
	border-style: solid;
	border-radius: var(--field-radius);
	outline: none;
	box-shadow:
		inset 0 0 2--pixel var(--clr-gray-400, lightgrey),
		0 0 0 var(--clr-blue-400, lightgrey);
	box-sizing: border-box;
	cursor: pointer;

	transition-property: background-color, border-color, box-shadow;
	transition-duration: var(--duration);
	transition-timing-function: var(--easing);
}
