@import '../settings/document.css';

:root {
	--field-radius: 4--pixel;
	--field-height: 2.5--unit;
	--field-shadow: inset 0 0 2--pixel var(--clr-gray-400, lightgrey), 0 0 0 var(--clr-blue-400, lightgrey);
	--field-space-horz: 1--space;
	--field-space-vert: 0.125--unit 0.125--unit;
}

%field {
	display: inline-block;
	vertical-align: middle;
	width: inherit;
	min-height: var(--field-height);

	padding-block: var(--field-space-vert);
	padding-inline: var(--field-space-horz);

	background-color: var(--bg-color);
	border-color: var(--border-color);
	border-radius: var(--field-radius);
	border-style: solid;
	border-width: 1--pixel;
	box-shadow: var(--field-shadow);
	box-sizing: border-box;
	cursor: pointer;
	outline: none;

	transition-property: background-color, border-color, box-shadow;
	transition-duration: var(--duration);
	transition-timing-function: var(--easing);
}
