@import '../settings/basic.css';
@import '../settings/color.css';
@import '../settings/basic.css';
@import '../settings/shadow.css';

%field-settings {
	--height: 2.5--unit;
	--horz-space: 1--space;
	--radius: 4--rpx;
	--shadow: var(--shadow-2dp);
	--vert-space: 0.125--unit;
}

%field {
	display: inline-block;
	vertical-align: middle;
	text-align: left;

	box-sizing: border-box;
	inline-size: inherit;
	min-block-size: var(--height);
	padding-block: var(--vert-space);
	padding-inline: var(--horz-space);

	background-color: var(--bkgd-color);
	border-color: var(--bord-color);
	border-radius: var(--radius);
	border-style: solid;
	border-width: 1--rpx;
	box-shadow: var(--shadow);
	cursor: pointer;
	outline: none;

	transition-property: background-color, border-color, box-shadow;
	transition-duration: var(--base-duration);
	transition-timing-function: var(--base-easing);
}
