@import '../settings/main.css';
@import '../settings/typography.css';

:root {
	--icon-code: '\e231';
	--icon-color: var(--text-color, currentColor);
	--icon-font: 'Iconic';
	--icon-size: var(--unit, 16px);
	--icon-weight: var(--font-normal, 400);
}

%icon {
	container-name: icon-bearer;

	&::before,
	&::after {
		font-family: var(--icon-font);
		font-size: var(--icon-size);
		font-style: normal;
		font-weight: var(--icon-weight);
		line-height: 1;
		text-rendering: geometricPrecision;
		color: var(--icon-color);

		display: inline-block;
		box-sizing: content-box;
		width: var(--icon-size);
		height: var(--icon-size);

		text-align: center;
		vertical-align: baseline;
		speak: none;
	}

	&::before {
		content: var(--icon-code);
	}

	&[data-glyph^='\\']::before {
		content: attr(data-glyph);
	}

	&:empty {
		width: var(--icon-size);
		height: var(--icon-size);
	}
}
