@import url("http://assets.protosite.rocks/fonts/iconic/stylesheet.css");
@import "../settings/main.css";
@import "../settings/typography.css";

%icon::before {
	--icon-size: var(--unit);
	--icon-weight: var(--font-normal);
	--text-size: var(--icon-size);
	--text-interligne: 1;
}

%icon {
	&::before {
		display: inline-block;
		position: relative;
		top: 0.1rem;
		vertical-align: baseline;
		font-family: 'Iconic';
		font-display: block;
		font-size: var(--text-size);
		font-style: normal;
		font-weight: var(--icon-weight);
		line-height: 1;
		speak: none;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}
	
	&:empty::before {
		width: var(--icon-size);
		height: var(--icon-size);
		text-align: center;
		box-sizing: content-box;
	}
}
