@import '../settings/space.css';

%underline {
	text-decoration-line: underline;
	text-decoration-style: solid;
	text-decoration-color: currentColor;
	text-decoration-thickness: 0.0625--unit;
	text-underline-offset: var(--space-xxs);
}
