@import '../settings/basic.css';

%underline {
	text-decoration-line: underline;
	text-decoration-style: solid;
	text-decoration-color: currentColor;
	text-decoration-thickness: var(--line-thickness);
	text-underline-offset: var(--space-xxs);
}
