
@import "./palette.css";


/* Base
 ========================================================================== */

:root {
    --easing: cubic-bezier(0.3, 0, 0.2, 1);
    --unit: 1.6rem;
}


/* Colors
 ========================================================================== */

:root {
    --caption-color: var(--clr-grey-900);
    --danger-color: var(--clr-red-800);
    --link-color: var(--clr-blue-800);
    --link-hover-color: var(--clr-blue-900);
    --muted-color: var(--clr-grey-500);
    --primary-color: var(--clr-blue-800);
    --selection-color: var(--clr-white);
    --success-color: var(--clr-green-800);
    --text-color: var(--clr-grey-800);
    --warning-color: var(--clr-orange-800);
}


/* Links
 ========================================================================== */

:root {
    --link-text-decoration: underline;
    --link-hover-text-decoration: none;
    --link-transition: color 0.16s var(--easing);
}