
:root {
    --space-default: var(--unit);

    --space-xxs:  calc(0.25 * var(--unit));  /* 0.4rem */
    --space-xs:   calc(0.5 * var(--unit));  /* 0.8rem */
    --space-sm:   calc(0.75 * var(--unit)); /* 1.2rem */
    --space-md:   calc(1.5 * var(--unit)); /* 2.4rem */
    --space-lg:   calc(2.5 * var(--unit));    /* 4rem */
    --space-xl:   calc(3.25 * var(--unit)); /* 5.2rem */
    --space-xxl:  calc(5.25 * var(--unit)); /* 8.4rem */
}
