/.idea
/node_modules
/dataset
/json2db.php
/package-lock.json
/yarn.lock
/resources/fonts/marck-script/marck-script.css
/resources/fonts/marck-script/marck-script.ttf
/resources/fonts/marck-script/marck-script.woff
/resources/fonts/marck-script/marck-script.woff2
/resources/fonts/pt-sans-narrow/pt-sans-narrow-bold.ttf
/resources/fonts/pt-sans-narrow/pt-sans-narrow-bold.woff
/resources/fonts/pt-sans-narrow/pt-sans-narrow-bold.woff2
/resources/fonts/pt-sans-narrow/pt-sans-narrow.css
/resources/fonts/pt-sans-narrow/pt-sans-narrow.ttf
/resources/fonts/pt-sans-narrow/pt-sans-narrow.woff
/resources/fonts/pt-sans-narrow/pt-sans-narrow.woff2
/resources/fonts/pt-serif-caption/pt-serif-caption.css
/resources/fonts/pt-serif-caption/pt-serif-caption.ttf
/resources/fonts/pt-serif-caption/pt-serif-caption.woff
/resources/fonts/pt-serif-caption/pt-serif-caption.woff2
