@import "../settings/document.css";


/* Style: `s-danger`
=========================================================================== */

.s-danger,
.s-danger:hover {
	--text-color: var(--danger-color);
}

:--button-any.s-danger {
	--bg-color: var(--clr-red-600);
	--border-color: var(--clr-red-600);
	--text-color: var(--clr-white);
}


/* Style: `s-muted`
=========================================================================== */

.s-muted {
	--text-color: var(--muted-color);
}


/* Style: `s-primary`
=========================================================================== */

.s-primary,
.s-primary:hover {
	--text-color: var(--primary-color);
}

:--button-any.s-primary {
	--bg-color: var(--primary-color);
	--text-color: var(--clr-white);
}


/* Style: `s-success`
=========================================================================== */

.s-success,
.s-success:hover {
	--text-color: var(--success-color);
}

:--button-any.s-success {
	--bg-color: var(--success-color);
	--text-color: var(--clr-white);
}


/* Style: `s-warning`
=========================================================================== */

.s-warning,
.s-warning:hover {
	--text-color: var(--warning-color);
}

:--button-any.s-warning {
	--bg-color: var(--warning-color);
	--text-color: var(--clr-white);
}
