@import '../settings/document.css';

/* Component: Button
=========================================================================== */

:--button-any.s-clean {
	--bg-color: transparent;
	--border-color: transparent;
	--padding-horz: var(--space-xs);
	--shadow: none;
	--text-color: var(--default-text-color);

	&:hover {
		--bg-color: transparent;
		--border-color: transparent;
	}
}

:--button-any-is-active.s-clean {
	--bg-color: transparent;
	--border-color: transparent;
	--shadow: none;
}

:--button-any-has-focus.s-clean {
	--border-color: currentColor;
}

.c-button.s-clean {
	.c-button__icon {
		margin-left: -0.2rem;
		margin-right: 0.8rem;
	}
	.c-button__text + .c-button__icon {
		margin-left: 0.8rem;
		margin-right: -0.2rem;
	}
}
