@import "../settings/document.css";


/* Component: Panel
 ========================================================================== */

.c-panel.s-clean {
	--bg-color: transparent;
	--shadow: none;
}

.c-panel + .c-panel.s-clean {
	margin-top: 0;
}


/* Component: Button
 ========================================================================== */

.c-button.s-clean {
	--bg-color: transparent;
	--border-color: transparent;
	--text-color: var(--default-text-color);
	--shadow: none;

	&:hover, &:focus {
		--bg-color: transparent;
		--border-color: transparent;
	}
}

:--button-is-active.s-clean {
	--bg-color: transparent;
	--border-color: transparent;
}

.c-button.s-clean {
	.c-button__icon {
		margin-left: -.2rem;
		margin-right: .8rem;
	}
	.c-button__text + .c-button__icon {
		margin-left: .8rem;
		margin-right: -.2rem;
	}
}
