@import '../settings/document.css';

/* Style: `s-danger`
=========================================================================== */

.s-danger,
.s-danger:hover {
	--text-color: var(--danger-color);
}

:--button-any.s-danger {
	--bg-color: var(--clr-red-600);
	--border-color: var(--clr-red-700);
	--text-color: var(--clr-white);
}

:--button-any-has-focus.s-danger {
	--border-color: var(--clr-red-50);
}

/* Style: `s-muted`
=========================================================================== */

.s-muted {
	--text-color: var(--muted-color);
}

/* Style: `s-primary`
=========================================================================== */

.s-primary,
.s-primary:hover {
	--text-color: var(--primary-color);
}

:--button-any.s-primary {
	--bg-color: var(--clr-blue-600);
	--border-color: var(--clr-blue-700);
	--text-color: var(--clr-white);
}

:--button-any-has-focus.s-primary {
	--border-color: var(--clr-blue-50);
}

/* Style: `s-success`
=========================================================================== */

.s-success,
.s-success:hover {
	--text-color: var(--success-color);
}

:--button-any.s-success {
	--bg-color: var(--clr-green-600);
	--border-color: var(--clr-green-700);
	--text-color: var(--clr-white);
}

:--button-any-has-focus.s-success {
	--border-color: var(--clr-green-50);
}

/* Style: `s-warning`
=========================================================================== */

.s-warning,
.s-warning:hover {
	--text-color: var(--warning-color);
}

:--button-any.s-warning {
	--bg-color: var(--clr-amber-600);
	--border-color: var(--clr-amber-700);
	--text-color: var(--clr-white);
}

:--button-any-has-focus.s-warning {
	--border-color: var(--clr-amber-50);
}
