/* Styles:
 *   `s-danger`
 *   `s-primary`
 *   `s-muted`
 *   `s-danger`
=========================================================================== */

@import '../settings/color.css';

.s-danger {
	--bord-color: var(--danger-color);
	--text-color: var(--danger-color);

	&:hover {
	}
}

.s-muted {
	--text-color: var(--muted-color);
}

.s-primary,
.s-primary:hover {
	--text-color: var(--primary-color);
}

.s-success,
.s-success:hover {
	--text-color: var(--success-color);
}

.s-warning,
.s-warning:hover {
	--text-color: var(--warning-color);
}
