@import '../settings/document.css';

/* ========================================================================
	Link
 ========================================================================== */

a.s-floating {
	position: relative;

	&,
	&:hover {
		text-decoration: none;
	}

	&::after {
		content: ' ';
		display: inline-block;
		position: absolute;
		bottom: 10%;
		left: 0;
		border-bottom: 0.1rem solid currentColor;
		width: 0;
		transition: width var(--duration) var(--easing);
	}

	&:hover::after {
		width: 100%;
	}
}
