@import '../settings/document.css';

/* Text
=========================================================================== */

.s-highlighted {
	color: var(--highlighted-text-color, currentColor);
	background-color: var(--highlighted-bg-color, transparent);
	font-weight: bold;
}
