@import '../settings/color.css';

/* Text
=========================================================================== */

.s-highlighted {
	color: var(--highlighted-text-color, currentColor);
	background-color: var(--highlighted-bkgd-color, transparent);
	font-weight: bold;
}
