@import '../settings/document.css';
@import '../settings/shadow.css';

/* ========================================================================
   The table element and the list component
 ========================================================================== */

table.s-hovered > tr,
table.s-hovered tbody tr,
.c-list.s-hovered .c-list__item {
	transition-property: background-color;
	transition-duration: var(--duration);
	transition-timing-function: var(--easing);
}

table.s-hovered > tr:hover,
table.s-hovered tbody tr:hover,
.c-list.s-hovered .c-list__item:hover {
	background-color: var(--clr-lime-50) !important;
}

/* ========================================================================
   Components: `c-panel`, `c-thumbnail`
 ========================================================================== */

.c-panel.s-hovered,
.c-thumbnail.s-hovered {
	top: 0;
	transition-property: box-shadow, top;
	transition-duration: var(--duration);
	transition-timing-function: var(--easing);
}

.c-panel.s-hovered:hover,
.c-thumbnail.s-hovered:hover {
	box-shadow: var(--shadow-6dp);
	top: -0.2rem;
}
