/* ========================================================================
   Style: Icon
=========================================================================== */

@import '../settings/basic.css';

/* Component: Button
=========================================================================== */

.c-button.s-icon {
	--bkgd-color: transparent;
	--color: var(--text-color);
	--hover-bg-color: var(--clr-blue-grey-50);
	--hover-color: var(--text-color);

	&[data-glyph] {
		--text-size: 0;
		--text-interligne: 0;

		&::before {
			--icon-size: var(--space);
			--text-size: var(--unit);
		}
	}

	&:focus-visible,
	&:active,
	&[aria-pressed='true'] {
		--bkgd-color: var(--clr-gray-200);
	}
}

.c-button.s-icon {
	box-shadow: none !important;
	padding: 0 var(--space-sm);

	& + & {
		margin-left: var(--space-sm);
	}
}
