@import "../settings/document.css";
@import "../settings/space.css";
@import "../settings/typography.css";


/* Paragraph
=========================================================================== */

p.s-lead {
	--text-size: var(--text-md);
}

p.s-lead {
	font-style: italic;
	font-weight: var(--font-bold);
	color: var(--caption-color);
	text-wrap: balance;
}
