@import '../document/link.css';

/* Component: Button
=========================================================================== */

:--button-any.s-link {
	@extend %underline;

	--bg-color: transparent;
	--border-color: transparent;
	--text-color: var(--default-link-color);
	--padding-horz: var(--space-xs);
	--shadow: none;

	&:hover,
	&:focus-visible {
		text-decoration: none;
	}
}

:--button-any-is-active.s-link {
	@extend a:active;
	--shadow: none;
}

:--button-any-has-focus.s-link {
	--border-color: currentColor;
}
