/* ========================================================================
	Button
=========================================================================== */

.c-button.s-loading {
	box-shadow: none;
	cursor: progress;
}

/* ========================================================================
	List Body
=========================================================================== */

.c-list__body.s-loading::after {
	content: ' ';

	position: absolute;
	z-index: 99;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;

	background-color: color(var(--bg-color) a(0.5));
	cursor: wait;
}
