@import "../settings/space.css";
@import "../settings/typography.css";
@import "../document/icon.css";

/* Text
=========================================================================== */

.s-default-size {
	font-size: var(--text-size) !important;
	line-height: var(--text-interligne) !important;
}

.s-xs {
	font-size: var(--text-xs);
	line-height: var(--interligne-xs);
}

.s-sm {
	font-size: var(--text-sm);
	line-height: var(--interligne-sm);
}

.s-md {
	font-size: var(--text-md);
	line-height: var(--interligne-md);
}

.s-lg {
	font-size: var(--text-lg);
	line-height: var(--interligne-lg);
}

.s-xl {
	font-size: var(--text-xl);
	line-height: var(--interligne-xl);
}

.s-xxl {
	font-size: var(--text-xxl);
	line-height: var(--interligne-xxl);
}

.s-xxxl {
	font-size: var(--text-xxxl);
	line-height: var(--interligne-xxxl);
}


/* Component: Button (sm,lg,xl)
=========================================================================== */

.c-button {
	&.s-sm {
		--height: var(--unit);
		--padding-horizontal: var(--space-sm);
		--text-size: var(--text-xs);
	}

	&.s-lg {
		--height: 4rem;
		--padding-horizontal: var(--space-lg);
		--text-size: var(--text-lg);
	}

	&.s-xl {
		--height: 5.6rem;
		--padding-horizontal: var(--space-lg);
		--text-size: var(--text-xl);
	}
}

.c-button {
	&.s-sm.s-icon {
		padding: var(--space-xs);
		& + & {
			margin-left: var(--space-xs);
		}
	}

	&.s-lg.s-icon {
		padding: var(--space-sm);
	}

	&.s-xl.s-icon {
		padding: var(--space-sm);
		& + & {
			margin-left: var(--space-md);
		}
	}
}


/* Element: Icon (md,lg)
=========================================================================== */

:--icon {
	&.s-md::before {
		--icon-size: var(--space-md);
		--icon-weight: var(--font-medium);
		--text-size: 2--unit;
	}

	&.s-lg::before {
		--icon-size: var(--space-xl);
		--icon-weight: var(--font-extra-bold);
	}
}
