@import '../.snippet/custom-selectors.css';
@import '../settings/space.css';
@import '../settings/typography.css';
@import '../document/icon.css';

/* Text
=========================================================================== */

.s-default-size {
	--text-size: var(--default-text-size);
	--text-interligne: var(--default-interligne);
}

.s-xs {
	--text-size: var(--text-xs);
	--text-interligne: var(--interligne-xs);
}

.s-sm {
	--text-size: var(--text-sm);
	--text-interligne: var(--interligne-sm);
}

.s-md {
	--text-size: var(--text-md);
	--text-interligne: var(--interligne-md);
}

.s-lg {
	--text-size: var(--text-lg);
	--text-interligne: var(--interligne-lg);
}

.s-xl {
	--text-size: var(--text-xl);
	--text-interligne: var(--interligne-xl);
}

.s-xxl {
	--text-size: var(--text-xxl);
	--text-interligne: var(--interligne-xxl);
}

.s-xxxl {
	--text-size: var(--text-xxxl);
	--text-interligne: var(--interligne-xxxl);
}

/* Component: Button (sm,lg,xl)
=========================================================================== */

.c-button {
	&.s-xs {
		--height: 1.5--unit;
		--padding-horz: var(--space-sm);
		--text-interligne: 1.4;
		--text-size: var(--text-xs);

		padding-top: var(--space-xs);
		padding-bottom: var(--space-xxs);
		text-transform: uppercase;

		&[data-glyph] {
			&::before {
				top: -1--space-xxs;
				left: -1--space-xs;
			}
		}
	}

	&.s-sm {
		--height: 2--unit;
		--padding-horz: var(--unit);
		--padding-vert: var(--space-xs);
		--text-interligne: 1.086;
		--text-size: var(--text-sm);

		&[data-glyph] {
			&::before {
				left: -1--space-xs;
			}
		}
	}

	&.s-lg {
		--height: 4--unit;
		--padding-vert: 0.75--space;
		--text-interligne: 0.9;
		--text-size: var(--text-xl);

		&[data-glyph] {
			&::before {
				--icon-size: 2--unit;
				--icon-weight: var(--font-extra-bold);
				margin: -1--space-xs 1--space-xs -1--space-xs -1--space-xs;
			}
			&:empty&::before {
				--icon-size: 2--unit;
				--icon-weight: var(--font-extra-bold);
				margin-left: -1--space-sm;
			}
		}
	}
}

/* Element: Icon (md,lg)
=========================================================================== */

:--icon {
	&.s-md::before {
		--icon-size: var(--space-md);
		--icon-weight: var(--font-medium);
		--text-size: 2--unit;
	}

	&.s-lg::before {
		--icon-size: var(--space-xl);
		--icon-weight: var(--font-extra-bold);
	}
}
