.s-flip-horizontal {
	&:not([data-glyph]),
	&[data-glyph]::before {
		transform: scale(-1, 1);
	}
}
.s-flip-horizontal {
	&:not([data-glyph]),
	&[data-glyph]::before {
		transform: scale(1, -1);
	}
}
.s-flip-horizontal {
	&:not([data-glyph]),
	&[data-glyph]::before {
		transform: scale(-1, -1);
	}
}
.s-flip-rotate-90::before {
	&:not([data-glyph]),
	&[data-glyph]::before {
		transform: rotate(90deg);
	}
}
