@import url("http://assets.protosite.rocks/fonts/pt-astra-sans/stylesheet.css");
@import "../settings/document.css";

article,
.o-article {
	--caption-font: "PT Astra Sans", sans-serif;
}

/*
Object: Article

Components:
	o-article__picture
	o-article__head
	o-article__lead

============================================================================ */

article,
.o-article {
	text-rendering: geometricPrecision;

	:matches(h1, h2, h3, h4, h5, h6) {
		margin: 0;

		& + hr {
			margin-top: var(--space-sm);
		}
	}
}


/* Component: `o-article-lead`
========================================================================== */

.o-article-lead {
	display: block;

	max-width: 74rem;
	margin-top: 2.1rem;
	margin-bottom: 1.9rem;

	font-family: inherit;
	font-size: 1.6rem;
	font-style: italic;
	font-weight: 600;
	line-height: 2.8rem;
	color: var(--caption-color);
}

.o-article-lead::before,
.o-article-lead::after {
	content: "";
	display: table;
}


/* Component: `o-article__picture`
========================================================================== */

.o-article__picture {
	display: inline-block;
	padding: 0;
	margin: 0;

	width: 100%;
	max-width: 60rem;
	max-height: 12.6rem;

	background-color: var(--clr-blue-grey-300);
	background-size: cover;
}

/* Micro clearfix to make the body panel more robust */
.o-article__picture::before,
.o-article__picture::after {
	content: ' ';
	position: absolute;
	width: 100%;
	display: block;
	clear: both;
}

.o-article__picture img {
	float: none;
	width: 100%;
	max-height: inherit;
	margin: 0;
	object-fit: cover;
}
