@import "../settings/breakpoints.css";
@import "../settings/space.css";

/* Variables
 ========================================================================== */

.o-container {
	--width: 100%;
}

/* ========================================================================
	Object: Container
 ========================================================================== */

.o-container {
	display: block;
	width: 100%;
	max-width: var(--width);
	margin: 0 auto;
	padding: var(--space-lg) 0 var(--space-xxl);
}

.o-container::after {
	content: "";
	display: table;
	clear: both;
}


/* Media queries
 ========================================================================== */

@media (--screen-xdesktop) {
	.o-container {
		--width: 130.4rem;
	}
}

@media (--screen-desktop) {
	.o-container {
		--width: 111.2rem;
	}
}

@media (--screen-tablet-landscape) {
	.o-container {
		--width: 92rem;
	}
}

@media (--screen-tablet-portrait) {
	.o-container {
		--width: 72rem;
	}
}

@media (--screen-handset-landscape) {
	.o-container {
		--width: 46.4rem;
	}
}

@media (--screen-handset-portrait) {
	.o-container {
		--width: 32rem;
	}
}
