@import "../settings/variables";

/* ========================================================================
   Object: Container
 ========================================================================== */


// Variables
// ========================================================================

@o-container-padding: (2.5 * @unit) 0 (4 * @unit);

@o-container-width: auto;
@o-container-width-xdesktop: 130.4rem;
@o-container-width-desktop: 111.2rem;
@o-container-width-tablet: 92rem;
@o-container-width-tablet-portrait: 72rem;
@o-container-width-handset: 46.4rem;
@o-container-width-handset-portrait: 32rem;


// Definition
// ========================================================================

.o-container {
	display: block;
	width: @o-container-width;
	margin: 0 auto;
	padding: @o-container-padding;
}
.o-container:before,
.o-container:after {
	content: " ";
	display: table;
}
.o-container:after { clear: both; }


/* Media queries
 ========================================================================== */

// xdesktop
@media @screen-xdesktop {
	.o-container { width: @o-container-width-xdesktop; }
}

// desktop
@media @screen-desktop {
	.o-container { width: @o-container-width-desktop; }
}

// tablet-landscape
@media @screen-tablet-landscape {
	.o-container { width: @o-container-width-tablet; }
}

// tablet-portrait
@media @screen-tablet-portrait {
	.o-container { width: @o-container-width-tablet-portrait; }
}

// handset-landscape
@media @screen-handset-landscape {
	.o-container { width: @o-container-width-handset; }
}

// handset-portrait
@media @screen-handset-portrait {
    .o-container { width: @o-container-width-handset-portrait; }
}
