// Name:            Badge
// Description:     Defines styles for badges
//
// Component:       `uk-badge`
//
// Modifiers:       `uk-badge--*colors*`
//
// ========================================================================


.ui-badge {
    display: inline-block;
    border-radius: 50vw;
	line-height: 1em;
	
    padding: .4rem;
    font: 600 1.4rem/2.8rem 'Open Sans';
	overflow: hidden;
    vertical-align: middle;
	
	cursor: default;
	background-image: radial-gradient(circle at top, #009688, #00695c);
	box-shadow: inset 0 0 .2rem 0 #e0e0e0, 0 0 .3rem 0 white;
}

.ui-badge-str {
    display: inline-block;
    border-radius: 50vw;
	line-height: 1em;
	
    padding: .8rem;
	background-color: white;
	box-shadow: inset 0 0 .1rem .3rem rgba(255,255,255,.2);
    color: #424242;
	letter-spacing: .1rem;
	
}
a.ui-badge:hover .ui-badge-str { color: rgb(2,119,189); }



/* Color modifiers
 ========================================================================== */
