/**
 * Name: Base styles
 * Description: Sets default values for HTML elements
 ========================================================================== */

html {
	overflow-x: hidden;
	height: 100%;
}

body {
	background: #F5F5F5; /* @clr-grey-100 */
	overflow-x: hidden;
   	height: 100%;
	
	font-family: "Open Sans", Arial;
	font-size: 1.6rem;
	line-height: 1.6;
	font-style: normal;
	font-weight: 400;
	
    color: #424242; /* @clr-grey-800 */
}


/* Selection
 ========================================================================== */

::-moz-selection {
    background: #B2EBF2; /* @clr-cyan-100 */
    text-shadow: none;
}

::selection {
    background: #B2EBF2;
    text-shadow: none;
}


/* Horizontal rule
 ========================================================================== */

hr {
    display: block;
    box-sizing: content-box;
	height: 0;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}


/* Links
 ========================================================================== */

a,
.ui-link {
	outline: 0;
	background-color: transparent;
	color: #0277BD; /* @clr-light-blue-800 */
	text-decoration: underline;
	
	-webkit-transition: color .16s cubic-bezier(0.3, 0, 0.2, 1);
       -moz-transition: color .16s cubic-bezier(0.3, 0, 0.2, 1);
    	 -o-transition: color .16s cubic-bezier(0.3, 0, 0.2, 1);
			transition: color .16s cubic-bezier(0.3, 0, 0.2, 1);
}
a:hover,
.ui-link:hover {
	outline: 0;
	color: #01579B; /* @clr-light-blue-900 */
	text-decoration: underline;
}

/* Block elements
 ========================================================================== */
 
p,
ul,
ol,
dl,
blockquote,
pre,
address,
fieldset,
figure { margin: 0 0 .8rem 0; }

* + p,
* + ul,
* + ol,
* + dl,
* + blockquote,
* + pre,
* + address,
* + fieldset,
* + figure { margin-top: .8rem; }


/* Text-level semantics
 ========================================================================== */


abbr[title] { border-bottom: 1px dotted; }

b {
	font-weight: 600;
}
b > b,
strong {
	font-weight: 700;
}
strong > strong {
	font-weight: 800;
}

pre {
	overflow: auto;
}

code,
kbd,
pre,
samp {
    font-family:  "PT Mono", monospace;
    white-space: nowrap;
}

ins,
mark {
    background: #E6EE9C; /* @clr-lime-200 */
    text-decoration: none;
}
ins {
    color: #212121; /* @clr-grey-900 */
}
mark {
    color: #424242; /* @clr-grey-800 */
}

i,
em,
dfn,
q { font-style: italic; }

small { font-size: 1.3rem; }
small > small { font-size: 1.2rem; }

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup { top: -.5em; }
sub { bottom: -.25em; }


/* Headings
 ========================================================================== */

h1, h2, h3, h4, h5, h6 {
    margin: 0 0 .8rem 0;
    font-family: "PT Serif Caption", Arial, sans-serif;
    font-weight: 400;
    text-transform: none;
}

* + h1,
* + h2,
* + h3,
* + h4,
* + h5,
* + h6 { margin-top: 1.6rem; }

h1,
.uk-h1 {
    font-size: 3.6rem;
    line-height: normal;
}

h2,
.uk-h2 {
    font-size: 2,4rem;
    line-height: normal;
}

h3,
.uk-h3 {
    font-size: 2rem;
    line-height: normal;
}

h4,
.uk-h4 {
    font-size: 1.5rem;
    line-height: normal;
}


h5,
.uk-h5 {
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 2.2rem;
    line-height: 2.6rem;
}

h6,
.uk-h6 {
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 1.3rem;
    line-height: 2rem;
}


/* Lists
 ========================================================================== */

ul,
ol { padding-left: .8rem; }