/**
 * Name:            Button
 * Description:     Defines styles for buttons
 * 
 * Component:       `ui-button`
 * 
 * Sub-objects:     `ui-button-group`
 *                  `ui-button-dropdown`
 * 
 * Modifiers:       `ui-button--primary`
 *                  `ui-button--secondary`
 *                  `ui-button--success`
 *                  `ui-button--danger`
 *                  `ui-button--link`
 *                  `ui-button--mini`
 *                  `ui-button--small`
 *                  `ui-button--large`
 * 
 * States:          `ui-button--active`
 * 
 * Markup:
 * 
 * <!-- ui-button-group -->
 * <div class="ui-button-group">
 *     <button class="ui-button"></button>
 *     <button class="ui-button"></button>
 * </div>
 * 
 * <!-- ui-button-dropdown -->
 * <div class="ui-button-dropdown" data-ui-dropdown>
 *     <button class="ui-button"></button>
 *     <div class="ui-dropdown ui-dropdown-small">
 *         <ul class="ui-nav ui-nav-dropdown">
 *             <li><a href=""></a></li>
 *         </ul>
 *     </div>
 * </div>
 * 
 ========================================================================== */
 
.ui-button::-moz-focus-inner {
    border: 0;
    padding: 0;
}

.ui-button {
    -webkit-appearance: none;
    border: none;
    text-transform: none;
	
    display: inline-block;
    -moz-box-sizing: border-box;
    	 box-sizing: border-box;
	
    padding: 0 1.6rem;
    background: rgb(224,224,224); /* @clr-grey-300 */
	border-radius: .3rem;
	outline: none;
	
    vertical-align: middle;
    
    line-height: 3.6rem;
    min-height: 3.6rem;
    font-size: 1.4rem;
    text-decoration: none;
    text-align: center;
}
.ui-button + .ui-button { margin-left: .8rem; }


.ui-button--primary {
	background: rgb(2,119,189); /* @clr-cyan-800 */
	color: white;
}