.ui-color-primary { color: ; }
.ui-color-primary-light { color: ; }
.ui-color-primary-dark { color: ; }
.ui-color-primary { color: ; }

.ui-bg-cyan-A700 { background-color: #00b8d4; color: black; }
.ui-bg-pink-A700 { background-color: #c51162; color: white; }
.ui-bg-indigo-700 { background-color: #303f9f; color: white; }
.ui-bg-light-blue-800 { background-color: rgb(2, 119, 189); color: white; }
.ui-bg-cyan-A700 { background-color: #00b8d4; }
.ui-bg-cyan-A700 { background-color: #00b8d4; }