/**
 * Name: Form
 * Description: Defines styles for form elements with floating labels.
 * 
 * Component: `ui-form`
 *			  `ui-chxset`
 *			  `ui-chx`
 *			  `ui-chx-sham`
 *			  `ui-chx-label`
 *			  `ui-radioset`
 *			  `ui-radio`
 *			  `ui-radio-sham`
 *			  `ui-radio-label`
 * 
 * Sub-objects: ``
 * 
 * Modifiers: ``
 * 
 ========================================================================== */
 
.ui-form { width: 32rem; }
	.ui-form-buttons,
	.ui-form-row {
		display: block;
		clear: both;
		width: inherit;
		font-size: .001px;
	}
	.ui-form-row + .ui-form-row { margin-top: .8rem; }
	
	.ui-chx-sham,
	.ui-chx-label,
	.ui-field-hint,
	.ui-field,
	.ui-radio-label {
		font-size: 1.6rem;
		-webkit-transition: all .2s cubic-bezier(0.4, 0, 0.2, 1);
		   -moz-transition: all .2s cubic-bezier(0.4, 0, 0.2, 1);
			 -o-transition: all .2s cubic-bezier(0.4, 0, 0.2, 1);
				transition: all .2s cubic-bezier(0.4, 0, 0.2, 1);
	}


/* Sub-object's form: `ui-field`, `ui-field-hint`
 ========================================================================== */
 
.ui-fieldset {
	display: inline-block;
	position: relative;
	box-sizing: border-box;
	
	width: inherit;
	height: 5.4rem;
	/* margin: .8rem; */
	line-height: 5.4rem;
	
	/* background-color: rgb(176,190,197); */
}
.ui-fieldset + .ui-fieldset { margin-left: 1.6rem; }
	
	.ui-field-hint {
		color: rgb(158,158,158); /* @clr-gray-500 */
		height: inherit;
		line-height: 7.2rem;
	}
	
	.ui-field {
		font-weight: 400;
		width: 32rem;
		height: 3.4rem;
		line-height: 3.4rem;
		padding: 0 .8rem 0 0;
		
		display: inline-block;
		-moz-box-sizing: border-box;
			 box-sizing: border-box;
		vertical-align: bottom;
		
		color: rgb(55,71,79);
		background-color: transparent;
		border: none;
		border-bottom: .2rem solid rgb(97,97,97); /* @clr-gray-700 */
		border-radius: 0;
		outline: none;
		
		position: relative;
		z-index: 1;
	}
	input[type=search].ui-field {
		-webkit-appearance: none;
		
		-moz-box-sizing: border-box;
			 box-sizing: border-box;
	}
	input[type=search].ui-field::before {
		content: 't';
		display: block;
	}
	select.ui-field {
		cursor: pointer;
		position: relative;
		z-index: 3;
	}

.ui-fieldset .ui-field-hint {
	position: absolute;
	top: 0;
	left: 0rem;
	cursor: text;
	z-index: 2;
}

.ui-fieldset .iconic {
	display: inline-block;
	position: absolute; z-index: 3;
	vertical-align: bottom;
	font-size: 1.6rem;
}


/* Modifiers: `ui-fieldset--filled` and `ui-fieldset--focus`
 ========================================================================== */
.ui-fieldset--filled .ui-field-hint {
	/* color: rgb(55,71,79); */
	line-height: 2rem;
	font-size: 1.3rem;
	font-weight: 400;
	left: 0rem;
	cursor: default;
	z-index: 1;
}

.ui-fieldset--focus .ui-field,
.ui-field:focus,
.ui-fieldset--filled .ui-field {
	z-index: 2;
}

.ui-fieldset--focus .ui-field,
.ui-field:focus {
	border-bottom: .2rem solid rgb(40,53,147); /* @clr-indigo-800 */
}
.ui-fieldset--focus .ui-field-hint {
	color: rgb(40,53,147);
}

.ui-fieldset--error .ui-field {
	border-bottom-color: rgb(198,40,40); /* @clr-red-800 */
}
.ui-fieldset--error .ui-field,
.ui-fieldset--error .ui-field-hint {
	color: rgb(198,40,40);
}


/* Modifiers size and proportions
 ========================================================================== */
.ui-form--long,
.ui-fieldset--large .ui-field,
.ui-field.ui-field--long { width: 65.8rem; }

.ui-fieldset--large .ui-field,
.ui-fieldset--large:not(.ui-fieldset--filled):not(.ui-fieldset--focus) .ui-field-hint {
	font-size: 2.2rem;
	height: 3.4rem;
}
.ui-fieldset--large .ui-field {
	line-height: 3.4rem;
}

.ui-field--short {
	width: 20rem;
}


/* Sub-object's form: `ui-chx`, `ui-chx-label`,
 *					  `ui-radio`, `ui-radio-label`
 ========================================================================== */
 
.ui-chxset,
.ui-radioset {
   cursor: pointer;
   display: inline-block;
   position: relative;
   height: 4.8rem;
   line-height: 3.6rem;
}
.ui-chxset + .ui-chxset,
.ui-chxset + .ui-radioset,
.ui-radioset + .ui-radioset {
	margin-left: 1.6rem;
}
 
.ui-chx,
.ui-radio { display: none; }

.ui-chx-sham,
.ui-radio-sham {
	display: inline-block;
	position: relative;
	vertical-align: bottom;
	box-sizing: border-box;
	
	width: 2rem;
	height: 2rem;
	margin: 0 .8rem;
	border: .2rem solid rgb(97,97,97);
	padding: .1rem;
}
.ui-radio-sham {
	border-radius: 50vh;
	padding: .3rem;
}

.ui-chx:checked + .ui-chx-sham {
	background: url('/svg/icons/check-thin.svg') no-repeat;
	background-size: cover;
	background-origin: content-box;
}
.ui-radio:checked + .ui-radio-sham {
	background: url('/svg/icons/circle.svg') no-repeat;
	background-size: cover;
	background-origin: content-box;
}

.ui-chx-label,
.ui-radio-label {
	vertical-align: bottom;
	line-height: 1.6rem;
}