/* ========================================================================
   Component: Panel
 ========================================================================== */
 
.ui-panel {
    display: block;
    position: relative;
	padding: .8rem;
	background: white;
	box-shadow: .12rem .06rem .1rem #e0e0e0;
}

.ui-panel:before,
.ui-panel:after {
    content: " ";
    display: table;
}

.ui-panel:after { clear: both; }

.ui-panel + .ui-panel {
   margin-top: 1.6rem;
}


/* Modifier: `uk-panel-divider`
 ========================================================================== */
 
.ui-panel + .ui-panel-divider { margin-top: 1.6rem !important; }

.ui-panel + .ui-panel-divider:before {
    content: "";
    display: block;
    position: absolute;
    top: -.1rem;
    left: 0;
    right: 0;
    border-top: .1rem solid #424242; /* @clr-grey-800 */
}


/* Modifier `uk-panel--transparent`
 ========================================================================== */
 
.ui-panel--transparent {
	background: transparent;
	box-shadow: none;
}