/**
 * Name:            SvgIcons
 * 
 * Markup:
 * <i aria-hidden="true" class="svgicon" data-glyph="[ICON-NAME]"></i>
 * 
 ========================================================================== */

.svgicon[data-glyph] {
	font-size: 0;
	line-height: 0;
}
.svgicon[data-glyph]::before {
	content: ' ';
	display: inline-block;
	width: 1.6rem;
	height: 1.6rem;
	font-size: 1em;
	line-height: 1;
	text-align: center;
	vertical-align: baseline;
	
	background-repeat: no-repeat;
	background-size: cover;
	background-origin: content-box;
}

.svgicon[data-glyph=arrow-right]::before {
	background-image: url('/svg/icons/arrow-right.svg');
}
.svgicon[data-glyph=commenter]::before {
	background-image: url('/svg/icons/commenter.svg');
}
.svgicon[data-glyph=comment-square]::before {
	background-image: url('/svg/icons/comment-square.svg');
}
.svgicon[data-glyph=follower]::before {
	background-image: url('/svg/icons/follower.svg');
}
.svgicon[data-glyph=hand]::before {
	background-image: url('/svg/icons/hand.svg');
}
.svgicon[data-glyph=heart]::before {
	background-image: url('/svg/icons/heart.svg');
}
.svgicon[data-glyph=image-square]::before {
	background-image: url('/svg/icons/image-square.svg');
}
.svgicon[data-glyph=liker]::before {
	background-image: url('/svg/icons/liker.svg');
}
.svgicon[data-glyph=people]::before {
	background-image: url('/svg/icons/people.svg');
}
.svgicon[data-glyph=person-genderless]::before {
	background-image: url('/svg/icons/person-genderless.svg');
}
.svgicon[data-glyph=subscriber]::before {
	background-image: url('/svg/icons/subscriber.svg');
}