/* ========================================================================
   Component: Color
 ========================================================================== */
/*
.ui-color-primary { color: ; }
.ui-color-primary-light { color: ; }
.ui-color-primary-dark { color: ; }
*/
.ui-color-link {
  color: #0277bd;
}
/* ========================================================================
   Component: Background color
 ========================================================================== */
.ui-bg-pink-500 {
  background-color: #E91E63;
  color: white;
}
.ui-bg-pink-A700 {
  background-color: #c51162;
  color: white;
}
.ui-bg-indigo-50 {
  background-color: #E8EAF6;
  color: black;
}
.ui-bg-indigo-500 {
  background-color: #3F51B5;
  color: white;
}
.ui-bg-indigo-700 {
  background-color: #303f9f;
  color: white;
}
.ui-bg-blue-50 {
  background-color: #E3F2FD;
  color: black;
}
.ui-bg-light-blue-800 {
  background-color: #0277bd;
  color: white;
}
.ui-bg-light-blue-900 {
  background-color: #01579B;
  color: white;
}
.ui-bg-light-blue-A400 {
  background-color: #00B0FF;
  color: black;
}
.ui-bg-light-blue-A700 {
  background-color: #0091EA;
  color: black;
}
.ui-bg-light-green-500 {
  background-color: #8BC34A;
  color: black;
}
.ui-bg-light-green-A100 {
  background-color: #CCFF90;
  color: black;
}
.ui-bg-light-green-A200 {
  background-color: #B2FF59;
  color: black;
}
.ui-bg-light-green-A700 {
  background-color: #64DD17;
  color: black;
}
.ui-bg-cyan-500 {
  background-color: #00BCD4;
  color: black;
}
.ui-bg-cyan-700 {
  background-color: #0097A7;
  color: white;
}
.ui-bg-cyan-800 {
  background-color: #00838F;
  color: white;
}
.ui-bg-cyan-900 {
  background-color: #006064;
  color: white;
}
.ui-bg-cyan-A700 {
  background-color: #00B8D4;
  color: black;
}
.ui-bg-teal-500 {
  background-color: #009688;
  color: white;
}
.ui-bg-teal-A700 {
  background-color: #00BFA5;
  color: black;
}
.ui-bg-green-600 {
  background-color: #43A047;
  color: white;
}
.ui-bg-red-800 {
  background-color: #C62828;
  color: white;
}
/**
 * Name: Base styles
 * Description: Sets default values for HTML elements
 ========================================================================== */
/* ========================================================================
   Component: Base
 ========================================================================== */
html {
  overflow-x: hidden;
  height: 100%;
}
body {
  background: #f5f5f5;
  overflow-x: hidden;
  height: 100%;
  font-family: "Open Sans", Arial;
  font-size: 1.6rem;
  line-height: 1.6;
  font-style: normal;
  font-weight: 400;
  color: #424242;
}
/* Selection
 ========================================================================== */
::-moz-selection {
  background: #b2ebf2;
  color: #424242;
  text-shadow: none;
}
::selection {
  background: #b2ebf2;
  color: #424242;
  text-shadow: none;
}
/* Horizontal rule
 ========================================================================== */
hr {
  display: block;
  box-sizing: content-box;
  height: 0;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1.6rem 0;
  padding: 0;
}
/* Links
 ========================================================================== */
a,
.ui-link {
  outline: 0;
  background-color: transparent;
  color: #0277bd;
  text-decoration: underline;
  -webkit-transition: color 0.16s cubic-bezier(0.3, 0, 0.2, 1);
  -moz-transition: color 0.16s cubic-bezier(0.3, 0, 0.2, 1);
  -o-transition: color 0.16s cubic-bezier(0.3, 0, 0.2, 1);
  transition: color 0.16s cubic-bezier(0.3, 0, 0.2, 1);
}
a:hover,
.ui-link:hover {
  outline: 0;
  color: #01579b;
  text-decoration: underline;
}
/* Block elements
 ========================================================================== */
p,
ul,
ol,
dl,
blockquote,
pre,
address,
fieldset,
figure {
  margin: 0 0 0.8rem 0;
}
* + p,
* + ul,
* + ol,
* + dl,
* + blockquote,
* + pre,
* + address,
* + fieldset,
* + figure {
  margin-top: 0.8rem;
}
/* Text-level semantics
 ========================================================================== */
abbr[title] {
  border-bottom: 1px dotted;
}
b {
  font-weight: 600;
}
b > b,
strong {
  font-weight: 700;
}
strong > strong {
  font-weight: 800;
}
pre {
  overflow: auto;
}
code,
kbd,
pre,
samp {
  font-family: "PT Mono", monospace;
  font-size: 1.6rem;
  white-space: nowrap;
}
ins {
  background: #e6ee9c;
  color: #212121;
  text-decoration: none;
}
mark {
  background: #e6ee9c;
  color: #424242;
  text-decoration: none;
}
i,
em,
dfn,
q {
  font-style: italic;
}
small {
  font-size: 1.3rem;
}
small > small {
  font-size: 1.2rem;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
/* Headings
 ========================================================================== */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 0.8rem 0;
  font-family: "PT Serif Caption", Arial, sans-serif;
  font-weight: 400;
  text-transform: none;
  color: #424242;
}
* + h1,
* + h2,
* + h3,
* + h4,
* + h5,
* + h6 {
  margin-top: 1.6rem;
}
h1,
.ui-h1 {
  font-size: 3.6rem;
  line-height: normal;
}
h2,
.ui-h2 {
  font-size: 2.4rem;
  line-height: normal;
}
h3,
.ui-h3 {
  font-size: 2rem;
  line-height: normal;
}
h4,
.ui-h4 {
  font-size: 1.5rem;
  line-height: normal;
}
h5,
.ui-h5 {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: normal;
}
h6,
.ui-h6 {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 1.4rem;
  line-height: normal;
}
/* Lists
 ========================================================================== */
ul,
ol {
  padding-left: 0.8rem;
}
/* Media queries breakpoints
 ========================================================================== */
/* ========================================================================
   Component: Table
 ========================================================================== */
.ui-table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  margin-bottom: 1.6rem;
}
/*
 * Add margin if adjacent element
 */
* + .ui-table {
  margin-top: 1.6rem;
}
.ui-table th,
.ui-table td {
  padding: 0.8rem 0.8rem;
}
/*
 * Set alignment
 */
.ui-table th {
  text-align: left;
}
.ui-table td {
  vertical-align: top;
}
.ui-table thead th {
  vertical-align: bottom;
}
/*
 * Caption and footer
 */
.ui-table caption,
.ui-table tfoot {
  font-size: 12px;
  font-style: italic;
}
.ui-table caption {
  text-align: left;
  color: #999999;
}
/*
 * Active State
 */
.ui-table tbody tr.ui-active {
  background: #eeeeee;
}
/* Sub-modifier: `ui-table-middle`
 ========================================================================== */
.ui-table-middle,
.ui-table-middle td {
  vertical-align: middle !important;
}
/* Modifier: `ui-table-striped`
 ========================================================================== */
.ui-table-striped tbody tr:nth-of-type(odd) {
  background: #62d1f5;
}
/* Modifier: `ui-table-condensed`
 ========================================================================== */
.ui-table-condensed td {
  padding: 4px 8px;
}
/* Modifier: `ui-table-hover`
 ========================================================================== */
.ui-table-hover tbody tr:hover {
  background: #eeeeee;
}
