


.ui-tabs {
	display: block;
	position: relative;
	margin: 0;
	padding: 0;
	
	width: inherit;
	height: 4.8rem;
	line-height: 4.8rem;
	
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
			box-sizing: border-box;
}
	.ui-tabs-item {
		display: inline-block;
		list-style: none;
		margin: 0;
		padding: 0 2.4rem;
		max-width: 18rem;
		text-align: center;
	}
		.ui-tabs-link {
			display: inline-block;
			vertical-align: middle;
			line-height: 1;
			font-weight: 600;
		}
		.ui-tabs-link,
		.ui-tabs-link:hover {
			text-decoration: none;
		}
		
.ui-tabs-indicator {
	display: block;
	position: absolute;
	left: 0;
	bottom: 0;
	width: 0;
	height: 2px;
	background-color: #0277BD;
	
	-webkit-transition: all .7s cubic-bezier(0.3, 0, 0.2, 1);
       -moz-transition: all .7s cubic-bezier(0.3, 0, 0.2, 1);
    	 -o-transition: all .7s cubic-bezier(0.3, 0, 0.2, 1);
			transition: all .7s cubic-bezier(0.3, 0, 0.2, 1);
}

.ui-tabs-container {
	position: relative;
	width: inherit;
}
.ui-tabs-container > * {
	position: absolute;
	width: inherit;
	margin: 0;
	translate: transform3d(0,0,0);
	
	-webkit-transition: translate .8s cubic-bezier(0.3, 0, 0.2, 1);
       -moz-transition: translate .8s cubic-bezier(0.3, 0, 0.2, 1);
    	 -o-transition: translate .8s cubic-bezier(0.3, 0, 0.2, 1);
			transition: translate .8s cubic-bezier(0.3, 0, 0.2, 1);
}
.ui-tabs-container > .ui-panel + .ui-panel {
	margin-top: 0;
}
.ui-tabs-container > [data-active=true] {
	left: 0 !important;
}