
/* Typeface
 ========================================================================== */

@font-path: "http://uikit.protosite.rocks/vendor/fonts";

@import "@{font-path}/marck-script/marck-script.less";
@import "@{font-path}/noto-mono/noto-mono.less";
@import "@{font-path}/noto-serif/noto-serif.less";

@font-family-condensed: sans-serif;
@font-family-cursive: "Marck Script", cursive;
@font-family-monospace: "Noto Mono", monospace;
@font-family-sans: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
@font-family-serif: "Noto Serif", serif;

@font-family-default: @font-family-sans;
@font-family-primary: @font-family-sans;
@font-family-secondary: @font-family-sans;

@font-size-default: @font-size-medium;
@font-size-large: 1.8rem;
@font-size-medium: 1.4rem;
@font-size-small: 1.3rem;
@font-size-xsmall: 1.1rem;

@line-height-default: @line-height-medium;
@line-height-large: 2.4rem;
@line-height-medium: 2.4rem;
@line-height-small: 1.6rem;
@line-height-xsmall: 1.2rem;