
/* ========================================================================
   Global variables
 ========================================================================== */

@import "breakpoints";
@import "colors/index";
@import "shadow";
@import "typography";

@easing: cubic-bezier(0.3, 0, 0.2, 1);
@unit: 1.6rem;


// Palette
// ========================================================================

@caption-color: @clr-grey-900;
@danger-color: @clr-red-800;
@link-color: @clr-blue-800;
@link-hover-color: @clr-blue-900;
@muted-color: @clr-grey-500;
@primary-color: @clr-blue-800;
@selection-color: @clr-white;
@success-color: @clr-green-800;
@text-color: @clr-grey-800;
@warning-color: @clr-orange-800;


// Link
// ========================================================================

@link-text-decoration: underline;
@link-hover-text-decoration: none;
@link-transition: color 0.16s @easing;


// Spaces
// ========================================================================

@space-default: @unit;
@space-xs: @unit / 4;
@space-s: @unit / 2;
@space-m: 1.5 * @unit;
@space-l: 2.5 * @unit;
@space-xl: 4.5 * @unit;