@import url("http://assets.protosite.rocks/fonts/pt-astra-sans/stylesheet.css");
@import url("http://assets.protosite.rocks/fonts/pt-astra-serif/stylesheet.css");

@import "../.snippet/custom-selectors.css";
@import "../settings/document.css";
@import "../settings/space.css";


/* Object: Article
============================================================================ */

article {
	--caption-font: "PT Astra Sans", sans-serif;
	--text-font: "PT Astra Serif", serif;
}

article {
	text-rendering: geometricPrecision;

	:--headings {
		margin: 0;

		& + hr {
			margin-top: var(--space-sm);
		}
	}
}


/* Component: `o-article__picture`
========================================================================== */

.o-article__picture {
	display: inline-block;
	padding: 0;
	margin: 0;

	width: 100%;
	max-width: 60rem;
	max-height: 12.6rem;

	background-color: var(--clr-blue-grey-300);
	background-size: cover;
}

/* Micro clearfix to make the body panel more robust */
.o-article__picture::before,
.o-article__picture::after {
	content: ' ';
	position: absolute;
	width: 100%;
	display: block;
	clear: both;
}

.o-article__picture img {
	float: none;
	width: 100%;
	max-height: inherit;
	margin: 0;
	object-fit: cover;
}
