@import '../settings/document.css';

/**
 * Object:		Breadcrumb
 * Description: Indicate the current page's location within a navigational hierarchy.
 *
 * Elements:	`o-breadcrumb__item`
 *
 ========================================================================== */

.o-breadcrumb {
	display: block;
	color: var(--clr-gray-600);
	font-size: 0.001px;
}

.o-breadcrumb__item {
	display: inline;
	vertical-align: baseline;
}

.o-breadcrumb__item:not(:last-child)::after {
	content: '/';
	display: inherit;
	margin: 0 var(--space-sm);
	color: currentColor;
}

.o-breadcrumb__item:last-child {
	font-weight: var(--font-medium);
	color: var(--clr-gray-800);
}
