@import '../settings/color.css';

.o-navcrumbs {
	.c-crumb {
		&:has(a:first-child) {
			--text-color: var(--link-color);
		}
		&:last-of-type {
			--text-color: var(--muted-color);
		}
	}
}

/**
 * Object:		Navigation crumbs
 * Description: Indicate the current page's location within a navigational hierarchy.
 *
 * Child components: `c-crumb`
=========================================================================== */

.o-navcrumbs {
	display: block;

	.c-crumb {
		display: inline;
		vertical-align: baseline;

		& + .c-crumb::before {
			content: '\276C';
			display: inline-block;
			margin: 0 var(--space-sm);
			color: currentColor;
		}

		&:first-child a {
			@extend %icon-settings;
			@extend %icon;
			--icon-size: 1--space;

			&::before {
				content: '\e1c1';
			}
		}
	}
}
