@import '../.snippet/custom-selectors.css';
@import '../settings/color.css';
@import '../settings/shadow.css';
@import '../settings/basic.css';

.o-toolbar {
	--height: 2.5--unit;
	--roundness: var(--space-xs);

	--bkgd-color: var(--clr-white);
	--bord-color: transparent;
	--shadow: var(--shadow-diffuse);

	--text-font: var(--ui-font);
	--text-interligne: var(--height);

	.c-button {
		--bord-color: var(--clr-gray-200);
		--roundness: 0;
		--shadow: none;

		&:--is-active {
			--shadow: var(--inset-shadow-2dp);
		}
	}
}

/**
 * Object: Toolbar
 * Child components: `c-icon`, `c-label`, `c-button`
=========================================================================== */

.o-toolbar {
	contain: content;
	display: inline-flex;
	min-width: min-content;
	height: var(--height);
	vertical-align: middle;

	background-color: var(--bkgd-color);
	border-radius: var(--roundness);
	box-shadow: var(--shadow);
	overflow: hidden;
}

/* Child component: Button
=========================================================================== */

.o-toolbar .c-button {
	border: none;
	margin-top: -0.5--pixel;
	margin-bottom: -0.5--pixel;

	&:last-child {
		margin-right: -1--pixel;
	}

	& + .c-button {
		border-left: 0.5--pixel solid var(--bord-color);
		margin-left: 0;
	}
}

/* Child elements: Icon and Label
=========================================================================== */

.o-toolbar {
	.c-label,
	:--icon {
		display: inline-block;
		vertical-align: baseline;
	}

	.c-label {
		padding-right: var(--space-sm);
		padding-left: var(--unit);
		margin-top: -0.5--pixel;
	}

	:--icon {
		background-color: var(--clr-gray-50);
		padding-right: var(--unit);
		padding-left: var(--unit);
		margin-top: 0.5--pixel;

		& + .c-button {
			border-left: 0.5--pixel solid var(--bord-color);
		}
	}
}
