@import '../settings/color.css';
@import '../settings/basic.css';
@import '../settings/typography.css';

code,
kbd,
pre,
samp,
var {
	--text-font: var(--font-monospace);
	--text-interligne: 1.3;
	--text-size: var(--text-sm);
}

code {
	--text-color: var(--clr-black);

	background-color: var(--clr-gray-50);
	border-radius: var(--space-xs);
	padding: 0 var(--space-xs);
}
