/* ========================================================================
	Headings
=========================================================================== */

@import '../settings/basic.css';
@import '../.snippet/custom-selectors.css';

/* Settings
========================================================================== */

:--headings {
	--text-font: var(--caption-font);
	--text-color: var(--caption-color);

	&[data-glyph] {
		@extend %icon-settings;
	}
}

/* Rules
========================================================================== */

:--headings {
	margin: 0;
	font-weight: var(--font-bold);
	text-rendering: geometricPrecision;

	&[data-glyph] {
		@extend %icon;

		&::before {
			vertical-align: middle;
		}
	}
}

* + :--headings {
	margin-top: var(--space);
}

:--headings + hr {
	margin-block-start: 0;
}

/* Stylization of header levels
========================================================================== */

:where(h1, h2, h3, h4) {
	--text-boldness: var(--font-bold);
}

:where(h5, h6) {
	--text-boldness: var(--font-medium);
}

h1 {
	--text-interligne: var(--interligne-xxl);
	--text-size: var(--text-xxl);
}

h2 {
	--text-interligne: var(--interligne-xl);
	--text-size: var(--text-xl);
}

h3 {
	--text-interligne: var(--interligne-xl);
	--text-size: var(--text-lg);
}

h4 {
	--text-interligne: var(--default-interligne);
	--text-size: var(--base-text-size);
}

h5 {
	--text-interligne: var(--default-interligne);
	--text-size: var(--base-text-size);
}

h6 {
	--text-interligne: var(--interligne-xs);
	--text-size: var(--text-xs);
}

:where(h3, h4) {
	text-wrap: balance;
}

:where(h5, h6) {
	text-transform: uppercase;
}

h6 {
	letter-spacing: 0.0875em;
}
