[data-glyph='account-login'] {
	--icon-code: '\e000';
}

[data-glyph='account-logout'] {
	--icon-code: '\e001';
}

[data-glyph='action-redo'] {
	--icon-code: '\e002';
}

[data-glyph='action-undo'] {
	--icon-code: '\e003';
}

[data-glyph='align-center'] {
	--icon-code: '\e004';
}

[data-glyph='align-left'] {
	--icon-code: '\e005';
}

[data-glyph='align-right'] {
	--icon-code: '\e006';
}

[data-glyph='aperture'] {
	--icon-code: '\e007';
}

[data-glyph='audio-spectrum'] {
	--icon-code: '\e128';
}

[data-glyph='audio'] {
	--icon-code: '\e129';
}

[data-glyph='ban'] {
	--icon-code: '\e12a';
}

[data-glyph='bar-chart'] {
	--icon-code: '\e12b';
}

[data-glyph='barcode'] {
	--icon-code: '\e12c';
}

[data-glyph='basket'] {
	--icon-code: '\e12d';
}

[data-glyph='battery'] {
	--icon-code: '\e12e';
}

[data-glyph='beaker'] {
	--icon-code: '\e12f';
}

[data-glyph='bell'] {
	--icon-code: '\e130';
}

[data-glyph='bitcoin-address'] {
	--icon-code: '\e131';
}

[data-glyph='bitcoin-block'] {
	--icon-code: '\e132';
}

[data-glyph='bitcoin-transaction'] {
	--icon-code: '\e133';
}

[data-glyph='bitcoin'] {
	--icon-code: '\e134';
}

[data-glyph='bluetooth'] {
	--icon-code: '\e135';
}

[data-glyph='bold'] {
	--icon-code: '\e136';
}

[data-glyph='book'] {
	--icon-code: '\e137';
}

[data-glyph='bookmark'] {
	--icon-code: '\e138';
}

[data-glyph='box'] {
	--icon-code: '\e139';
}

[data-glyph='brain'] {
	--icon-code: '\e13a';
}

[data-glyph='briefcase'] {
	--icon-code: '\e13b';
}

[data-glyph='british-pound'] {
	--icon-code: '\e13c';
}

[data-glyph='browser-full-page'] {
	--icon-code: '\e13d';
}

[data-glyph='browser-type-chrome'] {
	--icon-code: '\e13e';
}

[data-glyph='browser-type-firefox'] {
	--icon-code: '\e13f';
}

[data-glyph='browser-type-internetexplorer'] {
	--icon-code: '\e140';
}

[data-glyph='browser-type-safari'] {
	--icon-code: '\e141';
}

[data-glyph='browser-viewport'] {
	--icon-code: '\e142';
}

[data-glyph='browser'] {
	--icon-code: '\e143';
}

[data-glyph='brush'] {
	--icon-code: '\e144';
}

[data-glyph='bug'] {
	--icon-code: '\e145';
}

[data-glyph='building'] {
	--icon-code: '\e146';
}

[data-glyph='bullhorn'] {
	--icon-code: '\e147';
}

[data-glyph='calculator'] {
	--icon-code: '\e148';
}

[data-glyph='calendar'] {
	--icon-code: '\e149';
}

[data-glyph='camera-rangefinder'] {
	--icon-code: '\e14a';
}

[data-glyph='camera-slr'] {
	--icon-code: '\e14b';
}

[data-glyph='caret-bottom'] {
	--icon-code: '\e14c';
}

[data-glyph='caret-left'] {
	--icon-code: '\e14d';
}

[data-glyph='caret-right'] {
	--icon-code: '\e14e';
}

[data-glyph='caret-top'] {
	--icon-code: '\e14f';
}

[data-glyph='carriage-return'] {
	--icon-code: '\e150';
}

[data-glyph='cart'] {
	--icon-code: '\e151';
}

[data-glyph='chat'] {
	--icon-code: '\e152';
}

[data-glyph='check-thin'] {
	--icon-code: '\e153';
}

[data-glyph='check'] {
	--icon-code: '\e154';
}

[data-glyph='chevron-bottom'] {
	--icon-code: '\e155';
}

[data-glyph='chevron-left'] {
	--icon-code: '\e156';
}

[data-glyph='chevron-right'] {
	--icon-code: '\e157';
}

[data-glyph='chevron-top'] {
	--icon-code: '\e158';
}

[data-glyph='circle-check'] {
	--icon-code: '\e159';
}

[data-glyph='circle-x'] {
	--icon-code: '\e15a';
}

[data-glyph='clipboard'] {
	--icon-code: '\e15b';
}

[data-glyph='clock'] {
	--icon-code: '\e15c';
}

[data-glyph='cloud-transfer-download'] {
	--icon-code: '\e15d';
}

[data-glyph='cloud-transfer-upload'] {
	--icon-code: '\e15e';
}

[data-glyph='cloud'] {
	--icon-code: '\e15f';
}

[data-glyph='cloudy'] {
	--icon-code: '\e160';
}

[data-glyph='code'] {
	--icon-code: '\e161';
}

[data-glyph='cog'] {
	--icon-code: '\e162';
}

[data-glyph='cogs'] {
	--icon-code: '\e163';
}

[data-glyph='collapse-down'] {
	--icon-code: '\e164';
}

[data-glyph='collapse-left'] {
	--icon-code: '\e165';
}

[data-glyph='collapse-right'] {
	--icon-code: '\e166';
}

[data-glyph='collapse-up'] {
	--icon-code: '\e167';
}

[data-glyph='command'] {
	--icon-code: '\e168';
}

[data-glyph='comment-square'] {
	--icon-code: '\e169';
}

[data-glyph='compass'] {
	--icon-code: '\e16a';
}

[data-glyph='connections'] {
	--icon-code: '\e16b';
}

[data-glyph='contrast'] {
	--icon-code: '\e16c';
}

[data-glyph='copyleft'] {
	--icon-code: '\e16d';
}

[data-glyph='copyright'] {
	--icon-code: '\e16e';
}

[data-glyph='copywriting'] {
	--icon-code: '\e16f';
}

[data-glyph='cpu'] {
	--icon-code: '\e170';
}

[data-glyph='credit-card'] {
	--icon-code: '\e171';
}

[data-glyph='crop'] {
	--icon-code: '\e172';
}

[data-glyph='dashboard'] {
	--icon-code: '\e173';
}

[data-glyph='data-transfer-download'] {
	--icon-code: '\e174';
}

[data-glyph='data-transfer-upload'] {
	--icon-code: '\e175';
}

[data-glyph='database'] {
	--icon-code: '\e176';
}

[data-glyph='delete'] {
	--icon-code: '\e177';
}

[data-glyph='delta'] {
	--icon-code: '\e178';
}

[data-glyph='dial'] {
	--icon-code: '\e179';
}

[data-glyph='dna'] {
	--icon-code: '\e17a';
}

[data-glyph='document'] {
	--icon-code: '\e17b';
}

[data-glyph='dollar'] {
	--icon-code: '\e17c';
}

[data-glyph='double-quote-sans-left'] {
	--icon-code: '\e17d';
}

[data-glyph='double-quote-sans-right'] {
	--icon-code: '\e17e';
}

[data-glyph='double-quote-serif-left'] {
	--icon-code: '\e17f';
}

[data-glyph='double-quote-serif-right'] {
	--icon-code: '\e180';
}

[data-glyph='easel'] {
	--icon-code: '\e181';
}

[data-glyph='eject'] {
	--icon-code: '\e182';
}

[data-glyph='electric'] {
	--icon-code: '\e183';
}

[data-glyph='elevator'] {
	--icon-code: '\e184';
}

[data-glyph='ellipses'] {
	--icon-code: '\e185';
}

[data-glyph='envelope-closed'] {
	--icon-code: '\e186';
}

[data-glyph='envelope-open'] {
	--icon-code: '\e187';
}

[data-glyph='euro'] {
	--icon-code: '\e188';
}

[data-glyph='excerpt'] {
	--icon-code: '\e189';
}

[data-glyph='expand-down'] {
	--icon-code: '\e18a';
}

[data-glyph='expand-left'] {
	--icon-code: '\e18b';
}

[data-glyph='expand-right'] {
	--icon-code: '\e18c';
}

[data-glyph='expand-up'] {
	--icon-code: '\e18d';
}

[data-glyph='external-link'] {
	--icon-code: '\e18e';
}

[data-glyph='eye-closed'] {
	--icon-code: '\e18f';
}

[data-glyph='eye-open'] {
	--icon-code: '\e190';
}

[data-glyph='eyedropper'] {
	--icon-code: '\e191';
}

[data-glyph='fire'] {
	--icon-code: '\e1a5';
}

[data-glyph='firefly'] {
	--icon-code: '\e1a6';
}

[data-glyph='flag'] {
	--icon-code: '\e1a7';
}

[data-glyph='flash'] {
	--icon-code: '\e1a8';
}

[data-glyph='flow-four-up'] {
	--icon-code: '\e1a9';
}

[data-glyph='flow-three-up'] {
	--icon-code: '\e1aa';
}

[data-glyph='flow-two-up'] {
	--icon-code: '\e1ab';
}

[data-glyph='folder'] {
	--icon-code: '\e1ac';
}

[data-glyph='fork'] {
	--icon-code: '\e1ad';
}

[data-glyph='full-page'] {
	--icon-code: '\e1ae';
}

[data-glyph='fullscreen-enter'] {
	--icon-code: '\e1af';
}

[data-glyph='fullscreen-exit'] {
	--icon-code: '\e1b0';
}

[data-glyph='funnel'] {
	--icon-code: '\e1b1';
}

[data-glyph='game-controller'] {
	--icon-code: '\e1b2';
}

[data-glyph='globe'] {
	--icon-code: '\e1b3';
}

[data-glyph='graph'] {
	--icon-code: '\e1b4';
}

[data-glyph='grid-four-up'] {
	--icon-code: '\e1b5';
}

[data-glyph='grid-three-up'] {
	--icon-code: '\e1b6';
}

[data-glyph='grid-two-up'] {
	--icon-code: '\e1b7';
}

[data-glyph='group'] {
	--icon-code: '\e1b8';
}

[data-glyph='guides'] {
	--icon-code: '\e1b9';
}

[data-glyph='hammer'] {
	--icon-code: '\e1ba';
}

[data-glyph='hand'] {
	--icon-code: '\e1bb';
}

[data-glyph='hard-drive'] {
	--icon-code: '\e1bc';
}

[data-glyph='header'] {
	--icon-code: '\e1bd';
}

[data-glyph='headphones'] {
	--icon-code: '\e1be';
}

[data-glyph='heart'] {
	--icon-code: '\e1bf';
}

[data-glyph='history'] {
	--icon-code: '\e1c0';
}

[data-glyph='home'] {
	--icon-code: '\e1c1';
}

[data-glyph='image-landscape'] {
	--icon-code: '\e1c2';
}

[data-glyph='image-portrait'] {
	--icon-code: '\e1c3';
}

[data-glyph='inbox'] {
	--icon-code: '\e1c4';
}

[data-glyph='infinity'] {
	--icon-code: '\e1c5';
}

[data-glyph='info'] {
	--icon-code: '\e1c6';
}

[data-glyph='inkwell'] {
	--icon-code: '\e1c7';
}

[data-glyph='iphone'] {
	--icon-code: '\e1c8';
}

[data-glyph='italic'] {
	--icon-code: '\e1c9';
}

[data-glyph='justify-center'] {
	--icon-code: '\e1ca';
}

[data-glyph='justify-left'] {
	--icon-code: '\e1cb';
}

[data-glyph='justify-right'] {
	--icon-code: '\e1cc';
}

[data-glyph='key'] {
	--icon-code: '\e1cd';
}

[data-glyph='keyboard'] {
	--icon-code: '\e1ce';
}

[data-glyph='keypad-mobile'] {
	--icon-code: '\e1cf';
}

[data-glyph='laptop'] {
	--icon-code: '\e1d0';
}

[data-glyph='layers'] {
	--icon-code: '\e1d1';
}

[data-glyph='lightbulb-alt-off'] {
	--icon-code: '\e1d2';
}

[data-glyph='lightbulb-alt-on'] {
	--icon-code: '\e1d3';
}

[data-glyph='lightbulb'] {
	--icon-code: '\e1d4';
}

[data-glyph='lightning-bolt'] {
	--icon-code: '\e1d5';
}

[data-glyph='lightning'] {
	--icon-code: '\e1d6';
}

[data-glyph='link-broken'] {
	--icon-code: '\e1d7';
}

[data-glyph='link-intact'] {
	--icon-code: '\e1d8';
}

[data-glyph='list-nested'] {
	--icon-code: '\e1d9';
}

[data-glyph='list-rich'] {
	--icon-code: '\e1da';
}

[data-glyph='list'] {
	--icon-code: '\e1db';
}

[data-glyph='location'] {
	--icon-code: '\e1dc';
}

[data-glyph='lock-locked'] {
	--icon-code: '\e1dd';
}

[data-glyph='lock-unlocked'] {
	--icon-code: '\e1de';
}

[data-glyph='loop-circular'] {
	--icon-code: '\e1df';
}

[data-glyph='loop-square'] {
	--icon-code: '\e1e0';
}

[data-glyph='loop'] {
	--icon-code: '\e1e1';
}

[data-glyph='loupe'] {
	--icon-code: '\e1e2';
}

[data-glyph='magic-wand'] {
	--icon-code: '\e1e3';
}

[data-glyph='magnifying-glass'] {
	--icon-code: '\e1e4';
}

[data-glyph='map-marker'] {
	--icon-code: '\e1e5';
}

[data-glyph='map'] {
	--icon-code: '\e1e6';
}

[data-glyph='marquee'] {
	--icon-code: '\e1e7';
}

[data-glyph='medal'] {
	--icon-code: '\e1e8';
}

[data-glyph='media-pause'] {
	--icon-code: '\e1e9';
}

[data-glyph='media-play-circle'] {
	--icon-code: '\e1ea';
}

[data-glyph='media-play'] {
	--icon-code: '\e1eb';
}

[data-glyph='media-record'] {
	--icon-code: '\e1ec';
}

[data-glyph='media-skip-backward'] {
	--icon-code: '\e1ed';
}

[data-glyph='media-skip-forward'] {
	--icon-code: '\e1ee';
}

[data-glyph='media-step-backward'] {
	--icon-code: '\e1ef';
}

[data-glyph='media-step-forward'] {
	--icon-code: '\e1f0';
}

[data-glyph='media-stop'] {
	--icon-code: '\e1f1';
}

[data-glyph='medical-cross'] {
	--icon-code: '\e1f2';
}

[data-glyph='menu-selected'] {
	--icon-code: '\e1f3';
}

[data-glyph='menu'] {
	--icon-code: '\e1f4';
}

[data-glyph='microphone'] {
	--icon-code: '\e1f5';
}

[data-glyph='minus-thin'] {
	--icon-code: '\e1f6';
}

[data-glyph='minus'] {
	--icon-code: '\e1f7';
}

[data-glyph='monitor'] {
	--icon-code: '\e1f8';
}

[data-glyph='moon'] {
	--icon-code: '\e1f9';
}

[data-glyph='move'] {
	--icon-code: '\e1fa';
}

[data-glyph='musical-note'] {
	--icon-code: '\e1fb';
}

[data-glyph='network'] {
	--icon-code: '\e1fc';
}

[data-glyph='nexus'] {
	--icon-code: '\e1fd';
}

[data-glyph='open-hardware'] {
	--icon-code: '\e1fe';
}

[data-glyph='open-source'] {
	--icon-code: '\e1ff';
}

[data-glyph='palette'] {
	--icon-code: '\e200';
}

[data-glyph='paperclip'] {
	--icon-code: '\e201';
}

[data-glyph='peace'] {
	--icon-code: '\e202';
}

[data-glyph='pen'] {
	--icon-code: '\e203';
}

[data-glyph='pencil'] {
	--icon-code: '\e204';
}

[data-glyph='people'] {
	--icon-code: '\e205';
}

[data-glyph='person-female'] {
	--icon-code: '\e206';
}

[data-glyph='person-genderless'] {
	--icon-code: '\e207';
}

[data-glyph='person-male'] {
	--icon-code: '\e208';
}

[data-glyph='pie-chart'] {
	--icon-code: '\e209';
}

[data-glyph='pilcrow'] {
	--icon-code: '\e20a';
}

[data-glyph='pill'] {
	--icon-code: '\e20b';
}

[data-glyph='pin'] {
	--icon-code: '\e20c';
}

[data-glyph='platform-android'] {
	--icon-code: '\e20d';
}

[data-glyph='platform-apple'] {
	--icon-code: '\e20e';
}

[data-glyph='platform-linux'] {
	--icon-code: '\e20f';
}

[data-glyph='platform-microsoft'] {
	--icon-code: '\e210';
}

[data-glyph='plus-thin'] {
	--icon-code: '\e211';
}

[data-glyph='plus'] {
	--icon-code: '\e212';
}

[data-glyph='pointer'] {
	--icon-code: '\e213';
}

[data-glyph='power-standby'] {
	--icon-code: '\e214';
}

[data-glyph='print'] {
	--icon-code: '\e215';
}

[data-glyph='project'] {
	--icon-code: '\e216';
}

[data-glyph='pulse'] {
	--icon-code: '\e217';
}

[data-glyph='puzzle-piece'] {
	--icon-code: '\e218';
}

[data-glyph='question-mark'] {
	--icon-code: '\e219';
}

[data-glyph='radiation'] {
	--icon-code: '\e21a';
}

[data-glyph='rainy'] {
	--icon-code: '\e21b';
}

[data-glyph='random'] {
	--icon-code: '\e21c';
}

[data-glyph='ratio'] {
	--icon-code: '\e21d';
}

[data-glyph='reload'] {
	--icon-code: '\e21e';
}

[data-glyph='resize-both'] {
	--icon-code: '\e21f';
}

[data-glyph='resize-height'] {
	--icon-code: '\e220';
}

[data-glyph='resize-width'] {
	--icon-code: '\e221';
}

[data-glyph='rocket'] {
	--icon-code: '\e222';
}

[data-glyph='route'] {
	--icon-code: '\e223';
}

[data-glyph='rss-alt'] {
	--icon-code: '\e224';
}

[data-glyph='rss'] {
	--icon-code: '\e225';
}

[data-glyph='scissors'] {
	--icon-code: '\e226';
}

[data-glyph='screen-viewport'] {
	--icon-code: '\e227';
}

[data-glyph='screenshot'] {
	--icon-code: '\e228';
}

[data-glyph='screwdriver'] {
	--icon-code: '\e229';
}

[data-glyph='script'] {
	--icon-code: '\e22a';
}

[data-glyph='server'] {
	--icon-code: '\e22b';
}

[data-glyph='settings'] {
	--icon-code: '\e22c';
}

[data-glyph='shape-circle'] {
	--icon-code: '\e22d';
}

[data-glyph='shape-hexagon'] {
	--icon-code: '\e22e';
}

[data-glyph='shape-octagon'] {
	--icon-code: '\e22f';
}

[data-glyph='shape-square-rounded'] {
	--icon-code: '\e230';
}

[data-glyph='shape-square'] {
	--icon-code: '\e231';
}

[data-glyph='share-boxed'] {
	--icon-code: '\e232';
}

[data-glyph='share-social'] {
	--icon-code: '\e233';
}

[data-glyph='share'] {
	--icon-code: '\e234';
}

[data-glyph='shield'] {
	--icon-code: '\e235';
}

[data-glyph='signal'] {
	--icon-code: '\e236';
}

[data-glyph='signpost'] {
	--icon-code: '\e237';
}

[data-glyph='social-dribbble'] {
	--icon-code: '\e238';
}

[data-glyph='social-dropbox'] {
	--icon-code: '\e239';
}

[data-glyph='social-facebook'] {
	--icon-code: '\e23a';
}

[data-glyph='social-flickr'] {
	--icon-code: '\e23b';
}

[data-glyph='social-github'] {
	--icon-code: '\e23c';
}

[data-glyph='social-google-plus'] {
	--icon-code: '\e23d';
}

[data-glyph='social-instagram'] {
	--icon-code: '\e23e';
}

[data-glyph='social-linkedin'] {
	--icon-code: '\e23f';
}

[data-glyph='social-pinterest'] {
	--icon-code: '\e240';
}

[data-glyph='social-reddit'] {
	--icon-code: '\e241';
}

[data-glyph='social-tumblr'] {
	--icon-code: '\e242';
}

[data-glyph='social-twitter'] {
	--icon-code: '\e243';
}

[data-glyph='social-vimeo'] {
	--icon-code: '\e244';
}

[data-glyph='social-youtube'] {
	--icon-code: '\e245';
}

[data-glyph='sort-ascending'] {
	--icon-code: '\e246';
}

[data-glyph='sort-descending'] {
	--icon-code: '\e247';
}

[data-glyph='spreadsheet'] {
	--icon-code: '\e248';
}

[data-glyph='star-empty'] {
	--icon-code: '\e249';
}

[data-glyph='star'] {
	--icon-code: '\e24a';
}

[data-glyph='sun'] {
	--icon-code: '\e24b';
}

[data-glyph='syringe'] {
	--icon-code: '\e24c';
}

[data-glyph='tablet'] {
	--icon-code: '\e24d';
}

[data-glyph='tag'] {
	--icon-code: '\e24e';
}

[data-glyph='tags'] {
	--icon-code: '\e24f';
}

[data-glyph='target'] {
	--icon-code: '\e250';
}

[data-glyph='task'] {
	--icon-code: '\e251';
}

[data-glyph='terminal'] {
	--icon-code: '\e252';
}

[data-glyph='text'] {
	--icon-code: '\e253';
}

[data-glyph='thermometer'] {
	--icon-code: '\e254';
}

[data-glyph='thumb-down'] {
	--icon-code: '\e255';
}

[data-glyph='thumb-up'] {
	--icon-code: '\e256';
}

[data-glyph='tiara'] {
	--icon-code: '\e257';
}

[data-glyph='timer'] {
	--icon-code: '\e258';
}

[data-glyph='tint'] {
	--icon-code: '\e259';
}

[data-glyph='tools'] {
	--icon-code: '\e25a';
}

[data-glyph='transfer'] {
	--icon-code: '\e25b';
}

[data-glyph='trash'] {
	--icon-code: '\e25c';
}

[data-glyph='ungroup'] {
	--icon-code: '\e25d';
}

[data-glyph='vertical-align-bottom'] {
	--icon-code: '\e25e';
}

[data-glyph='vertical-align-center'] {
	--icon-code: '\e25f';
}

[data-glyph='vertical-align-top'] {
	--icon-code: '\e260';
}

[data-glyph='video'] {
	--icon-code: '\e261';
}

[data-glyph='viewport'] {
	--icon-code: '\e262';
}

[data-glyph='volume-high'] {
	--icon-code: '\e263';
}

[data-glyph='volume-low'] {
	--icon-code: '\e264';
}

[data-glyph='volume-medium'] {
	--icon-code: '\e265';
}

[data-glyph='volume-off'] {
	--icon-code: '\e266';
}

[data-glyph='warning'] {
	--icon-code: '\e267';
}

[data-glyph='weight'] {
	--icon-code: '\e268';
}

[data-glyph='wifi'] {
	--icon-code: '\e269';
}

[data-glyph='wrench'] {
	--icon-code: '\e26a';
}

[data-glyph='x-thin'] {
	--icon-code: '\e26b';
}

[data-glyph='x'] {
	--icon-code: '\e26c';
}

[data-glyph='yen'] {
	--icon-code: '\e26d';
}

[data-glyph='zoom-in'] {
	--icon-code: '\e26e';
}

[data-glyph='zoom-out'] {
	--icon-code: '\e26f';
}
