@import '../settings/color.css';
@import '../settings/basic.css';

dl {
	dt {
		--text-color: var(--caption-color);
		--row-gap: var(--space);
	}
	dd {
		--row-gap: var(--space-sm);
	}
}

:where(ol, ul) {
	li {
		--row-gap: var(--space-sm);
		li {
			--row-gap: 0;
		}
	}
}

ul li {
	@extend %icon-settings;
	@extend %icon;
	--icon-color: var(--secondary-color);
	--icon-size: 0.3--unit;
}

:where(dl, ol, ul) {
	margin-block-end: 1em;
	margin-block-start: 0.5em;
	padding-inline-start: var(--space);
}

:where(dl, dt, ol, ul) {
	text-rendering: optimizeLegibility;
	/* Lists are characterized similarly to paragraph parameters */
	display: block;
}

:where(dt, dd) {
	box-sizing: border-box;
	max-width: var(--text-width);
}

/** Description list
=========================================================================== */

dl:not(:empty) {
	padding-bottom: var(--row-gap);

	dt {
		font-weight: var(--font-bold);
	}

	dd {
		margin-inline-start: unset;
		padding-block-start: var(--row-gap);
		margin-inline-start: var(--space);
	}

	:is(dt, dd) + dt {
		margin-top: var(--row-gap);
	}
}

/** Ordered list
=========================================================================== */

ol {
	list-style: decimal;

	li {
		padding-left: 0;
	}

	li + li {
		margin-top: var(--row-gap);
	}
	li li + li {
		margin-top: var(--li-nested-margin-vertical);
	}

	ol {
		list-style: lower-alpha;
	}
}

/** Unordered list
=========================================================================== */

ul {
	list-style: none;

	li {
		&::before {
			content: '\e22e';
			display: inline-block;
			position: relative;
			margin-left: -1--space;
			width: 1--space;
		}

		& + li {
			margin-top: var(--row-gap);
		}
	}
}
