@import '../settings/color.css';
@import '../settings/typography.css';
@import '../settings/basic.css';

/* ========================================================================
   Paragraph
=========================================================================== */

p {
	display: block;
	max-width: var(--text-width);
	margin-block: unset;
	margin-inline: unset;
	text-rendering: optimizeLegibility;
}

* + p {
	margin-block-start: var(--space);
}

p:has(+ *) {
	margin-block-end: var(--space);
}

p {
	/* Image inside the paragraph
	=========================================================================== */

	img {
		display: block;
		width: auto;
		max-height: 11.8rem;
		margin: 0 auto;

		&[align='left'],
		&[align='right'] {
			display: inline-block;
			max-width: 19rem;
		}

		&[align='left'] {
			float: left;
			margin: 0.3rem 1.2rem 0 0.8rem;
		}

		&[align='right'] {
			float: right;
			margin: 0.3rem 0.8rem 0 1.2rem;
		}
	}

	/* Figure inside the paragraph
	=========================================================================== */

	figure {
		display: inline-block;
		padding: 0;
		margin: 0;

		max-width: 30vw;
		max-height: 18rem;

		background-color: var(--clr-gray-300);
		background-size: contain;

		&::before,
		&::after {
			content: '';
			position: absolute;
			width: 100%;
			display: block;
			clear: both;
		}

		img {
			width: 100%;
			max-height: inherit;
			object-fit: contain;
		}
	}
}

/** Restyle: Lead Paragraph
=========================================================================== */

p.s-lead {
	--text-size: var(--text-md);
}

p.s-lead {
	font-style: italic;
	font-weight: var(--font-bold);
	color: var(--caption-color);
	text-wrap: balance;
}

/** Restyle: Sizes
=========================================================================== */

p {
	&.s-xxs {
		max-width: 44.8rem;
	}
	&.s-xs {
		max-width: 44.8rem;
	}
	&.s-sm {
		max-width: 51.4rem;
	}
	&.s-md {
		max-width: 72ch;
	}
	&.s-lg {
		max-width: 80ch;
	}
	&.s-xl {
		max-width: 80ch;
	}
	&.s-xxl {
		max-width: 80ch;
	}
}
