/* ========================================================================
	Sectioning root
=========================================================================== */

@import '../settings/basic.css';
@import '../settings/color.css';
@import '../settings/typography.css';

/** Inherited Settings
========================================================================== */

body {
	--duration: var(--base-duration);
	--easing: var(--base-easing);

	--bkgd-color: var(--base-bkgd-color);
	--bord-color: var(--base-bdr-color);

	--caption-color: var(--clr-black);
	--caption-font: var(--accent-font);

	--line-thickness: var(--base-line-thickness);
	--link-color: var(--base-link-color);
	--text-boldness: var(--base-text-boldness);
	--text-color: var(--base-text-color);
	--text-font: var(--base-text-font);
	--text-interligne: var(--base-interligne);
	--text-size: var(--base-text-size);
	--text-width: var(--base-text-width);
}

/** Rules
========================================================================== */

html {
	font-size: 62.5%;
}

body {
	background-color: var(--bkgd-color);
	margin: unset;
	scroll-behavior: smooth;
	text-rendering: optimizeSpeed;
}

:where(audio, canvas, img, svg, progress, video) {
	display: inline-block;
	max-width: 100%;
	height: auto;
	vertical-align: middle;
}

/** Block base
========================================================================== */

blockquote,
pre,
address,
fieldset,
figure,
figcaption {
	margin: 0;
}

* + :where(blockquote, pre, address, fieldset, figure) {
	margin-block-start: var(--space-xs);
}

/** Forms
========================================================================== */

label {
	cursor: pointer;
	user-select: none;
}

textarea {
	resize: vertical;
}

fieldset,
legend {
	border: 0;
	margin: 0;
	padding: 0;
}

button,
input,
optgroup,
select,
textarea {
	color: inherit;
	font: inherit;
	margin: 0;
}

input {
	line-height: normal;
}

input[type='checkbox'],
input[type='radio'] {
	box-sizing: border-box;
	padding: 0;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
	height: auto;
}

input[type='search'] {
	-webkit-appearance: textfield;
}

input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-decoration {
	-webkit-appearance: none;
}

textarea {
	overflow: auto;
}

optgroup {
	font-weight: bold;
}

/** Selection
========================================================================== */

::-moz-selection {
	color: var(--selection-text-color);
	background-color: var(--selection-bkgd-color);
	text-shadow: none;
}

::selection {
	color: var(--selection-text-color);
	background-color: var(--selection-bkgd-color);
	text-shadow: none;
}

:is([unselectable='on'], [unselectable]):not([unselectable='off']) {
	user-select: none;
}

/** Undefined Custom Elements waiting for loaded resources
========================================================================== */

:where(c-avatar, c-select, e-listbox):not(:state(--defined)) {
	display: none;
}
