/* ========================================================================
   Table
=========================================================================== */

@import '../settings/basic.css';

/* Settings
=========================================================================== */

table {
	:where(th, tfoot) {
		--text-color: var(--caption-color);
		--text-interligne: 1.1;
		--text-size: var(--text-sm);
	}

	:where(tr, td)[aria-selected='true'] {
	}

	th {
		--text-boldness: var(--font-medium);
	}

	tfoot {
		--text-interligne: var(--interligne-sm);
	}
}

/* Rules
=========================================================================== */

table {
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;
	margin-bottom: var(--space);

	th {
		padding: var(--space);
		vertical-align: bottom;
	}

	td {
		padding-block: var(--space-sm);
		padding-inline: var(--space-xs);
		vertical-align: top;
	}
}

:where(table, tr, td) {
	background-color: var(--bkgd-color);
}

table + table {
	margin-top: var(--space-md);
}

/* Style: Condensed
=========================================================================== */

table.s-condensed th,
table.s-condensed td {
	padding: 0;
}
