/* ========================================================================
	Basic setup
===================================+======================================= */

@import '../settings/color.css';
@import '../settings/typography.css';

:root {
	--unit: 1.6rem;
	--pixel: 0.0625--unit;
	--space: 1.5--unit;
	--space-xxs: 0.125--unit;
	--space-xs: 0.25--unit;
	--space-sm: 0.5--unit;
	--space-md: 2.5--unit;
	--space-lg: 4--unit;
	--space-xl: 8--unit;
	--space-xxl: 20--unit;
}

:root {
	--base-text-boldness: var(--font-normal);
	--base-text-font: var(--font-sans);
	--base-text-width: 36--unit;
	--base-line-thickness: 1.25--pixel;

	--base-interligne: 1.5;
	--interligne-xs: 1.1;
	--interligne-sm: 1.2;
	--interligne-md: 1.4;
	--interligne-lg: 1.2;
	--interligne-xl: 1.2;
	--interligne-xxl: 1.3;
	--interligne-xxxl: 1.3;

	--base-text-size: var(--unit);
	--text-xs: 0.6875--unit;
	--text-sm: 0.875--unit;
	--text-md: 1.125--unit;
	--text-lg: 1.25--unit;
	--text-xl: 1.75--unit;
	--text-xxl: 2.25--unit;
	--text-xxxl: 3--unit;
}

:root {
	--base-bkgd-color: var(--clr-background);
	--base-bord-color: var(--clr-gray-400);
	--base-text-color: var(--clr-foreground);
	--base-link-color: var(--clr-blue-800);
}

:root {
	--base-duration: 160ms;
	--base-easing: cubic-bezier(0.3, 0, 0.2, 1);
}
