/* ========================================================================
	Basic setup
===================================+======================================= */

:root {
	--duration: 160ms;
	--easing: cubic-bezier(0.3, 0, 0.2, 1);
	--pixel: 0.0625--unit;
	--unit: 1.6rem;
}
