/* ========================================================================
	Color theme
===================================+======================================= */

@import '@bpanchenko/palette/assets/palette.css';

:root {
	--visited-color: var(--clr-red-500);
	--active-color: var(--clr-red-500);
	--disabled-color: var(--clr-gray-400);
	--danger-color: var(--clr-red-800);
	--muted-color: var(--clr-gray-400);
	--primary-color: var(--clr-blue-800);
	--secondary-color: var(--clr-gray-600);
	--success-color: var(--clr-green-800);
	--warning-color: var(--clr-orange-800);

	--delimeter-color: var(--clr-gray-400);
	--hint-color: var(--muted-color);

	--highlighted-text-color: var(--clr-gray-900);
	--highlighted-bkgd-color: var(--clr-green-gray-300);
	--selection-bkgd-color: var(--clr-blue-700);
	--selection-text-color: var(--clr-white);
}
