@import "./colors.css";

body {
	--bg-color: --clr-blue-grey-50;
	
	--link-color: var(--clr-blue-800);
	--link-hover-color: var(--clr-blue-900);
	--link-text-decoration: underline;
	--link-hover-text-decoration: none;
	--link-transition: color 0.16s var(--easing);
}
