@import './main.css';
@import './space.css';
@import './typography.css';

body {
	--list-indent: var(--space);
	--print-width: 72ch;

	--text-boldness: var(--font-normal);
	--text-font: var(--font-sans);
	--text-interligne: var(--default-interligne);
	--text-size: var(--default-text-size);
}

body {
	--bg-color: var(--clr-gray-100);
	--danger-color: var(--clr-red-800);
	--muted-color: var(--clr-gray-400);
	--primary-color: var(--clr-blue-800);
	--success-color: var(--clr-green-800);
	--warning-color: var(--clr-orange-800);

	--default-link-color: var(--clr-blue-800);
	--default-text-color: var(--clr-gray-800);
	--link-color: var(--default-link-color);
	--text-color: var(--default-text-color);

	--caption-color: var(--clr-black);
	--caption-link-color: var(--clr-blue-900);

	--delimeter-color: var(--clr-gray-400);
	--disabled-text-color: var(--clr-gray-400);
	--highlighted-text-color: var(--clr-gray-900);
	--highlighted-bg-color: var(--clr-green-gray-300);
	--hint-color: var(--muted-color);
	--secondary-text-color: var(--clr-gray-600);

	--selection-bg-color: var(--clr-blue-700);
	--selection-text-color: var(--clr-white);
}
