@import "./main.css";
@import "./typography.css";

body {
	--bg-color: var(--clr-grey-100);

	--link-color: var(--clr-blue-800);
	--link-hover-color: var(--clr-blue-900);
	--link-hover-text-decoration: none;
	--link-text-decoration: underline;

	--text-color: color(var(--clr-black) a(0.87));
	--text-font: var(--font-sans);
	--text-interligne: var(--interligne-default);
	--text-size: var(--text-size-default);

	--caption-color: var(--clr-black);
	--disabled-text-color: var(--clr-grey-400-tp);
	--divider-color: var(--clr-grey-800);
	--highlighted-text-color: var(--clr-black);
	--highlighted-bg-color: var(--clr-green-grey-300-tp);
	--hint-color: var(--muted-color);
	--selection-bg-color: var(--clr-blue-600);
	--selection-text-color: var(--clr-white);
}
