@import '@bpanchenko/palette/assets/palette.css';

/* Basic parameters
=========================================================================== */

:root {
	--duration: 0.16s;
	--easing: cubic-bezier(0.3, 0, 0.2, 1);
	--pixel: 0.0625--unit;
	--unit: 1.6rem;
	
	--clr-black: var(--clr-gray-900);
	--clr-white: #ffffff;
	--bg-color: var(--clr-white);
	--fg-color: var(--clr-black);
}