@import '@bpanchenko/palette/assets/colors.css';

/* Basic parameters
=========================================================================== */

:root {
	--duration: 0.16s;
	--easing: cubic-bezier(0.3, 0, 0.2, 1);
	--pixel: 0.0625--unit;
	--unit: 1.6rem;

	--clr-black: var(--clr-foreground, #000);
	--clr-white: #fff;
}
