@import "./main.css";

:root {
	--space: 24--pixel;
	
	--space-xxs: 2--pixel;
	--space-xs: 4--pixel;
	--space-sm: 8--pixel;
	--space-md: 40--pixel;
	--space-lg: 64--pixel;
	--space-xl: 128--pixel;
	--space-xxl: 320--pixel;
}
