@import "./main.css";

:root {
	--space:	  1--unit;
	
	--space-xxxs: 0.25--unit;
	--space-xxs:  0.25--unit;
	--space-xs:   0.5--unit;
	--space-sm:   0.75--unit;
	--space-md:   1.5--unit;
	--space-lg:   2.5--unit;
	--space-xl:   3.25--unit;
	--space-xxl:  5.25--unit;
}
