
/* Typeface
 ======================================================================== */

@import url("http://assets.protosite.rocks/fonts/gilroy/stylesheet.css");
@import url("http://assets.protosite.rocks/fonts/jetbrains-mono/stylesheet.css");
@import url("http://assets.protosite.rocks/fonts/pt-root-ui/stylesheet.css");
@import url('https://fonts.googleapis.com/css?family=Marck+Script&display=swap');

:root {
	--font-cursive: 
	--font-fantasy: fantasy;
	--font-monospace: "JetBrains Mono", monospace;
	--font-serif: serif;
	--font-sans-serif: sans-serif;

	--font-primary: "PT Root UI Web", sans-serif;
	--font-secondary: Gilroy, sans-serif;
	
	--text-xs: 1.1rem;
	--text-sm: 1.4rem;
	--text-md: 1.6rem;
	--text-lg: 2rem;
	--text-xl: 2.8rem;
	--text-xxl: 3.6rem;
	--text-xxxl: 4.8rem;

	--line-height-default: 1.6;
	--line-height-xs: 1.1;
	--line-height-sm: 1.2;
	--line-height-md: 1.6;
	--line-height-lg: 1.2;

	--text-rendering: geometricPrecision;
}

/* Typeface
 ======================================================================== */

 :root {
    --caption-font: "Gilroy", sans-serif;
    --cursive-font: "Marck Script", cursive;
    --text-font: 'Legible Font';
    --ui-font: "PT Root UI Web", sans-serif;
}
