@import url("http://assets.protosite.rocks/fonts/jetbrains-mono/stylesheet.css");
@import url("http://assets.protosite.rocks/fonts/marck-script/stylesheet.css");
@import url("http://assets.protosite.rocks/fonts/pt-root-ui/stylesheet.css");
@import url("http://assets.protosite.rocks/fonts/pt-sans-caption/stylesheet.css");
@import url("http://assets.protosite.rocks/fonts/pt-sans/stylesheet.css");
@import url("http://assets.protosite.rocks/fonts/pt-serif/stylesheet.css");

:root {
	--caption-font: "PT Sans Caption", sans-serif;
	--font-monospace: "JetBrains Mono", monospace;
	--font-cursive: "Marck Script", cursive;
	--font-sans: "PT Sans", sans-serif;
	--font-serif: "PT Serif", serif;
	--ui-font: "PT Root UI", system-ui;

	--text-xs: 1.1rem;
	--text-sm: 1.4rem;
	--text-md: 1.6rem;
	--text-lg: 2rem;
	--text-xl: 2.8rem;
	--text-xxl: 3.6rem;
	--text-xxxl: 4.8rem;

	--line-height-xs: 1.1;
	--line-height-sm: 1.2;
	--line-height-md: 1.4;
	--line-height-lg: 1.2;
}
