/* ========================================================================
	Typography
===================================+======================================= */

:root {
	--font-thin: 100;
	--font-extra-light: 200;
	--font-light: 300;
	--font-normal: 400;
	--font-medium: 500;
	--font-semi-bold: 600;
	--font-bold: 700;
	--font-extra-bold: 800;
	--font-heavy: 900;

	--font-cursive: 'Marck Script', cursive;
	--font-monospace: 'JetBrains Mono', monospace;
	--font-sans: 'PT Sans', sans-serif;
	--font-serif: 'PT Serif', serif;

	--accent-font: 'PT Sans Caption', sans-serif;
	--read-font: var(--font-sans);
	--ui-font: 'PT Root UI', system-ui;
}
