@import "../settings/variables";

/**
 * Object:		Breadcrumbs
 * Description: Indicate the current page's location within a navigational hierarchy.
 *
 * Elements:	`o-breadcrumb__item`
 *
 ========================================================================== */


// Variables
// ========================================================================

@o-breadcrumb-margin: @unit 0 (@unit * 2);
@o-breadcrumb-after-background-color: @clr-grey-400;
@o-breadcrumb-after-border-bottom: 1px solid @clr-white;

@o-breadcrumb-item-font-size: @body-font-size;
@o-breadcrumb-item-line-height: @unit * 1.5;
@o-breadcrumb-item-color: @clr-grey-600;
@o-breadcrumb-item-divider-content: '/';
@o-breadcrumb-item-divider-margin: 0 .6rem;

@o-breadcrumb-item-current-font-family: @body-font-family;
@o-breadcrumb-item-current-font-size: @body-font-size;
@o-breadcrumb-item-current-font-weight: 600;
@o-breadcrumb-item-current-color: @body-color;


/* ========================================================================
   Object: `o-breadcrumb`
 ========================================================================== */

.o-breadcrumb {
	display: block;
	width: inherit;
	margin: @o-breadcrumb-margin;
	color: @o-breadcrumb-item-color;
	font-size: .001px;

	// volumetric bottom border as the default style
	&::after {
		content: ' ';
		display: block;
		width: inherit;
		height: 1px;
		background-color: @o-breadcrumb-after-background-color;
		border-bottom: @o-breadcrumb-after-border-bottom;
	}
}

.o-breadcrumb__item {
	display: inline-block;
	vertical-align: baseline;
	font-size: @o-breadcrumb-item-font-size;
	line-height: @o-breadcrumb-item-line-height;

	&:not(:last-child)::after {
		content: @o-breadcrumb-item-divider-content;
		display: inherit;
		margin: @o-breadcrumb-item-divider-margin;
	}
}


.o-breadcrumb__item.is-current {
	font-family: @o-breadcrumb-item-current-font-family;
	font-size: @o-breadcrumb-item-current-font-size;
	font-weight: @o-breadcrumb-item-current-font-weight;
	color: @o-breadcrumb-item-current-color;
}