
@o-dropbox-target-height: @margin-large;
@o-dropbox-target-font-size: @body-font-size;

@o-dropbox-placeholder-after-icon-glyph: '\e174';

@o-dropbox-item-padding: .4rem;
@o-dropbox-item-margin: @margin-mini 0;
@o-dropbox-item-background-color: @clr-white;
@o-dropbox-item-border-radius: .2rem;
@o-dropbox-item-box-shadow: @shadow-2dp;

@o-dropbox-item-column-margin-horizontal: @margin-mini / 2;

@o-dropbox-file-preview-size: 8rem;

@o-dropbox-target-background-color: @clr-grey-200;
@o-dropbox-target-border: .2rem dashed @clr-grey-400;
@o-dropbox-target-border-radius: .4rem;
@o-dropbox-target-box-shadow: none;

@o-dropbox-hover-target-background-color: @clr-blue-50;
@o-dropbox-hover-target-border: .2rem dashed @clr-blue-300;
@o-dropbox-hover-target-border-radius: .4rem;
@o-dropbox-hover-target-box-shadow: none;

@o-dropbox-drop-target-background-color: @clr-green-50;
@o-dropbox-drop-target-border: .2rem dashed @clr-green-300;
@o-dropbox-drop-target-border-radius: .4rem;
@o-dropbox-drop-target-box-shadow: none;


/* Object: `o-dropbox`
 ========================================================================== */

.o-dropbox {
	contain: layout style;
	position: relative;
	display: block;
	width: 100%;
}


/* Subobject: `o-dropbox__target`
 ========================================================================== */

.o-dropbox__target {
	width: inherit;
	height: @o-dropbox-target-height;

	background-color: @o-dropbox-target-background-color;
	border: @o-dropbox-target-border;
	border-radius: @o-dropbox-target-border-radius;
	box-sizing: border-box;
	box-shadow: @o-dropbox-target-box-shadow;
	cursor: pointer;

	transition-property: background, border, box-shadow;
	transition-delay: 80ms;
	transition-timing-function: @easing;

	.c-field[type=file] { display: none; }

	.c-placeholder {
		position: relative;
		display: block;
		width: inherit;
		line-height: @o-dropbox-target-height;

		font-size: @o-dropbox-target-font-size;
		text-align: center;

		&::before {
			content: @o-dropbox-placeholder-after-icon-glyph;
			font-size: inherit;
			font-family: 'Iconic';
			font-weight: normal;
			font-style: normal;
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;

			display: inline-block;
			speak: none;
			line-height: 1;
			vertical-align: text-bottom;
			margin-right: .4rem;
		}

		&::after {
			content: '' attr(data-text) '';
		}
	}
}


/* Component: `c-list`
 ========================================================================== */

.o-dropbox {
	.c-list{}
	.c-list__item {
		contain: content;
		padding: @o-dropbox-item-padding;
		margin: @o-dropbox-item-margin;

		background-color: @o-dropbox-item-background-color;
		border-radius: @o-dropbox-item-border-radius;
		box-shadow: @o-dropbox-item-box-shadow;
	}
	.c-list__col {
		&:nth-child(1) {
			flex: 0 1 auto;
		}
		&:nth-child(2) {
			flex: 1 0 auto;
		}
		&:nth-child(3) {
			position: absolute;
			top: 0;
			right: 0;
			flex: none;
			@media (max-width: @screen-tablet-landscape-max) {
				position: static;
				flex: 0 1 auto;
			}
		}
	}
	.c-list__col + .c-list__col {
		margin-left: @o-dropbox-item-column-margin-horizontal;
	}

	.c-progress {
		flex: none;

		position: absolute;
		right: @o-dropbox-item-padding;
		bottom: @o-dropbox-item-padding;
		left: @o-dropbox-file-preview-size + @o-dropbox-item-column-margin-horizontal + @o-dropbox-item-padding;

		margin: 0 !important;
		height: @o-dropbox-item-padding;
	}
}


/* Component: `c-thumbnail`
 ========================================================================== */

.o-dropbox .c-thumbnail {
	// reset
	width: auto;
	padding: 0;
	margin: 0;
	box-shadow: none;

	img {
		width: @o-dropbox-file-preview-size;
		height: @o-dropbox-file-preview-size;
		object-fit: cover;
	}
}


/* Component: `c-field--description` (field with a photo description)
 ========================================================================== */

/* textarea */
.o-dropbox .c-field--description {
	width: 100%;
}


/* State: `is-hover`
 ========================================================================== */

.o-dropbox.is-hover {
	.o-dropbox__target {
		background-color: @o-dropbox-hover-target-background-color;
		border: @o-dropbox-hover-target-border;
		border-radius: @o-dropbox-hover-target-border-radius;
		box-shadow: @o-dropbox-hover-target-box-shadow;
	}
}


/* State: `is-drop`
 ========================================================================== */

.o-dropbox.is-drop {
	.o-dropbox__target {
		background-color: @o-dropbox-drop-target-background-color;
		border: @o-dropbox-drop-target-border;
		border-radius: @o-dropbox-drop-target-border-radius;
		box-shadow: @o-dropbox-drop-target-box-shadow;
	}
}