
@o-dropbox-target-border-color: transparent;
@o-dropbox-target-border-radius: 0;
@o-dropbox-target-border-width: 0;
@o-dropbox-target-background-color: @clr-grey-200;
@o-dropbox-target-box-shadow: @inset-shadow-2dp;

@o-dropbox-target-font-size: @body-font-size;
@o-dropbox-target-after-icon-glyph: '\e174';

@o-dropbox-target-hover-box-shadow: none;

@o-dropbox-target-placeholder-height: @margin-large;

.o-dropbox {
	display: block;
	width: 100%;
}


/* Subobject: `is-hover`
 ========================================================================== */

.o-dropbox__target {
	width: inherit;

	.c-placeholder {
		position: relative;
		display: block;
		width: inherit;
		height: @o-dropbox-target-placeholder-height;

		background-color: @o-dropbox-target-background-color;
		border-color: @o-dropbox-target-border-color;
		border-radius: @o-dropbox-target-border-radius;
		border-width: @o-dropbox-target-border-width;
		box-shadow: @o-dropbox-target-box-shadow;

		font-size: @o-dropbox-target-font-size;

		&::before {
			content: @o-dropbox-target-after-icon-glyph;
			font-size: inherit;
			font-family: 'Iconic';
			display: inline-block;
			speak: none;
			line-height: 1;
			vertical-align: baseline;
			font-weight: normal;
			font-style: normal;
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
		}
	}
}


/* State: `is-hover`
 ========================================================================== */

.o-dropbox__target.is-hover {
	.c-placeholder {
		box-shadow: @o-dropbox-target-hover-box-shadow;
	}
}


//

.o-dropbox__files {

}

	.o-dropbox__file {
		.u-margin-mini;
		display: flex;

		.c-thumbnail--mini {

		}
	}

		.o-dropbox__file__controls {

		}