@import "../variables";

/**
 * Object: Form
 * 
 * Elements: ``
 * 
 * Modifiers: ``
 * 
 ========================================================================== */
 
.o-form { width: 32rem; }
	.o-form-buttons,
	.o-form-row {
		display: block;
		clear: both;
		width: inherit;
		font-size: .001px;
	}
	.o-form-row + .o-form-row { margin-top: @unit; }
	
	.ui-chx-sham,
	.ui-chx-label,
	.ui-field-hint,
	.ui-field,
	.ui-radio-label {
		font-size: 1.6rem;
		-webkit-transition: all .2s cubic-bezier(0.4, 0, 0.2, 1);
		   -moz-transition: all .2s cubic-bezier(0.4, 0, 0.2, 1);
			 -o-transition: all .2s cubic-bezier(0.4, 0, 0.2, 1);
				transition: all .2s cubic-bezier(0.4, 0, 0.2, 1);
	}


/* Subobject's form: `ui-chx`, `ui-chx-label`,
 *					  `ui-radio`, `ui-radio-label`
 ========================================================================== */
 
.ui-chxset,
.ui-radioset {
   cursor: pointer;
   display: inline-block;
   position: relative;
   height: 4.8rem;
   line-height: 3.6rem;
}
.ui-chxset + .ui-chxset,
.ui-chxset + .ui-radioset,
.ui-radioset + .ui-radioset {
	margin-left: 1.6rem;
}
 
.ui-chx,
.ui-radio { display: none; }

.ui-chx-sham,
.ui-radio-sham {
	display: inline-block;
	position: relative;
	vertical-align: bottom;
	box-sizing: border-box;
	
	width: 2rem;
	height: 2rem;
	margin: 0 .8rem;
	border: .2rem solid rgb(97,97,97);
	padding: .1rem;
}
.ui-radio-sham {
	border-radius: 50vh;
	padding: .3rem;
}

.ui-chx:checked + .ui-chx-sham {
	background: url('/svg/icons/check-thin.svg') no-repeat;
	background-size: cover;
	background-origin: content-box;
}
.ui-radio:checked + .ui-radio-sham {
	background: url('/svg/icons/circle.svg') no-repeat;
	background-size: cover;
	background-origin: content-box;
}

.ui-chx-label,
.ui-radio-label {
	vertical-align: bottom;
	line-height: 1.6rem;
}