@import "../settings/variables";

/**
 * Object: Form
 * 
 * Elements: `o-form__title`
 *			 `o-form__row`
 *			 `o-form__buttons`
 *
 * Modifiers: ``
 * 
 ========================================================================== */
 
.o-form { width: 32rem; }


/* Elements: `o-form__buttons`, `o-form__row`
 ========================================================================== */

.o-form__buttons,
.o-form__row {
	display: block;
	width: inherit;
	font-size: .001px;
}

.o-form__row + .o-form__row { margin-top: @unit; }