@import "../settings/variables";

/**
 * Object: Form
 * 
 * Elements: `o-form__title`
 *			 `o-form__row`
 *			 `o-form__buttons`
 *
 * Modifiers: ``
 * 
 ========================================================================== */

// Variables
// ========================================================================

@o-form-max-width: 56.8rem;

@o-form-fieldset-margin-bottom: @space-m;

@o-form-buttons-margin-top: @space-l;

@o-form-row-margin-top: @space-m;
@o-form-row-box-flex: 1 1 25%;
@o-form-row-field-margin-left: @space-s;


@o-form-short-max-width: 28rem;
@o-form-short-buttons-margin-top: @space-m;


/* Object: `o-form`
 ========================================================================== */

.o-form {
	width: 100%;
	max-width: @o-form-max-width;
}

/* Style of the specific elements
 ========================================================================== */

.o-form {
	fieldset {
		margin-bottom: @o-form-fieldset-margin-bottom;
		legend {
			font-size: 1.3rem;
			cursor: default;
			user-select: none;
			padding-bottom: .2rem;
		}
	}
}

/* Sub-object: `o-form__row`
 ========================================================================== */

.o-form__row {
	display: flex;
	justify-content: space-between;
	flex-flow: row nowrap;

	.c-field-box {
		flex: @o-form-row-box-flex;
	}
	.c-field-box + .c-field-box {
		margin-left: @o-form-row-field-margin-left;
	}
}

.o-form__row + .o-form__row {
	margin-top: @o-form-row-margin-top;
}


/* Sub-object: `o-form__buttons`
 ========================================================================== */

.o-form__buttons {
	text-align: right;
}

.o-form__row + .o-form__buttons {
	margin-top: @o-form-buttons-margin-top;
}


/* Style: short form
 ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.s-short {
	&.o-form { max-width: @o-form-short-max-width; }
	.o-form__row + .o-form__buttons {
		margin-top: @o-form-short-buttons-margin-top;
	}
}