@import "../variables";
@import "../mixins";

// Variables of the components
// ========================================================================

@o-panel-background: white;
@o-panel-box-shadow: 0 .2rem .2rem 0 rgba(0,0,0,.14), 0 .3rem .1rem -.2rem rgba(0,0,0,.2), 0 .1rem .5rem 0 rgba(0,0,0,.12);


/* ========================================================================
   Component: Panel
 ========================================================================== */
 
.o-panel {
    display: block;
    position: relative;
	padding: @unit / 2;
	background: @o-panel-background;
	box-shadow: @o-panel-box-shadow;
	box-sizing: border-box;
}

.o-panel::before,
.o-panel::after {
    content: " ";
    display: table;
}

.o-panel::after { clear: both; }

.o-panel + .o-panel {
   margin-top: @unit;
}


/* Element `o-panel-divider`
 ========================================================================== */
 
.o-panel + .o-panel-divider {
	position: relative;
	margin-top: @unit !important;
}

.o-panel + .o-panel-divider::after {
    content: "";
    display: block;
    position: absolute;
    top: -.1rem;
    left: 0;
    right: 0;
    border-top: .1rem solid @clr-grey-800;
}


/* Modifier `o-panel--transparent`
 ========================================================================== */
 
.o-panel--transparent {
	background: transparent;
	box-shadow: none;
}