@import "../settings/variables";
@import "../mixins";

// Variables of the components
// ========================================================================

@o-user-thumbnail-width: @unit * 5;
@o-user-thumbnail-height: @unit * 5;

@o-user-thumbnail-shutter-background-color: fade(@clr-blue-grey-700, 30);

@o-user-thumbnail-mini-width: @unit * 2;
@o-user-thumbnail-mini-height: @unit * 2;
@o-user-thumbnail-small-width: @unit * 3;
@o-user-thumbnail-small-height: @unit * 3;
@o-user-thumbnail-large-width: @unit * 8;
@o-user-thumbnail-large-height: @unit * 8;
@o-user-thumbnail-x-large-width: @unit * 14;
@o-user-thumbnail-x-large-height: @unit * 14;


/* ========================================================================
   Component: Thumbnail (avatar)
 ========================================================================== */

.c-thumbnail.o-user {
	border-radius: 50%;
	width: @o-user-thumbnail-width;
	height: @o-user-thumbnail-height;
	img {
		border-radius: inherit;
		max-width: @o-user-thumbnail-width;
		max-height: @o-user-thumbnail-height;
	}
}


/* Size modifiers of the thumbnail
 ========================================================================== */

.c-thumbnail--mini.o-user {
	width: @o-user-thumbnail-mini-width;
	height: @o-user-thumbnail-mini-height;
	img {
		max-width: @o-user-thumbnail-mini-width;
		max-height: @o-user-thumbnail-mini-height;
	}
}
.c-thumbnail--small.o-user {
	width: @o-user-thumbnail-small-width;
	height: @o-user-thumbnail-small-height;
	img {
		max-width: @o-user-thumbnail-small-width;
		max-height: @o-user-thumbnail-small-height;
	}
}
.c-thumbnail--large.o-user {
	width: @o-user-thumbnail-large-width;
	height: @o-user-thumbnail-large-height;
	img {
		max-width: @o-user-thumbnail-large-width;
		max-height: @o-user-thumbnail-large-height;
	}
}
.c-thumbnail--x-large.o-user {
	width: @o-user-thumbnail-x-large-width;
	height: @o-user-thumbnail-x-large-height;
	img {
		max-width: @o-user-thumbnail-x-large-width;
		max-height: @o-user-thumbnail-x-large-height;
	}
}