.grayscale(@percent:100%) {
	-webkit-filter: grayscale(@percent);
	   -moz-filter: grayscale(@percent);
			filter: grayscale(@percent);
}

.filter-shadow(@x, @y, @size, @color) {
	@svgSize: @size/2;
	filter: url('data:image/svg+xml;utf8,<svg height="100" xmlns="http://www.w3.org/2000/svg"><filter id="drop-shadow"><feGaussianBlur in="SourceAlpha" stdDeviation="@{svgSize}"/><feOffset dx="@{x}" dy="@{y}" result="offsetblur"/><feFlood flood-color="@{color}"/><feComposite in2="offsetblur" operator="in"/><feMerge><feMergeNode/><feMergeNode in="SourceGraphic"/></feMerge></filter></svg>#drop-shadow');
}