
@import "../settings/base.css";

/**
 * Component:       `c-avatar`
 * Description:     User Avatar
 *
 * Modifiers:       `c-avatar--xsmall`
 *                    `c-avatar--small`
 *                    `c-avatar--medium` (size by default)
 *                    `c-avatar--large`
 *                    `c-avatar--xlarge`
 *
 ========================================================================== */

.c-avatar {
    --base-size: calc(5 * var(--unit));

    --size-xs: 2.4rem;
    --size-sm: 4rem;
    --size-md: 8rem;
    --size-lg: 12.8rem;
    --size-xl: 19.2rem;
}

/* ========================================================================
   Component: `c-avatar`
 ========================================================================== */

.c-avatar {
    display: inline-block;
    border-radius: 50%;
    overflow: hidden;

    width: var(--base-size);
    height: var(--base-size);

    font-size: .001px;
    text-align: center;
    vertical-align: middle;

    box-shadow: var(--shadow-2dp);
    background-size: cover;
    user-select: none;

    /* reset default styles figure */
    margin: 0;
}

.c-avatar a,
.c-avatar img {
    display: inline-block;
    width: inherit;
    height: inherit;
}

.c-avatar img {
    object-fit: cover;
}

/* picture on background */
.c-avatar[style*="background"] {
    box-shadow: var(--inset-shadow-2dp);
}


/* Modifiers: `c-avatar--sm`
 ========================================================================== */

.c-avatar--xs {
    --size-xs: 2.4rem;
    --size-sm: 4rem;
    --size-md: 8rem;
    --size-lg: 12.8rem;
    --size-xl: 19.2rem;
}

.c-avatar--xs {
    width: var(--size-xs);
    height: var(--size-xs);
}
.c-avatar--sm {
    width: var(--size-sm);
    height: var(--size-sm);
}
.c-avatar--md {
    width: var(--size-md);
    height: var(--size-md);
}
.c-avatar--lg {
    width: var(--size-lg);
    height: var(--size-lg);
}
.c-avatar--xl {
    width: var(--size-xl);
    height: var(--size-xl);
}


/* Context: `c-panel`
 ========================================================================== */

.c-panel:not(.s-transparent) .c-avatar:not([style*="background"]) {
    box-shadow: none;
}