
@import "../settings/_import.css";

/**
 * Component:   `c-button`
 * Description: Defines styles for buttons
 * 
 * Wrappers: `c-button-group`
 *           `c-button-dropdown`
 *
 * Modifiers: `c-button--link`
 *			  `c-button--icon`
 * 
 * Styles:	`s-bordered`
 *          `s-clean`
 *          `s-danger`
 *          `s-large`
 *			`s-primary`
 *          `s-small`
 *          `s-warning`
 *
 * States: `:active` or `[aria-checked=true]`
 * 
 * Markup:
 * 
 * <!-- c-button-group -->
 * <div class="c-button-group">
 *     <button class="c-button"></button>
 *     <button class="c-button"></button>
 * </div>
 * 
 * <!-- c-button-dropdown -->
 * <div class="c-button-dropdown" data-ui-dropdown>
 *     <button class="c-button"></button>
 *     <ul class="c-dropdown">
 *         <li><a href=""></a></li>
 *     </ul>
 * </div>
 * 
 ========================================================================== */


/* ========================================================================
   Component: `c-button`
 ========================================================================== */
 
.c-button::-moz-focus-inner {
    border: 0;
    padding: 0;
}

.c-button {
	-webkit-appearance: none;
	-moz-appearance: none;

	border: none;
	outline: none;
	text-align: center;
	text-transform: none;
	text-decoration: none;
	text-shadow: 0.1rem 0.1rem rgba(255,255,255,0.3), 0 0.1rem rgba(255,255,255,0.3);

	display: inline-block;
	vertical-align: middle;
	box-sizing: border-box;
	padding: var(--space-sm) var(--space-md);

	cursor: pointer;
	font-family: var(--font-secondary);
	font-size: var(--text-base-size);
	font-weight: 500;
	line-height: 1.45;

	background-color: var(--clr-grey-200);
	border-radius: 0.2rem;
	box-shadow: var(--shadow-2dp);

	transition: var(--link-transition), background-color 0.16s var(--easing);
	user-select: none;
}

.c-button,
.c-button:hover {
	color: var(--text-color);
}

.c-button + .c-button {
    margin-left: var(--space-sm);
}

.c-button > span {
	display: inline-block;
	vertical-align: middle;
}

.c-button > .iconic[data-glyph] {
	margin-right: var(--space-sm);
}
.c-button > .iconic[data-glyph]::before {
    vertical-align: middle;
}


/* State: active
 ========================================================================== */

.c-button:active,
.c-button[aria-checked=true],
.c-panel:not(.s-transparent) .c-button:active,
.c-panel:not(.s-transparent) .c-button[aria-checked=true] {
	box-shadow: inset 0 .1rem .2rem 0 rgba(0,0,0,.14), inset 0 .1rem .5rem 0 rgba(0,0,0,.12);
}


/* State: focus
 ========================================================================== */

.c-button:focus,
.c-panel:not(.s-transparent) .c-button:focus {
	background-color: var(--clr-grey-300);
}


/* Context: button on the panel
 ========================================================================== */

.c-panel:not(.s-transparent) .c-button {
    box-shadow: inset 0.1rem 0.1rem 0 0 rgba(255,255,255,.3), inset -0.1rem -0.1rem 0 0 rgba(0,0,0,.18);
}


/* ========================================================================
   Elements: `c-button__icon` and `c-button__text`
 ========================================================================== */

.c-button__icon,
.c-button__text {
	display: inline-block;
	vertical-align: middle;
	float: left;
}
.c-button__icon {
	line-height: 1.3;
	margin-left: -1rem;
	margin-right: 1.3rem;
}

.c-button__text + .c-button__icon {
	margin-left: 1.3rem;
	margin-right: -1rem;
}


/* Modifier: `c-button--icon`
 ========================================================================== */

.c-button--icon {
	background-image: none;
	box-shadow: none !important;

	padding: var(--space-sm);
	background-color: transparent;
}
.c-button--icon:hover {
    background-color: var(--clr-blue-grey-300);
}
.c-button--icon:focus {
    background-color: var(--clr-grey-300);
}
.c-button--icon:active,
.c-button--icon[aria-checked=true] {
    background-color: var(--clr-grey-300);
}

.c-button--icon.iconic:before,
.c-button.iconic:before {
	position: static;
	line-height: 1.2;
	text-align: center;
	vertical-align: bottom;
	transform-origin: center;
}

.c-button--icon.iconic:empty:before {
	width: 2rem;
	height: 2rem;
}

.c-button--icon + .c-button--icon {
	margin-left: var(--space-sm);
}


/* Button combined with icon
 ========================================================================== */

.c-button.iconic:before {
    margin: 0 1rem 0 -1rem;
}


/* Modifier: `c-button--link`
 ========================================================================== */

.c-button--link {
    padding: var(--space-xs) var(--space-sm);

    background: transparent !important;
    text-decoration: var(--link-text-decoration);
    transition: var(--link-transition);
    box-shadow: none !important;
    color: var(--link-hover-color);
}

.c-button--link .c-button__icon {
    margin-left: -.2rem;
    margin-right: .8rem;
    text-decoration: none;
}

.c-button--link .c-button__text {
    text-decoration: var(--link-text-decoration);
}

.c-button--link .c-button__text + .c-button__icon {
    margin-left: .8rem;
    margin-right: -.2rem;
}

.c-button--link:hover {
    text-decoration: var(--link-hover-text-decoration);
}
.c-button--link:hover .c-button__text {
    text-decoration: var(--link-hover-text-decoration);
}

.c-button--link:active,
.c-button--link:hover,
.c-button--link:focus,
.c-button--link[aria-checked=true],
.c-button--link.c-button--active {
    color: var(--link-hover-color);
}


/* Style: Bordered
 ========================================================================== */

.c-button.s-bordered,
.c-panel:not(.s-transparent) .c-button.s-bordered {
    padding: var(--space-sm) var(--space-md);

    background-color: transparent;
    background-image: none;
    border-color: var(--clr-grey-500);
    border-style: solid;
    border-width: 0.1rem;
    box-shadow: none;

}

.c-button.s-bordered:hover {
    background-color: var(--clr-grey-400);
}
.c-button.s-bordered:focus {
    background-color: var(--clr-grey-400);
}
.c-button.s-bordered:active,
.c-button.s-bordered[aria-checked=true] {
    background-color: var(--clr-blue-grey-400);
}


.c-button.s-bordered .c-button__icon {
    margin-left: -.2rem;
    margin-right: .8rem;
}
.c-button.s-bordered .c-button__text + .c-button__icon {
    margin-left: .8rem;
    margin-right: -.2rem;
}


.c-button.s-bordered.s-danger,
.c-panel:not(.s-transparent) .c-button.s-bordered.s-danger { border-color: var(--danger-color); }
.c-button.s-bordered.s-success,
.c-panel:not(.s-transparent) .c-button.s-bordered.s-success { border-color: var(--success-color); }
.c-button.s-bordered.s-primary,
.c-panel:not(.s-transparent) .c-button.s-bordered.s-primary { border-color: var(--primary-color); }
.c-button.s-bordered.s-warning,
.c-panel:not(.s-transparent) .c-button.s-bordered.s-warning { border-color: var(--warning-color); }


/* Modifiers: `c-button--[xs,sm,md,lg,xl]`
 ========================================================================== */

.c-button {
    --icon-size-lg: 4rem;
    --icon-size-xl: 16rem;
}

.c-button--sm {
    font-size: var(--text-sm);
    line-height: 1.4;
    padding: var(--space-xs) var(--space-sm);
}
.c-button--sm.c-button--icon {
    padding: var(--space-xs);
}
.c-button--sm.c-button--icon + .c-button--sm.c-button--icon {
    margin-left: var(--space-xs);
}

.c-button--lg {
    font-size: var(--text-lg);
    line-height: 1.5;
    padding: var(--space-sm) var(--space-lg);
}
.c-button--lg.c-button--icon {
    padding: var(--space-sm);
}
.c-button--lg.c-button--icon:empty::before {
    width: var(--icon-size-lg);
    height: var(--icon-size-lg);
}
.c-button--lg.c-button--icon::before {
    font-size: 32px;
    font-weight: 500;
}

.c-button--xl.c-button--icon {
    padding: var(--space-sm);
}
.c-button--xl.c-button--icon:empty::before {
    width: var(--icon-size-xl);
    height: var(--icon-size-xl);
}
.c-button--xl.c-button--icon::before {
    font-size: 128px;
    font-weight: 800;
}
.c-button--xl.c-button--icon + .c-button--xl.c-button--icon {
    margin-left: var(--space-md);
}


/* ========================================================================
   Wrapper: `c-button-group`
 ========================================================================== */

.c-button-group {
	display: inline-block;
	vertical-align: middle;
	position: relative;
	font-size: .001px;
	white-space: nowrap;
}

.c-button-group .c-button:not(:first-child) {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;

	border-left: 1px solid var(--clr-grey-200);
}
.c-button-group .c-button:not(:first-child):focus {
    border-left: 1px solid transparent;
}

.c-button-group .c-button:not(:last-child) {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

.c-button-group .c-button + .c-button,
.c-button-group .c-button--icon + .c-button--icon,
.c-button-group .c-button--link + .c-button--link {
    margin-left: 0;
}
