
@import "../settings/_import.css";


/* ========================================================================
   Component: `c-ctrl`
 ========================================================================== */

.c-ctrl {
    display: inline-block;
    min-width: 2.2rem;
    min-height: 2.2rem;
    padding: 0 0.2rem;
    line-height: 2.2rem;
    vertical-align: middle;
	font-size: var(--text-sm);
	text-align: center;
}


/* ========================================================================
   Component: `c-ctrl-sort`
 ========================================================================== */

.c-ctrl-sort {
    font-size: --text-sm;
    line-height: inherit;
    text-decoration: none;

    color: var(--clr-grey-400);
    cursor: pointer;
}

.c-ctrl-sort::after {
    content: '';
    display: inline-block;
    width: 2.2rem;
    vertical-align: middle;
    text-align: center;
    font-family: 'Iconic';
    font-size: 1.3rem;
    font-weight: 400;
    line-height: 1;
    color: transparent;
    transition: color 0.16s var(--easing);
}
.c-ctrl-sort[aria-sort="ascending"]::after {
    content: '\e246';
}
.c-ctrl-sort[aria-sort="descending"]::after {
    content: '\e247';
}

.c-ctrl-sort:hover {
    color: var(--clr-grey-800);
}
.c-ctrl-sort:hover::after {
    color: var(--clr-grey-400);
}

.c-ctrl-sort[aria-selected=true] {
    color: var(--clr-grey-900);
}
.c-ctrl-sort[aria-selected=true]::after {
    color: var(--clr-grey-900);
}


/* ========================================================================
   Wrapper: `c-ctrl-group`
 ========================================================================== */

.c-ctrl-group {
	display: inline-block;
	vertical-align: middle;
	font-size: 0.001px;
	white-space: nowrap;
}

.c-ctrl-group .c-ctrl + .c-ctrl {
	margin-left: var(--space-xs);
}