

/* ========================================================================
   Utility: `u-flex-*`
 ========================================================================== */

.u-flex { display: flex; }
.u-flex-inline { display: inline-flex; }

.u-flex::before,
.u-flex::after,
.u-flex-inline::before,
.u-flex-inline::after { display: none; }


/* Alignment
 ========================================================================== */

.u-flex-left { justify-content: flex-start; }
.u-flex-center { justify-content: center; }
.u-flex-right { justify-content: flex-end; }
.u-flex-between { justify-content: space-between; }
.u-flex-around { justify-content: space-around; }

.u-flex-stretch { align-items: stretch; }
.u-flex-top { align-items: flex-start; }
.u-flex-middle { align-items: center; }
.u-flex-baseline { align-items: baseline; }
.u-flex-bottom { align-items: flex-end; }


/* Direction
 ========================================================================== */

.u-flex-row { flex-direction: row; }
.u-flex-row-reverse { flex-direction: row-reverse; }
.u-flex-column { flex-direction: column; }
.u-flex-column-reverse { flex-direction: column-reverse; }


/* Wrap
 ========================================================================== */

.u-flex-nowrap { flex-wrap: nowrap; }
.u-flex-wrap { flex-wrap: wrap; }
.u-flex-wrap-reverse { flex-wrap: wrap-reverse; }

.u-flex-wrap-stretch { align-content: stretch; }
.u-flex-wrap-top { align-content: flex-start; }
.u-flex-wrap-middle { align-content: center; }
.u-flex-wrap-bottom { align-content: flex-end; }
.u-flex-wrap-between { align-content: space-between; }
.u-flex-wrap-around { align-content: space-around; }


/* Item ordering
 ========================================================================== */

.u-flex-first { order: -1;}
.u-flex-last { order: 99;}


/* Item dimensions
 ========================================================================== */

.u-flex-none { flex: none; }
.u-flex-auto { flex: auto; }
.u-flex-1 { flex: 1; }