
@import "../variables/breakpoints.css";
@import "../variables/palette.css";
@import "../variables/typography.css";

:root {
    --u-text-color: var(--text-color);
    --u-text-muted-color: var(--muted-color);
    --u-text-primary-color: #2d7091;
    --u-text-success-color: var(--success-color);
    --u-text-warning-color: #e28327;
    --u-text-danger-color: #d85030;
}


/* Fonts
 ========================================================================== */
 
.u-font-condensed { font-family: var(--font-family-condensed); }
.u-font-cursive { font-family: var(--font-family-cursive); }
.u-font-monospace { font-family: var(--font-family-monospace); }
.u-font-sans { font-family: var(--font-family-sans); }
.u-font-serif { font-family: var(--font-family-serif); }


/* Size modifiers
 ========================================================================== */

.u-text-default {
    font-size: var(--line-height-default);
    line-height: var(--line-height-default);
}
.u-text-large {
    font-size: var(--font-size-large);
    line-height: var(--line-height-large);
}
.u-text-medium {
    font-size: var(--font-size-medium);
    line-height: var(--line-height-medium);
}
.u-text-small {
    font-size: var(--font-size-small);
    line-height: var(--line-height-small);
}
.u-text-xsmall {
    font-size: var(--font-size-xsmall);
    line-height: var(--line-height-xsmall);
}


/* Weight modifiers
 ========================================================================== */

.u-text-thin { font-weight: 100; }
.u-text-extra-light { font-weight: 200; }
.u-text-light { font-weight: 300; }
.u-text-normal { font-weight: 400; }
.u-text-medium { font-weight: 500; }
.u-text-semi-bold { font-weight: 600; }
.u-text-bold { font-weight: 700; }
.u-text-extra-bold { font-weight: 800; }
.u-text-black { font-weight: 900; }


/* Transform modifiers
 ========================================================================== */

.u-text-uppercase { text-transform: uppercase !important; }
.u-text-capitalize { text-transform: capitalize !important; }
.u-text-lowercase { text-transform: lowercase !important; }


/* Color modifiers
 ========================================================================== */

.u-text-color { color: var(--u-text-color) !important; }
.u-text-muted { color: var(--u-text-muted-color) !important; }
.u-text-primary { color: var(--u-text-primary-color) !important; }
.u-text-success { color: var(--u-text-success-color) !important; }
.u-text-warning { color: var(--u-text-warning-color) !important; }
.u-text-danger { color: var(--u-text-danger-color) !important; }


/* Alignment modifiers
 ========================================================================== */

.u-text-left { text-align: left !important; }
.u-text-right { text-align: right !important; }
.u-text-center { text-align: center !important; }
.u-text-justify { text-align: justify !important; }

.u-text-top { vertical-align: top !important; }
.u-text-middle { vertical-align: middle !important; }
.u-text-bottom { vertical-align: bottom !important; }

/* xdesktop */
@media (--screen-xdesktop) {
    .u-text-center\@xdesktop { text-align: center !important; }
    .u-text-left\@xdesktop { text-align: left !important; }
    .u-text-right\@xdesktop { text-align: right !important; }
}

/* desktop */
@media (--screen-desktop) {
    .u-text-center\@desktop { text-align: center !important; }
    .u-text-left\@desktop { text-align: left !important; }
    .u-text-right\@desktop { text-align: right !important; }
}

/* tablet-landscape */
@media (--screen-tablet-landscape) {
    .u-text-center\@tablet,
    .u-text-center\@tablet-landscape { text-align: center !important; }
    .u-text-left\@tablet,
    .u-text-left\@tablet-landscape { text-align: left !important; }
    .u-text-right\@tablet,
    .u-text-right\@tablet-landscape { text-align: right !important; }
}

/* tablet-portrait */
@media (--screen-tablet-portrait) {
    .u-text-center\@tablet,
    .u-text-center\@tablet-portrait { text-align: center !important; }
    .u-text-left\@tablet,
    .u-text-left\@tablet-portrait { text-align: left !important; }
    .u-text-right\@tablet,
    .u-text-right\@tablet-portrait { text-align: right !important; }
}

/* handset-landscape */
@media (--screen-handset-landscape) {
    .u-text-center\@handset,
    .u-text-center\@handset-landscape { text-align: center !important; }
    .u-text-left\@handset,
    .u-text-left\@handset-landscape { text-align: left !important; }
    .u-text-right\@handset,
    .u-text-right\@handset-landscape { text-align: right !important; }
}

/* handset-portrait */
@media (--screen-handset-portrait) {
    .u-text-center\@handset,
    .u-text-center\@handset-portrait { text-align: center !important; }
    .u-text-left\@handset,
    .u-text-left\@handset-portrait { text-align: left !important; }
    .u-text-right\@handset,
    .u-text-right\@handset-portrait { text-align: right !important; }
}


/* Wrap modifiers
 ========================================================================== */

.u-text-nowrap {
    white-space: nowrap;
}
.u-text-truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.u-text-break {
    word-wrap: break-word;
    hyphens: auto;
}