
/**
 * Color library of a IBM Design Language
 * https://www.ibm.com/design/language/resources/color-library
 ========================================================================== */

@clrs-blue-list: #e1ebf7, #c8daf4, #a8c0f3, #79a6f6, #5392ff, #2d74da, #1f57a4, #25467a, #1d3458, #19273c;
@clrs-light-blue-list: #deedf7, #c2dbf4, #95c4f3, #56acf2, #009bef, #047cc0, #175d8d, #1c496d, #1d364d, #1b2834;
@clrs-cyan-list: #d1f0f7, #a0e3f0, #71cddd, #00b6cb, #12a3b4, #188291, #17616b, #164d56, #13393e, #122a2e;
@clrs-teal-list: #c0f5e8, #8ee9d4, #40d5bb, #00baa1, #00a78f, #008673, #006456, #124f44, #133a32, #122b26;
@clrs-green-list: #cef3d1, #89eda0, #57d785, #34bc6e, #00aa5e, #00884b, #116639, #12512e, #123b22, #112c1b;
@clrs-lime-list: #d7f4bd, #b4e876, #95d13c, #81b532, #73a22c, #5b8121, #426200, #374c1a, #283912, #1f2a10;
@clrs-yellow-list: #fbeaae, #fed500, #e3bc13, #c6a21a, #b3901f,  #91721f, #70541b, #5b421a, #452f18, #372118;
@clrs-amber-list: #f5e8db, #ffd191, #ffb000, #e39d14, #c4881c, #9c6d1e, #74521b, #5b421c, #42301b, #2f261c;
@clrs-orange-list: #f5e8de, #fdcfad, #fcaf6d, #fe8500, #db7c00, #ad6418, #814b19, #653d1b, #482e1a, #33241c;
@clrs-deep-orange-list: #f7e7e2, #f8d0c3, #faad96, #fc835c, #fe6100, #c45433, #993a1d, #782f1c, #56251a, #3a201b;
@clrs-red-list: #f7e6e6, #fccec7, #ffaa9d, #ff806c, #ff5c49, #e62325, #aa231f, #83231e, #5c1f1b, #3e1d1b;
@clrs-pink-list: #f5e7eb, #f5cedb, #f7aac3, #f87eac, #ff509e, #dc267f, #a91560, #831b4c, #5d1a38, #401a29;
@clrs-purple-list: #f7e4fb, #efcef3, #e4adea, #d68adf, #cb71d7, #c22dd5, #9320a2, #71237c, #501e58, #3b1a40;
@clrs-deep-purple-list: #ece8f5, #e2d2f4, #d2b5f0, #bf93eb, #b07ce8, #9753e1, #7732bb, #602797, #44216a, #321c4c;
@clrs-indigo-list: #e9e8ff, #dcd4f7, #c7b6f7, #ae97f4, #9b82f3, #785ef0, #5a3ec8, #473793, #352969, #272149;
@clrs-grey-list: #eaeaea, #d8d8d8, #c0bfc0, #a6a5a6, #949394, #777677, #595859, #464646, #343334, #272727;


/**
 * Google Materials palette
 ========================================================================== */

@clrs-light-green-list: #F1F8E9, #DCEDC8, #C5E1A5, #AED581, #9CCC65, #8BC34A, #7CB342, #689F38, #558B2F, #33691E;
@clrs-brown-list: #EFEBE9, #D7CCC8, #BCAAA4, #A1887F, #8D6E63, #795548, #6D4C41, #5D4037, #4E342E, #3E2723;
@clrs-blue-grey-list: #ECEFF1, #CFD8DC, #B0BEC5, #90A4AE, #78909C, #607D8B, #546E7A, #455A64, #37474F, #263238;


/**
 * Additional colors of a IBM Design Language
 ========================================================================== */

@clrs-ultramarine-list: #e7e9f7, #d1d7f4, #b0bef3, #89a2f6, #648fff, #3c6df0, #3151b7, #2e3f8f, #252e6a, #20214f;
@clr-ultramarine-50: extract(@clrs-ultramarine-list, 1);
@clr-ultramarine-100: extract(@clrs-ultramarine-list, 2);
@clr-ultramarine-200: extract(@clrs-ultramarine-list, 3);
@clr-ultramarine-300: extract(@clrs-ultramarine-list, 4);
@clr-ultramarine-400: extract(@clrs-ultramarine-list, 5);
@clr-ultramarine-500: extract(@clrs-ultramarine-list, 6);
@clr-ultramarine-600: extract(@clrs-ultramarine-list, 7);
@clr-ultramarine-700: extract(@clrs-ultramarine-list, 8);
@clr-ultramarine-800: extract(@clrs-ultramarine-list, 9);
@clr-ultramarine-900: extract(@clrs-ultramarine-list, 10);

@clrs-cool-grey-list: #e3ecec, #d0dada, #b8c1c1, #9fa7a7, #8c9696, #6f7878, #535a5a, #424747, #343334, #272727;
@clrs-cool-grey-50: extract(@clrs-cool-grey-list, 1);
@clrs-cool-grey-100: extract(@clrs-cool-grey-list, 2);
@clrs-cool-grey-200: extract(@clrs-cool-grey-list, 3);
@clrs-cool-grey-300: extract(@clrs-cool-grey-list, 4);
@clrs-cool-grey-400: extract(@clrs-cool-grey-list, 5);
@clrs-cool-grey-500: extract(@clrs-cool-grey-list, 6);
@clrs-cool-grey-600: extract(@clrs-cool-grey-list, 7);
@clrs-cool-grey-700: extract(@clrs-cool-grey-list, 8);
@clrs-cool-grey-800: extract(@clrs-cool-grey-list, 9);
@clrs-cool-grey-900: extract(@clrs-cool-grey-list, 10);

@clrs-warm-grey-list: #efe9e9, #e2d5d5, #ccbcbc, #b4a1a1, #9e9191, #7d7373, #5f5757, #4b4545, #373232, #2a2626;
@clr-warm-grey-50: extract(@clrs-warm-grey-list, 1);
@clr-warm-grey-100: extract(@clrs-warm-grey-list, 2);
@clr-warm-grey-200: extract(@clrs-warm-grey-list, 3);
@clr-warm-grey-300: extract(@clrs-warm-grey-list, 4);
@clr-warm-grey-400: extract(@clrs-warm-grey-list, 5);
@clr-warm-grey-500: extract(@clrs-warm-grey-list, 6);
@clr-warm-grey-600: extract(@clrs-warm-grey-list, 7);
@clr-warm-grey-700: extract(@clrs-warm-grey-list, 8);
@clr-warm-grey-800: extract(@clrs-warm-grey-list, 9);
@clr-warm-grey-900: extract(@clrs-warm-grey-list, 10);

@clrs-neutral-white-list: #fcfcfc, #f9f9f9, #f6f6f6, #f3f3f3;
@clr-neutral-white-100: extract(@clrs-neutral-white-list, 1);
@clr-neutral-white-200: extract(@clrs-neutral-white-list, 2);
@clr-neutral-white-300: extract(@clrs-neutral-white-list, 3);
@clr-neutral-white-400: extract(@clrs-neutral-white-list, 4);

@clrs-cool-white-list: #fbfcfc, #f8fafa, #f4f7f7, #f0f4f4;
@clr-cool-white-100: extract(@clrs-cool-white-list, 2);
@clr-cool-white-200: extract(@clrs-cool-white-list, 3);
@clr-cool-white-300: extract(@clrs-cool-white-list, 4);
@clr-cool-white-400: extract(@clrs-cool-white-list, 5);

@clrs-warm-white-list: #fdfcfc, #fbf8f8, #f9f6f6, #f6f3f3;
@clrs-warm-white-100: extract(@clrs-warm-white-list, 2);
@clrs-warm-white-200: extract(@clrs-warm-white-list, 3);
@clrs-warm-white-300: extract(@clrs-warm-white-list, 4);
@clrs-warm-white-400: extract(@clrs-warm-white-list, 5);