
/* Palette of a Tailwind CSS framework (https://tailwindcss.com/)
 ========================================================================== */

@clrs-red-list: #FCEBEA, #FCEBEA, #F9ACAA, #EF5753, #EF5753, #E3342F, #CC1F1A, #6A1B19, #420806, #420806;
@clrs-pink-list: #FFEBEF, #FFEBEF, #FFBBCA, #FA7EA8, #FA7EA8, #F66D9B, #EB5286, #72173A, #45051E, #45051E;
@clrs-purple-list: #F3EBFF, #F3EBFF, #D6BBFC, #D6BBFC, #A779E9, #9561E2, #794ACF, #352465, #1F133F, #1F133F;
@clrs-deep-purple-list: @clrs-purple-list;
@clrs-indigo-list: #E6E8FF, #E6E8FF, #B2B7FF, #7886D7, #7886D7, #6574CD, #5661B3, #2F365F, #191E38, #191E38;
@clrs-blue-list: #EFF8FF, #EFF8FF, #BCDEFA, #6CB2EB, #6CB2EB, #3490DC, #2779BD, #103D60, #05233B, #05233B;
@clrs-light-blue-list: @clrs-blue-list;
@clrs-teal-list: #E8FFFE, #E8FFFE, #A0F0ED, #64D5CA, #64D5CA, #4DC0B5, #38A89D, #174E4B, #0D3331, #0D3331;
@clrs-green-list: #E3FCEC, #E3FCEC, #A2F5BF, #51D88A, #51D88A, #38C172, #1F9D55, #1F9D55, #0B4228, #032D19;
@clrs-light-green-list: @clrs-green-list;
@clrs-yellow-list: #FCFBEB, #FFF9C2, #FFF9C2, #FFF382, #FFF382, #FFED4A, #F2D024, #684F1D, #453411, #453411;
@clrs-amber-list: @clrs-orange-list;
@clrs-orange-list: #FFF5EB, #FFF5EB, #FCD9B6, #FCD9B6, #FAAD63, #F6993F, #DE751F, #7F4012, #542605, #542605;
@clrs-deep-orange-list: @clrs-red-list;
@clrs-blue-grey-list: #FAFCFC, #FAFCFC, #F3F7F9, #DAE4E9, #DAE4E9, #9BABB4, #70818A, #596A73, #364349, #222B2F;



// Google Materials palette
@clrs-cyan-list: #E0F7FA, #B2EBF2, #80DEEA, #4DD0E1, #26C6DA, #00BCD4, #00ACC1, #0097A7, #00838F, #006064;
@clrs-lime-list: #F9FBE7, #F0F4C3, #E6EE9C, #DCE775, #D4E157, #CDDC39, #C0CA33, #AFB42B, #9E9D24, #827717;
@clrs-brown-list: #EFEBE9, #D7CCC8, #BCAAA4, #A1887F, #8D6E63, #795548, #6D4C41, #5D4037, #4E342E, #3E2723;
@clrs-grey-list: #FAFAFA, #F5F5F5, #EEEEEE, #E0E0E0, #BDBDBD, #9E9E9E, #757575, #616161, #424242, #212121;