

/* ========================================================================
   Layered box-shadows
 ========================================================================== */

.s-shadow-sharp {
	box-shadow: var(--shadow-sharp);
}
  
.s-shadow-diffuse {
	box-shadow: var(--shadow-diffuse);
}
  
.s-shadow-dreamy {
	box-shadow: var(--shadow-dreamy);
}

.s-shadow-shorter {
	box-shadow: var(--shadow-shorter);
}
  
.s-shadow-longer {
	box-shadow: var(--shadow-longer);
}


/* ========================================================================
   Google Material Design Shadow
 ========================================================================== */

.s-shadow {
	box-shadow: var(--shadow);
}

.s-shadow-2dp {
	box-shadow: var(--shadow-2dp);
}

.s-shadow-3dp {
	box-shadow: var(--shadow-3dp);
}

.s-shadow-4dp {
	box-shadow: var(--shadow-4dp);
}

.s-shadow-6dp {
	box-shadow: var(--shadow-6dp);
}

.s-shadow-8dp {
	box-shadow: var(--shadow-8dp);
}

.s-shadow-16dp {
	box-shadow: var(--shadow-16dp);
}

.s-shadow-24dp {
	box-shadow: var(--shadow-24dp);
}
