<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=2, minimal-ui">
        
        <title>Protosite.UiKit</title>
        <meta name="author" content="Boris Panchenko, hello@boryan.one">
        <meta name="copyright" content="">
        <meta name="description" content="">
        <meta name="keywords" content="">
        <meta name="theme-color" content="#e0e0e0">

        <link rel="prefetch" href="../index.html">
        <link rel="prerender" href="../index.html">

    	<link href="../favicon.ico" rel="shortcut icon" type="image/x-icon">
        <link rel="apple-touch-startup-image" href="/_res/img/icons/ios/startup.png">
        <link rel="apple-touch-icon" href="/_res/img/icons/ios/touch-icon-iphone.152x152.png">

        <link rel="stylesheet/less" type="text/css" href="../css/core.less">
        <script src="//cdnjs.cloudflare.com/ajax/libs/less.js/2.7.1/less.min.js" data-env="development"></script>

    </head>
    <body>
        <div class="o-container">
            <header role="banner">
                <div class="u-float-right">
                    <a href="https://github.com/BPanchenko/protosite.uikit/blob/master/components/buttons.html" target="_blank">
                        <span class="iconic" data-glyph="social-github"></span>
                    </a>
                </div>
                <hgroup>
                    <h1>Protosite.UiKit</h1>
                </hgroup>
            </header>

            <nav class="o-breadcrumb">
                <span class="o-breadcrumb__item">
                    <a href="/" class="">Главная</a>
                </span>
                <span class="o-breadcrumb__item">Компоненты</span>
                <span class="o-breadcrumb__item is-current">Кнопка</span>
            </nav>

            <main role="main">

                <div class="o-grid">
                    <div class="o-grid__cell u-width-1-2 u-width-1-1@tablet-portrait">
                        <section class="c-panel">
                            <div class="c-panel__body u-margin-large-top u-margin-large-bottom u-text-center">
                                <button type="button" class="c-button">Кнопка</button>
                            </div>
                        </section>
                    </div>
                    <div class="o-grid__cell u-width-1-2 u-width-1-1@tablet-portrait">
                        <section class="c-panel s-transparent">
                            <div class="c-panel__body u-margin-large-top u-margin-large-bottom u-text-center">
                                <button type="button" class="c-button">Кнопка</button>
                            </div>
                        </section>
                    </div>
                </div>

                <article class="o-article u-margin">
                    <p class="o-article-lead">
                        Кнопка - это компонент пользовательского интерфейса реализующий гипертекстовый механизм взаимодействия с пользователем.<br>
                    </p>
                    <p>
                        В отличии от ссылки реакция на действие пользователя приводит к изменению содержимого блока или страницы приложения.<br>
                        Исключением может являться только лишь кнопка как ссылка, о чем даёт понять её модификатор.
                    </p>
                    <p>
                        В пассивном состоянии поведение кнопки зависит от контекста: по умолчанию кнопка приподнята над базовой поверхностью приложения, но на панели её поверхность совпадает с поверхностью контекста.
                        <br>
                        При нажатии кнопка уходит внутрь поверхности контекста.
                    </p>
                </article>

                <section class="c-panel">
                    <div class="c-panel__head">
                        <h3>Цветовое кодирование кнопок</h3>
                    </div>
                    <div class="c-panel__body">

                        <button type="button" class="c-button c-button--primary">
                            <span class="c-button__icon">
                                <i class="iconic" data-glyph="arrow-right-angle-top-right-fill-acute"></i>
                            </span>
                            <span class="c-button__text">Главная</span>
                        </button>

                        <button type="button" class="c-button c-button--danger">
                            <span class="c-button__icon">
                                <i class="iconic" data-glyph="ban"></i>
                            </span>
                            <span class="c-button__text">Опасная</span>
                        </button>

                        <button type="button" class="c-button c-button--warning">
                            <span class="c-button__icon">
                                <i class="iconic" data-glyph="warning"></i>
                            </span>
                            <span class="c-button__text">Важная</span>
                        </button>

                        <button type="button" class="c-button c-button--success">
                            <span class="c-button__icon">
                                <i class="iconic" data-glyph="check-thin"></i>
                            </span>
                            <span class="c-button__text">Успешная</span>
                        </button>

                        <button type="button" class="c-button c-button--link">
                            <span class="c-button__text">Ссылка</span>
                            <span class="c-button__icon">
                                <i class="iconic" data-glyph="external-link"></i>
                            </span>
                        </button>

                    </div>
                </section>


                <div class="o-grid u-margin-large-top">
                    <div class="o-grid__cell u-width-1-2 u-width-1-1@tablet">
                        <section class="c-panel">
                            <div class="c-panel__head">
                                <h3>Размеры</h3>
                            </div>
                            <div class="c-panel__body">
                                <button type="button" class="c-button s-large">Крупная</button>
                                <button type="button" class="c-button">Средняя</button>
                                <button type="button" class="c-button s-small">Маленькая</button>
                            </div>
                        </section>
                    </div>
                    <div class="o-grid__cell u-width-1-2 u-width-2-3@tablet u-width-1-1@handset">
                        <section class="c-panel">
                            <div class="c-panel__head">
                                <h3>Группа кнопок</h3>
                            </div>
                            <div class="c-panel__body">

                                <div class="c-button-group">
                                    <button type="button" class="c-button">Кнопка</button>
                                    <button type="button" class="c-button">Кнопка</button>
                                    <button type="button" class="c-button">Кнопка</button>
                                </div>

                            </div>
                        </section>
                    </div>
                </div>

            </main>

            <footer role="contentinfo" class="u-margin-large-top">
                <hr>
                <div class="u-float-right">
                    <h4 class="u-font-cursive">&copy; <a href="http://bpanchenko.ru" class="s-floating u-text-color">Boris Panchenko</a>, 2015&mdash;2017</h4>
                </div>
            </footer>
        </div>
        <script src="../js/counter.js"></script>
    </body>
</html>
