@import "../settings/space.css";
@import "../settings/typography.css";


/* ========================================================================
   Component: `c-ctrl`
 ========================================================================== */

.c-ctrl {
	display: inline-block;
	min-width: 2.2rem;
	min-height: 2.2rem;
	padding: 0 0.2rem;
	line-height: 2.2rem;
	vertical-align: middle;
	font-size: inherit;
	text-align: center;
}


/* ========================================================================
   Wrapper: `c-ctrl-group`
 ========================================================================== */

.c-ctrl-group {
	display: inline-block;
	vertical-align: middle;
	font-size: 0.001px;
	white-space: nowrap;
}

.c-ctrl-group .c-ctrl {
	font-size: var(--text-sm);
}

.c-ctrl-group .c-ctrl + .c-ctrl {
	margin-left: var(--space-xs);
}


/* ========================================================================
   Component: `c-ctrl-sort`
 ========================================================================== */

.c-ctrl-sort {
	font-size: inherit;
	line-height: inherit;
	text-decoration: none;
	cursor: pointer;
}

.c-ctrl-sort::after {
	content: '';
	display: inline-block;
	width: 2.2rem;
	vertical-align: middle;
	text-align: center;
	font-family: 'Iconic';
	font-size: 1.3rem;
	font-weight: 400;
	line-height: 1;
	color: inherit;
}
.c-ctrl-sort[aria-sort="ascending"]::after {
	content: '\e246';
}
.c-ctrl-sort[aria-sort="descending"]::after {
	content: '\e247';
}


/* ========================================================================
   Component: `c-ctrl-popover`
 ========================================================================== */

.c-ctrl-popover {
	display: inline-block;
	text-decoration: none;
}

.c-ctrl-popover::after {
	content: ' ';
	display: block;
	position: relative;
	top: -0.1em;
	border-bottom: 0.1rem dashed currentColor;
}
