<!DOCTYPE html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=2, minimal-ui">

        <title>Protosite.UiKit</title>
        <meta name="author" content="Boris Panchenko, bp@bp-studio.ru">
        <meta name="copyright" content="">
        <meta name="description" content="">
        <meta name="keywords" content="">

        <link rel="prefetch" href="/index.html">
        <link rel="prerender" href="/index.html">

        <link href="/favicon.ico" rel="shortcut icon" type="image/x-icon">
        <link rel="apple-touch-startup-image" href="/_res/img/icons/ios/startup.png">
        <link rel="apple-touch-icon" href="/_res/img/icons/ios/touch-icon-iphone.152x152.png">

        <link rel="stylesheet/less" type="text/css" href="/css/core.less">
        <script src="//cdnjs.cloudflare.com/ajax/libs/less.js/2.7.1/less.min.js" data-env="development"></script>

        <script src="/dist/ui-libs.js"></script>
        <script src="/dist/ui-core.js"></script>
        <script src="/js/ui/components/dialog.js"></script>
    </head>
    <body>
        <div class="o-container">
            <header role="banner">
                <div class="u-float-right">
                    <a href="https://github.com/BPanchenko/protosite.uikit/blob/master/components/tooltip.html" target="_blank">
                        <span class="iconic" data-glyph="social-github"></span>
                    </a>
                </div>
                <hgroup>
                    <h1>Protosite.UiKit</h1>
                </hgroup>
            </header>

            <nav class="o-breadcrumb">
                            <span class="o-breadcrumb__item">
                                <a href="/" class="">Главная</a>
                            </span>
                <span class="o-breadcrumb__item">Компоненты</span>
                <span class="o-breadcrumb__item is-current">Окно диалога с пользователем</span>
            </nav>

            <main role="main">
                <div class="o-grid">
                    <div class="o-grid__cell u-width-2-3 u-width-1-1@tablet-portrait">
                        <section class="c-panel s-bg-ps_neutral">
                            <div class="c-panel__head">
                                <h3>Внешний вид</h3>
                            </div>
                            <div class="c-panel__body [ u-margin-large-top u-margin-large-bottom u-text-center ]">
                                <section class="c-dialog is-opened" style="width: 50rem; position: relative; transform: translate(-50%, 0); z-index: 10;">
                                    <header class="c-dialog__header">
                                        <h3>Заголовок диалога</h3>
                                    </header>
                                    <div class="c-dialog__body-viewport">
                                        <div class="c-dialog__body">
                                            Содержимое диалогового окна
                                        </div>
                                    </div>
                                    <div class="c-dialog__buttons">
                                        <a href="" class="c-button">нет</a>
                                        <a href="" class="c-button">да</a>
                                    </div>
                                    <footer class="c-dialog__footnote"></footer>
                                </section>
                            </div>
                        </section>
                    </div>
                    <div class="o-grid__cell u-width-1-3 u-width-1-1@tablet-portrait">
                        <section class="c-panel">
                            <div class="c-panel__head">
                                <h3>Поведение</h3>
                            </div>
                            <div class="c-panel__body">
                                <a href="#" ui-dialog="{ tpl: '.js-tpl-dialog' }">активный элемент</a>
                            </div>
                        </section>
                    </div>
                </div>

            </main>

            <footer role="contentinfo" class="u-margin-large-top">
                <hr>
                <div class="u-float-right">
                    <h4 class="u-font-cursive">&copy; <a href="http://www.bp-studio.ru" class="u-text-color">Boris Panchenko</a>, 2015&mdash;2016</h4>
                </div>
            </footer>
        </div>

        <template class="js-tpl-dialog">
            <header class="c-dialog__header">
                <h3>Прецизионный гироинтегратор: основные моменты</h3>
            </header>
            <div class="c-dialog__body-viewport">
                <div class="c-dialog__body">
                    Угол курса искажает стабилизатор.
                    Механическая система перманентно трансформирует гироскопический прибор, что неправильно при большой интенсивности диссипативных сил.
                    Исходя из уравнения Эйлера, гироскопический стабилизатоор участвует в погрешности определения курса меньше,
                    чем апериодический прибор с учётом интеграла собственного кинетического момента ротора.
                </div>
            </div>
            <div class="c-dialog__buttons">
                <a href="#" class="c-button js-ctrl-close">нет</a>
                <a href="#" class="c-button js-ctrl-close">да</a>
            </div>
        </template>
    </body>
</html>
