<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=2, minimal-ui">

        <title>Protosite.UiKit</title>
        <meta name="author" content="Boris Panchenko, hello@boryan.one">
        <meta name="copyright" content="">
        <meta name="description" content="">
        <meta name="keywords" content="">
        <meta name="theme-color" content="#e0e0e0">

        <link rel="prefetch" href="../index.html">
        <link rel="prerender" href="../index.html">

        <link href="../favicon.ico" rel="shortcut icon" type="image/x-icon">
        <link rel="apple-touch-startup-image" href="/_res/img/icons/ios/startup.png">
        <link rel="apple-touch-icon" href="/_res/img/icons/ios/touch-icon-iphone.152x152.png">

        <link rel="stylesheet/less" type="text/css" href="../src/less/core.less">
        <script src="//cdnjs.cloudflare.com/ajax/libs/less.js/2.7.1/less.min.js" data-env="development"></script>

        <script src="../dist/ui-core.js"></script>
    </head>
    <body>
        <div class="o-container">
            <header role="banner">
                <div class="u-float-right">
                    <a href="https://github.com/BPanchenko/protosite.uikit/blob/master/components/field.html" target="_blank">
                        <span class="iconic" data-glyph="social-github"></span>
                    </a>
                </div>
                <h1>Protosite.UiKit</h1>
            </header>

            <nav class="o-breadcrumb">
                <span class="o-breadcrumb__item">
                    <a href="/" class="">Главная</a>
                </span>
                <span class="o-breadcrumb__item">Компоненты</span>
                <span class="o-breadcrumb__item is-current">Поле ввода данных</span>
            </nav>

            <main role="main">

                <div class="o-grid">
                    <div class="o-grid__cell u-width-1-3 u-width-1-2@tablet u-width-1-1@handset">
                        <section class="c-panel">
                            <div class="c-panel__head">
                                <h4>Простые поля ввода</h4>
                            </div>
                            <div class="c-panel__body">
                                <label class="c-field-box">
                                    <span class="c-field-label">Текст</span>
                                    <input type="text" name="text" class="c-field" role="textbox">
                                </label>

                                <label class="c-field-box u-margin-top">
                                    <span class="c-field-label">Список</span>
                                    <select name="type" class="c-field">
                                        <option value="0"></option>
                                        <option value="1">Competitive</option>
                                        <option value="1">Cascade-forward backprop</option>
                                        <option value="1">Elman backprop</option>
                                        <option value="1">Feed-forward backprop</option>
                                        <option value="1">Time delay backprop</option>
                                        <option value="1">Generalized regression</option>
                                        <option value="1">Hopfield</option>
                                        <option value="1">Linear layer (design)</option>
                                        <option value="1">Linear layer (train)</option>
                                        <option value="1">LVQ</option>
                                        <option value="1">Perceptron</option>
                                        <option value="1">Probabalistic</option>
                                        <option value="1">Radial basis (exact fit)</option>
                                        <option value="1">Radial basis (fewer neurons)</option>
                                        <option value="1">Self-organizing map</option>
                                    </select>
                                </label>

                                <label class="c-field-box u-margin-top">
                                    <span class="c-field-label">Многострочный текст</span>
                                    <textarea name="text" class="c-field" role="textbox"></textarea>
                                </label>

                                <form class="o-form u-margin-top">
                                    <fieldset>
                                        <legend>Переключатель</legend>
                                        <label>
                                            <input type="radio" class="c-field" name="radiobutton" checked>
                                            <span class="c-field-label">Кофе</span>
                                        </label>
                                        <label>
                                            <input type="radio" class="c-field" name="radiobutton">
                                            <span class="c-field-label">Чай</span>
                                        </label>
                                        <label>
                                            <input type="radio" class="c-field" name="radiobutton">
                                            <span class="c-field-label">Пиво</span>
                                        </label>
                                    </fieldset>
                                    <label>
                                        <input type="checkbox" class="c-field" name="checkbox" checked>
                                        <span class="c-field-label">Флажок</span>
                                    </label>
                                </form>

                            </div>
                        </section>
                    </div>
                    <div class="o-grid__cell u-width-1-3 u-width-1-2@tablet u-width-1-1@handset">
                        <section class="c-panel">
                            <div class="c-panel__head">
                                <h4>Специфичные поля</h4>
                            </div>
                            <div class="c-panel__body">
                                <label class="c-field-box">
                                    <span class="c-field-label">Номер</span>
                                    <input type="text" class="c-field" pattern="^-?\d+\.?\d*$" role="textbox">
                                    <span class="c-field-error">Ошибка ввода</span>
                                </label>

                                <label class="c-field-box u-margin-top">
                                    <span class="c-field-label">Пароль</span>
                                    <input type="password" name="password" class="c-field" pattern="^\w{6,20}$" role="textbox">
                                    <button type="button" class="c-field-button">
                                        <span class="iconic" data-glyph="eye-closed"></span>
                                    </button>
                                    <span class="c-field-error">Пароль не соответствует требованиям</span>
                                    <span class="c-field-info c-popover-holder" ui-popover="{ content: 'Пароль должен иметь длинну от 6 до 20 символов,<br>состоять из букв латинского алфавита или цифр.', position: 'bottom-left' }">Требования безопасности к паролю</span>
                                </label>

                                <label class="c-field-box u-margin-large-top">
                                    <span class="c-field-icon">
                                        <i class="iconic" data-glyph="envelope-closed"></i>
                                    </span>
                                    <input type="email" class="c-field" role="textbox" placeholder="Адрес вашей электронной почты">
                                    <span class="c-field-error">Некорректный e-mail</span>
                                </label>

                                <label class="c-field-box u-margin-top">
                                    <span class="c-field-label">Прикрепить файл</span>
                                    <span class="c-field-icon">
                                        <i class="iconic" data-glyph="data-transfer-download"></i>
                                    </span>
                                    <input type="file" class="c-field" multiple>
                                    <input type="text" name="file_fake" class="c-field js-field-fake" role="textbox">
                                </label>

                                <label class="c-field-box u-margin-large-top">
                                    <input type="search" name="q" class="c-field" role="textbox" placeholder="Введите поисковый запрос">
                                    <span class="c-field-error">Не указан поисковый запрос</span>
                                    <button type="submit" class="c-field-button">
                                        <i class="iconic" data-glyph="loupe"></i>
                                    </button>
                                </label>

                            </div>
                        </section>
                    </div>
                    <div class="o-grid__cell u-width-1-3 u-width-1-2@tablet u-width-1-1@handset">
                        <section class="c-panel s-transparent">
                            <div class="c-panel__head">
                                <h4>Стилизация</h4>
                            </div>
                            <div class="c-panel__body">
                                <label class="c-field-box s-floating">
                                    <span class="c-field-label">Плавающая метка</span>
                                    <input type="text" name="text" class="c-field" role="textbox">
                                </label>

                                <label class="c-field-box u-margin-top">
                                    <span class="c-field-label">Заблокированное поле ввода</span>
                                    <input type="text" name="text" class="c-field" disabled role="textbox">
                                </label>

                            </div>
                        </section>
                    </div>
                </div>

            </main>

            <footer role="contentinfo" class="u-margin-large-top">
                <hr>
                <div class="u-float-right">
                    <span class="u-font-cursive u-text-large">&copy; <a href="http://bpanchenko.ru" class="s-floating u-text-color">Boris Panchenko</a>, 2015&mdash;2017</span>
                </div>
            </footer>
        </div>

    </body>
</html>
