@import "../settings/colors.css";
@import "../settings/shadow.css";
@import "../settings/space.css";

/**
 * Component:	Panel
 * Description: Reusable content areas.
 *
 * Elements:	`c-panel__head`
 *				`c-panel__toolbar`
 *
 ========================================================================== */

:root {
	--c-panel-padding-left: var(--space-md);
	--c-panel-padding-right: var(--space-md);
	--c-panel-head-padding-top: var(--space-md);
	--c-panel-head-padding-bottom: var(--space-sm);
	--c-panel-body-padding-top: var(--space-md);
	--c-panel-body-padding-bottom: var(--space-md);

	--c-panel-border-radius: 0.2rem;
}


/* ========================================================================
   Component: Panel
 ========================================================================== */
 
.c-panel {
	contain: layout style;
	display: block;
	position: relative;
	background-color: var(--clr-white);
	border-radius: var(--c-panel-border-radius);
	box-shadow: var(--shadow-2dp);
	box-sizing: border-box;
}

.c-panel::before,
.c-panel::after {
	content: "";
	display: table;
	clear: both;
}

.c-panel:not([aria-hidden=true]) + .c-panel {
   margin-top: var(--space);
}


/* Subcomponent: `c-panel-divider`
 ========================================================================== */
 
.c-panel + .c-panel-divider {
	position: relative;
	margin-top: var(--space-md);
}

.c-panel + .c-panel-divider::after {
	content: "";
	display: block;
	position: absolute;
	top: -0.1rem;
	left: 0;
	right: 0;
	border-top: 0.1rem solid var(--clr-grey-800);
}


/* Element: `c-panel__head`
 ========================================================================== */

.c-panel__head {
	position: relative;
	padding: var(--c-panel-head-padding-top)
			 var(--c-panel-padding-right)
			 var(--c-panel-head-padding-bottom)
			 var(--c-panel-padding-left);

	border-top-left-radius: var(--c-panel-border-radius);
	border-top-right-radius: var(--c-panel-border-radius);
}

.c-panel__head h1,
.c-panel__head h2,
.c-panel__head h3,
.c-panel__head h4,
.c-panel__head h5,
.c-panel__head h6 {
	margin-top: 0;
	margin-bottom: 0;
}

.c-panel__head .c-panel__toolbar {
	display: inline-block;
	float: right;
	vertical-align: middle;
}


/* Element: `c-panel__body`
 ========================================================================== */

.c-panel__body {
	position: relative;
	padding: var(--c-panel-body-padding-top)
			 var(--c-panel-padding-right)
			 var(--c-panel-body-padding-bottom)
			 var(--c-panel-padding-left);
}

.c-panel__body::before,
.c-panel__body::after {
	content: "";
	display: table;
	clear: both;
}

.c-panel__head + .c-panel__body::before {
	content: ' ';
	display: block;
	position: absolute;
	top: 0;
	left: calc(var(--c-panel-padding-left) - var(--space-sm));
	right: calc(var(--c-panel-padding-right) - var(--space-sm));
	border-top: 1px solid var(--clr-grey-400);
}


/* Mediaqueries
 ======================================================================== */

@media (--screen-handset) {
	.c-panel__head {
		padding: var(--space-sm) var(--space-sm) var(--space-xs) var(--space-sm);
	}
	.c-panel__head::after {
		left: var(--space-sm);
		right: var(--space-sm);
	}
	
	.c-panel__body {
		padding: var(--space-sm);
	}
}
