<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=2, minimal-ui">

        <title>Protosite.UiKit</title>
        <meta name="author" content="Boris Panchenko, hello@boryan.one">
        <meta name="copyright" content="">
        <meta name="description" content="">
        <meta name="keywords" content="">
        <meta name="theme-color" content="#e0e0e0">

        <link rel="prefetch" href="../index.html">
        <link rel="prerender" href="../index.html">

        <link href="../favicon.ico" rel="shortcut icon" type="image/x-icon">

        <link rel="stylesheet" type="text/css" href="../dist/protosite-uikit.css">
        <link rel="stylesheet" type="text/css" href="../assets/pattern.css">
        <script src="../src/js/uikit.js" type="module"></script>

    </head>
    <body style="background-color: #EFF8FF;">
        <div class="o-container">
            <header role="banner">
                <div class="u-float-right">
                    <a href="https://github.com/BPanchenko/protosite.uikit" target="_blank">
                        <span class="iconic" data-glyph="social-github"></span>
                    </a>
                </div>
                <h1>Protosite.UiKit</h1>
            </header>

            <nav class="o-breadcrumb">
                        <span class="o-breadcrumb__item">
                            <a href="/" class="">Главная</a>
                        </span>
                <span class="o-breadcrumb__item">Компоненты</span>
                <span class="o-breadcrumb__item is-current">Всплывающая панель</span>
            </nav>

            <main role="main">

                <div class="o-grid">
                    <div class="o-grid__cell u-width-1-2 u-width-1-1@tablet-portrait">
                        <section class="c-panel s-bg-square">
                            <div class="c-panel__head">
                                <h3>Внешний вид</h3>
                            </div>
                            <div class="c-panel__body [ u-margin-large-top u-margin-large-bottom u-text-center ]">

                                <!-- caret top -->

                                <section class="c-popover" data-position="top-left" style="position: relative; left: auto;">
                                    <div class="c-popover__body">
                                        Содержимое подсказки
                                    </div>
                                </section>

                                <section class="c-popover" data-position="top" style="position: relative; left: auto;">
                                    <div class="c-popover__body">
                                        Содержимое подсказки
                                    </div>
                                </section>

                                <section class="c-popover" data-position="top-right" style="position: relative; left: auto;">
                                    <div class="c-popover__body">
                                        Водогрязеторфопарафинолечение
                                    </div>
                                </section>

                                <br><br>
                                <!-- caret right -->

                                <section class="c-popover" data-position="right-top" style="position: relative; left: auto;">
                                    <div class="c-popover__body">
                                        Три строки<br>
                                        содержимого<br>
                                        подсказки
                                    </div>
                                </section>

                                <section class="c-popover" data-position="right" style="position: relative; left: auto;">
                                    <div class="c-popover__body">
                                        Три строки<br>
                                        содержимого<br>
                                        подсказки
                                    </div>
                                </section>

                                <section class="c-popover" data-position="right-bottom" style="position: relative; left: auto;">
                                    <div class="c-popover__body">
                                        Три строки<br>
                                        содержимого<br>
                                        подсказки
                                    </div>
                                </section>

                                <br><br>
                                <!-- caret bottom -->

                                <section class="c-popover" data-position="bottom-left" style="position: relative; left: auto;">
                                    <div class="c-popover__body">
                                        Содержимое подсказки
                                    </div>
                                </section>

                                <section class="c-popover" data-position="bottom" style="position: relative; left: auto;">
                                    <div class="c-popover__body">
                                        Содержимое подсказки
                                    </div>
                                </section>

                                <section class="c-popover" data-position="bottom-right" style="position: relative; left: auto;">
                                    <div class="c-popover__body">
                                        Электрофотополупроводниковый
                                    </div>
                                </section>

                                <br><br>
                                <!-- caret left -->

                                <section class="c-popover" data-position="left-top" style="position: relative; left: auto;">
                                    <div class="c-popover__body">
                                        Три строки<br>
                                        содержимого<br>
                                        подсказки
                                    </div>
                                </section>

                                <section class="c-popover" data-position="left" style="position: relative; left: auto;">
                                    <div class="c-popover__body">
                                        Три строки<br>
                                        содержимого<br>
                                        подсказки
                                    </div>
                                </section>

                                <section class="c-popover" data-position="left-bottom" style="position: relative; left: auto;">
                                    <div class="c-popover__body">
                                        Три строки<br>
                                        содержимого<br>
                                        подсказки
                                    </div>
                                </section>

                            </div>
                        </section>
                    </div>
                    <div class="o-grid__cell u-width-1-2 u-width-1-1@tablet-portrait">
                        <section class="c-panel s-bg-square">
                            <div class="c-panel__head">
                                <h3>Поведение</h3>
                            </div>
                            <div class="c-panel__body u-margin-large-bottom u-text-center">

                                <div class="u-display-flow u-margin-lg">
                                    <span class="c-popover-holder u-margin-large-top pattern pattern--horizontal" aria-controls="poHorizontal">
                                        активный элемент<br>
                                        с горизонтальным позиционированием подсказки
                                    </span>
                                </div>
                                
                                <div class="u-display-flow u-margin-lg">
                                    <span class="c-popover-holder pattern pattern--vertical" aria-controls="poVertical">
                                        активный элемент<br>
                                        с вертикальным позиционированием<br>
                                        подсказки
                                    </span>
                                </div>
                                
                                <div class="u-display-flow u-margin-lg">
                                    <a href="#sort" class="c-ctrl-popover" aria-controls="poSort">
                                        <span>выпадающий список</span>
                                    </a>
                                </div>

                            </div>
                        </section>
                    </div>
                </div>

            </main>

            <footer role="contentinfo" class="u-margin-large-top">
                <hr>
                <div class="u-float-right">
                    <span class="s-cursive u-text-large">&copy; <a href="http://bpanchenko.ru" class="s-floating u-text-color">Boris Panchenko</a>, 2015&mdash;2019</span>
                </div>
            </footer>
        </div>

        <c-popover data-trigger="hover focus" id="poHorizontal">
            Содержимое подсказки
        </c-popover>

        <c-popover data-trigger="hover focus" data-position="left" id="poVertical">
            Три строки<br>
            содержимого<br>
            подсказки
        </c-popover>

        <c-popover class="s-linkset" data-floating="false" data-position="bottom-right" data-trigger="click" id="poSort">
            <a href="#">Элемент списка №1</a>
            <a href="#">Элемент списка №2</a>
            <a href="#">Элемент списка №3</a>
        </c-popover>
    </body>
</html>