<!DOCTYPE html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=2, minimal-ui">

        <title>Protosite.UiKit</title>
        <meta name="author" content="Boris Panchenko, bp@bp-studio.ru">
        <meta name="copyright" content="">
        <meta name="description" content="">
        <meta name="keywords" content="">

        <link rel="prefetch" href="/index.html">
        <link rel="prerender" href="/index.html">

        <link href="/favicon.ico" rel="shortcut icon" type="image/x-icon">
        <link rel="apple-touch-startup-image" href="/_res/img/icons/ios/startup.png">
        <link rel="apple-touch-icon" href="/_res/img/icons/ios/touch-icon-iphone.152x152.png">

        <link rel="stylesheet/less" type="text/css" href="/css/core.less">
        <link rel="stylesheet/less" type="text/css" href="/css/pattern.less">
        <script src="//cdnjs.cloudflare.com/ajax/libs/less.js/2.7.1/less.min.js" data-env="development"></script>

        <script src="/dist/ui-libs.js"></script>
        <script src="/dist/ui-core.js"></script>
        <script src="/js/ui/components/popover.js"></script>
    </head>
    <body>
        <div class="o-container">
            <header role="banner">
                <div class="u-float-right">
                    <a href="https://github.com/BPanchenko/protosite.uikit" target="_blank">
                        <span class="iconic" data-glyph="social-github"></span>
                    </a>
                </div>
                <hgroup>
                    <h1>Protosite.UiKit</h1>
                </hgroup>
            </header>

            <nav class="o-breadcrumb">
                        <span class="o-breadcrumb__item">
                            <a href="/" class="">Главная</a>
                        </span>
                <span class="o-breadcrumb__item">Компоненты</span>
                <span class="o-breadcrumb__item is-current">Всплывающая панель (подсказка)</span>
            </nav>

            <main role="main">

                <div class="o-grid">
                    <div class="o-grid__cell u-width-1-2 u-width-1-1@tablet-portrait">
                        <section class="c-panel s-bg-square">
                            <div class="c-panel__head">
                                <h3>Внешний вид</h3>
                            </div>
                            <div class="c-panel__body [ u-margin-large-top u-margin-large-bottom u-text-center ]">

                                <!-- caret top -->

                                <section class="c-popover" data-position="top-left" style="position: relative; left: auto;">
                                    <div class="c-popover__inside">
                                        Содержимое подсказки
                                    </div>
                                </section>

                                <section class="c-popover" data-position="top" style="position: relative; left: auto;">
                                    <div class="c-popover__inside">
                                        Содержимое подсказки
                                    </div>
                                </section>

                                <section class="c-popover" data-position="top-right" style="position: relative; left: auto;">
                                    <div class="c-popover__inside">
                                        Водогрязеторфопарафинолечение
                                    </div>
                                </section>

                                <br><br>
                                <!-- caret right -->

                                <section class="c-popover" data-position="right-top" style="position: relative; left: auto;">
                                    <div class="c-popover__inside">
                                        Три строки<br>
                                        содержимого<br>
                                        подсказки
                                    </div>
                                </section>

                                <section class="c-popover" data-position="right" style="position: relative; left: auto;">
                                    <div class="c-popover__inside">
                                        Три строки<br>
                                        содержимого<br>
                                        подсказки
                                    </div>
                                </section>

                                <section class="c-popover" data-position="right-bottom" style="position: relative; left: auto;">
                                    <div class="c-popover__inside">
                                        Три строки<br>
                                        содержимого<br>
                                        подсказки
                                    </div>
                                </section>

                                <br><br>
                                <!-- caret bottom -->

                                <section class="c-popover" data-position="bottom-left" style="position: relative; left: auto;">
                                    <div class="c-popover__inside">
                                        Содержимое подсказки
                                    </div>
                                </section>

                                <section class="c-popover" data-position="bottom" style="position: relative; left: auto;">
                                    <div class="c-popover__inside">
                                        Содержимое подсказки
                                    </div>
                                </section>

                                <section class="c-popover" data-position="bottom-right" style="position: relative; left: auto;">
                                    <div class="c-popover__inside">
                                        Электрофотополупроводниковый
                                    </div>
                                </section>

                                <br><br>
                                <!-- caret left -->

                                <section class="c-popover" data-position="left-top" style="position: relative; left: auto;">
                                    <div class="c-popover__inside">
                                        Три строки<br>
                                        содержимого<br>
                                        подсказки
                                    </div>
                                </section>

                                <section class="c-popover" data-position="left" style="position: relative; left: auto;">
                                    <div class="c-popover__inside">
                                        Три строки<br>
                                        содержимого<br>
                                        подсказки
                                    </div>
                                </section>

                                <section class="c-popover" data-position="left-bottom" style="position: relative; left: auto;">
                                    <div class="c-popover__inside">
                                        Три строки<br>
                                        содержимого<br>
                                        подсказки
                                    </div>
                                </section>

                            </div>
                        </section>
                    </div>
                    <div class="o-grid__cell u-width-1-2 u-width-1-1@tablet-portrait">
                        <section class="c-panel s-bg-square">
                            <div class="c-panel__head">
                                <h3>Поведение</h3>
                            </div>
                            <div class="c-panel__body u-margin-large-bottom u-text-center">
                                <span class="c-popover-holder u-margin-large-top pattern pattern--horizontal" ui-popover="{ content: 'Подсказка<br>на три<br>строки', position: 'bottom' }">
                                    активный элемент<br>
                                    с горизонтальным позиционированием подсказки
                                </span>
                                <div class="u-clearfix u-margin-large-top"></div>
                                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="20px" height="20px">
                                    <circle fill="#E040FB" cx="10" cy="10" r="10" ui-popover="{ content: 'подсказка', position: 'top' }"/>
                                </svg>
                                <div class="u-clearfix u-margin-large-top"></div>
                                <span class="c-popover-holder pattern pattern--vertical" ui-popover="{ content: 'Подсказка<br>на три<br>строки', position: 'left' }">
                                    активный элемент<br>
                                    с вертикальным позиционированием<br>
                                    подсказки
                                </span>
                            </div>
                        </section>
                    </div>
                </div>

                <article class="o-article u-margin">
                    <p class="o-article-lead">

                    </p>
                    <p>

                    </p>
                </article>

            </main>

            <footer role="contentinfo" class="u-margin-large-top">
                <hr>
                <div class="u-float-right">
                    <h4 class="u-font-cursive">&copy; <a href="http://www.bp-studio.ru" class="u-text-color">Boris Panchenko</a>, 2015&mdash;2016</h4>
                </div>
            </footer>
        </div>
    </body>
</html>
