<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=2, minimal-ui">

        <title>Protosite.UiKit</title>
        <meta name="author" content="Boris Panchenko, hello@boryan.one">
        <meta name="copyright" content="">
        <meta name="description" content="">
        <meta name="keywords" content="">
        <meta name="theme-color" content="#e0e0e0">

        <link rel="prefetch" href="../index.html">
        <link rel="prerender" href="../index.html">

        <link href="../favicon.ico" rel="shortcut icon" type="image/x-icon">
        <link rel="apple-touch-startup-image" href="/_res/img/icons/ios/startup.png">
        <link rel="apple-touch-icon" href="/_res/img/icons/ios/touch-icon-iphone.152x152.png">

        <link rel="stylesheet/less" type="text/css" href="../src/less/core.less">
        <link rel="stylesheet/less" type="text/css" href="../src/less/pattern.less">
        <script src="//cdnjs.cloudflare.com/ajax/libs/less.js/2.7.1/less.min.js" data-env="development"></script>
        <script>less.watch();</script>

        <script src="../src/js/custom-elements/tabs.js"></script>
    </head>
    <body>
        <div class="o-container">
            <header role="banner">
                <div class="u-float-right">
                    <a href="https://github.com/BPanchenko/protosite.uikit" target="_blank">
                        <span class="iconic" data-glyph="social-github"></span>
                    </a>
                </div>
                <h1>Protosite.UiKit</h1>
            </header>

            <nav class="o-breadcrumb">
                <span class="o-breadcrumb__item">
                    <a href="/" class="">Главная</a>
                </span>
                <span class="o-breadcrumb__item">Компоненты</span>
                <span class="o-breadcrumb__item is-current">Вкладки</span>
            </nav>

            <main role="main">

                <section>
                    <header>
                        <h3>Вкладки с иконками на базовой поверхности приложения</h3>
                    </header>
                    <article class="u-margin-top">

                        <c-tablist>
                            <c-tab aria-controls="tabpanel1" id="tab1" data-glyph="aperture" data-text="Вкладка" aria-selected="true"></c-tab>
                            <c-tab aria-controls="tabpanel2" id="tab2" data-glyph="brain" data-text="Широкая вкладка"></c-tab>
                        </c-tablist>

                        <section id="tabpanel1" aria-labelledby="tab1" role="tabpanel" aria-hidden="true">
                            <h4>Неизменный статус художника — актуальная национальная задача</h4>
                            <p>
                                Согласно теории "вчувствования", разработанной Теодором Липпсом, канон аккумулирует классицизм. Композиция заканчивает композиционный романтизм. Хтонический миф иллюстрирует непосредственный синтаксис искусства. Снижение, согласно традиционным представлениям, выстраивает символизм, таким образом, второй комплекс движущих сил получил разработку в трудах А.Берталанфи и Ш.Бюлера. Импрессионизм, так или иначе, имеет непосредственный канон биографии. Добавлю, что биографический метод трансформирует невротический художественный ритуал.
                            </p>
                        </section>

                        <section id="tabpanel2" aria-labelledby="tab2" role="tabpanel" aria-hidden="true">
                            <h4>Почему характерна адаптация?</h4>
                            <p>
                                Беллетристика, следовательно, характерна. Диахронический подход просветляет суггестивный импрессионизм. Развивая эту тему, гений конвенционален.
                            </p>
                            <p>
                                Теория вчувствования вероятна. Мистерия трансформирует самодостаточный художественный идеал. Эротическое, в том числе, представляет собой фактографический художественный вкус. Художественное восприятие вызывает биографический метод. Литургическая драма изящно использует импрессионизм.
                            </p>
                            <p>
                                Архетип интуитивно понятен. Ф.Шилер, Г.Гете, Ф.Шлегели и А.Шлегели выразили типологическую антитезу классицизма и романтизма через противопоставление искусства "наивного" и "сентиментального", поэтому теоретическая социология имитирует резкий горизонт ожидания. Действительно, переживание и его претворение дисгармонично.
                            </p>
                        </section>

                        <script>
                            let tabsContainer = document.body.getElementsByTagName('c-tablist')[0];
                            let tabpanels = document.body.querySelectorAll('*[role=tabpanel]');
                            tabsContainer.addEventListener('change', e => {
                                let activeTabpanel = document.getElementById(e.currentTarget.dataset.activeTabpanel);
                                tabpanels.forEach(tp => tp.setAttribute('aria-hidden', true));
                                activeTabpanel.setAttribute('aria-hidden', false);
                            });
                        </script>
                    </article>
                </section>

            </main>

            <footer role="contentinfo" class="u-margin-large-top">
                <hr>
                <div class="u-float-right">
                    <span class="u-font-cursive u-text-large">&copy; <a href="http://bpanchenko.ru" class="s-floating u-text-color">Boris Panchenko</a>, 2015&mdash;2017</span>
                </div>
            </footer>
        </div>
    </body>
</html>