<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=2, minimal-ui">

        <title>Protosite.UiKit</title>
        <meta name="author" content="Boris Panchenko, hello@boryan.one">
        <meta name="copyright" content="">
        <meta name="description" content="">
        <meta name="keywords" content="">

        <link rel="prefetch" href="/index.html">
        <link rel="prerender" href="/index.html">

        <link href="/favicon.ico" rel="shortcut icon" type="image/x-icon">
        <link rel="apple-touch-startup-image" href="/_res/img/icons/ios/startup.png">
        <link rel="apple-touch-icon" href="/_res/img/icons/ios/touch-icon-iphone.152x152.png">

        <link rel="stylesheet/less" type="text/css" href="/css/core.less">
        <script src="//cdnjs.cloudflare.com/ajax/libs/less.js/2.7.1/less.min.js" data-env="development"></script>

    </head>
    <body>
        <div class="o-container">
            <header role="banner">
                <div class="u-float-right">
                    <a href="https://github.com/BPanchenko/protosite.uikit/blob/master/components/tooltip.html" target="_blank">
                        <span class="iconic" data-glyph="social-github"></span>
                    </a>
                </div>
                <hgroup>
                    <h1>Protosite.UiKit</h1>
                </hgroup>
            </header>

            <nav class="o-breadcrumb">
                <span class="o-breadcrumb__item">
                    <a href="/" class="">Главная</a>
                </span>
                <span class="o-breadcrumb__item">Компоненты</span>
                <span class="o-breadcrumb__item is-current">Миниатюра изображения</span>
            </nav>

            <main role="main" class="u-text-center">

                <figure class="c-thumbnail u-margin-xlarge-top u-margin-xlarge-bottom">
                    <a href="http://pre08.deviantart.net/e4fa/th/pre/f/2013/097/2/8/geometric_window_shapes__6_by_z_grimv-d60sozl.jpg" target="_blank">
                        <img src="http://pre08.deviantart.net/e4fa/th/pre/f/2013/097/2/8/geometric_window_shapes__6_by_z_grimv-d60sozl.jpg">
                    </a>
                    <figcaption class="c-thumbnail__caption">Caption</figcaption>
                </figure>

                <br><br>

                <figure class="c-thumbnail s-xsmall">
                    <img src="http://pre08.deviantart.net/e4fa/th/pre/f/2013/097/2/8/geometric_window_shapes__6_by_z_grimv-d60sozl.jpg">
                    <figcaption class="c-thumbnail__caption">xsmall</figcaption>
                </figure>

                <figure class="c-thumbnail s-small">
                    <img src="http://pre08.deviantart.net/e4fa/th/pre/f/2013/097/2/8/geometric_window_shapes__6_by_z_grimv-d60sozl.jpg">
                    <figcaption class="c-thumbnail__caption">small</figcaption>
                </figure>

                <figure class="c-thumbnail s-medium">
                    <img src="http://pre08.deviantart.net/e4fa/th/pre/f/2013/097/2/8/geometric_window_shapes__6_by_z_grimv-d60sozl.jpg">
                    <figcaption class="c-thumbnail__caption">medium</figcaption>
                </figure>

                <br><br>

                <figure class="c-thumbnail s-large">
                    <img src="http://pre08.deviantart.net/e4fa/th/pre/f/2013/097/2/8/geometric_window_shapes__6_by_z_grimv-d60sozl.jpg">
                    <figcaption class="c-thumbnail__caption">large</figcaption>
                </figure>

                <br><br>

                <figure class="c-thumbnail s-xlarge">
                    <img src="http://pre08.deviantart.net/e4fa/th/pre/f/2013/097/2/8/geometric_window_shapes__6_by_z_grimv-d60sozl.jpg">
                    <figcaption class="c-thumbnail__caption">xlarge</figcaption>
                </figure>

            </main>

            <footer role="contentinfo" class="u-margin-large-top">
                <hr>
                <div class="u-float-right">
                    <h4 class="u-font-cursive">&copy; <a href="http://www.bp-studio.ru" class="u-text-color">Boris Panchenko</a>, 2015&mdash;2017</h4>
                </div>
            </footer>
        </div>

        <script src="../js/counter.js"></script>
    </body>
</html>
