
@import "../settings/palette.css";
@import "../settings/typography.css";

/* ========================================================================
   Paragraph
 ========================================================================== */

p {
	display: block;
	max-width: 80ch;
	font-family: var(--font-primary);
	font-size: var(--text-sm);
	line-height: var(--line-height-md);
}


/* Figure inside the paragraph
 ========================================================================== */

p figure {
	display: inline-block;
	padding: 0;
	margin: 0;

	max-width: 30vw;
	max-height: 18rem;

	background-color: var(--clr-grey-300);
	background-size: contain;

	&::before,
	&::after {
		content: '';
		position: absolute;
		width: 100%;
		display: block;
		clear: both;
	}

	img {
		width: 100%;
		max-height: inherit;
		object-fit: contain;
	}
}


/* Image inside the paragraph
 ========================================================================== */

p {
	img {
		display: block;
		width: auto;
		max-height: 11.8rem;
		margin: 0 auto;
	}
	
	img[align="left"],
	img[align="right"] {
		display: inline-block;
		max-width: 19rem;
	}
	
	img[align="left"] {
		float: left;
		margin: 0.3rem 1.2rem 0 .8rem;
	}
	
	img[align="right"] {
		float: right;
		margin: 0.3rem 0.8rem 0 1.2rem;
	}
}


/* Various paragraph sizes
 ========================================================================== */

p.u-text-lg {
	max-width: 80ch;
}
p.u-text-sm {
	max-width: 51.4rem;
}
p.u-text-xs {
	max-width: 44.8rem;
}
