@import "../settings/variables";

@s-bg-ps-neutral-bg-image: var(--img-ps-neutral);
@s-bg-ps-neutral-bg-image-x2: var(--img-ps-neutral-x2);
@s-bg-ps-neutral-bg-size: 16px 16px;

@s-bg-square-bg-image: var(--img-square);
@s-bg-square-bg-image-x2: var(--img-square-x2);
@s-bg-square-bg-size: 252px 230px;

@s-bg-subtle-dots-bg-image: var(--img-subtle-dots);
@s-bg-subtle-dots-bg-image-x2: var(--img-subtle-dots-x2);
@s-bg-subtle-dots-bg-size: 27px 15px;


/* ========================================================================
   Background styles
 ========================================================================== */

.s-bg-ps_neutral {
	background-image: @s-bg-ps-neutral-bg-image;
	background-size: @s-bg-ps-neutral-bg-size;
	background-position: center;
}

.s-bg-square {
	background-image: @s-bg-square-bg-image;
	background-size: @s-bg-square-bg-size;
	background-position: center;
}

.s-bg-subtle_dots {
	background-image: @s-bg-subtle-dots-bg-image;
	background-size: @s-bg-subtle-dots-bg-size;
	background-position: center;
}

/* Media queries
 ========================================================================== */

@media only screen and (-webkit-min-device-pixel-ratio: 2),
	   only screen and (min-resolution: 192dpi),
	   only screen and (min-resolution: 2dppx)
{
	.s-bg-ps_neutral { background-image: @s-bg-ps-neutral-bg-image-x2; }
	.s-bg-square { background-image: @s-bg-square-bg-image-x2; }
	.s-bg-subtle_dots { background-image: @s-bg-subtle-dots-bg-image-x2; }
}