

/* Component: `c-button`
 ========================================================================== */

@c-button-bordered-padding: @space-s @space-m;

@c-button-bordered-border-color: @clr-grey-500;
@c-button-bordered-border-style: solid;
@c-button-bordered-border-width: .1rem;

@c-button-bordered-background-color: transparent;
@c-button-bordered-background-image: none;
@c-button-bordered-background-color-active: fade(@clr-blue-grey-400, 15%);
@c-button-bordered-background-color-hover: fade(@clr-grey-400, 5%);
@c-button-bordered-background-color-focus: fade(@clr-grey-400, 15%);

.c-button.s-bordered,
.c-panel:not(.s-transparent) .c-button.s-bordered {
	padding: @c-button-bordered-padding;
	
	background-color: @c-button-bordered-background-color;
	background-image: @c-button-bordered-background-image;
	border-color: @c-button-bordered-border-color;
	border-style: @c-button-bordered-border-style;
	border-width: @c-button-bordered-border-width;
	box-shadow: none;

	&:hover {
		background-color: @c-button-bordered-background-color-hover;
	}
	&:focus {
		background-color: @c-button-bordered-background-color-focus;
	}
	&:active,
	&[aria-checked=true] {
		background-color: @c-button-bordered-background-color-active;
	}

	.c-button__icon {
		margin-left: -.2rem;
		margin-right: .8rem;
	}
	.c-button__text + .c-button__icon {
		margin-left: .8rem;
		margin-right: -.2rem;
	}
}

.c-button.s-bordered.s-danger,
.c-panel:not(.s-transparent) .c-button.s-bordered.s-danger { border-color: @danger-color; }
.c-button.s-bordered.s-success,
.c-panel:not(.s-transparent) .c-button.s-bordered.s-success { border-color: @success-color; }
.c-button.s-bordered.s-primary,
.c-panel:not(.s-transparent) .c-button.s-bordered.s-primary { border-color: @primary-color; }
.c-button.s-bordered.s-warning,
.c-panel:not(.s-transparent) .c-button.s-bordered.s-warning { border-color: @warning-color; }
