@import "../settings/variables";


/* Component: `c-panel`
 ========================================================================== */

.c-panel.s-clean {
	background: transparent;
	box-shadow: none;
}


/* Component: `c-button`
 ========================================================================== */

@c-button-clean-padding: @space-s @space-m;
@c-button-clean-background-color: transparent;
@c-button-clean-background-image: none;
@c-button-clean-background-color-active: fade(@clr-blue-grey-400, 20%);
@c-button-clean-background-color-hover: fade(@clr-grey-400, 10%);
@c-button-clean-background-color-focus: fade(@clr-grey-400, 20%);

.c-button.s-clean,
.c-panel:not(.s-transparent) .c-button.s-clean {
	padding: @c-button-clean-padding;

	background-color: @c-button-clean-background-color;
	background-image: @c-button-clean-background-image;
	box-shadow: none;

	&:hover {
		background-color: @c-button-clean-background-color-hover;
	}
	&:focus {
		background-color: @c-button-clean-background-color-focus;
	}
	&:active,
	&[aria-checked=true] {
		background-color: @c-button-clean-background-color-active;
	}

	.c-button__icon {
		margin-left: -.2rem;
		margin-right: .8rem;
	}
	.c-button__text + .c-button__icon {
		margin-left: .8rem;
		margin-right: -.2rem;
	}
}