@import "../settings/variables";

@c-button-danger-background-color: fade(@danger-color, 76%);
@c-button-danger-background-color-focus: fade(@clr-red-900, 82%);
@c-button-danger-background-blend-mode: color-burn;
@c-button-danger-color: @clr-white;
@c-button-danger-text-shadow: none;

@c-button-primary-background-color: fade(@primary-color, 90%);
@c-button-primary-background-color-focus: fade(@clr-blue-900, 80%);
@c-button-primary-background-blend-mode: color-burn;
@c-button-primary-color: @clr-white;
@c-button-primary-text-shadow: none;

@c-button-success-background-color: fade(@success-color, 76%);
@c-button-success-background-color-focus: fade(@clr-green-900, 72%);
@c-button-success-background-blend-mode: color-burn;
@c-button-success-color: @clr-white;
@c-button-success-text-shadow: none;

@c-button-warning-background-color: fade(@warning-color, 76%);
@c-button-warning-background-color-focus: fade(@clr-orange-900, 78%);
@c-button-warning-background-blend-mode: color-burn;
@c-button-warning-color: @clr-white;
@c-button-warning-text-shadow: none;


/* Style: `s-danger`
 ========================================================================== */

.s-danger,
.s-danger:hover {
	color: @danger-color;
}

.c-button.s-danger:not(.s-clean):not(.s-bordered) {
	background-color: @c-button-danger-background-color;
	background-blend-mode: @c-button-danger-background-blend-mode;
	text-shadow: @c-button-danger-text-shadow;

	&, &:hover {
		color: @c-button-danger-color;
	}

	&:focus,
	.c-panel:not(.s-transparent) &:focus {
		background-color: @c-button-danger-background-color-focus;
	}
}


/* Style: `s-muted`
 ========================================================================== */

.s-muted,
.s-muted:hover {
	color: @muted-color;
}


/* Style: `s-primary`
 ========================================================================== */

.s-primary,
.s-primary:hover {
	color: @primary-color;
}

.c-button.s-primary:not(.s-clean):not(.s-bordered) {
	background-color: @c-button-primary-background-color;
	background-blend-mode: @c-button-primary-background-blend-mode;
	text-shadow: @c-button-primary-text-shadow;

	&, &:hover {
		color: @c-button-primary-color;
	}

	&:focus,
	.c-panel:not(.s-transparent) &:focus {
		background-color: @c-button-primary-background-color-focus;
	}
}


/* Style: `s-success`
 ========================================================================== */

.s-success,
.s-success:hover {
	color: @success-color;
}

.c-button.s-success:not(.s-clean):not(.s-bordered) {
	background-color: @c-button-success-background-color;
	background-blend-mode: @c-button-success-background-blend-mode;
	text-shadow: @c-button-success-text-shadow;

	&, &:hover {
		color: @c-button-success-color;
	}

	&:focus,
	.c-panel:not(.s-transparent) &:focus {
		background-color: @c-button-success-background-color-focus;
	}
}


/* Style: `s-warning`
 ========================================================================== */

.s-warning,
.s-warning:hover {
	color: @warning-color;
}

.c-button.s-warning:not(.s-clean):not(.s-bordered) {
	background-color: @c-button-warning-background-color;
	background-blend-mode: @c-button-warning-background-blend-mode;
	text-shadow: @c-button-warning-text-shadow;

	&, &:hover {
		color: @c-button-warning-color;
	}

	&:focus,
	.c-panel:not(.s-transparent) &:focus {
		background-color: @c-button-warning-background-color-focus;
	}
}


/* Style: `s-transparent`
 ========================================================================== */

.s-transparent,
.s-transparent .c-panel__head {
	background: transparent;
	box-shadow: none;
}