@import "../settings/variables";

/* ========================================================================
   Tag: `a`
 ========================================================================== */

a.s-floating {
    position: relative;

    &,&:hover { text-decoration: none; }

    &::after {
        content: ' ';
        display: inline-block;
        position: absolute;
        bottom: 10%;
        left: 0;
        border-bottom: .1rem solid currentColor;
        width: 0;
        transition: width .16s @easing;
    }

    &:hover::after {
        width: 100%;
    }
}


/* ========================================================================
   Component: `c-field-box`
 ========================================================================== */

@c-field-floating-focused-label-top: @c-field-border-width + @c-field-height
    - (@c-field-padding-top + @c-field-padding-bottom + 2 * @c-field-border-width);

@c-field-floating-border-bottom-width: 0.2rem;
@c-field-floating-border-bottom-style: solid;
@c-field-floating-border-bottom-color: @clr-grey-400;

@c-field-floating-focused-label-font-size: 1.2rem;
@c-field-floating-focused-border-bottom-color: @clr-blue-600;
@c-field-floating-filled-border-bottom-color: @clr-grey-600;

.s-floating.c-field-box {

    .c-field {
        background-color: transparent;
        border-radius: 0;
        border: none;
        border-bottom-width: @c-field-floating-border-bottom-width;
        border-bottom-style: @c-field-floating-border-bottom-style;
        border-bottom-color: @c-field-floating-border-bottom-color;
        box-shadow: none;
    }
    
    .c-field-label {
        position: relative;
        top: @c-field-floating-focused-label-top;
        font-size: @c-field-label-font-size;
        cursor: pointer;
        transition-property: top, font-size, color;
    }

    &.is-filled .c-field-label,
    &.is-focused .c-field-label {
        top: 0;
        font-size: @c-field-floating-focused-label-font-size;
        cursor: @c-field-label-cursor;
    }

    &.is-filled {
        .c-field {
            border-bottom-color: @c-field-floating-filled-border-bottom-color;
        }
    }

    &.is-focused {
        .c-field {
            border-bottom-color: @c-field-floating-focused-border-bottom-color;
        }
    }
}