@import "../settings/variables";

/* ========================================================================
   Tag: `a`
 ========================================================================== */

a.s-floating {
    position: relative;

    &,&:hover { text-decoration: none; }

    &::after {
        content: ' ';
        display: inline-block;
        position: absolute;
        bottom: 10%;
        left: 0;
        border-bottom: .1rem solid currentColor;
        width: 0;
        transition: width .16s @easing;
    }

    &:hover::after {
        width: 100%;
    }
}
