@import "../settings/variables";

/* ========================================================================
   Component: `c-avatar`
 ========================================================================== */

@c-avatar-xsmall-size: 1.5 * @unit;
@c-avatar-small-size: 2.5 * @unit;
@c-avatar-medium-size: 5 * @unit;
@c-avatar-large-size: 8 * @unit;
@c-avatar-xlarge-size: 12 * @unit;

.c-avatar {
	&.s-xsmall {
		width: @c-avatar-xsmall-size;
		height: @c-avatar-xsmall-size;
	}
	&.s-small {
		width: @c-avatar-small-size;
		height: @c-avatar-small-size;
	}
	&.s-medium {
		width: @c-avatar-medium-size;
		height: @c-avatar-medium-size;
	}
	&.s-large {
		width: @c-avatar-large-size;
		height: @c-avatar-large-size;
	}
	&.s-xlarge {
		width: @c-avatar-xlarge-size;
		height: @c-avatar-xlarge-size;
	}
}

/* ========================================================================
   Component: `c-button`
 ========================================================================== */

@c-button-small-font-size: @font-size-small;
@c-button-small-line-height: 1.4;
@c-button-small-padding: @space-xs @space-m;

@c-button-large-font-size: @font-size-large;
@c-button-large-line-height: 1.5;
@c-button-large-padding: @space-m @space-l;

@c-button-icon-small-padding: @space-xs;

@c-button-icon-large-side: 4rem;
@c-button-icon-large-font-size: 32px;
@c-button-icon-large-font-weight: 500;
@c-button-icon-large-padding: @space-s;

@c-button-icon-xlarge-side: 16rem;
@c-button-icon-xlarge-font-size: 128px;
@c-button-icon-xlarge-font-weight: 800;
@c-button-icon-xlarge-padding: @space-s;
@c-button-icon-xlarge-horizontal-spacing: @space-m;

.c-button {
	&.s-small {
		font-size: @c-button-small-font-size;
		line-height: @c-button-small-line-height;
		padding: @c-button-small-padding;
	}
	&.s-large {
		font-size: @c-button-large-font-size;
		line-height: @c-button-large-line-height;
		padding: @c-button-large-padding;
	}
}

.c-button--icon {

	&.s-small {
		padding: @c-button-icon-small-padding;
	}
	&.s-small + &.s-small {
		margin-left: @space-xs;
	}

	&.s-large {
		padding: @c-button-icon-large-padding;
		&:empty:before {
			width: @c-button-icon-large-side;
			height: @c-button-icon-large-side;
		}
		&:before {
			font-size: @c-button-icon-large-font-size;
			font-weight: @c-button-icon-large-font-weight;
		}
	}

	&.s-xlarge {
		padding: @c-button-icon-xlarge-padding;
		&:empty:before {
			width: @c-button-icon-xlarge-side;
			height: @c-button-icon-xlarge-side;
		}
		&:before {
			font-size: @c-button-icon-xlarge-font-size;
			font-weight: @c-button-icon-xlarge-font-weight;
		}
	}
	&.s-xlarge + &.s-xlarge {
		margin-left: @c-button-icon-xlarge-horizontal-spacing;
	}
}


/* ========================================================================
   Component: `c-thumbnail`
 ========================================================================== */

@c-thumbnail-xsmall-max-width: 3.5 * @unit;
@c-thumbnail-small-max-width: 5.5 * @unit;
@c-thumbnail-medium-max-width: 12 * @unit;
@c-thumbnail-large-max-width: 16 * @unit;
@c-thumbnail-xlarge-max-width: 24 * @unit;

.c-thumbnail {

	&.s-xsmall {
		max-width: @c-thumbnail-xsmall-max-width;

		img {
			max-height: 1.8 * @c-thumbnail-xsmall-max-width;
		}

		.c-thumbnail__caption {
			padding: .2rem .4rem;
			max-height: 2.4rem;
			overflow: hidden;

			font-size: 1rem;
			line-height: 1;
		}
	}

	&.s-small {
		max-width: @c-thumbnail-small-max-width;
		img {
			max-height: 1.8 * @c-thumbnail-small-max-width;
		}
	}

	&.s-medium {
		max-width: @c-thumbnail-medium-max-width;
		img {
			max-height: 1.8 * @c-thumbnail-medium-max-width;
		}
	}

	&.s-large {
		max-width: @c-thumbnail-large-max-width;
		img {
			max-height: 1.8 * @c-thumbnail-large-max-width;
		}
	}

	&.s-xlarge {
		max-width: @c-thumbnail-xlarge-max-width;

		img {
			max-height: 1.8 * @c-thumbnail-xlarge-max-width;
		}

		.c-thumbnail__caption {
			padding: .6rem .8rem;
			font-size: @font-size-large;
			line-height: @line-height-large;
		}
	}

	&.s-square {
		&.s-xsmall img {
			width: @c-thumbnail-xsmall-max-width;
			height: @c-thumbnail-xsmall-max-width;
		}
		&.s-small img {
			width: @c-thumbnail-small-max-width;
			height: @c-thumbnail-small-max-width;
		}
		&.s-medium img {
			width: @c-thumbnail-medium-max-width;
			height: @c-thumbnail-medium-max-width;
		}
		&.s-large img {
			width: @c-thumbnail-large-max-width;
			height: @c-thumbnail-large-max-width;
		}
		&.s-xlarge img {
			width: @c-thumbnail-xlarge-max-width;
			height: @c-thumbnail-xlarge-max-width;
		}
	}
}