@font-face {
    @path: "../../vendor/fonts/marck-script";

    font-family: 'Marck Script';
    src: local('Marck Script'), url('@{path}/marck-script.woff2') format('woff2'), url('@{path}/marck-script.woff') format('woff'), url('@{path}/marck-script.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
