@import "../tools/mixins";
@import "../settings/variables";

@u-bg-square-background-image: url('http://ui.protosite.rocks/img/bgs/square_bg.png');
@u-bg-square-background-image-x2: url('http://ui.protosite.rocks/img/bgs/square_bg_@2X.png');
@u-bg-square-background-size: 252px 230px;

@u-bg-subtle-dots-background-image: url('http://ui.protosite.rocks/img/bgs/subtle_dots.png');
@u-bg-subtle-dots-background-image-x2: url('http://ui.protosite.rocks/img/bgs/subtle_dots_@2X.png');
@u-bg-subtle-dots-background-size: 27px 15px;


/* ========================================================================
   Utility: `u-bg-*`
 ========================================================================== */

.u-bg-square {
	background-image: @u-bg-square-background-image;
	background-size: @u-bg-square-background-size;
	background-position: center;
}

.u-bg-subtle_dots {
	background-image: @u-bg-subtle-dots-background-image;
	background-size: @u-bg-subtle-dots-background-size;
	background-position: center;
}


/* Media queries
 ========================================================================== */

@media only screen and (-webkit-min-device-pixel-ratio: 2),
	   only screen and (min-resolution: 192dpi),
	   only screen and (min-resolution: 2dppx)
{
	.u-bg-square {
		background-image: @u-bg-square-background-image-x2;
	}
	.u-bg-subtle_dots {
		background-image: @u-bg-subtle-dots-background-image-x2;
	}
}