@import "../settings/variables";

// Variables
// ========================================================================

@u-border-rounded: .3rem;

@u-link-muted-color:        @clr-blue-grey-500;
@u-link-muted-hover-color:  @clr-blue-grey-400;

@u-margin:        @unit;
@u-margin-small:  (@unit / 2);
@u-margin-large:  (@unit * 3.5);



/* Clearing
 ========================================================================== */

.u-clearfix:before,
.u-clearfix:after {
    content: " ";
    display: table;
}
.u-clearfix:after { clear: both; }

.u-float-left { float: left; }
.u-float-right { float: right; }

[class*='ui-align-'] {
    display: block;
    margin-bottom: @u-margin-small;
}

.u-align-left {
    margin-right: @u-margin-small;
    float: left;
}

.u-align-right {
    margin-left: @u-margin-small;
    float: right;
}

.u-align-center {
    margin-left: auto;
    margin-right: auto;
}


/* Cursor's
 ========================================================================== */

.u-cursor-auto { cursor: auto; }
.u-cursor-default { cursor: default; }
.u-cursor-none { cursor: none; }
.u-cursor-context-menu { cursor: context-menu; }
.u-cursor-help { cursor: help; }
.u-cursor-pointer { cursor: pointer; }
.u-cursor-progress { cursor: progress; }
.u-cursor-wait { cursor: wait; }
.u-cursor-cell { cursor: cell; }
.u-cursor-crosshair { cursor: crosshair; }
.u-cursor-text { cursor: text; }
.u-cursor-vertical-text { cursor: vertical-text; }
.u-cursor-alias { cursor: alias; }
.u-cursor-copy { cursor: copy; }
.u-cursor-move { cursor: move; }
.u-cursor-no-drop { cursor: no-drop; }
.u-cursor-not-allowed { cursor: not-allowed; }
.u-cursor-all-scroll { cursor: all-scroll; }
.u-cursor-col-resize { cursor: col-resize; }
.u-cursor-row-resize { cursor: row-resize; }
.u-cursor-n-resize { cursor: n-resize; }
.u-cursor-e-resize { cursor: e-resize; }
.u-cursor-s-resize { cursor: s-resize; }
.u-cursor-w-resize { cursor: w-resize; }
.u-cursor-ne-resize { cursor: ne-resize; }
.u-cursor-nw-resize { cursor: nw-resize; }
.u-cursor-se-resize { cursor: se-resize; }
.u-cursor-sw-resize { cursor: sw-resize; }
.u-cursor-ew-resize { cursor: ew-resize; }
.u-cursor-ns-resize { cursor: ns-resize; }
.u-cursor-nesw-resize { cursor: nesw-resize; }
.u-cursor-nwse-resize { cursor: nwse-resize; }
.u-cursor-zoom-in { cursor: zoom-in; }
.u-cursor-zoom-out { cursor: zoom-out; }
.u-cursor-grab { cursor: grab; }
.u-cursor-grabbing { cursor: grabbing; }



/* Vertical alignment
 ========================================================================== */

.u-vertical-align { font-size: 0.001px; }
.u-vertical-align:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.u-vertical-align-middle,
.u-vertical-align-bottom,
.u-vertical-align-top {
    display: inline-block;
    max-width: 100%;
    font-size: 1.4rem;
}

.u-vertical-align-top { vertical-align: top; }
.u-vertical-align-middle { vertical-align: middle; }
.u-vertical-align-bottom { vertical-align: bottom; }


/* Border
 ========================================================================== */

.u-border-circle { border-radius: 50vw; }
.u-border-rounded { border-radius: @u-border-rounded; }


/* Link
 ========================================================================== */

.u-link-muted,
.u-link-muted a { color: @u-link-muted-color; }

.u-link-muted:hover,
.u-link-muted a:hover { color: @u-link-muted-hover-color; }

.u-link-reset,
.u-link-reset a,
.u-link-reset:hover,
.u-link-reset a:hover {
    color: inherit;
    text-decoration: none;
}


/* Display
 ========================================================================== */

.u-display-block { display: block !important; }
.u-display-inline { display: inline !important; }
.u-display-inline-block { display: inline-block !important; }


/* Visibility
 ========================================================================== */

/* xdesktop */
@media (min-width: @screen-xdesktop) {
    .u-hidden\@xdesktop,
	.u-visible\@desktop,
	.u-visible\@tablet,
	.u-visible\@tablet-landscape,
    .u-visible\@tablet-portrait,
	.u-visible\@handset,
	.u-visible\@handset-landscape,
	.u-visible\@handset-portrait { display: none !important; }
}

/* desktop */
@media (min-width: @screen-desktop) and (max-width: @screen-desktop-max) {
	.u-hidden\@desktop,
	.u-visible\@xdesktop,
	.u-visible\@tablet,
	.u-visible\@tablet-landscape,
	.u-visible\@tablet-portrait,
	.u-visible\@handset,
	.u-visible\@handset-landscape,
	.u-visible\@handset-portrait { display: none !important; }
}

/* tablet-landscape */
@media (min-width: @screen-tablet-landscape) and (max-width: @screen-tablet-landscape-max) {
	.u-hidden\@tablet,
	.u-hidden\@tablet-landscape,
	.u-visible\@xdesktop,
	.u-visible\@desktop,
	.u-visible\@tablet-portrait,
	.u-visible\@handset,
	.u-visible\@handset-landscape,
	.u-visible\@handset-portrait { display: none !important; }
}

/* tablet-portrait */
@media (min-width: @screen-tablet-portrait) and (max-width: @screen-tablet-portrait-max) {
	.u-hidden\@tablet,
	.u-hidden\@tablet-portrait,
	.u-visible\@xdesktop,
	.u-visible\@desktop,
	.u-visible\@tablet-landscape,
	.u-visible\@handset,
	.u-visible\@handset-landscape,
	.u-visible\@handset-portrait { display: none !important; }
}

/* handset-landscape */
@media (min-width: @screen-handset-landscape) and (max-width: @screen-handset-landscape-max) {
	.u-hidden\@handset,
	.u-hidden\@handset-landscape,
	.u-visible\@xdesktop,
	.u-visible\@desktop,
	.u-visible\@tablet,
	.u-visible\@tablet-landscape,
	.u-visible\@tablet-portrait,
	.u-visible\@handset-portrait { display: none !important; }
}

// handset-portrait
@media (max-width: @screen-handset-portrait-max) {
	.u-hidden\@handset,
	.u-hidden\@handset-portrait,
	.u-visible\@xdesktop,
	.u-visible\@desktop,
	.u-visible\@tablet,
	.u-visible\@tablet-landscape,
	.u-visible\@tablet-portrait,
	.u-visible\@handset-landscape { display: none !important; }
}

/* Remove from the flow and screen readers on any device */
.u-hidden,
[hidden],
[aria-hidden=true] {
    display: none !important;
    visibility: hidden !important;
}

/* Show on hover */
.u-visible-hover:hover {
    .u-hidden,
    [hidden],
    [aria-hidden=true] {
		display: block !important;
		visibility: visible !important;
    }
}

.u-visible-hover-inline:hover .u-hidden {
    display: inline-block !important;
    visibility: visible !important;
}



/* Position
 ========================================================================== */

.u-position-absolute,
[class*='u-position-top'],
[class*='u-position-bottom'] { position: absolute !important; }

.u-position-top {
    top: 0;
    width: 100%;
}

.u-position-bottom {
    bottom: 0;
    width: 100%;
}

.u-position-top-left {
    top: 0;
    left: 0;
}

.u-position-top-right {
    top: 0;
    right: 0;
}

.u-position-bottom-left {
    bottom: 0;
    left: 0;
}

.u-position-bottom-right {
    bottom: 0;
    right: 0;
}

.u-position-cover {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.u-position-relative { position: relative !important; }