@import "../settings/variables";

/**
 * Utilities:
 *    `u-align-*`
 *    `u-border-circle`
 *    `u-border-rounded`
 *    `u-clearfix`
 *    `u-cursor-*`
 *    `u-display-block`
 *    `u-display-inline`
 *    `u-display-inline-block`
 *    `u-float-*`
 *    `u-hidden`
 *    `u-hidden@{breakpoint}`
 *    `u-visible@{breakpoint}`
 *    `u-visible-hover`
 *    `u-visible-hover-inline`
 *    `u-link-muted`
 *    `u-link-reset`
 *    `u-position-absolute`
 *    `u-position-relative`
 *    `u-position-cover`
 *    `u-position-{location}`
 *    `u-vertical-align`
 *    `u-vertical-align-{location}`
 *
 ========================================================================== */

// Variables
// ========================================================================

@u-border-rounded: .3rem;

@u-link-muted-color:        @clr-blue-grey-500;
@u-link-muted-hover-color:  @clr-blue-grey-400;


/* Clearing
 ========================================================================== */

.u-clearfix:before,
.u-clearfix:after {
    content: " ";
    display: table;
}
.u-clearfix:after { clear: both; }

[class*='ui-align-'] {
    display: block;
    margin-bottom: @space-s;
}


/* Positioning
 ========================================================================== */

.u-align-left { text-align: left; }
.u-align-right { text-align: right; }
.u-align-center { text-align: center; }

.u-float-left {
    margin-right: @space-s;
    float: left;
}

.u-float-right {
    margin-left: @space-s;
    float: right;
}

.u-centered {
    margin-left: auto;
    margin-right: auto;
}

@media @screen-desktop {
	.u-align-left\@desktop { .u-align-left; }
	.u-align-right\@desktop { .u-align-right; }
	.u-align-center\@desktop { .u-align-center; }
	.u-float-left\@desktop { .u-float-left; }
	.u-float-right\@desktop { .u-float-right; }
	.u-centered\@desktop { .u-centered; }
}
@media @screen-tablet-landscape {
	.u-align-left\@tablet,
	.u-align-left\@tablet-landscape { .u-align-left; }
	.u-align-right\@tablet,
	.u-align-right\@tablet-landscape { .u-align-right; }
	.u-align-center\@tablet,
	.u-align-center\@tablet-landscape { .u-align-center; }

	.u-float-left\@tablet,
	.u-float-left\@tablet-landscape { .u-float-left; }
	.u-float-right\@tablet,
	.u-float-right\@tablet-landscape { .u-float-right; }

	.u-centered\@tablet,
	.u-centered\@tablet-landscape { .u-centered; }
}
@media @screen-tablet-portrait {
	.u-align-left\@tablet-portrait { .u-align-left; }
	.u-align-right\@tablet-portrait { .u-align-right; }
	.u-align-center\@tablet-portrait { .u-align-center; }
	.u-float-left\@tablet-portrait { .u-float-left; }
	.u-float-right\@tablet-portrait { .u-float-right; }
	.u-centered\@tablet-portrait { .u-centered; }
}
@media @screen-handset-landscape {
	.u-align-left\@handset,
	.u-align-left\@handset-landscape { .u-align-left; }
	.u-align-right\@handset,
	.u-align-right\@handset-landscape { .u-align-right; }
	.u-align-center\@handset,
	.u-align-center\@handset-landscape { .u-align-center; }

	.u-float-left\@handset,
	.u-float-left\@handset-landscape { .u-float-left; }
	.u-float-right\@handset,
	.u-float-right\@handset-landscape { .u-float-right; }

	.u-centered\@handset,
	.u-centered\@handset-landscape { .u-centered; }
}
@media @screen-handset-portrait {
	.u-align-left\@handset-portrait { .u-align-left; }
	.u-align-right\@handset-portrait { .u-align-right; }
	.u-align-center\@handset-portrait { .u-align-center; }
	.u-float-left\@handset-portrait { .u-float-left; }
	.u-float-right\@handset-portrait { .u-float-right; }
	.u-centered\@handset-portrait { .u-centered; }
}


/* Cursor's
 ========================================================================== */

.u-cursor-auto { cursor: auto; }
.u-cursor-default { cursor: default; }
.u-cursor-none { cursor: none; }
.u-cursor-context-menu { cursor: context-menu; }
.u-cursor-help { cursor: help; }
.u-cursor-pointer { cursor: pointer; }
.u-cursor-progress { cursor: progress; }
.u-cursor-wait { cursor: wait; }
.u-cursor-cell { cursor: cell; }
.u-cursor-crosshair { cursor: crosshair; }
.u-cursor-text { cursor: text; }
.u-cursor-vertical-text { cursor: vertical-text; }
.u-cursor-alias { cursor: alias; }
.u-cursor-copy { cursor: copy; }
.u-cursor-move { cursor: move; }
.u-cursor-no-drop { cursor: no-drop; }
.u-cursor-not-allowed { cursor: not-allowed; }
.u-cursor-all-scroll { cursor: all-scroll; }
.u-cursor-col-resize { cursor: col-resize; }
.u-cursor-row-resize { cursor: row-resize; }
.u-cursor-n-resize { cursor: n-resize; }
.u-cursor-e-resize { cursor: e-resize; }
.u-cursor-s-resize { cursor: s-resize; }
.u-cursor-w-resize { cursor: w-resize; }
.u-cursor-ne-resize { cursor: ne-resize; }
.u-cursor-nw-resize { cursor: nw-resize; }
.u-cursor-se-resize { cursor: se-resize; }
.u-cursor-sw-resize { cursor: sw-resize; }
.u-cursor-ew-resize { cursor: ew-resize; }
.u-cursor-ns-resize { cursor: ns-resize; }
.u-cursor-nesw-resize { cursor: nesw-resize; }
.u-cursor-nwse-resize { cursor: nwse-resize; }
.u-cursor-zoom-in { cursor: zoom-in; }
.u-cursor-zoom-out { cursor: zoom-out; }
.u-cursor-grab { cursor: grab; }
.u-cursor-grabbing { cursor: grabbing; }



/* Vertical alignment
 ========================================================================== */

.u-vertical-align { font-size: 0.001px; }
.u-vertical-align:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.u-vertical-align-middle,
.u-vertical-align-bottom,
.u-vertical-align-top {
    display: inline-block;
    max-width: 100%;
    font-size: 1.4rem;
}

.u-vertical-align-top { vertical-align: top; }
.u-vertical-align-middle { vertical-align: middle; }
.u-vertical-align-bottom { vertical-align: bottom; }


/* Border
 ========================================================================== */

.u-border-circle { border-radius: 50vw; }
.u-border-rounded { border-radius: @u-border-rounded; }


/* Link
 ========================================================================== */

.u-link-muted,
.u-link-muted a { color: @u-link-muted-color; }

.u-link-muted:hover,
.u-link-muted a:hover { color: @u-link-muted-hover-color; }

.u-link-reset,
.u-link-reset a,
.u-link-reset:hover,
.u-link-reset a:hover {
    color: inherit;
    text-decoration: none;
}


/* Display
 ========================================================================== */

.u-display-block { display: block !important; }
.u-display-inline { display: inline !important; }
.u-display-inline-block { display: inline-block !important; }


/* Visibility
 ========================================================================== */

/* xdesktop and bigger */
@media @screen-xdesktop {
    .u-hidden\@xdesktop,
	.u-visible\@desktop,
	.u-visible\@tablet,
	.u-visible\@tablet-landscape,
    .u-visible\@tablet-portrait,
	.u-visible\@handset,
	.u-visible\@handset-landscape,
	.u-visible\@handset-portrait { display: none !important; }
}

/* desktop */
@media @screen-desktop {
	.u-hidden\@desktop,
	.u-visible\@xdesktop,
	.u-visible\@tablet,
	.u-visible\@tablet-landscape,
	.u-visible\@tablet-portrait,
	.u-visible\@handset,
	.u-visible\@handset-landscape,
	.u-visible\@handset-portrait { display: none !important; }
}

/* tablet-landscape */
@media @screen-tablet-landscape {
	.u-hidden\@tablet,
	.u-hidden\@tablet-landscape,
	.u-visible\@xdesktop,
	.u-visible\@desktop,
	.u-visible\@tablet-portrait,
	.u-visible\@handset,
	.u-visible\@handset-landscape,
	.u-visible\@handset-portrait { display: none !important; }
}

/* tablet-portrait */
@media @screen-tablet-portrait {
	.u-hidden\@tablet,
	.u-hidden\@tablet-portrait,
	.u-visible\@xdesktop,
	.u-visible\@desktop,
	.u-visible\@tablet-landscape,
	.u-visible\@handset,
	.u-visible\@handset-landscape,
	.u-visible\@handset-portrait { display: none !important; }
}

/* handset-landscape */
@media @screen-handset-landscape {
	.u-hidden\@handset,
	.u-hidden\@handset-landscape,
	.u-visible\@xdesktop,
	.u-visible\@desktop,
	.u-visible\@tablet,
	.u-visible\@tablet-landscape,
	.u-visible\@tablet-portrait,
	.u-visible\@handset-portrait { display: none !important; }
}

// handset-portrait and smaller
@media @screen-handset-portrait {
	.u-hidden\@handset,
	.u-hidden\@handset-portrait,
	.u-visible\@xdesktop,
	.u-visible\@desktop,
	.u-visible\@tablet,
	.u-visible\@tablet-landscape,
	.u-visible\@tablet-portrait,
	.u-visible\@handset-landscape { display: none !important; }
}

// hide elements when printing
@media print {
	.u-hidden\@print {
		display: none !important;
		visibility: hidden !important;
	}
}


/* Remove from the flow and screen readers on any device */
.u-hidden,
[aria-hidden=true] {
    display: none !important;
    visibility: hidden !important;
}

/* Show on hover */
.u-visible-hover:hover {
    .u-hidden,
    [aria-hidden=true] {
		display: block !important;
		visibility: visible !important;
    }
}

.u-visible-hover-inline:hover .u-hidden {
    display: inline-block !important;
    visibility: visible !important;
}



/* Position
 ========================================================================== */

.u-position-absolute,
[class*='u-position-top'],
[class*='u-position-bottom'] { position: absolute !important; }

.u-position-top {
    top: 0;
    width: 100%;
}

.u-position-bottom {
    bottom: 0;
    width: 100%;
}

.u-position-top-left {
    top: 0;
    left: 0;
}

.u-position-top-right {
    top: 0;
    right: 0;
}

.u-position-bottom-left {
    bottom: 0;
    left: 0;
}

.u-position-bottom-right {
    bottom: 0;
    right: 0;
}

.u-position-cover {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.u-position-relative { position: relative !important; }