@import "../settings/variables";
@import "../tools/mixins";

/* ========================================================================
   Object: Container
 ========================================================================== */


// Variables
// ========================================================================

@u-container-padding:                  (4 * @unit) 0;

@u-container-width:                   auto;
@u-container-width-xdesktop:          129.6rem;
@u-container-width-desktop:           110.4rem;
@u-container-width-tablet:			   92.8rem;
@u-container-width-tablet-portrait:   72rem;
@u-container-width-handset:		   46.4rem;
@u-container-width-handset-portrait:  32rem;


// Definition
// ========================================================================

.u-container {
	display: block;
	width: @u-container-width;
	margin: 0 auto;
	padding: @u-container-padding;
}
.u-container:before,
.u-container:after {
	content: " ";
	display: table;
}
.u-container:after { clear: both; }


/* Media queries
 ========================================================================== */

// xdesktop
@media (min-width: @screen-xdesktop) {
	.u-container { width: @u-container-width-xdesktop; }
}

// desktop
@media (min-width: @screen-desktop) and (max-width: @screen-desktop-max) {
	.u-container { width: @u-container-width-desktop; }
}

// tablet-landscape
@media (min-width: @screen-tablet-landscape) and (max-width: @screen-tablet-landscape-max) {
	.u-container { width: @u-container-width-tablet; }
}

// tablet-portrait
@media (min-width: @screen-tablet-portrait) and (max-width: @screen-tablet-portrait-max) {
	.u-container { width: @u-container-width-tablet-portrait; }
}

// handset-landscape
@media (min-width: @screen-handset-landscape) and (max-width: @screen-handset-landscape-max) {
	.u-container { width: @u-container-width-handset; }
}

// handset-portrait
@media (max-width: @screen-handset-portrait-max) {
    .u-container { width: @u-container-width-handset-portrait; }
}
