@import "../settings/variables";

/**
 * Object:		Grid
 * Description: Seamless Flexbox grid.
 *
 * Elements:	`u-grid-cell`
 *
 ========================================================================== */


// Variables
// ========================================================================

@u-grid-unit: (@unit * 1.5);

@u-grid-margin-horizontal: -(@u-grid-unit / 2);
@u-grid-cell-padding: 0 (@u-grid-unit / 2) @u-grid-unit;


/* ========================================================================
   Object: `u-grid`
 ========================================================================== */

.u-grid {
	display: flex;
	flex-flow: row wrap;
	margin-left: @u-grid-margin-horizontal;
	margin-right: @u-grid-margin-horizontal;

	& > * { flex: 0 0 auto; }
	& > * > * {
		-ms-flex: none;
		-webkit-flex: none;
		flex: none;
		box-sizing: border-box;
		width: 100%;
	}
}
	.u-grid__cell {
		box-sizing: border-box;
		padding: @u-grid-cell-padding;
		display: flex;
		flex-direction: column;
		& > * { flex: 1 1 auto; }
	}

