@import "../settings/variables";

@u-height-viewport-min-height: 600px;


/* ========================================================================
   Utility: `u-height-*`
 ========================================================================== */

[class*='u-height'] { box-sizing: border-box; }
.u-height-1-1 { height: 100%; }
.u-height-viewport {
	height: 100vh;
	min-height: @u-height-viewport-min-height;
}