@import "../settings/variables";

/**
 * Name:            Text
 * Description:     Collection of useful text utility classes to style your content
 * 
 * Component:       `u-font-*`
 *					`u-text-*`
 * 
 * ======================================================================== */


// Variables
// ========================================================================

@u-text-caption-font-family: @font-family-caption;
@u-text-cursive-font-family: @font-family-cursive;

@u-text-color:			@text-color;
@u-text-muted-color:    @muted-color;
@u-text-primary-color:  #2d7091;
@u-text-success-color:  @success-color;
@u-text-warning-color:  #e28327;
@u-text-danger-color:   #d85030;

@u-text-large-font-size: @font-size-large;
@u-text-large-line-height: @line-height-large;


// Fonts
// ========================================================================
 
.u-font-caption {
	font-family: @u-text-caption-font-family;
	font-style: normal;
}

.u-font-cursive {
	font-family: @u-text-cursive-font-family;
	font-style: normal;
}

.u-font-primary {
	font-family: @font-family-primary;
	font-style: normal;
}

/* Size modifiers
 ========================================================================== */

.u-text-large {
	font-size: @u-text-large-font-size;
	line-height: @u-text-large-line-height;
}

.u-text-small {
	font-size: @font-size-small;
	line-height: @line-height-small;
}


/* Color modifiers
 ========================================================================== */

.u-text-color { color: @u-text-color; }
.u-text-muted { color: @u-text-muted-color; }
.u-text-primary { color: @u-text-primary-color !important; }
.u-text-success { color: @u-text-success-color !important; }
.u-text-warning { color: @u-text-warning-color !important; }
.u-text-danger { color: @u-text-danger-color !important; }


/* Alignment modifiers
 ========================================================================== */

.u-text-left { text-align: left !important; }
.u-text-right { text-align: right !important; }
.u-text-center { text-align: center !important; }
.u-text-justify { text-align: justify !important; }

.u-text-top { vertical-align: top !important; }
.u-text-middle { vertical-align: middle !important; }
.u-text-bottom { vertical-align: bottom !important; }

/* xdesktop */
@media (min-width: @screen-xdesktop) {
	.u-text-center\@xdesktop { text-align: center !important; }
	.u-text-left\@xdesktop { text-align: left !important; }
	.u-text-right\@xdesktop { text-align: right !important; }
}

/* desktop */
@media (min-width: @screen-desktop) and (max-width: @screen-desktop-max) {
	.u-text-center\@desktop { text-align: center !important; }
	.u-text-left\@desktop { text-align: left !important; }
	.u-text-right\@desktop { text-align: right !important; }
}

/* tablet-landscape */
@media (min-width: @screen-tablet-landscape) and (max-width: @screen-tablet-landscape-max) {
	.u-text-center\@tablet,
	.u-text-center\@tablet-landscape { text-align: center !important; }
	.u-text-left\@tablet,
	.u-text-left\@tablet-landscape { text-align: left !important; }
	.u-text-right\@tablet,
	.u-text-right\@tablet-landscape { text-align: right !important; }
}

/* tablet-portrait */
@media (min-width: @screen-tablet-portrait) and (max-width: @screen-tablet-portrait-max) {
	.u-text-center\@tablet,
	.u-text-center\@tablet-portrait { text-align: center !important; }
	.u-text-left\@tablet,
	.u-text-left\@tablet-portrait { text-align: left !important; }
	.u-text-right\@tablet,
	.u-text-right\@tablet-portrait { text-align: right !important; }
}

/* handset-landscape */
@media (min-width: @screen-handset-landscape) and (max-width: @screen-handset-landscape-max) {
	.u-text-center\@handset,
	.u-text-center\@handset-landscape { text-align: center !important; }
	.u-text-left\@handset,
	.u-text-left\@handset-landscape { text-align: left !important; }
	.u-text-right\@handset,
	.u-text-right\@handset-landscape { text-align: right !important; }
}

// handset-portrait
@media (max-width: @screen-handset-portrait-max) {
	.u-text-center\@handset,
	.u-text-center\@handset-portrait { text-align: center !important; }
	.u-text-left\@handset,
	.u-text-left\@handset-portrait { text-align: left !important; }
	.u-text-right\@handset,
	.u-text-right\@handset-portrait { text-align: right !important; }
}


/* Wrap modifiers
 ========================================================================== */

.u-text-nowrap { white-space: nowrap; }
.u-text-truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.u-text-break {
    word-wrap: break-word;
    -webkit-hyphens: auto;
	   -moz-hyphens: auto;
		-ms-hyphens: auto;
    		hyphens: auto;
}