
/* Animation
 ========================================================================== */

.pattern-animation-fade,
.pattern-animation-movement {
	display: block;
	line-height: 5.2rem;
	text-align: center;
	background-color: var(--clr-white);
	cursor: default;
}
.pattern-animation-fade,
.pattern-animation-movement,
.pattern-animation-fade:hover,
.pattern-animation-movement:hover {
	text-decoration: none;
}

.pattern-animation-fade:hover,
.pattern-animation-movement:hover {
	cursor: none;
}

.pattern-animation-fade {
	transition: all .3s var(--easing);
}
.pattern-animation-fade:hover {
	color: white;
	background-color: white;
}

.pattern-animation-movement {
	position: relative;
}
.pattern-animation-movement::after {
	content: ' ';
	display: block;
	
	position: absolute;
	top: 0; right: 0; bottom: 0; left: 0;
	margin-left: 0;
	transition: all .8s var(--easing);
	
	width: 1.6rem;
	line-height: inherit;
	background-color: var(--clr-grey-800);
}
.pattern-animation-movement:hover::after {
	left: 100%;
    margin-left: -1.6rem;
}


/* Avatars
 ========================================================================== */

.ps-avatar {
	position: relative;
	display: inline-block;
	margin-top: var(--unit);
	margin-bottom: calc(2 * var(--unit));
	color: var(--clr-grey-600);
	vertical-align: bottom;
}

.ps-avatar::before {
    content: ' ';
    display: block;
    position: absolute;
    bottom: -.8rem; left: 50%;
    transform: translateX(-50%);

    width: calc(5 * var(--unit));
    height: .3rem;
    border: .1rem solid currentColor;
    border-top: none;
}

.ps-avatar::after {
    content: '5x';
    position: absolute;
    bottom: -.8rem; left: 50%;
    transform: translate(-50%, 120%);
    font-size: 1.3rem;
    line-height: 1;
}

.ps-avatar--xsmall::after { content: '1.5x xsmall'; }
.ps-avatar--xsmall::before { width: calc(1.5 * var(--unit)); }

.ps-avatar--small::after { content: '3x small'; }
.ps-avatar--small::before { width: calc(3 * var(--unit)); }

.ps-avatar--medium::after { content: '5x medium'; }
.ps-avatar--medium::before { width: calc(5 * var(--unit)); }

.ps-avatar--large::after { content: '8x large'; }
.ps-avatar--large::before { width: calc(8 * var(--unit)); }

.ps-avatar--xlarge::after { content: '12x xlarge'; }
.ps-avatar--xlarge::before { width: calc(12 * var(--unit)); }


/* Preview colors
 ========================================================================== */

.pattern[class*="u-bg-"] {
    width: 12.1rem; line-height: 2.4rem;
    display: inline-block;
    vertical-align: bottom;
    padding: var(--space-xs) var(--space-xs) 0;
}


/* Visibility
 ========================================================================== */

.pattern.u-visible\@xdesktop,
.pattern.u-visible\@desktop,
.pattern.u-visible\@tablet,
.pattern.u-visible\@tablet-landscape,
.pattern.u-visible\@tablet-portrait,
.pattern.u-visible\@handset,
.pattern.u-visible\@handset-landscape,
.pattern.u-visible\@handset-portrait {
   display: inline-block !important;
   color: var(--clr-grey-400);
}

/* xdesktop */
@media (--screen-xdesktop) {
	.u-visible\@xdesktop {
		color: var(--text-color) !important;
    }
}

/* desktop */
@media (--screen-desktop) {
    .u-visible\@desktop {
		color: var(--text-color) !important;
    }
}

/* tablet-landscape */
@media (--screen-tablet-landscape) {
	.u-visible\@tablet,
	.u-visible\@tablet-landscape {
		color: var(--text-color) !important;
    }
}

/* tablet-portrait */
@media (--screen-tablet-portrait) {
	.u-visible\@tablet,
	.u-visible\@tablet-portrait {
		color: var(--text-color) !important;
    }
}

/* handset-landscape */
@media (--screen-handset-landscape) {
	.u-visible\@handset,
	.u-visible\@handset-landscape {
		color: var(--text-color) !important;
	}
}

/* handset-landscape */
@media (--screen-handset-portrait) {
	.u-visible\@handset,
	.u-visible\@handset-portrait {
		color: var(--text-color) !important;
	}
}


/* List
 ========================================================================== */

.c-list.s-example .c-ctrl-sort {
	color: var(--clr-grey-400);
}

.c-list.s-example .c-ctrl-sort::after {
    color: transparent;
    transition: color 0.16s var(--easing);
}

.c-list.s-example .c-ctrl-sort:hover {
    color: var(--clr-grey-800);
}
.c-list.s-example .c-ctrl-sort:hover::after {
    color: var(--clr-grey-400);
}

.c-list.s-example .c-ctrl-sort[aria-selected=true],
.c-list.s-example .c-ctrl-sort[aria-selected=true]::after {
    color: var(--clr-grey-900);
}


/* Thumbnail
 ========================================================================== */

a.c-thumbnail.s-example:hover  img {
    filter: grayscale(100%);
}
a.c-thumbnail.s-example .c-thumbnail__shutter {
    background-color: transparent;
    opacity: 0;
    transition: opacity 0.16s var(--easing);
}
a.c-thumbnail.s-example:hover .c-thumbnail__shutter {
    opacity: 1;
}



/* Tooltip holder
 ========================================================================== */

.c-popover-holder.pattern {
	display: inline-block;
	padding: 2.4rem;
	border: none;
	outline: 1px dashed var(--clr-purple-A200);
}

.c-popover-holder.pattern.pattern--horizontal {
    padding: 2.4rem 6.4rem;
}

.c-popover-holder.pattern.pattern--vertical {
    padding: 6.4rem 2.4rem;
}
