@import '../settings/basic.css';
@import '../settings/breakpoint.css';

/* Clearfix
=========================================================================== */

.u-clearfix {
	&::before {
		content: '';
		display: table-cell;
	}
	&::after {
		content: '';
		display: table;
		clear: both;
	}
}

/* Block alignment
=========================================================================== */

[class*='u-align'] {
	--margin: var(--space);
}

[class*='u-align'] {
	display: block;
	margin-block-end: var(--margin);
}

* + [class*='u-align'] {
	margin-block-start: var(--margin);
}

.u-align-center {
	margin-inline-start: auto;
	margin-inline-end: auto;
}

.u-align-left {
	margin-block-start: unset;
	margin-inline-end: var(--margin);
	float: left;
}

.u-align-right {
	margin-block-start: unset;
	margin-inline-start: var(--margin);
	float: right;
}

/* Text alignment
 ========================================================================== */

.u-text-left {
	text-align: left;
}
.u-text-right {
	text-align: right;
}
.u-text-center {
	text-align: center;
}
.u-text-justify {
	text-align: justify;
}

@media (--device-desktop) {
	.u-text-center\@desktop {
		text-align: center;
	}
	.u-text-left\@desktop {
		text-align: left;
	}
	.u-text-right\@desktop {
		text-align: right;
	}
	.u-text-justify\@desktop {
		text-align: right;
	}
}

@media (--device-laptop) {
	.u-text-center\@laptop {
		text-align: center;
	}
	.u-text-left\@laptop {
		text-align: left;
	}
	.u-text-right\@laptop {
		text-align: right;
	}
	.u-text-justify\@laptop {
		text-align: right;
	}
}

@media (--device-tablet) {
	.u-text-center\@tablet {
		text-align: center;
	}
	.u-text-left\@tablet {
		text-align: left;
	}
	.u-text-right\@tablet {
		text-align: right;
	}
	.u-text-justify\@tablet {
		text-align: right;
	}
}

@media (--device-handset) {
	.u-text-center\@handset {
		text-align: center;
	}
	.u-text-left\@handset {
		text-align: left;
	}
	.u-text-right\@handset {
		text-align: right;
	}
	.u-text-justify\@handset {
		text-align: right;
	}
}
