@import '../settings/breakpoints.css';
@import '../settings/space.css';

/* Variables
=========================================================================== */

.u-container {
	--device: 'tablet';
	--size: 92rem;

	@media (--screen-desktop) {
		--device: 'desktop';
		--size: 111.2rem;
	}

	@media (--screen-2k) {
		--device: 'screen-2k';
		--size: 130.4rem;
	}

	@media (--screen-4k) {
		--device: 'screen-4k';
		--size: 130.4rem;
	}

	@media (--screen-8k) {
		--device: 'screen-8k';
		--size: 130.4rem;
	}

	@media (--screen-tablet) {
		--device: 'tablet';
		--size: 92rem;
	}

	@media (--screen-tablet-portrait) {
		--device: 'tablet';
		--size: 72rem;
	}

	@media (--screen-handset-landscape) {
		--device: 'handset';
		--size: 46.4rem;
	}

	@media (--screen-handset-portrait) {
		--device: 'handset';
		--size: 32rem;
	}
}

/* ========================================================================
	Utility: Container
=========================================================================== */

.u-container {
	display: block;
	box-sizing: border-box;
	padding-block: var(--space-md);
	margin: 0 auto;

	container-name: root-container;
	container-type: inline-size;

	inline-size: 100%;
	block-size: 100dvh;
	max-inline-size: var(--size);

	&::before,
	&::after {
		content: '';
		display: table;
		clear: both;
	}
}

.u-container .u-container {
	all: unset;
}
