@import '../settings/breakpoints.css';
@import '../settings/space.css';

/* Variables
=========================================================================== */

.u-container {
	--width: 92rem;

	@media (--screen-xdesktop) {
		--width: 130.4rem;
	}

	@media (--screen-desktop) {
		--width: 111.2rem;
	}

	@media (--screen-tablet-landscape) {
		--width: 92rem;
	}

	@media (--screen-tablet-portrait) {
		--width: 72rem;
	}

	@media (--screen-handset-landscape) {
		--width: 46.4rem;
	}

	@media (--screen-handset-portrait) {
		--width: 32rem;
	}
}

/* ========================================================================
	Utility: Container
=========================================================================== */

.u-container {
	container-name: inherit;
	container-type: inline-size;

	display: block;
	max-width: var(--width);
	width: 100%;

	margin: 0 auto;
	padding: var(--space) 0 var(--space-lg);

	&::before,
	&::after {
		content: '';
		display: table;
		clear: both;
	}
}
