/* ========================================================================
	Utility: Container
=========================================================================== */

@import '../settings/breakpoint.css';
@import '../settings/space.css';

/* Settings
=========================================================================== */

.u-container {
	--width: 100dvw;
	--height: 100dvh;

	@media (--device-desktop) {
		--width: 160rem;
	}

	@media (--device-laptop) {
		--width: 88vw;
	}

	@media (--device-tablet) {
		--width: 92vw;
	}

	@media (--device-handset) {
		--width: 96vw;
	}
}

/* Rules
=========================================================================== */

.u-container {
	container-name: root-container;
	container-type: inline-size;

	display: block;
	inline-size: auto;
	max-inline-size: var(--width);
	block-size: max-content;
	min-block-size: var(--height);
	padding-block: var(--space-md);
	margin-inline: auto;
	box-sizing: border-box;
	
	.u-container {
		container-name: unset;
		max-inline-size: unset;
		min-block-size: unset;
		padding-block-start: unset;
		margin-inline: unset;
	}
}
