@import '../settings/space.css';

[class*='u-mgn'] {
	--margin: var(--space);
}

[class*='u-mgn-xs'] {
	--margin: var(--space-xs);
}

[class*='u-mgn-sm'] {
	--margin: var(--space-sm);
}

[class*='u-mgn-md'] {
	--margin: var(--space-md);
}

[class*='u-mgn-lg'] {
	--margin: var(--space-lg);
}

[class*='u-mgn-xl'] {
	--margin: var(--space-xl);
}

[class*='u-mgn-xxl'] {
	--margin: var(--space-xxl);
}

.u-mgn-xs,
.u-mgn-sm,
.u-mgn-md,
.u-mgn-lg,
.u-mgn-xl,
.u-mgn-xxl,
.u-mgn {
	margin: var(--margin);
}

.u-mgn-xs-top,
.u-mgn-sm-top,
.u-mgn-md-top,
.u-mgn-lg-top,
.u-mgn-xl-top,
.u-mgn-xxl-top,
.u-mgn-top {
	margin-block-start: var(--margin);
}

.u-mgn-xs-right,
.u-mgn-sm-right,
.u-mgn-md-right,
.u-mgn-lg-right,
.u-mgn-xl-right,
.u-mgn-xxl-right,
.u-mgn-right {
	margin-inline-end: var(--margin);
}

.u-mgn-xs-bottom,
.u-mgn-sm-bottom,
.u-mgn-md-bottom,
.u-mgn-lg-bottom,
.u-mgn-xl-bottom,
.u-mgn-xxl-bottom,
.u-mgn-bottom {
	margin-block-end: var(--margin);
}

.u-mgn-xs-left,
.u-mgn-sm-left,
.u-mgn-md-left,
.u-mgn-lg-left,
.u-mgn-xl-left,
.u-mgn-xxl-left,
.u-mgn-left {
	margin-inline-start: var(--margin);
}

.u-mgn-remove {
	margin: unset;
}
.u-mgn-top-remove {
	margin-block-start: unset;
}
.u-mgn-right-remove {
	margin-inline-end: unset;
}
.u-mgn-bottom-remove {
	margin-block-end: unset;
}
.u-mgn-left-remove {
	margin-inline-start: unset;
}