@import '../settings/basic.css';

[class*='u-margin'] {
	--margin: var(--space);
}

[class*='u-margin-xs'] {
	--margin: var(--space-xs);
}

[class*='u-margin-sm'] {
	--margin: var(--space-sm);
}

[class*='u-margin-md'] {
	--margin: var(--space-md);
}

[class*='u-margin-lg'] {
	--margin: var(--space-lg);
}

[class*='u-margin-xl'] {
	--margin: var(--space-xl);
}

[class*='u-margin-xxl'] {
	--margin: var(--space-xxl);
}

.u-margin-xs,
.u-margin-sm,
.u-margin-md,
.u-margin-lg,
.u-margin-xl,
.u-margin-xxl,
.u-margin {
	margin: var(--margin);
}

.u-margin-xs-top,
.u-margin-sm-top,
.u-margin-md-top,
.u-margin-lg-top,
.u-margin-xl-top,
.u-margin-xxl-top,
.u-margin-top {
	margin-block-start: var(--margin);
}

.u-margin-xs-right,
.u-margin-sm-right,
.u-margin-md-right,
.u-margin-lg-right,
.u-margin-xl-right,
.u-margin-xxl-right,
.u-margin-right {
	margin-inline-end: var(--margin);
}

.u-margin-xs-bottom,
.u-margin-sm-bottom,
.u-margin-md-bottom,
.u-margin-lg-bottom,
.u-margin-xl-bottom,
.u-margin-xxl-bottom,
.u-margin-bottom {
	margin-block-end: var(--margin);
}

.u-margin-xs-left,
.u-margin-sm-left,
.u-margin-md-left,
.u-margin-lg-left,
.u-margin-xl-left,
.u-margin-xxl-left,
.u-margin-left {
	margin-inline-start: var(--margin);
}

.u-margin-remove {
	margin: unset;
}
.u-margin-top-remove {
	margin-block-start: unset;
}
.u-margin-right-remove {
	margin-inline-end: unset;
}
.u-margin-bottom-remove {
	margin-block-end: unset;
}
.u-margin-left-remove {
	margin-inline-start: unset;
}
