@import '../settings/breakpoint.css';

/**
 * Utilities:
 *	`u-hidden`
 *	`u-hidden@{device-breakpoint}`
 *	`u-hidden@print`
 *	`u-hidden-touch`
 *	`u-hidden-notouch`
 *	`u-invisible`
 *	`u-invisible@{device-breakpoint}`
 *	`u-visible`
 *	`u-visible@{device-breakpoint}`
=========================================================================== */

.u-hidden {
	content-visibility: hidden;
	&.u-visible {
		content-visibility: revert-layer;
	}
}

.u-invisible {
	visibility: hidden;
	&.u-visible {
		visibility: revert-layer;
	}
}

.u-visible:not(:is(.u-hidden, .u-invisible)) {
	visibility: visible;
	content-visibility: visible;
}

@media (--device-desktop) {
	.u-hidden\@desktop,
	.u-visible\@laptop,
	.u-visible\@tablet,
	.u-visible\@handset {
		content-visibility: hidden;
	}

	.u-invisible\@desktop {
		visibility: hidden;
	}
}

@media (--device-laptop) {
	.u-hidden\@laptop,
	.u-visible\@desktop,
	.u-visible\@tablet,
	.u-visible\@handset {
		content-visibility: hidden;
	}

	.u-invisible\@laptop {
		visibility: hidden;
	}
}

@media (--device-tablet) {
	.u-hidden\@tablet,
	.u-visible\@desktop,
	.u-visible\@laptop,
	.u-visible\@handset {
		content-visibility: hidden;
	}

	.u-invisible\@tablet {
		visibility: hidden;
	}
}

@media (--device-handset) {
	.u-hidden\@handset,
	.u-visible\@desktop,
	.u-visible\@laptop,
	.u-visible\@tablet {
		content-visibility: hidden;
	}

	.u-invisible\@handset {
		visibility: hidden;
	}
}

@media print {
	.u-hidden\@print {
		display: none;
		visibility: hidden;
	}
}

/* Touch
=========================================================================== */

.u-hidden-notouch {
	content-visibility: hidden;
}

@media (pointer: coarse) {
	.u-hidden-touch {
		content-visibility: hidden;
	}
	.u-hidden-notouch {
		content-visibility: visible;
	}
}
