
@import "../settings/_import.css";

/**
 * Component:	Chart
 * Description: Style of charts made using the "D3.js" library.
 *
 * Components:	`c-chart`
 *				`app-worldmap`
 *
 * Elements:	`c-chart__axis`
 *				`c-chart__graph`
 *				`c-chart__legend`
 *
 * Modifiers:   `c-chart--area`
 *				`c-chart--bar`
 *				`c-chart--bubbles`
 *				`c-chart--line`
 *				`c-chart--line`
 *
 ========================================================================== */

:root {
	--c-chart-color: var(--clr-grey-800);
	--c-chart-stroke-width: 0.2rem;
}

/* ========================================================================
	Component: `c-chart`
 ========================================================================== */

.c-chart,
.c-chart__canvas {
	position: relative;
	user-select: none;
}


/* ========================================================================
	Element: `c-chart__axis`
 ========================================================================== */

.c-chart__axis .tick line { stroke: var(--c-chart-color); }
.c-chart__axis .tick text { color: var(--c-chart-color); }


/* ========================================================================
	Element: `c-chart__graph`
 ========================================================================== */

/*path*/
.c-chart__graph .line {
	stroke: var(--c-chart-color);
	stroke-width: var(--c-chart-stroke-width);
	stroke-linecap: round;
	fill: none;
}


/*circle*/
.c-chart__graph .point .dot {
	stroke: var(--clr-grey-800);
	stroke-width: var(--c-chart-stroke-width);
	fill: var(--c-chart-color);

	transition-property: stroke, fill;
	transition-duration: 0.16s;
	transition-timing-function: var(--easing);
}

/*circle*/
.c-chart__graph .point .handle {
	stroke-width: 0;
	fill: transparent;
}

.c-chart__graph .point--hovered {
	cursor: pointer;
}

.c-chart__graph .point--hovered:hover .dot {
	stroke: var(--clr-grey-800);
	fill: var(--clr-grey-800);
}

/* ========================================================================
 Element: `c-chart__loader`
 ========================================================================== */

/*g*/
.c-chart__loader {

}

/* ========================================================================
 Element: `c-chart__tracker`
 ========================================================================== */

/*g*/
.c-chart__tracker {

}

/* ========================================================================
 Element: `c-chart__tracker`
 ========================================================================== */

/*g*/
.c-chart__controls {
	position: relative;
}
