@import '../settings/basic.css';
@import '../settings/breakpoint.css';

/* ========================================================================
	Theme: Document
=========================================================================== */

.t-document {
	.u-container {
		--width: none;
	}
}

/* Relayout and restyling
=========================================================================== */

.t-document {
	min-height: none;

	ul li::before {
		content: '⁍';
	}

	.u-container {
		margin: 0;
		padding: 10vh var(--space-lg) var(--space-lg) 12vw;
	}
}
