@import "../settings/breakpoints.css";
@import "../settings/space.css";

/* Variables
=========================================================================== */

.t-document {
	.o-container {
		--width: 100ch;
	}
}

/* ========================================================================
	Theme: Document
=========================================================================== */

.t-document {
	min-height: auto;

	.o-container {
		margin: 0;
		padding: 10vh var(--space-lg) var(--space-lg) 12vw;
	}
}

