@import "../settings/document.css";
@import "../settings/space.css";
@import "../settings/typography.css";

code,
kbd,
pre,
samp,
var {
	--text-font: var(--font-monospace);
	--text-size: var(--text-sm);
}

code {
	--text-color: var(--clr-black);
	
	background-color: var(--clr-grey-50);
	border-radius: var(--space-xs);
	padding: 0 var(--space-xs);
}
