@import "../settings/document.css";
@import "../settings/space.css";
@import "../settings/typography.css";

/* ========================================================================
	Headings
=========================================================================== */

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--caption-font);
	margin: 0;
	color: var(--caption-color);
}

h1 {
	font-size: 3.6rem;
	font-weight: 700;
	line-height: 4rem;
}

h2 {
	font-size: 2.8rem;
	font-weight: 600;
	line-height: 3.2rem;
}

h3 {
	font-size: 2rem;
	font-weight: 600;
	line-height: 2.4rem;
}

h4 {
	font-size: 1.6rem;
	font-weight: 600;
	line-height: 1.8rem;
}

h5 {
	font-size: 1.4rem;
	font-weight: 500;
	line-height: 1.6rem;
	text-transform: uppercase;
}

h6 {
	font-size: 1.1rem;
	font-weight: 600;
	line-height: 1.6rem;
	text-transform: uppercase;
}

* + :matches(h1, h2, h3, h4, h5, h6) {
	margin-top: var(--space-md);
}

:matches(h1, h2, h3, h4, h5, h6) a {
	color: var(--caption-color);
}
