@import url("http://assets.protosite.rocks/fonts/iconic/stylesheet.css");
@import "../settings/document.css";
@import "../settings/typography.css";

@custom-selector :--icon i[data-glyph], .icon[data-glyph], .s-icon[data-glyph];

%icon::before {
	--icon-size: var(--unit);
	--icon-weight: var(--font-normal);
	--text-size: var(--icon-size);
	--text-interligne: 1;
}

%icon {
	&::before {
		display: inline-block;
		position: relative;
		top: 0.1rem;
		vertical-align: baseline;
		font-family: 'Iconic';
		font-display: block;
		font-weight: var(--icon-weight);
		speak: none;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}
	
	&:empty {
		font-size: 0;
		line-height: 0;
		
		&::before {
			width: var(--icon-size);
			height: var(--icon-size);
			text-align: center;
			box-sizing: content-box;
		}
	}
}

:--icon {
	@extend %icon;
}

/* TODO: Define glyphs */
