@import '../settings/color.css';
@import '../settings/basic.css';

@import '../.snippet/underline.css';

a {
	&:link {
		--text-color: var(--base-link-color);
	}
	&:visited {
		--text-color: var(--clr-purple-800);
	}
	&:hover {
		--text-color: var(--clr-blue-700);
	}
	&:focus {
		--text-color: var(--clr-purple-600);
	}
	&:active {
		--text-color: var(--clr-red-800);
	}
	&:local-link {
		--text-color: var(--clr-green-800);
	}
}

/* Rule */

a {
	@extend %underline;

	transition-duration: var(--duration);
	transition-property: color;
	transition-timing-function: var(--easing);

	&:hover,
	&:focus-visible {
		text-decoration: none;
	}

	&:focus-visible {
		outline: 1--pixel dashed currentColor;
		border-radius: 1--space-xxs;
	}
}
