@import '../.snippet/custom-selectors.css';
@import '../.snippet/underline.css';
@import '../settings/document.css';
@import '../settings/space.css';

/* Color updates according to a link state and context */

a {
	&:link {
		--link-color: var(--default-link-color);
	}
	&:visited {
		--link-color: var(--clr-purple-800);
	}
	&:hover {
		--link-color: var(--clr-blue-700);
	}
	&:focus {
		--link-color: var(--clr-purple-600);
	}
	&:active {
		--link-color: var(--clr-red-800);
	}
	&:local-link {
		--link-color: var(--clr-green-800);
	}
}

:--headings a {
	--link-color: var(--caption-link-color);

	&:active {
		--link-color: var(--clr-red-900);
	}
	&:visited {
		--link-color: var(--clr-purple-900);
	}
}

/* Rule */

a {
	@extend %underline;
	color: var(--link-color);
	transition: color var(--duration) var(--easing);

	&:hover,
	&:focus-visible {
		text-decoration: none;
	}

	&:focus-visible {
		outline: 1--pixel dashed currentColor;
		border-radius: 1--space-xxs;
	}
}
