@import '../settings/document.css';
@import '../settings/space.css';

dl {
	dt {
		--text-color: var(--caption-color);
		--vertical-space: var(--space);
	}
	dd {
		--vertical-space: var(--space-sm);
		--horizontal-space: var(--space);
	}
}

:where(ol, ul) {
	li {
		--vertical-space: var(--space-sm);
		li {
			--vertical-space: 0;
		}
	}
	li::before {
		--text-color: var(--secondary-text-color);
	}
}

/** Common
=========================================================================== */

ol,
ul {
	display: block;
	max-width: 100ch;
}

/** Description list
=========================================================================== */

dl:not(:empty) {
	padding-bottom: var(--vertical-space);

	dt {
		font-weight: var(--font-bold);
	}

	dt + dd {
		margin-top: var(--vertical-space);
		margin-left: var(--horizontal-space);
	}

	:is(dt, dd) + dt {
		margin-top: var(--vertical-space);
	}
}

/** Ordered list
=========================================================================== */

ol {
	list-style: decimal;
	padding-left: 2.4rem;

	li {
		padding-left: 0;
	}

	li + li {
		margin-top: var(--vertical-space);
	}
	li li + li {
		margin-top: var(--li-nested-margin-vertical);
	}

	ol {
		list-style: lower-alpha;
	}
}

/** Unordered list
=========================================================================== */

ul {
	margin-block-start: 0.5--unit;
	margin-block-end: 1--unit;
	padding: 0;
	list-style: none;
}

ul li {
	padding-left: var(--space);

	&::before {
		content: '•';
		display: inline-block;
		float: left;
		margin-left: -1--unit;
	}

	& + li {
		margin-top: var(--vertical-space);
	}
}
