@import "../settings/space.css";

/* ========================================================================
	Ordered and Unordered lists
=========================================================================== */

ol,
ul {
	--li-margin-vertical: var(--space-sm);
	--li-nested-margin-vertical: 0;
}

/* ========================================================================
	Unordered list
=========================================================================== */

ul {
	padding: 0;
	list-style: none;
}

ul > li {
	margin-top: var(--li-margin-vertical);
	margin-bottom: var(--li-margin-vertical);
	padding-left: 1--space;

	&::before {
		content: 'â';
		display: inline-block;
		float: left;
		margin-left: -1--unit;
	}
}

ul > li > ul {
	margin: 0;
	list-style: none;
}
ul > li > ul > li {
	margin-top: var(--li-nested-margin-vertical);
	margin-bottom: var(--li-nested-margin-vertical);
}


/* ========================================================================
   Ordered list
 ========================================================================== */

ol {
	list-style: decimal;
	padding-left: 2.4rem;
}

ol > li {
	background: none;
	padding-left: 0;
	margin-top: var(--li-margin-vertical);
	margin-bottom: var(--li-margin-vertical);
}

ol > li > ol {
	list-style: lower-alpha;
}

ol > li > ol > li {
	margin-top: var(--li-nested-margin-vertical);
	margin-bottom: var(--li-nested-margin-vertical);
}

/* Remove list styles on ul, ol elements with a class attribute
 ========================================================================== */

ol[class],
ul[class] {
	padding: 0;
	margin: 0;
	list-style: none;
} 
