@import "../.snippet/custom-selectors.css";
@import "../settings/document.css";
@import "../settings/typography.css";


/* ========================================================================
	Normalize
=========================================================================== */

html {
	height: 100%;
}

body {
	min-height: 100vh;
	margin: 0;
	background-color: var(--bg-color);
	scroll-behavior: smooth;
	text-rendering: optimizeSpeed;
}

:where(*, *::before, *::after) {
	box-sizing: border-box;
	color: var(--text-color);
	font-family: var(--text-font);
	font-size: var(--text-size);
	line-height: var(--text-interligne);
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary { display: block; }

audio,
canvas,
img,
svg,
progress,
video {
	display: inline-block;
	max-width: 100%;
	height: auto;
	vertical-align: middle;
}

img {
	max-width: 100%;
	display: block;
	border: 0;
}

svg:not(:root) {
	overflow: hidden;
}

audio:not([controls]) {
	display: none;
	height: 0;
}

/* Selection
========================================================================== */

::-moz-selection {
	color: var(--selection-color, currentColor);
	background-color: var(--selection-bg-color, transparent);
	text-shadow: none;
}
::selection {
	color: var(--selection-color, currentColor);
	background-color: var(--selection-bg-color, transparent);
	text-shadow: none;
}
*[unselectable=on] {
	user-select: none;
}


/* Horizontal rule
========================================================================== */

hr {
	display: block;
	box-sizing: content-box;
	height: 0;
	border: 0;
	color: var(--clr-grey-400, currentColor);
	border-top: 1px solid currentColor;
	border-bottom: 1px solid var(--clr-white, white);
	margin: var(--unit, 16px) 0;
	padding: 0;
}

:--headings + hr {
	margin-top: 0;
}


/* Block base
========================================================================== */

blockquote,
pre,
address,
fieldset,
figure,
figcaption {
	margin: 0;
}

* + :where(
	blockquote,
	pre,
	address,
	fieldset,
	figure
) {
	margin-top: var(--space-xs);
}


/* Forms
========================================================================== */

label {
	cursor: pointer;
	user-select: none;
}

textarea {
	resize: vertical;
}

fieldset,
legend {
	border: 0;
	margin: 0;
	padding: 0;
}

button,
input,
optgroup,
select,
textarea {
	color: inherit;
	font: inherit;
	margin: 0;
}

input {
	line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
	box-sizing: border-box;
	padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	height: auto;
}

input[type="search"] {
	-webkit-appearance: textfield;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

textarea {
	overflow: auto;
}

optgroup {
	font-weight: bold;
}


/* Tables
========================================================================== */

table {
	border-collapse: collapse;
	border-spacing: 0;
}

td,
th {
	padding: 0;
}
