@import '../settings/document.css';

/* ========================================================================
   Table
 ========================================================================== */

table {
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;
	margin-bottom: var(--space);
}

table + table {
	margin-top: var(--space);
}

/* Header cell
 ========================================================================== */

table th {
	padding: var(--space-sm) var(--space-xs);
	text-align: left;
	vertical-align: bottom;
	font-family: var(--font-primary);
	font-size: var(--text-md);
	font-weight: var(--font-bold);
	color: var(--caption-color);
}

/* Cell
 ========================================================================== */

table td {
	padding: var(--space-sm) var(--space-xs);
	vertical-align: top;
}

/* Footer
 ========================================================================== */

table tfoot {
	font-family: var(--font-primary);
	font-size: var(--text-sm);
	font-weight: var(--font-light);
	color: var(--text-color);
}

/* Caption
 ========================================================================== */

table caption {
	text-align: left;
	font-family: var(--font-primary);
	font-size: var(--text-md);
	font-weight: var(--font-light);
	color: var(--muted-color);
}

/* State: Active
 ========================================================================== */

table > tr.is-active,
table tbody tr.is-active,
table > tr[aria-selected='true'],
table tbody tr[aria-selected='true'] {
	background-color: var(--clr-blue-50) !important;
}

/* Style: Condensed
 ========================================================================== */

table.s-condensed th,
table.s-condensed td {
	padding: 0;
}
