
@import "../settings/document.css";
@import "../settings/typography.css";

/**
 * Name: Text elements
 * Description:	Defining styles for formatting text
 *
 * ======================================================================== */

/* Size modifiers
 ========================================================================== */

small {
	--text-size: var(--text-sm);
	--text-interligne: var(--interligne-sm);
}


/* Text-level semantics
 ========================================================================== */

abbr[title] {
	border-bottom: 0.1rem dotted currentColor;
}

code,
kbd,
pre,
samp {
	--text-font: var(--font-monospace);
	--text-size: var(--text-md);
}

:where(ins) {
	display: inline-block;
	margin: 0 -0.2rem;
	padding: 0 0.2rem;
}

:where(ins, mark) {
	--text-color: var(--highlighted-text-color);
	background-color: var(--selection-background-color);
}

i,
em,
dfn,
q {
	font-style: italic;
}

pre {
	line-height: 1.2;
	overflow: auto;
	white-space: pre-wrap;
}

sub,
sup {
	font-size: 1.1rem;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}
sup {
	top: -0.5em;
}
sub {
	bottom: -0.25em;
}
