@import "../settings/variables";


/* ========================================================================
   Document style by default
 ========================================================================== */

html {
	overflow-x: hidden;
	height: 100%;
}

body {
	background: @body-background;
	height: 100%;
	font-family: @body-font-family;
	font-size: @body-font-size;
	line-height: @body-line-height;
	font-style: normal;
	font-weight: 400;
	color: @body-color;
}


/* Selection
 ========================================================================== */

::-moz-selection {
	background: @clr-lime-100;
	color: @clr-grey-800;
	text-shadow: none;
}
::selection {
	background: @clr-lime-100;
	color: @clr-grey-800;
	text-shadow: none;
}


/* Horizontal rule
 ========================================================================== */

hr {
	display: block;
	box-sizing: content-box;
	height: 0;
	border: 0;
	border-top: 1px solid @clr-grey-400;
	border-bottom: 1px solid @clr-white;
	margin: @unit 0;
	padding: 0;
}


/* Block elements
 ========================================================================== */

p,
ul,
ol,
dl,
blockquote,
pre,
address,
fieldset,
figure {
	margin: 0 0 .3rem 0;
}
* + p,
* + ul,
* + ol,
* + dl,
* + blockquote,
* + pre,
* + address,
* + fieldset,
* + figure {
	margin-top: (@unit / 2);
}