@import "../settings/variables";

/**
 * Elements:        ul, ol
 * Component:       `c-list`
 * Description:     Defines styles for ordered and unordered lists
 * 
 * Modifiers:       `c-list--small`
 *                  `c-list--space`
 *                  `c-list--striped`
 * 
 ========================================================================== */


/* ========================================================================
   Component: Unordered list
 ========================================================================== */

ul {
	padding: 0;
	list-style: none;
}


/*
 * List item
 */

ul > li {
	padding-left: 1.7rem;
	margin-bottom: (@unit / 2);
	background: url('/vendor/svg/square.svg') no-repeat (@unit / 2) (@unit / 1.6);
	background-size: (@unit / 4) (@unit / 4);
}
ul li:last-child { margin-bottom: 0; }


/*
 * Nested list
 */

ul ul {
    margin: 0;
    padding-left: @unit;
    list-style: none;
}


/* ========================================================================
   Component: Ordered list
 ========================================================================== */

ol {
	list-style: decimal;
	padding-left: 2.4rem;
}
ol > li {
	background: none;
	padding-left: 0;
}

// Nested list
ol ol {
	list-style: lower-alpha;
}