@import "../settings/variables";

/**
 * Elements:        ul, ol
 * Component:       `c-list`
 * Description:     Defines styles for ordered and unordered lists
 * 
 * Modifiers:       `c-list--small`
 *                  `c-list--space`
 *                  `c-list--striped`
 * 
 ========================================================================== */

@li-background: var(--svg-square) no-repeat .8rem 1rem;
@li-background-size: .4rem .4rem;
@li-margin-vertical: .8rem;
@li-padding-left: 1.6rem;

@li-nested-margin-vertical: 0;

/* ========================================================================
   Component: Unordered list
 ========================================================================== */

ul {
	padding: 0;
	list-style: none;
}


/*
 * List item
 */

ul > li {
	padding-left: @li-padding-left;
	margin-top: @li-margin-vertical;
	margin-bottom: @li-margin-vertical;
	background: @li-background;
	background-size: @li-background-size;
}


/*
 * Nested list
 */

ul > li > ul {
    margin: 0;
    list-style: none;
}
ul > li > ul > li {
	margin-top: @li-nested-margin-vertical;
	margin-bottom: @li-nested-margin-vertical;
}


/* ========================================================================
   Component: Ordered list
 ========================================================================== */

ol {
	list-style: decimal;
	padding-left: 2.4rem;
}
ol > li {
	background: none;
	padding-left: 0;
	margin-top: @li-margin-vertical;
	margin-bottom: @li-margin-vertical;
}

// Nested list
ol > li > ol {
	list-style: lower-alpha;
}
ol > li > ol > li {
	margin-top: @li-nested-margin-vertical;
	margin-bottom: @li-nested-margin-vertical;
}