@import "../settings/variables";

/**
 * Component:       `c-article`
 *
 * Elements:		`c-article-picture`
 *                  `c-article-lead`
 *
 *
 * Markup:
 *
<article class="c-article" role="main">
	<header>
		<h6 class="u-text-muted">...</h6>
		<h1>...</h1>
		<h4 class="u-text-muted">...</h4>
	</header>
	<figure class="c-article-picture">
		<img src="...">
	</figure>
	<p class="c-article-lead">...</p>
	<p>...</p>
	<h3>...</h3>
	<hr>
	<p>...</p>
</article>
 *
 ========================================================================== */


// Variables
// ========================================================================

@c-article-padding: @unit;
@c-article-margin: @unit 0 (@unit * 2.5) 0;

@c-article-header-margin-bottom: 1.6rem;
@c-article-header-line-height: 4.4rem;

@c-article-h1-font-size: 2.8rem;
@c-article-h1-line-height: 3.3rem;
@c-article-h1-margin-top: 1.2rem;

@c-article-h3-font-size: 1.8rem;
@c-article-h3-line-height: inherit;
@c-article-h3-margin-top: .6rem;

@c-article-h4-font-size: 1.6rem;
@c-article-h4-line-height: inherit;
@c-article-h4-margin-top: .6rem;

@c-article-h6-font-size: 1.3rem;
@c-article-h6-font-weight: 400;
@c-article-h6-line-height: inherit;


@c-article-paragraph-figure-max-width: 30%;
@c-article-paragraph-figure-background-color: @clr-grey-300;
@c-article-paragraph-figure-max-height: 18rem;
@c-article-paragraph-figure-object-fit: contain;

@c-article-picture-width: 60rem;
@c-article-picture-padding: 0;
@c-article-picture-margin: 0 0 0 0;
@c-article-picture-max-height: 12.6rem;
@c-article-picture-background-color: @clr-blue-grey-300;
@c-article-picture-background-size: cover;


@c-article-lead-font-family: "Open Sans",  sans-serif;
@c-article-lead-font-size: 1.6rem;
@c-article-lead-font-style: italic;
@c-article-lead-font-font-weight: 600;
@c-article-lead-line-height: 2.8rem;
@c-article-lead-color: @body-color-caption;
@c-article-lead-max-width: 74rem;
@c-article-lead-margin-top: 2.1rem; // .8rem
@c-article-lead-margin-bottom: 1.9rem;


@c-article-paragraph-max-width: 60rem;
@c-article-paragraph-max-width-xdesktop: 56rem;
@c-article-panel-paragraph-margin-left: 4rem;

@c-article-paragraph-font-family: "Open Sans", sans-serif;
@c-article-paragraph-font-size: 1.4rem;
@c-article-paragraph-font-font-weight: 400;
@c-article-paragraph-line-height: 2.4rem;

@c-article-paragraph-img-margin: .3rem 1.2rem 0 .8rem;
@c-article-paragraph-img-max-height: 11.8rem;


/* ========================================================================
   Component: `c-article`
 ========================================================================== */

.c-article {
	display: inline-block;
	padding: @c-article-padding;
	margin: @c-article-margin;

	// Micro clearfix to make articles more robust
	&::before,
	&::after {
		content: "";
		display: table;
	}

	header {
		line-height: @c-article-header-line-height;
		margin-bottom: @c-article-header-margin-bottom;

		h1, h2, h3, h4, h5, h6 { margin: 0; }

		h1 {
			font-size: @c-article-h1-font-size;
			line-height: @c-article-h1-line-height;
			margin: 0;
		}
		h3 {
			font-size: @c-article-h3-font-size;
			line-height: @c-article-h3-line-height;
			margin: 0;
		}
		h4 {
			font-size: @c-article-h4-font-size;
			line-height: @c-article-h4-line-height;
			margin: 0;
		}
		h6 {
			font-size: @c-article-h6-font-size;
			font-weight: @c-article-h6-font-weight;
			line-height: @c-article-h6-line-height;
			margin: 0;
		}
	}

	h1 + hr,
	h2 + hr,
	h3 + hr,
	h4 + hr,
	h5 + hr,
	h6 + hr {
		margin-top: .6rem;
	}

	p {
		display: inline-block;
		max-width: @c-article-paragraph-max-width;
		vertical-align: text-top;

		font-family: @c-article-paragraph-font-family;
		font-size: @c-article-paragraph-font-size;
		font-weight: @c-article-paragraph-font-font-weight;
		line-height: @c-article-paragraph-line-height;

		figure {
			display: inline-block;
			padding: 0;
			margin: 0;

			max-width: @c-article-paragraph-figure-max-width;
			max-height: @c-article-paragraph-figure-max-height;

			background-color: @c-article-paragraph-figure-background-color;
			background-size: @c-article-paragraph-figure-object-fit;

			img {
				width: 100%;
				max-height: inherit;
				object-fit: @c-article-paragraph-figure-object-fit;
			}

			// Micro clearfix to make the body panel more robust
			&::before,
			&::after {
				content: ' ';
				position: absolute;
				width: 100%;
				display: block;
				clear: both;
			}
		}


		img {
			float: left;
			width: auto;
			max-height: @c-article-paragraph-img-max-height;
			margin: @c-article-paragraph-img-margin;
		}
	}
}


/* Combination of components: `c-article` & `c-panel`
 ========================================================================== */

.c-article.c-panel {
	p:not(.c-article-lead) {
		margin-left: @c-article-panel-paragraph-margin-left;
	}
}

/* Element: `c-article-lead`
 ========================================================================== */

p.c-article-lead {
	display: block;

	max-width: @c-article-lead-max-width;
	margin-top: @c-article-lead-margin-top;
	margin-bottom: @c-article-lead-margin-bottom;

	font-size: @c-article-lead-font-size;
	font-style: @c-article-lead-font-style;
	font-weight: @c-article-lead-font-font-weight;
	line-height: @c-article-lead-line-height;
	color: @c-article-lead-color;

	&::before,
	&::after {
		content: "";
		display: table;
	}
}

/* Element: `c-article-picture`
 ========================================================================== */

/*figure*/
.c-article-picture {
	display: inline-block;
	padding: @c-article-picture-padding;
	margin: @c-article-picture-margin;

	width: 100%;
	max-width: @c-article-picture-width;
	max-height: @c-article-picture-max-height;

	background-color: @c-article-picture-background-color;
	background-size: @c-article-picture-background-size;

	img {
		float: none;
		width: 100%;
		max-height: inherit;
		margin: 0;
		object-fit: @c-article-picture-background-size;
	}

	// Micro clearfix to make the body panel more robust
	&::before,
	&::after {
		content: ' ';
		position: absolute;
		width: 100%;
		display: block;
		clear: both;
	}
}


/* Media queries
 ========================================================================== */

/* xdesktop and bigger */
@media (min-width: @screen-xdesktop) {
	.c-article {
		p:not(.c-article-lead) {
			max-width: @c-article-paragraph-max-width-xdesktop;
		}

		p:not(.c-article-lead):nth-child(even) + p:not(.c-article-lead):nth-child(odd) {
			margin-left: @c-article-panel-paragraph-margin-left;
		}
	}
}

/* desktop */
@media (min-width: @screen-desktop) and (max-width: @screen-desktop-max) {

}

/* tablet-landscape */
@media (min-width: @screen-tablet-landscape) and (max-width: @screen-tablet-landscape-max) {

}

/* tablet-portrait */
@media (min-width: @screen-tablet-portrait) and (max-width: @screen-tablet-portrait-max) {
	.c-article {
		p {
			margin-left: 0 !important;
		}
	}
}

/* handset-landscape and smaller */
@media (max-width: @screen-handset-landscape-max) {
	.c-article {
		p {
			margin-left: 0 !important;
		}
	}
}