@import "../settings/variables";

/**
 * Component:       `c-avatar`
 * Description:     User Avatar
 *
 * Modifiers:       `c-avatar--xsmall`
 *					`c-avatar--small`
 *					`c-avatar--medium` (size by default)
 *					`c-avatar--large`
 *					`c-avatar--xlarge`
 *
 ========================================================================== */


// Variables
// ========================================================================

@c-avatar-size: 5 * @unit;
@c-avatar-box-shadow: @shadow-2dp;
@c-avatar-box-shadow-inset: @inset-shadow-2dp;


/* ========================================================================
   Component: `c-avatar`
 ========================================================================== */

/*figure*/
.c-avatar {
	display: inline-block;
	border-radius: 50%;
	overflow: hidden;

	width: @c-avatar-size;
	height: @c-avatar-size;

	font-size: .001px;
	text-align: center;
	vertical-align: middle;

	box-shadow: @c-avatar-box-shadow;
	background-size: cover;
	user-select: none;

	/* reset default styles figure */
	margin: 0;
}

.c-avatar[style*="background"] {
	box-shadow: @c-avatar-box-shadow-inset;
}

/*a*/
.c-avatar__link {
	display: inline-block;
	width: inherit;
	height: inherit;
}

/*img*/
.c-avatar__image {
	width: inherit;
	height: inherit;
	object-fit: cover;
}


/* Context: `c-panel`
 ========================================================================== */

.c-panel:not(.s-transparent) .c-avatar:not([style*="background"]) {
	box-shadow: none;
}