@import "../variables";
@import "../mixins";

/**
 * Component:       `c-avatar`
 * Description:     Defines styles for the user picture.
 *
 * Sub-elements:	`c-avatar__shutter`
 * 
 * Modifiers:       `c-avatar--mini`
 *					`c-avatar--small`
 *					`c-avatar--large`
 * 
 ========================================================================== */

// Variables of the components
// ========================================================================

@c-avatar-width: @unit * 5;
@c-avatar-height: @unit * 5;

@c-avatar-shutter-background-color: fade(@clr-blue-grey-700, 30);

@c-avatar-mini-width: @unit * 2;
@c-avatar-mini-height: @unit * 2;
@c-avatar-small-width: @unit * 3;
@c-avatar-small-height: @unit * 3;
@c-avatar-large-width: @unit * 8;
@c-avatar-large-height: @unit * 8;


/* ========================================================================
   Component: Avatar
 ========================================================================== */

/*figure*/
.c-avatar {
	position: relative;
    display: inline-block;
    border-radius: 50%;
	overflow: hidden;
	
	width: @c-avatar-width;
	height: @c-avatar-height;
	
	font-size: .001px;
	text-align: center;
    vertical-align: middle;
	
	box-shadow: inset 0 0 .16rem 0 rgba(0,0,0,.3);
	background-size: cover;
	
	/* reset default styles figure */
	margin: 0;

	img {
		max-width: @c-avatar-width;
		max-height: @c-avatar-height;
		border-radius: inherit;
		overflow: inherit;
	}
}

	.c-avatar__shutter {
		position: absolute;
		top: 0; right: 0; bottom: 0; left: 0;
		background-color: @c-avatar-shutter-background-color;
		border-radius: inherit;

		opacity: 0;
		transition: opacity 160ms @easing;
	}

	.c-avatar:hover {
		img {
			.grayscale;
		}
		.c-avatar__shutter {
			opacity: 1;
		}
	}

		.c-avatar__shutter-text {

		}


/* Sizes modifiers
 ========================================================================== */

.c-avatar--mini {
	width: @c-avatar-mini-width;
	height: @c-avatar-mini-height;
}
.c-avatar--small {
	width: @c-avatar-small-width;
	height: @c-avatar-small-height;
}
.c-avatar--large {
	width: @c-avatar-large-width;
	height: @c-avatar-large-height;
}