@import "../settings/variables";

@c-backdrop-background-color: @clr-grey-800;

.c-backdrop {
	position: fixed;
	z-index: 100;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: @c-backdrop-background-color;

	opacity: .3;
	transition: opacity 160ms @easing;
}