@import "../mixins";
@import "../variables";

/**
 * Component:       `c-button`
 * Description:     Defines styles for buttons
 * 
 * Sub-objects:     `c-button-group`
 *                  `c-button-dropdown`
 * 
 * Modifiers:       `c-button--primary`
 *                  `c-button--secondary`
 *                  `c-button--success`
 *                  `c-button--danger`
 *                  `c-button--link`
 *                  `c-button--mini`
 *                  `c-button--small`
 *                  `c-button--large`
 * 
 * States:          `c-button--active`
 * 
 * Markup:
 * 
 * <!-- c-button-group -->
 * <div class="c-button-group">
 *     <button class="c-button"></button>
 *     <button class="c-button"></button>
 * </div>
 * 
 * <!-- c-button-dropdown -->
 * <div class="c-button-dropdown" data-ui-dropdown>
 *     <button class="c-button"></button>
 *     <ul class="ui-dropdown">
 *         <li><a href=""></a></li>
 *     </ul>
 * </div>
 * 
 ========================================================================== */


// Variables
// ========================================================================

@c-button-background-color: @clr-grey-300;
@c-button-border-radius: .3rem;

@c-button-height: (@unit * 3);
@c-button-padding: 0 (@unit * 1.5);

@c-button-font-size: @body-font-size;
@c-button-line-height: normal;

@c-button-primary-background-color: rgba(2,119,189,.9);
@c-button-primary-background-image: url('/img/bgs/cream_pixels.png');
@c-button-primary-background-image-retina: url('/img/bgs/cream_pixels_@2X.png');
@c-button-primary-background-size: 160px 160px;
@c-button-primary-background-blend-mode: multiply;


/* ========================================================================
   Component: Button
 ========================================================================== */
 
.c-button::-moz-focus-inner {
    border: 0;
    padding: 0;
}

.c-button {
	-webkit-appearance: none;
	   -moz-appearance: none;

    border: none;
    text-transform: none;
	
    display: inline-block;
	box-sizing: border-box;
	
    padding: @c-button-padding;
    background: @c-button-background-color;
	border-radius: @c-button-border-radius;
	outline: none;
	
    vertical-align: middle;
    
    height: @c-button-height;
    line-height: @c-button-line-height;
    font-size: @c-button-font-size;
    text-align: center;
	cursor: pointer;
}
.c-button,
.c-button:hover {
    text-decoration: none;
}
.c-button:active,
.c-button--active {
	box-shadow: inset 0 0 .3rem #BDBDBD;
}

.c-button + .c-button { margin-left: (@unit / 2); }

.c-button > span {
	display: inline-block;
	vertical-align: middle;
	line-height: inherit;
}
.c-button > .iconic[data-glyph] {
	margin-right: (@unit / 2);
	&:before {
		vertical-align: middle;
	}
}


/* Modifier `c-button--primary`
 ========================================================================== */

.c-button--primary,
.c-button--primary:hover {
	background-image: @c-button-primary-background-image;
	background-position: center;
	background-color: @c-button-primary-background-color;
	background-blend-mode: @c-button-primary-background-blend-mode;
	background-size: @c-button-primary-background-size;
	
	box-shadow: none;
	text-shadow: 0 -.1rem rgba(0,0,0,.8);
	transition: box-shadow .16s ease-out;
	
	color: white;
}

.c-button--primary:hover,
.c-button--primary:focus {
	box-shadow: 0 .1rem .16rem .16rem #e0e0e0;
}
.c-panel .c-button--primary:hover,
.c-panel .c-button--primary:focus {
	box-shadow: 0 .1rem .2rem .1rem #e0e0e0;
}


.c-button--primary:active,
.c-button--primary.c-button--active,
.c-panel .c-button--primary:active,
.c-panel .c-button--primary.c-button--active {
	box-shadow: inset 0 0 .2rem @clr-grey-800;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2),
	   only screen and (min-resolution: 192dpi),
	   only screen and (min-resolution: 2dppx)
{
	.c-button--primary {
		background-image: @c-button-primary-background-image-retina;
	}
}


/* Modifier `c-button--link`
 ========================================================================== */
 
.c-button--link {
	background: transparent;
	color: @clr-light-blue-800;
	font-weight: 600;
	text-decoration: underline;
	transition: color .16s @easing;
}

.c-button--link:hover,
.c-button--link:focus,
.c-button--link:active,
.c-button--link.c-button--active {
	text-decoration: underline;
	color: @clr-light-blue-900;
	box-shadow: none;
}


/* Component: `c-button-group`
 ========================================================================== */

.c-button-group {
	display: block;
    position: relative;
	
	height: (3 * @unit);
	line-height: (@unit * 3);

	margin-top: (@unit * 1.5);
	margin-bottom: (@unit / 2);
	padding-right: (@unit / 2);
	padding-left: (@unit * 1.5);
	font-size: .001px;
}