@import "../settings/variables";

/**
 * Component:       `c-button`
 * Description:     Defines styles for buttons
 * 
 * Wrappers:		`c-button-group`
 *                  `c-button-dropdown`
 * 
 * Modifiers:       `c-button--primary`
 *                  `c-button--secondary`
 *                  `c-button--success`
 *                  `c-button--danger`
 *                  `c-button--link`
 *                  `c-button--mini`
 *                  `c-button--small`
 *                  `c-button--large`
 * 
 * States:          `c-button--active` | c-button:active | [aria-checked=true]
 * 
 * Markup:
 * 
 * <!-- c-button-group -->
 * <div class="c-button-group">
 *     <button class="c-button"></button>
 *     <button class="c-button"></button>
 * </div>
 * 
 * <!-- c-button-dropdown -->
 * <div class="c-button-dropdown" data-ui-dropdown>
 *     <button class="c-button"></button>
 *     <ul class="c-dropdown">
 *         <li><a href=""></a></li>
 *     </ul>
 * </div>
 * 
 ========================================================================== */


// Variables
// ========================================================================

@c-button-background-color: fade(@clr-grey-700, 52%);
@c-button-background-color-focus: fade(@clr-grey-700, 70%);

@c-button-background-image: @s-bg-subtle-dots-bg-image;
@c-button-background-image-x2: @s-bg-subtle-dots-bg-image-x2;
@c-button-background-size: @s-bg-subtle-dots-bg-size;
@c-button-background-blend-mode: overlay;
@c-button-border-radius: .2rem;

@c-button-box-shadow: @shadow-2dp;
@c-button-box-shadow-active: inset 0 .1rem .2rem 0 rgba(0,0,0,.14), inset 0 .1rem .5rem 0 rgba(0,0,0,.12);

@c-button-padding: .6rem 2.4rem;

@c-button-color: @body-color;
@c-button-font-family: @body-font-family;
@c-button-font-size: @body-font-size;
@c-button-font-weight: 600;
@c-button-line-height: normal;
@c-button-text-shadow: .1rem .1rem fade(@clr-white, 30%), 0 .1rem fade(@clr-white, 30%);


@c-button-danger-background-color: fade(@clr-red-800, 76%);
@c-button-danger-background-color-focus: fade(@clr-red-900, 82%);
@c-button-danger-background-blend-mode: color-burn;
@c-button-danger-color: @clr-white;
@c-button-danger-text-shadow: none;

@c-button-primary-background-color: fade(@clr-blue-800, 90%);
@c-button-primary-background-color-focus: fade(@clr-blue-900, 80%);
@c-button-primary-background-blend-mode: color-burn;
@c-button-primary-color: @clr-white;
@c-button-primary-text-shadow: none;

@c-button-success-background-color: fade(@clr-green-800, 76%);
@c-button-success-background-color-focus: fade(@clr-green-900, 72%);
@c-button-success-background-blend-mode: color-burn;
@c-button-success-color: @clr-white;
@c-button-success-text-shadow: none;

@c-button-warning-background-color: fade(@clr-orange-800, 76%);
@c-button-warning-background-color-focus: fade(@clr-orange-900, 78%);
@c-button-warning-background-blend-mode: color-burn;
@c-button-warning-color: @clr-white;
@c-button-warning-text-shadow: none;

@c-button-small-font-size: 1.3rem;
@c-button-small-min-height: (@unit * 1.5);
@c-button-small-padding: (@unit / 3) @unit;

@c-button_on_panel-box-shadow: inset .1rem .1rem 0 0 rgba(255,255,255,.3), inset -.1rem -.1rem 0 0 rgba(0,0,0,.18);


/* ========================================================================
   Component: `c-button`
 ========================================================================== */
 
.c-button::-moz-focus-inner {
    border: 0;
    padding: 0;
}

.c-button {
	-webkit-appearance: none;
	-moz-appearance: none;

	border: none;
	outline: none;
	text-align: center;
	text-transform: none;
	text-shadow: @c-button-text-shadow;

	display: inline-block;
	vertical-align: middle;
	box-sizing: border-box;
	padding: @c-button-padding;

	cursor: pointer;
	font-family: @c-button-font-family;
	font-size: @c-button-font-size;
	font-weight: @c-button-font-weight;
	line-height: @c-button-line-height;

	background-color: @c-button-background-color;
	background-image: @c-button-background-image;
	background-size: @c-button-background-size;
	background-position: center;
	background-blend-mode: @c-button-background-blend-mode;

	border-radius: @c-button-border-radius;
	box-shadow: @c-button-box-shadow;

	transition: @link-transition, background-color 160ms @easing;
	user-select: none;
}

.c-button,
.c-button:hover {
	color: @c-button-color;
}

.c-button + .c-button { margin-left: (@unit / 2); }

.c-button > span {
	display: inline-block;
	vertical-align: middle;
	line-height: inherit;
}
.c-button > .iconic[data-glyph] {
	margin-right: (@unit / 2);
	&:before {
		vertical-align: middle;
	}
}


/* State: active
 ========================================================================== */

.c-button:active,
.c-button[aria-checked=true],
.c-button--active,
.c-panel:not(.c-panel--clean) .c-button:active,
.c-panel:not(.c-panel--clean) .c-button[aria-checked=true],
.c-panel:not(.c-panel--clean) .c-button--active {
	box-shadow: @c-button-box-shadow-active;
}


/* State: focus
 ========================================================================== */

.c-button:focus,
.c-panel:not(.c-panel--clean) .c-button:focus {
	background-color: @c-button-background-color-focus;
}


/* Context: button on the panel
 ========================================================================== */

.c-panel:not(.c-panel--clean) {
	.c-button {
		box-shadow: @c-button_on_panel-box-shadow;
	}
}


/* Modifier: `c-button--danger`
 ========================================================================== */

.c-button--danger {
	background-color: @c-button-danger-background-color;
	background-blend-mode: @c-button-danger-background-blend-mode;
	text-shadow: @c-button-danger-text-shadow;
}

.c-button--danger,
.c-button--danger:hover {
	color: @c-button-danger-color;
}

.c-button--danger:focus,
.c-panel:not(.c-panel--clean) .c-button--danger:focus {
	background-color: @c-button-danger-background-color-focus;
}


/* Modifier: `c-button--primary`
 ========================================================================== */

.c-button--primary,
.c-button--primary:hover {
	background-color: @c-button-primary-background-color;
	background-blend-mode: @c-button-primary-background-blend-mode;
	text-shadow: @c-button-primary-text-shadow;
}

.c-button--primary,
.c-button--primary:hover {
	color: @c-button-primary-color;
}

.c-button--primary:focus,
.c-panel:not(.c-panel--clean) .c-button--primary:focus {
	background-color: @c-button-primary-background-color-focus;
}


/* Modifier: `c-button--success`
 ========================================================================== */

.c-button--success {
	background-color: @c-button-success-background-color;
	background-blend-mode: @c-button-success-background-blend-mode;
	text-shadow: @c-button-success-text-shadow;
}

.c-button--success,
.c-button--success:hover {
	color: @c-button-success-color;
}

.c-button--success:focus,
.c-panel:not(.c-panel--clean) .c-button--success:focus {
	background-color: @c-button-success-background-color-focus;
}


/* Modifier: `c-button--warning`
 ========================================================================== */

.c-button--warning {
	background-color: @c-button-warning-background-color;
	background-blend-mode: @c-button-warning-background-blend-mode;
	text-shadow: @c-button-warning-text-shadow;
}

.c-button--warning,
.c-button--warning:hover {
	color: @c-button-warning-color;
}

.c-button--warning:focus,
.c-panel:not(.c-panel--clean) .c-button--warning:focus {
	background-color: @c-button-warning-background-color-focus;
}


/* Modifier: `c-button--link`
 ========================================================================== */

.c-button--link {
	background: transparent !important;
	text-decoration: @link-text-decoration;
	transition: @link-transition;
	box-shadow: none !important;
}

.c-button--link,
.c-button--link:hover {
	color: @link-color;
}

.c-button--link:hover {
	text-decoration: @link-text-decoration-hover;
}

.c-button--link:focus,
.c-button--link:active,
.c-button--link[aria-checked=true],
.c-button--link.c-button--active {
	color: @link-color-hover;
}


/* Size modifier: `c-button--small`
 ========================================================================== */

.c-button--small {
	font-size: @c-button-small-font-size;
	min-height: @c-button-small-min-height;
	padding: @c-button-small-padding;
}


/* ========================================================================
   Elements: `c-button__icon` and `c-button__text`
 ========================================================================== */

.c-button__icon,
.c-button__text {
	display: inline-block;
	vertical-align: middle;
	float: left;
}
.c-button__icon {
	margin-left: -(@unit / 1.618);
	margin-right: (@unit / 1.618);
}

.c-button__text + .c-button__icon {
	margin-left: (@unit / 1.618);
	margin-right: -(@unit / 1.618);
}

.c-button--link {
	.c-button__icon {
		text-decoration: none;
	}
	.c-button__text {
		text-decoration: @link-text-decoration;
	}
}

.c-button--link:hover {
	.c-button__text {
		text-decoration: @link-text-decoration-hover;
	}
}


/* Modifier: `c-button--icon`
 ========================================================================== */

.c-button--icon {
	text-align: center;
	.c-button__icon {
		margin-left: -(@unit / 1.618);
		margin-right: -(@unit / 1.618);
	}
}


/* ========================================================================
   Wrapper: `c-button-group`
 ========================================================================== */

.c-button-group {
	display: inline-block;
	vertical-align: middle;
	position: relative;
	font-size: .001px;
	white-space: nowrap;

	.c-button {
		&:not(:first-child) {
			border-top-left-radius: 0;
			border-bottom-left-radius: 0;

			border-left: 1px solid @clr-grey-200;
			&:focus { border-left: 1px solid transparent; }
		}
		&:not(:last-child) {
			border-top-right-radius: 0;
			border-bottom-right-radius: 0;
		}
	}
	.c-button + .c-button {
		margin-left: 0;
	}
}


/* Media queries
 ========================================================================== */

@media only screen and (-webkit-min-device-pixel-ratio: 2),
	   only screen and (min-resolution: 192dpi),
	   only screen and (min-resolution: 2dppx)
{
	.c-button {
		background-image: @c-button-background-image-x2;
	}
}