@import "../settings/variables";

/**
 * Component:   `c-button`
 * Description: Defines styles for buttons
 * 
 * Wrappers: `c-button-group`
 *           `c-button-dropdown`
 *
 * Modifiers: `c-button--link`
 *			  `c-button--icon`
 * 
 * Styles:	`s-bordered`
 *          `s-clean`
 *          `s-danger`
 *          `s-large`
 *          `s-link`
 *			`s-primary`
 *          `s-small`
 *          `s-warning`
 *
 * States: `:active` or `[aria-checked=true]`
 * 
 * Markup:
 * 
 * <!-- c-button-group -->
 * <div class="c-button-group">
 *     <button class="c-button"></button>
 *     <button class="c-button"></button>
 * </div>
 * 
 * <!-- c-button-dropdown -->
 * <div class="c-button-dropdown" data-ui-dropdown>
 *     <button class="c-button"></button>
 *     <ul class="c-dropdown">
 *         <li><a href=""></a></li>
 *     </ul>
 * </div>
 * 
 ========================================================================== */


// Variables
// ========================================================================

@c-button-background-color: fade(@clr-grey-700, 52%);
@c-button-background-color-focus: fade(@clr-grey-700, 70%);

@c-button-background-image: @s-bg-subtle-dots-bg-image;
@c-button-background-image-x2: @s-bg-subtle-dots-bg-image-x2;
@c-button-background-size: @s-bg-subtle-dots-bg-size;
@c-button-background-blend-mode: overlay;
@c-button-border-radius: .2rem;

@c-button-box-shadow: @shadow-2dp;
@c-button-box-shadow-active: inset 0 .1rem .2rem 0 rgba(0,0,0,.14), inset 0 .1rem .5rem 0 rgba(0,0,0,.12);

@c-button-padding: @space-s @space-l;

@c-button-color: @text-color;
@c-button-font-family: @font-family-primary;
@c-button-font-size: @font-size-default;
@c-button-font-weight: 600;
@c-button-line-height: 1.45;
@c-button-text-shadow: .1rem .1rem fade(@clr-white, 30%), 0 .1rem fade(@clr-white, 30%);

@c-button_on_panel-box-shadow: inset .1rem .1rem 0 0 rgba(255,255,255,.3), inset -.1rem -.1rem 0 0 rgba(0,0,0,.18);


@c-button-icon-padding: @space-s;
@c-button-icon-color: @clr-grey-700;
@c-button-icon-color-active: @clr-grey-700;
@c-button-icon-color-hover: @clr-grey-700;
@c-button-icon-color-focus: @clr-grey-700;

@c-button-icon-background-color: transparent;
@c-button-icon-background-color-active: fade(@clr-blue-grey-400, 30%);
@c-button-icon-background-color-hover: fade(@clr-grey-400, 15%);
@c-button-icon-background-color-focus: fade(@clr-grey-400, 30%);

@c-button-icon-horizontal-spacing: @space-s;


/* ========================================================================
   Component: `c-button`
 ========================================================================== */
 
.c-button::-moz-focus-inner {
    border: 0;
    padding: 0;
}

.c-button {
	-webkit-appearance: none;
	-moz-appearance: none;

	border: none;
	outline: none;
	text-align: center;
	text-transform: none;
	text-decoration: none;
	text-shadow: @c-button-text-shadow;

	display: inline-block;
	vertical-align: middle;
	box-sizing: border-box;
	padding: @c-button-padding;

	cursor: pointer;
	font-family: @c-button-font-family;
	font-size: @c-button-font-size;
	font-weight: @c-button-font-weight;
	line-height: @c-button-line-height;

	background-color: @c-button-background-color;
	background-image: @c-button-background-image;
	background-size: @c-button-background-size;
	background-position: center;
	background-blend-mode: @c-button-background-blend-mode;

	border-radius: @c-button-border-radius;
	box-shadow: @c-button-box-shadow;

	transition: @link-transition, background-color 160ms @easing;
	user-select: none;
}

.c-button,
.c-button:hover {
	color: @c-button-color;
}

.c-button + .c-button { margin-left: (@unit / 2); }

.c-button > span {
	display: inline-block;
	vertical-align: middle;
}
.c-button > .iconic[data-glyph] {
	margin-right: (@unit / 2);
	&:before {
		vertical-align: middle;
	}
}


/* State: active
 ========================================================================== */

.c-button:active,
.c-button[aria-checked=true],
.c-panel:not(.s-transparent) .c-button:active,
.c-panel:not(.s-transparent) .c-button[aria-checked=true] {
	box-shadow: @c-button-box-shadow-active;
}


/* State: focus
 ========================================================================== */

.c-button:focus,
.c-panel:not(.s-transparent) .c-button:focus {
	background-color: @c-button-background-color-focus;
}


/* Context: button on the panel
 ========================================================================== */

.c-panel:not(.s-transparent) {
	.c-button {
		box-shadow: @c-button_on_panel-box-shadow;
	}
}


/* ========================================================================
   Elements: `c-button__icon` and `c-button__text`
 ========================================================================== */

.c-button__icon,
.c-button__text {
	display: inline-block;
	vertical-align: middle;
	float: left;
}
.c-button__icon {
	line-height: 1.3;
	margin-left: -1rem;
	margin-right: 1.3rem;
}

.c-button__text + .c-button__icon {
	margin-left: 1.3rem;
	margin-right: -1rem;
}


/* Modifier: `c-button--icon`
 ========================================================================== */

.c-button--icon {
	.c-button;
	background-image: none;
	box-shadow: none !important;

	padding: @c-button-icon-padding;
	background-color: @c-button-icon-background-color;

	&:hover {
		background-color: @c-button-icon-background-color-hover;
	}
	&:focus {
		background-color: @c-button-icon-background-color-focus;
	}
	&:active,
	&[aria-checked=true] {
		background-color: @c-button-icon-background-color-active;
	}
}

.c-button--icon.iconic:before,
.c-button.iconic:before {
	position: static;
	line-height: 1.2;
	text-align: center;
	vertical-align: bottom;
	transform-origin: center;
}

.c-button--icon.iconic:empty:before {
	width: 2rem;
	height: 2rem;
}

.c-button--icon + .c-button--icon {
	margin-left: @c-button-icon-horizontal-spacing;
}


/* Button combined with icon
 ========================================================================== */

.c-button.iconic:before {
	margin: 0 1rem 0 -1rem;
}


/* ========================================================================
   Wrapper: `c-button-group`
 ========================================================================== */

.c-button-group {
	display: inline-block;
	vertical-align: middle;
	position: relative;
	font-size: .001px;
	white-space: nowrap;

	.c-button {
		&:not(:first-child) {
			border-top-left-radius: 0;
			border-bottom-left-radius: 0;

			border-left: 1px solid @clr-grey-200;
			&:focus { border-left: 1px solid transparent; }
		}
		&:not(:last-child) {
			border-top-right-radius: 0;
			border-bottom-right-radius: 0;
		}
	}

	.c-button + .c-button,
	.c-button--icon + .c-button--icon,
	.c-button--link + .c-button--link {
		margin-left: 0;
	}
}


/* Media queries
 ========================================================================== */

@media only screen and (-webkit-min-device-pixel-ratio: 2),
	   only screen and (min-resolution: 192dpi),
	   only screen and (min-resolution: 2dppx)
{
	.c-button {
		background-image: @c-button-background-image-x2;
	}
}