@import "../settings/variables";

/**
 * Component:	Chart
 * Description: Style of charts made using the "D3.js" library.
 *
 * Components:	`c-chart`
 *				`app-worldmap`
 *
 * Elements:	`c-chart__axis`
 *				`c-chart__graph`
 *				`c-chart__legend`
 *
 * Modifiers:   `c-chart--area`
 *				`c-chart--bar`
 *				`c-chart--bubbles`
 *				`c-chart--line`
 *				`c-chart--line`
 *
 ========================================================================== */


// Variables
// ========================================================================

@c-chart-color: @clr-grey-800;

@c-chart-graph-line-stroke: @c-chart-color;
@c-chart-graph-line-stroke-width: .2rem;

@c-chart-graph-point-fill: @clr-white;
@c-chart-graph-point-stroke: @clr-grey-800;
@c-chart-graph-point-stroke-width: @c-chart-graph-line-stroke-width;
@c-chart-graph-point-hover-fill: @clr-grey-800;
@c-chart-graph-point-hover-stroke: @clr-grey-800;
@c-chart-graph-point-transition: stroke 160ms @easing,  fill 160ms @easing;


/* ========================================================================
	Component: `c-chart`
 ========================================================================== */

.c-chart,
.c-chart__container {
	position: relative;
}
.c-chart__svg {
	display: inline-block;
}


/* ========================================================================
	Element: `c-chart__axis`
 ========================================================================== */

/*g*/.c-chart__axis {
	/*g*/
	.tick {
		line { stroke: @c-chart-color; }
		text { color: @c-chart-color; }
	}
}


/* ========================================================================
	Element: `c-chart__graph`
 ========================================================================== */

/*g*/
.c-chart__graph {

 	/*path*/
	.line {
		stroke: @c-chart-graph-line-stroke;
		stroke-width: @c-chart-graph-line-stroke-width;
		stroke-linecap: round;
		fill: none;
	}

	/*g*/
	.point {

		/*circle*/
		.dot {
			stroke: @c-chart-graph-point-stroke;
			stroke-width: @c-chart-graph-point-stroke-width;
			fill: @c-chart-graph-point-fill;

			transition: @c-chart-graph-point-transition;
		}

		/*circle*/
		.handle {
			stroke-width: 0;
			fill: transparent;
		}

		&--hovered {
			cursor: pointer;

			&:hover {
				.dot {
					stroke: @c-chart-graph-point-hover-stroke;
					fill: @c-chart-graph-point-hover-fill;
				}
			}
		}
	}
 }

/* ========================================================================
 Element: `c-chart__loader`
 ========================================================================== */

/*g*/.c-chart__loader {

}

/* ========================================================================
 Element: `c-chart__tracker`
 ========================================================================== */

/*g*/.c-chart__tracker {

}

/* ========================================================================
 Element: `c-chart__tracker`
 ========================================================================== */

/*g*/
.c-chart__controls {
	position: relative;
}