@import "../variables";

/**
 * Component:	Chart
 * Description: Style of charts made using the "D3.js" library.
 *
 * Elements:	`o-chart__axis`
 *				`o-chart__line`
 *
 ========================================================================== */


// Variables
// ========================================================================

@o-chart-color: #4F4E4D;


/* ========================================================================
   Object: `o-grid`
 ========================================================================== */


/* Element: `o-chart__graph`
 ========================================================================== */

svg.o-chart,
.o-chart svg {}
	.o-chart__axis {
		.tick {
			line { stroke: @o-chart-color; }
			text { color: @o-chart-color; }
		}
	}

	/*path*/
	.o-chart__line {
		stroke: @clr-cyan-400;
		stroke-width: 3px;
		stroke-linecap: round;
		fill: none;
	}