@import "../settings/variables";

/**
 * Component:	Chart
 * Description: Style of charts made using the "D3.js" library.
 *
 * Components:	`c-chart`
 *				`c-geo-chart`
 *
 * Elements:	`c-chart__axis`
 *				`c-chart__graph`
 *				`c-chart__legend`
 *
 * Modifiers:   `c-chart--area`
 *				`c-chart--bar`
 *				`c-chart--bubbles`
 *				`c-chart--line`
 *				`c-chart--line`
 *
 ========================================================================== */


// Variables
// ========================================================================

@c-chart-color: @clr-grey-800;

@c-chart-graph-line-stroke: @c-chart-color;
@c-chart-graph-line-stroke-width: .2rem;

@c-chart-graph-point-fill: @clr-white;
@c-chart-graph-point-stroke: @clr-grey-800;
@c-chart-graph-point-stroke-width: @c-chart-graph-line-stroke-width;
@c-chart-graph-point-hover-fill: @clr-grey-800;
@c-chart-graph-point-hover-stroke: @clr-grey-800;
@c-chart-graph-point-transition: stroke 160ms @easing,  fill 160ms @easing;


/* ========================================================================
	Component: `c-chart`
 ========================================================================== */

.c-chart {}

.c-chart-container { }
.c-chart-svg { }


/* ========================================================================
	Element: `c-chart__axis`
 ========================================================================== */

/*g*/.c-chart__axis {
	/*g*/
	.tick {
		line { stroke: @c-chart-color; }
		text { color: @c-chart-color; }
	}
}


/* ========================================================================
	Element: `c-chart__graph`
 ========================================================================== */

/*g*/
.c-chart__graph {

 	/*path*/
	.line {
		stroke: @c-chart-graph-line-stroke;
		stroke-width: @c-chart-graph-line-stroke-width;
		stroke-linecap: round;
		fill: none;
	}

	/*g*/
	.point {

		/*circle*/
		.dot {
			stroke: @c-chart-graph-point-stroke;
			stroke-width: @c-chart-graph-point-stroke-width;
			fill: @c-chart-graph-point-fill;

			transition: @c-chart-graph-point-transition;
		}

		/*circle*/
		.handle {
			stroke-width: 0;
			fill: transparent;
		}

		&--hovered {
			cursor: pointer;

			&:hover {
				.dot {
					stroke: @c-chart-graph-point-hover-stroke;
					fill: @c-chart-graph-point-hover-fill;
				}
			}
		}
	}
 }

/* ========================================================================
 Element: `c-chart__loader`
 ========================================================================== */

/*g*/.c-chart__loader {

}

/* ========================================================================
 Element: `c-chart__tracker`
 ========================================================================== */

/*g*/.c-chart__tracker {

}

/* ========================================================================
 Element: `c-chart__tracker`
 ========================================================================== */

/*g*/
.c-chart__controls {
	position: relative;
}


/* ========================================================================
	Component: `c-geo-chart`
 ========================================================================== */

@c-geo-chart-height: 40rem;
@c-geo-chart-city-opacity: 1;
@c-geo-chart-city-outside-fill: fade(@clr-lime-A400, 20%);
@c-geo-chart-city-outside-stroke: rgba(198,255,0,.2);
@c-geo-chart-city-outside-stroke-width: 2rem;
@c-geo-chart-city-inside-fill: @clr-lime-A200;
@c-geo-chart-city-inside-stroke: none;
@c-geo-chart-city-inside-box-shadow: 0 0 .8rem rgba(0,0,0,.8);

.c-geo-chart {
	width: inherit;
	height: @c-geo-chart-height;

	/*g*/
	.c-chart__controls {
		position: absolute;
		top: 0; right: 0; bottom: 0;
		z-index: 6;
	}

	/* g*/
	.c-chart__tracker {
		position: absolute;
		top: auto;
		right: 3rem;
		bottom: 50%;
		transform: rotate(90deg);
	}

	/*section*/
	.c-chart-container {
		position: relative;
		width: inherit;
		height: @c-geo-chart-height;
		overflow: hidden;

		text-align: center;
		box-shadow: inset .1rem .1rem .3rem rgba(0,0,0,.2);
		background-color: @clr-grey-200;
	}
}

	.c-geo-chart__boundary {
		fill: none;
		stroke: #fff;
		stroke-width: .5px;
	}

	.c-geo-chart__city { opacity: @c-geo-chart-city-opacity; }
		.c-geo-chart__city-outside {
			fill: fade(@c-geo-chart-city-outside-fill, 20%);
			stroke: @c-geo-chart-city-outside-stroke;
			stroke-width: @c-geo-chart-city-outside-stroke-width;
		}

		.c-geo-chart__city-inside {
			fill: fade(@c-geo-chart-city-inside-fill, 80%);
			stroke: none;
			box-shadow: @c-geo-chart-city-inside-box-shadow;
		}