@import "../settings/variables";

/**
 * Component:		`c-field`
 *
 * Elements:		`c-field-button`
 *                  `c-field-error`
 *                  `c-field-icon`
 *					`c-field-input`
 *                  `c-field-label`
 *                  `c-field-mask`
 *
 * States:			`is-filled`
 *					`is-focused`
 *					`is-invalid`
 *					`is-valid`
 *
 ========================================================================== */

// Variables
// ========================================================================

@c-field-height: 3.2rem;
@c-field-padding-top: .2rem;
@c-field-padding-right: .4rem;
@c-field-padding-bottom: .2rem;
@c-field-padding-left: .4rem;
@c-field-font-size: @body-font-size;
@c-field-line-height: @body-line-height;

@c-field-background-color: lighten(@clr-grey-50, .5%);
@c-field-border-color: @clr-grey-500;
@c-field-border-width: .1rem;
@c-field-border-style: solid;
@c-field-border-radius: .2rem;
@c-field-shadow: inset 0 0 .2rem @clr-grey-400, 0 0 0 @clr-blue-400;
@c-field-outline: none;

@c-field-textarea-min-height: 3 * @c-field-font-size * @c-field-line-height + @c-field-padding-top + @c-field-padding-bottom;

@c-field-label-top: @c-field-border-width;
@c-field-label-left: @c-field-padding-left + @c-field-border-width;
@c-field-label-font-size: 1.3rem;
@c-field-label-line-height: 2rem;
@c-field-label-color: @clr-grey-600;
@c-field-label-left-after-icon: @c-field-icon-width;
@c-field-floating-label-font-size: @c-field-font-size;

@c-field-error-font-size: 1.3rem;
@c-field-error-font-weight: 500;
@c-field-error-line-height: 1.8rem;
@c-field-error-color: @clr-red-400;

@c-field-button-width: @c-field-height;
@c-field-button-height: @c-field-height;

@c-field-icon-width: @c-field-height;
@c-field-icon-height: @c-field-height;
@c-field-icon-text-shadow: @c-button-text-shadow;


@c-field-focused-label-top: 0;
@c-field-focused-label-left: 0;
@c-field-focused-label-color: @body-color;

@c-field-focused-background-color: @clr-white;
@c-field-focused-border-color: @clr-blue-400;
@c-field-focused-box-shadow: inset 0 0 0rem @clr-grey-400, 0 0 .3rem @clr-blue-400;
@c-field-invalid-background-color: lighten(@clr-red-50, 3%);
@c-field-invalid-border-color: @clr-red-300;
@c-field-invalid-box-shadow: inset 0 0 0rem @clr-grey-400, 0 0 .3rem @clr-red-400;


/* Component: `c-field`
 ========================================================================== */

.c-field {
	-webkit-appearance: none;
	   -moz-appearance: none;
			appearance: none;

	display: inline-block;
	width: 100%;
	height: @c-field-height;
	line-height: @c-field-line-height;

	padding-top: @c-field-padding-top;
	padding-left: @c-field-padding-left;
	padding-bottom: @c-field-padding-bottom;
	padding-right: @c-field-padding-right;

	background-color: @c-field-background-color;
	border-color: @c-field-border-color;
	border-width: @c-field-border-width;
	border-style: @c-field-border-style;
	border-radius: @c-field-border-radius;
	outline: @c-field-outline;
	box-shadow: @c-field-shadow;
	box-sizing: border-box;
	cursor: pointer;

	font-size: @c-field-font-size;

	transition-property: background-color, border-color, box-shadow;
	transition-duration: 160ms;
	transition-timing-function: @easing;

	&:focus {
		border-color: @c-field-focused-border-color;
		box-shadow: @c-field-focused-box-shadow;
	}
}

textarea.c-field {
	min-height: @c-field-textarea-min-height;
}

.is-invalid .c-field,
.c-field:invalid {
	background-color: @c-field-invalid-background-color;
	border-color: @c-field-invalid-border-color;
	&:focus {
		box-shadow: @c-field-invalid-box-shadow;
	}
}

.is-filled .c-field,
.is-focused .c-field,
.c-field:focus {
	background-color: @c-field-focused-background-color;
	cursor: text;
}

/* Wrapper: `c-field-box`
 ========================================================================== */

.c-field-box {
	position: relative;
	display: block;
	font-size: 0.001px;
	contain: layout style;
	// outline: 1px dashed @clr-amber-A700;
}


/* Element: `c-field-label`
 ========================================================================== */

.c-field-label {
	display: inline-block;
	padding-left: @c-field-padding-left;

	font-size: @c-field-label-font-size;
	line-height: @c-field-label-line-height;

	color: @c-field-label-color;
	cursor: pointer;

	transition-property: left, top, font-size, line-height, color;
	transition-duration: 160ms;
	transition-animation: @easing;

	// Micro clearfix to make articles more robust
	&::before,
	&::after {
		content: "";
		display: table;
		clear: both;
	}
}

::-webkit-input-placeholder {
	color: @c-field-label-color;
}
::-moz-placeholder {
	color: @c-field-label-color;
}
:-ms-input-placeholder {
	color: @c-field-label-color;
}

// Style of label after checkbox or radiobutton
input[type=checkbox] + .c-field-label,
input[type=radio] + .c-field-label {
	position: static;
	transition: none;
}


/* Modifiers: `is-focused` and `is-filled`
 ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.c-field-box.is-filled .c-field-label,
.c-field-box.is-focused .c-field-label {
	top: @c-field-focused-label-top;
	left: @c-field-focused-label-left;
	cursor: text;
}

.c-field-box.is-focused .c-field-label {
	color: @c-field-focused-label-color;
}


/* Element: `c-field-icon`
 ========================================================================== */

.c-field-icon {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 5;

	display: inline-block;
	width: @c-field-icon-width;
	height: @c-field-icon-height;
	line-height: @c-field-icon-height;

	font-size: 1.6rem;
	text-align: center;
	text-shadow: @c-field-icon-text-shadow;

	.iconic {
		vertical-align: middle;
	}
}

.c-field-label + .c-field-icon,
.c-field-label + .c-field + .c-field-icon {
	top: @c-field-label-line-height;
}

.c-field-icon + .c-field-label {
	left: @c-field-label-left-after-icon;
}

.c-field-icon + .c-field,
.c-field-icon + .c-field + .c-field-mask,
.c-field-icon + .c-field-label + .c-field,
.c-field-icon + .c-field-label + .c-field + .c-field-mask {
	padding-left: @c-field-label-left-after-icon;
}

.is-invalid .c-field-icon {
	color: @c-field-error-color;
}


/* Element: `c-field-mask` (used for the field file selection)
 ========================================================================== */

.c-field-mask {
	.c-field;
}
input[type=file] { opacity: 0; }
input[type=file] + .c-field-mask {
	position: absolute;
	left: 0;
}


/* Element: `c-field-button`
 ========================================================================== */

/*button*/
.c-field-button {
	position: absolute;
	right: 0;

	// default component style
	.c-button;

	// reset component style
	background: transparent;
	border: none;
	box-shadow: none;
  	padding: 0;
	min-height: 0;

	width: @c-field-button-width;
	height: @c-field-button-height;

	.iconic {
		vertical-align: middle;
	}
}


/* Element: `c-field-error`
 ========================================================================== */

.c-field-error {
	position: absolute;
	left: 0;
	bottom: 0;
	transform: translateY(100%);
	display: inline-block;
	padding-left: @c-field-padding-left;

	font-size: @c-field-error-font-size;
	font-weight: @c-field-error-font-weight;
	line-height: @c-field-error-line-height;
	color: @c-field-error-color;

	opacity: 0;
	transition: opacity 160ms @easing;
}

// Invalid state
.c-field-box.is-invalid .c-field-error,
.c-field.is-invalid + .c-field-error {
	opacity: 1;
}


/* Style: `s-floating`
 ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.s-floating.c-field-box {
	.c-field-label {
		position: absolute;
		top: @c-field-label-top;
		left: @c-field-label-left;
		font-size: @c-field-floating-label-font-size;
	}
}