/* ========================================================================
   Component: Grid
 ========================================================================== */

/*
 * Micro clearfix
 */

.ui-grid:before,
.ui-grid:after {
    content: " ";
    display: table;
}

.ui-grid:after { clear: both; }

/*
 * 1. Needed for the gutter
 * 2. Makes grid more robust so that it can be used with other block elements like lists
 */

.ui-grid {
    padding: 0;
    list-style: none;
}
.ui-grid .ui-grid {
	padding: 1.6rem
}

/*
 * Grid cell
 * 1. Makes grid more robust so that it can be used with other block elements
 * 2. Create horizontal gutter
 * 3. `float` is set by default so columns always behave the same and create a new block format context
 */

.ui-grid > * {
    margin: 0;
    float: left;
}

/*
 * Remove margin from the last-child
 */

.ui-grid > * > :last-child { margin-bottom: 0; }


/* Grid gutter
 ========================================================================== */

/*
 * Vertical gutter
 */

.ui-grid + .ui-grid { margin-top: 2.4rem; }

/*
 * This class is set by JavaScript and applies a vertical gutter if the columns stack or float into the next row
 * Higher specificity to override margin
 */

.ui-grid > .ui-grid-margin { margin-top: @grid-gutter-vertical; }

/*
 * Vertical gutter for panels
 */

.ui-grid > * > .ui-panel + .ui-panel { margin-top: .6rem; }

/*
 * Larger gutter for large screens


Large screen and bigger
@media (min-width: @breakpoint-xlarge) {
    .ui-grid:not(.ui-grid-preserve) { margin-left: -@grid-gutter-large-horizontal; }
    .ui-grid:not(.ui-grid-preserve) > * { padding-left: @grid-gutter-large-horizontal; }
    .ui-grid:not(.ui-grid-preserve) + .ui-grid { margin-top: @grid-gutter-large-vertical; }
    .ui-grid:not(.ui-grid-preserve) > .ui-grid-margin { margin-top: @grid-gutter-large-vertical; }
    .ui-grid:not(.ui-grid-preserve) > * > .ui-panel + .ui-panel { margin-top: @grid-gutter-large-vertical; }

}

.ui-grid.ui-grid-small { margin-left: -@grid-gutter-small-horizontal; }
.ui-grid.ui-grid-small > * { padding-left: @grid-gutter-small-horizontal; }

.ui-grid.ui-grid-small + .ui-grid-small { margin-top: @grid-gutter-small-vertical; }
.ui-grid.ui-grid-small > .ui-grid-margin { margin-top: @grid-gutter-small-vertical; }

.ui-grid.ui-grid-small > * > .ui-panel + .ui-panel { margin-top: @grid-gutter-small-vertical; }

*/


/* Even grid cell widths
 ========================================================================== */

[class*='uk-grid-width'] > * {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
}

.ui-grid-width-1-2 > * { width: 50%; }
.ui-grid-width-1-3 > * { width: 33.333%; }
.ui-grid-width-1-4 > * { width: 25%; }
.ui-grid-width-1-5 > * { width: 20%; }
.ui-grid-width-1-6 > * { width: 16.666%; }
.ui-grid-width-1-10 > * { width: 10%; }

/* Phone landscape and bigger */
@media (min-width: @breakpoint-small) {

    .ui-grid-width-small-1-2 > * { width: 50%; }
    .ui-grid-width-small-1-3 > * { width: 33.333%; }
    .ui-grid-width-small-1-4 > * { width: 25%; }
    .ui-grid-width-small-1-5 > * { width: 20%; }
    .ui-grid-width-small-1-6 > * { width: 16.666%; }
    .ui-grid-width-small-1-10 > * { width: 10%; }

}

/* Tablet and bigger */
@media (min-width: @breakpoint-medium) {

    .ui-grid-width-medium-1-2 > * { width: 50%; }
    .ui-grid-width-medium-1-3 > * { width: 33.333%; }
    .ui-grid-width-medium-1-4 > * { width: 25%; }
    .ui-grid-width-medium-1-5 > * { width: 20%; }
    .ui-grid-width-medium-1-6 > * { width: 16.666%; }
    .ui-grid-width-medium-1-10 > * { width: 10%; }

}

/* Desktop and bigger */
@media (min-width: @breakpoint-large) {

    .ui-grid-width-large-1-2 > * { width: 50%; }
    .ui-grid-width-large-1-3 > * { width: 33.333%; }
    .ui-grid-width-large-1-4 > * { width: 25%; }
    .ui-grid-width-large-1-5 > * { width: 20%; }
    .ui-grid-width-large-1-6 > * { width: 16.666%; }
    .ui-grid-width-large-1-10 > * { width: 10%; }

}

/* Large screen and bigger */
@media (min-width: @breakpoint-xlarge) {

    .ui-grid-width-xlarge-1-2 > * { width: 50%; }
    .ui-grid-width-xlarge-1-3 > * { width: 33.333%; }
    .ui-grid-width-xlarge-1-4 > * { width: 25%; }
    .ui-grid-width-xlarge-1-5 > * { width: 20%; }
    .ui-grid-width-xlarge-1-6 > * { width: 16.666%; }
    .ui-grid-width-xlarge-1-10 > * { width: 10%; }

}


/* Sub-objects: `uk-width-*`
 ========================================================================== */

[class*='uk-width'] {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
}

/*
 * Widths
 */

/* Whole */
.ui-width-1-1 { width: 100%; }

/* Halves */
.ui-width-1-2,
.ui-width-2-4,
.ui-width-3-6,
.ui-width-5-10,
.ui-width-12-24 { width: 50%; }

/* Thirds */
.ui-width-1-3,
.ui-width-2-6,
.ui-width-8-24 { width: 33.333%; }
.ui-width-2-3,
.ui-width-4-6,
.ui-width-16-24 { width: 66.6667%; }

/* Quarters */
.ui-width-1-4,
.ui-width-6-24 { width: 25%; }
.ui-width-3-4,
.ui-width-18-24{ width: 75%; }

/* Fifths */
.ui-width-1-5,
.ui-width-2-10 { width: 20%; }
.ui-width-2-5,
.ui-width-4-10 { width: 40%; }
.ui-width-3-5,
.ui-width-6-10 { width: 60%; }
.ui-width-4-5,
.ui-width-8-10 { width: 80%; }

/* Sixths */
.ui-width-1-6,
.ui-width-4-24 { width: 16.666%; }
.ui-width-5-6,
.ui-width-20-24 { width: 83.333%; }

/* Tenths */
.ui-width-1-10 { width: 10%; }
.ui-width-3-10 { width: 30%; }
.ui-width-7-10 { width: 70%; }
.ui-width-9-10 { width: 90%; }

/* grid_24_col */
.ui-width-1-24  { width: 4.16667%; }
.ui-width-2-24  { width: 8.33333%; }
.ui-width-3-24  { width: 12.5%; }
.ui-width-5-24  { width: 20.83333%; }
.ui-width-7-24  { width: 29.16667%; }
.ui-width-9-24  { width: 37.5%; }
.ui-width-10-24 { width: 41.66667%; }
.ui-width-11-24 { width: 45.83333%; }
.ui-width-13-24 { width: 54.16667%; }
.ui-width-14-24 { width: 58.33333%; }
.ui-width-15-24 { width: 62.5%; }
.ui-width-17-24 { width: 70.83333%; }
.ui-width-19-24 { width: 79.16667%; }
.ui-width-21-24 { width: 87.5%; }
.ui-width-22-24 { width: 91.66667%; }
.ui-width-23-24 { width: 95.83333%; }

/* Phone landscape and bigger */
@media (min-width: @breakpoint-small) {

    /* Whole */
    .ui-width-small-1-1 { width: 100%; }

    /* Halves */
    .ui-width-small-1-2,
    .ui-width-small-2-4,
    .ui-width-small-3-6,
    .ui-width-small-5-10 { width: 50%; }

    /* Thirds */
    .ui-width-small-1-3,
    .ui-width-small-2-6 { width: 33.333%; }
    .ui-width-small-2-3,
    .ui-width-small-4-6 { width: 66.666%; }

    /* Quarters */
    .ui-width-small-1-4 { width: 25%; }
    .ui-width-small-3-4 { width: 75%; }

    /* Fifths */
    .ui-width-small-1-5,
    .ui-width-small-2-10 { width: 20%; }
    .ui-width-small-2-5,
    .ui-width-small-4-10 { width: 40%; }
    .ui-width-small-3-5,
    .ui-width-small-6-10 { width: 60%; }
    .ui-width-small-4-5,
    .ui-width-small-8-10 { width: 80%; }

    /* Sixths */
    .ui-width-small-1-6 { width: 16.666%; }
    .ui-width-small-5-6 { width: 83.333%; }

    /* Tenths */
    .ui-width-small-1-10 { width: 10%; }
    .ui-width-small-3-10 { width: 30%; }
    .ui-width-small-7-10 { width: 70%; }
    .ui-width-small-9-10 { width: 90%; }

    /* grid_24_col */
    .ui-width-small-1-24  { width: 4.16667%; }
    .ui-width-small-2-24  { width: 8.33333%; }
    .ui-width-small-3-24  { width: 12.5%; }
    .ui-width-small-5-24  { width: 20.83333%; }
    .ui-width-small-7-24  { width: 29.16667%; }
    .ui-width-small-9-24  { width: 37.5%; }
    .ui-width-small-10-24 { width: 41.66667%; }
    .ui-width-small-11-24 { width: 45.83333%; }
    .ui-width-small-13-24 { width: 54.16667%; }
    .ui-width-small-14-24 { width: 58.33333%; }
    .ui-width-small-15-24 { width: 62.5%; }
    .ui-width-small-17-24 { width: 70.83333%; }
    .ui-width-small-19-24 { width: 79.16667%; }
    .ui-width-small-21-24 { width: 87.5%; }
    .ui-width-small-22-24 { width: 91.66667%; }
    .ui-width-small-23-24 { width: 95.83333%; }

}

/* Tablet and bigger */
@media (min-width: @breakpoint-medium) {

    /* Whole */
    .ui-width-medium-1-1 { width: 100%; }

    /* Halves */
    .ui-width-medium-1-2,
    .ui-width-medium-2-4,
    .ui-width-medium-3-6,
    .ui-width-medium-5-10 { width: 50%; }

    /* Thirds */
    .ui-width-medium-1-3,
    .ui-width-medium-2-6 { width: 33.333%; }
    .ui-width-medium-2-3,
    .ui-width-medium-4-6 { width: 66.666%; }

    /* Quarters */
    .ui-width-medium-1-4 { width: 25%; }
    .ui-width-medium-3-4 { width: 75%; }

    /* Fifths */
    .ui-width-medium-1-5,
    .ui-width-medium-2-10 { width: 20%; }
    .ui-width-medium-2-5,
    .ui-width-medium-4-10 { width: 40%; }
    .ui-width-medium-3-5,
    .ui-width-medium-6-10 { width: 60%; }
    .ui-width-medium-4-5,
    .ui-width-medium-8-10 { width: 80%; }

    /* Sixths */
    .ui-width-medium-1-6 { width: 16.666%; }
    .ui-width-medium-5-6 { width: 83.333%; }

    /* Tenths */
    .ui-width-medium-1-10 { width: 10%; }
    .ui-width-medium-3-10 { width: 30%; }
    .ui-width-medium-7-10 { width: 70%; }
    .ui-width-medium-9-10 { width: 90%; }

    /* grid_24_col */
    .ui-width-medium-1-24  { width: 4.16667%; }
    .ui-width-medium-2-24  { width: 8.33333%; }
    .ui-width-medium-3-24  { width: 12.5%; }
    .ui-width-medium-5-24  { width: 20.83333%; }
    .ui-width-medium-7-24  { width: 29.16667%; }
    .ui-width-medium-9-24  { width: 37.5%; }
    .ui-width-medium-10-24 { width: 41.66667%; }
    .ui-width-medium-11-24 { width: 45.83333%; }
    .ui-width-medium-13-24 { width: 54.16667%; }
    .ui-width-medium-14-24 { width: 58.33333%; }
    .ui-width-medium-15-24 { width: 62.5%; }
    .ui-width-medium-17-24 { width: 70.83333%; }
    .ui-width-medium-19-24 { width: 79.16667%; }
    .ui-width-medium-21-24 { width: 87.5%; }
    .ui-width-medium-22-24 { width: 91.66667%; }
    .ui-width-medium-23-24 { width: 95.83333%; }

}

/* Desktop and bigger */
@media (min-width: @breakpoint-large) {

    /* Whole */
    .ui-width-large-1-1 { width: 100%; }

    /* Halves */
    .ui-width-large-1-2,
    .ui-width-large-2-4,
    .ui-width-large-3-6,
    .ui-width-large-5-10 { width: 50%; }

    /* Thirds */
    .ui-width-large-1-3,
    .ui-width-large-2-6 { width: 33.333%; }
    .ui-width-large-2-3,
    .ui-width-large-4-6 { width: 66.666%; }

    /* Quarters */
    .ui-width-large-1-4 { width: 25%; }
    .ui-width-large-3-4 { width: 75%; }

    /* Fifths */
    .ui-width-large-1-5,
    .ui-width-large-2-10 { width: 20%; }
    .ui-width-large-2-5,
    .ui-width-large-4-10 { width: 40%; }
    .ui-width-large-3-5,
    .ui-width-large-6-10 { width: 60%; }
    .ui-width-large-4-5,
    .ui-width-large-8-10 { width: 80%; }

    /* Sixths */
    .ui-width-large-1-6 { width: 16.666%; }
    .ui-width-large-5-6 { width: 83.333%; }

    /* Tenths */
    .ui-width-large-1-10 { width: 10%; }
    .ui-width-large-3-10 { width: 30%; }
    .ui-width-large-7-10 { width: 70%; }
    .ui-width-large-9-10 { width: 90%; }

    /* grid_24_col */
    .ui-width-large-1-24  { width: 4.16667%; }
    .ui-width-large-2-24  { width: 8.33333%; }
    .ui-width-large-3-24  { width: 12.5%; }
    .ui-width-large-5-24  { width: 20.83333%; }
    .ui-width-large-7-24  { width: 29.16667%; }
    .ui-width-large-9-24  { width: 37.5%; }
    .ui-width-large-10-24 { width: 41.66667%; }
    .ui-width-large-11-24 { width: 45.83333%; }
    .ui-width-large-13-24 { width: 54.16667%; }
    .ui-width-large-14-24 { width: 58.33333%; }
    .ui-width-large-15-24 { width: 62.5%; }
    .ui-width-large-17-24 { width: 70.83333%; }
    .ui-width-large-19-24 { width: 79.16667%; }
    .ui-width-large-21-24 { width: 87.5%; }
    .ui-width-large-22-24 { width: 91.66667%; }
    .ui-width-large-23-24 { width: 95.83333%; }

}


/* Sub-object: `uk-push-*` and `uk-pull-*`
 ========================================================================== */

/*
 * Source ordering
 * Works only with `uk-width-medium-*`
 */

/* Tablet and bigger */
@media (min-width: @breakpoint-medium) {

    [class*='uk-push-'],
    [class*='uk-pull-'] { position: relative; }

    /*
     * Push
     */

    /* Halves */
    .ui-push-1-2,
    .ui-push-2-4,
    .ui-push-3-6,
    .ui-push-5-10 { left: 50%; }

    /* Thirds */
    .ui-push-1-3,
    .ui-push-2-6 { left: 33.333%; }
    .ui-push-2-3,
    .ui-push-4-6 { left: 66.666%; }

    /* Quarters */
    .ui-push-1-4 { left: 25%; }
    .ui-push-3-4 { left: 75%; }

    /* Fifths */
    .ui-push-1-5,
    .ui-push-2-10 { left: 20%; }
    .ui-push-2-5,
    .ui-push-4-10 { left: 40%; }
    .ui-push-3-5,
    .ui-push-6-10 { left: 60%; }
    .ui-push-4-5,
    .ui-push-8-10 { left: 80%; }

    /* Sixths */
    .ui-push-1-6 { left: 16.666%; }
    .ui-push-5-6 { left: 83.333%; }

    /* Tenths */
    .ui-push-1-10 { left: 10%; }
    .ui-push-3-10 { left: 30%; }
    .ui-push-7-10 { left: 70%; }
    .ui-push-9-10 { left: 90%; }

    /*
     * Pull
     */

     /* Halves */
     .ui-pull-1-2,
     .ui-pull-2-4,
     .ui-pull-3-6,
     .ui-pull-5-10 { left: -50%; }

     /* Thirds */
     .ui-pull-1-3,
     .ui-pull-2-6 { left: -33.333%; }
     .ui-pull-2-3,
     .ui-pull-4-6 { left: -66.666%; }

     /* Quarters */
     .ui-pull-1-4 { left: -25%; }
     .ui-pull-3-4 { left: -75%; }

     /* Fifths */
     .ui-pull-1-5,
     .ui-pull-2-10 { left: -20%; }
     .ui-pull-2-5,
     .ui-pull-4-10 { left: -40%; }
     .ui-pull-3-5,
     .ui-pull-6-10 { left: -60%; }
     .ui-pull-4-5,
     .ui-pull-8-10 { left: -80%; }

     /* Sixths */
     .ui-pull-1-6 { left: -16.666%; }
     .ui-pull-5-6 { left: -83.333%; }

     /* Tenths */
     .ui-pull-1-10 { left: -10%; }
     .ui-pull-3-10 { left: -30%; }
     .ui-pull-7-10 { left: -70%; }
     .ui-pull-9-10 { left: -90%; }

}