
/**
 * Component:       `c-list`
 * Description:     Defines styles for list items
 *
 * Elements:		`c-list__head`
 *                  `c-list__head-property`
 *                  `c-list__body`
 *                  `c-list__item`
 *                  `c-list__item-property`
 *                  `c-list__foot`
 *                  `c-list__item`
 *                  `c-list__meta`
 *
 *
 * Markup:
 *
<!-- basic list style -->
<div class="c-list">
	<section class="c-list__item">
		<div class="c-list__item-property">...</div>
		<div class="c-list__item-property">...</div>
		<div class="c-list__item-property">...</div>
	</section>
</div>

<!-- table style -->
<section class="c-list">
	<div class="c-list__head">
		<h6 class="c-list__head-property">...</h6>
		<h6 class="c-list__head-property">...</h6>
		<h6 class="c-list__head-property">...</h6>
	</div>
	<div class="c-list__body">
		<section class="c-list__item>
			<div class="c-list__item-property">...</div>
			<div class="c-list__item-property">...</div>
			<div class="c-list__item-property">...</div>
		</section>
	</div>
	<div class="c-list__meta">

	</div>
	<div class="c-list__foot">

	</div>
</section>
 *
 ========================================================================== */


// Variables
// ========================================================================


@c-list-head-font-family: @font-family-primary;
@c-list-head-font-size: @font-size-default;
@c-list-head-font-weight: 600;
@c-list-head-color: @caption-color;

@c-list-head-property-padding: 0 @space-xs;


@c-list-item-font-size: @font-size-default;
@c-list-item-margin-top: @space-xs;
@c-list-item-margin-bottom: @space-xs;

@c-list-item-property-padding: 0 @space-s;


/* ========================================================================
   Component: `c-button`
 ========================================================================== */

.c-list {}

.c-list__head,
.c-list__meta,
.c-list__body,
.c-list__foot,
.c-list__item,
.c-list__item-property {
	box-sizing: border-box;
}

.c-list__head,
.c-list__item {
	display: block;
	contain: layout style;
	position: relative;
	font-size: .001px;
}

.c-list__head-property,
.c-list__item-property {
	display: inline-block;
}

.c-list__head-property {
	padding: @c-list-head-property-padding;

	font-family: @c-list-head-font-family;
	font-size: @c-list-head-font-size;
	font-weight: @c-list-head-font-weight;
	color: @c-list-head-color;
}

.c-list__item {
	margin-top: @c-list-item-margin-top;
	margin-bottom: @c-list-item-margin-bottom;
}

.c-list__item-property {
	padding: @c-list-item-property-padding;
	font-size: @c-list-item-font-size;
}