@import "../settings/variables";

/**
 * Component:       `c-button`
 * Description:     Defines styles for buttons
 *
 * Wrappers:		`c-button-group`
 *                  `c-button-dropdown`
 *
 * Modifiers:       `c-button--primary`
 *                  `c-button--secondary`
 *                  `c-button--success`
 *                  `c-button--danger`
 *                  `c-button--link`
 *                  `c-button--mini`
 *                  `c-button--small`
 *                  `c-button--large`
 *
 * States:          `c-button--active` | c-button:active | [aria-checked=true]
 *
 * Markup:
 *
 * <!-- c-button-group -->
 * <div class="c-button-group">
 *     <button class="c-button"></button>
 *     <button class="c-button"></button>
 * </div>
 *
 * <!-- c-button-dropdown -->
 * <div class="c-button-dropdown" data-ui-dropdown>
 *     <button class="c-button"></button>
 *     <ul class="c-dropdown">
 *         <li><a href=""></a></li>
 *     </ul>
 * </div>
 *
 ========================================================================== */


// Variables
// ========================================================================

@c-pagination-font-family: @body-font-family;
@c-pagination-font-size: @body-font-size;
@c-pagination-text-align: center;
@c-pagination-line-height: 2.6rem;

// icons
@c-pagination-glyph-prev: '\e14c';
@c-pagination-glyph-next: '\e14d';
@c-pagination-glyph-perpage-select: '\e14b';
@c-pagination-glyph-perpage-select-hover: '\e14e';

// item (page, prev, next)
@c-pagination-item-padding: 0 .8rem;
@c-pagination-item-margin: 0 .4rem;
@c-pagination-item-background-color: transparent;
@c-pagination-item-border: none;
@c-pagination-item-box-shadow: none;

@c-pagination-item-hover-background-color: transparent;
@c-pagination-item-hover-border: none;
@c-pagination-item-hover-box-shadow: none;
@c-pagination-item-hover-text-decoration: underline;

@c-pagination-item-active-background-color: transparent;
@c-pagination-item-active-border: none;
@c-pagination-item-active-box-shadow: none;
@c-pagination-item-active-text-decoration: none;

@c-pagination-item-selected-background-color: @c-pagination-item-active-background-color;
@c-pagination-item-selected-border: @c-pagination-item-active-border;
@c-pagination-item-selected-box-shadow: @c-pagination-item-active-box-shadow;
@c-pagination-item-selected-font-weight: bold;
@c-pagination-item-selected-text-decoration: @c-pagination-item-active-text-decoration;

// perpage
@c-pagination-perpage-values-background-color: @clr-white;
@c-pagination-perpage-values-border-radius: .2rem;
@c-pagination-perpage-values-box-shadow: @shadow-2dp;
@c-pagination-perpage-value-padding: .2rem 1.6rem;


/* ========================================================================
   Component: `c-pagination`
 ========================================================================== */

.c-pagination {
	position: relative;
	line-height: @c-pagination-line-height;
	font-family: @c-pagination-font-family;
	text-align: @c-pagination-text-align;
}


/* Common styles
 ========================================================================== */

.c-pagination__ellipsis,
.c-pagination__pages,
.c-pagination__page,
.c-pagination__next,
.c-pagination__prev,
.c-pagination__perpage,
.c-pagination__perpage__current,
.c-pagination__perpage__values,
.c-pagination__perpage__value {
	display: inline-block;
	width: auto;
	text-decoration: none;
}

.c-pagination__prev::after,
.c-pagination__next::after,
.c-pagination__perpage__current::after {
	display: inline-block;
	width: 1.6rem;
	text-align: center;

	font-family: 'Iconic';
	font-size: 1.1rem;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}


/*
 ========================================================================== */

.c-pagination__pages {
	font-size: .001px;
}

.c-pagination__page,
.c-pagination__ellipsis,
.c-pagination__prev,
.c-pagination__next {
	overflow: hidden;
	font-size: @c-pagination-font-size;
}

.c-pagination__ellipsis {
	cursor: default;
}

.c-pagination__page,
.c-pagination__prev,
.c-pagination__next {
	background-color: @c-pagination-item-background-color;
	border: @c-pagination-item-border;
	box-shadow: @c-pagination-item-box-shadow;

	transition-property: background-color, border, box-shadow;
	transition-timing-function: @easing;
	transition-duration: 160ms;

	&:hover {
		background-color: @c-pagination-item-hover-background-color;
		border: @c-pagination-item-hover-border;
		box-shadow: @c-pagination-item-hover-box-shadow;
	}
	&:active {
		background-color: @c-pagination-item-active-background-color;
		border: @c-pagination-item-active-border;
		box-shadow: @c-pagination-item-active-box-shadow;
	}
	&[aria-selected=true] {
		background-color: @c-pagination-item-selected-background-color;
		border: @c-pagination-item-selected-border;
		box-shadow: @c-pagination-item-selected-box-shadow;
	}
}

/*a*/
.c-pagination__page {
	padding: @c-pagination-item-padding;
	margin: @c-pagination-item-margin;

	line-height: inherit;
	text-align: center;

	&:hover {
		text-decoration: @c-pagination-item-hover-text-decoration;
	}
	&:active {
		text-decoration: @c-pagination-item-active-text-decoration;
	}

	&[aria-selected=true] {
		cursor: default;
		font-weight: @c-pagination-item-selected-font-weight;
		text-decoration: @c-pagination-item-selected-text-decoration;
	}
}
.c-pagination__prev::after {
	content: @c-pagination-glyph-prev;
}
.c-pagination__next::after {
	content: @c-pagination-glyph-next;
}


/* Sub-component: `c-pagination__perpage`
 ========================================================================== */

.c-pagination__perpage {
	position: absolute;
	right: 0;
}

.c-pagination__perpage__current {
	&::after {
		content: @c-pagination-glyph-perpage-select;
		font-size: .8rem;
	}
}

.c-pagination__perpage__values {
	position: absolute;
	bottom: @c-pagination-line-height;
	right: 0;

	background-color: @c-pagination-perpage-values-background-color;
	border-radius: @c-pagination-perpage-values-border-radius;
	box-shadow: @c-pagination-perpage-values-box-shadow;

	overflow: hidden;
	text-align: right;

	display: none;
	opacity: 0;
}

/*a*/
.c-pagination__perpage__value {
	display: block;
	padding: @c-pagination-perpage-value-padding;

	&:hover {
		background-color: @clr-grey-50;
	}
}

.c-pagination__perpage:hover {
	.c-pagination__perpage__values {
		display: block;
		opacity: 1;
	}
	.c-pagination__perpage__current::after {
		content: @c-pagination-glyph-perpage-select-hover;
	}
}