@import "../settings/variables";

/**
 * Component:       `c-pagination`
 * Description:     Defines styles for buttons
 *
 * Sub-component:	`c-pagination__perpage`
 *
 * Elements:		`c-pagination__page`
 *                  `c-pagination__prev`
 *                  `c-pagination__next`
 *                  `c-pagination__perpage__current`
 *                  `c-pagination__perpage__value`
 *
 ========================================================================== */


// Variables
// ========================================================================

@c-pagination-font-family: @body-font-family;
@c-pagination-font-size: @body-font-size;
@c-pagination-text-align: center;
@c-pagination-line-height: 2.6rem;

// icons
@c-pagination-icon-width: 1.6rem;
@c-pagination-icon-font-family: 'Iconic';
@c-pagination-icon-font-size: 1.1rem;

@c-pagination-icon-prev-glyph: '\e14c';
@c-pagination-icon-next-glyph: '\e14d';

@c-pagination-icon-perpage-select-width: 1.2rem;
@c-pagination-icon-perpage-select-glyph: '\e14b';
@c-pagination-icon-perpage-select-font-size: .8rem;
@c-pagination-icon-perpage-select-hover-glyph: '\e14e';

// page
@c-pagination-page-padding: 0 .4rem;
@c-pagination-page-margin: 0 .2rem;

@c-pagination-page-background-color: transparent;
@c-pagination-page-border: none;
@c-pagination-page-box-shadow: none;

@c-pagination-page-hover-background-color: transparent;
@c-pagination-page-hover-border: none;
@c-pagination-page-hover-box-shadow: none;
@c-pagination-page-hover-text-decoration: underline;

@c-pagination-page-active-background-color: transparent;
@c-pagination-page-active-border: none;
@c-pagination-page-active-box-shadow: none;
@c-pagination-page-active-text-decoration: none;

@c-pagination-page-selected-background-color: @c-pagination-page-active-background-color;
@c-pagination-page-selected-border: @c-pagination-page-active-border;
@c-pagination-page-selected-box-shadow: @c-pagination-page-active-box-shadow;
@c-pagination-page-selected-font-weight: bold;
@c-pagination-page-selected-text-decoration: @c-pagination-page-active-text-decoration;

// prev
@c-pagination-prev-background-color: transparent;
@c-pagination-prev-border: none;
@c-pagination-prev-box-shadow: none;

@c-pagination-prev-hover-background-color: transparent;
@c-pagination-prev-hover-border: none;
@c-pagination-prev-hover-box-shadow: none;

// next
@c-pagination-next-background-color: transparent;
@c-pagination-next-border: none;
@c-pagination-next-box-shadow: none;

@c-pagination-next-hover-background-color: transparent;
@c-pagination-next-hover-border: none;
@c-pagination-next-hover-box-shadow: none;


// perpage
@c-pagination-perpage-values-background-color: @clr-white;
@c-pagination-perpage-values-border-radius: .2rem;
@c-pagination-perpage-values-box-shadow: @shadow-2dp;
@c-pagination-perpage-value-padding: .2rem 1.6rem;


/* ========================================================================
   Component: `c-pagination`
 ========================================================================== */

.c-pagination {
	position: relative;
	line-height: @c-pagination-line-height;
	font-family: @c-pagination-font-family;
	text-align: @c-pagination-text-align;
}


/* Common styles
 ========================================================================== */

.c-pagination__ellipsis,
.c-pagination__pages,
.c-pagination__page,
.c-pagination__next,
.c-pagination__prev,
.c-pagination__perpage,
.c-pagination__perpage__current,
.c-pagination__perpage__values,
.c-pagination__perpage__value {
	display: inline-block;
	width: auto;
	text-decoration: none;
}

.c-pagination__prev::after,
.c-pagination__next::after,
.c-pagination__perpage__current::after {
	display: inline-block;
	text-align: center;

	font-family: @c-pagination-icon-font-family;
	font-size: @c-pagination-icon-font-size;
	-moz-osx-font-smoothing: grayscale;
	 -webkit-font-smoothing: antialiased;
}


/* Controls of page:
 * `c-pagination__page`, `c-pagination__prev`, `c-pagination__next`
 ========================================================================== */

.c-pagination__pages {
	font-size: .001px;
}

.c-pagination__page,
.c-pagination__ellipsis,
.c-pagination__prev,
.c-pagination__next {
	overflow: hidden;
	font-size: @c-pagination-font-size;
}

.c-pagination__ellipsis {
	cursor: default;
}

.c-pagination__page,
.c-pagination__prev,
.c-pagination__next {
	text-align: center;
	transition-property: background-color, border, box-shadow;
	transition-timing-function: @easing;
	transition-duration: 160ms;
}

/*a*/
.c-pagination__page {
	padding: @c-pagination-page-padding;
	margin: @c-pagination-page-margin;

	background-color: @c-pagination-page-background-color;
	border: @c-pagination-page-border;
	box-shadow: @c-pagination-page-box-shadow;

	line-height: inherit;
	text-align: center;

	&:hover {
		background-color: @c-pagination-page-hover-background-color;
		border: @c-pagination-page-hover-border;
		box-shadow: @c-pagination-page-hover-box-shadow;
		text-decoration: @c-pagination-page-hover-text-decoration;
	}
	&:active {
		background-color: @c-pagination-page-active-background-color;
		border: @c-pagination-page-active-border;
		box-shadow: @c-pagination-page-active-box-shadow;
		text-decoration: @c-pagination-page-active-text-decoration;
	}

	&[aria-selected=true] {
		cursor: default;

		background-color: @c-pagination-page-selected-background-color;
		border: @c-pagination-page-selected-border;
		box-shadow: @c-pagination-page-selected-box-shadow;

		font-weight: @c-pagination-page-selected-font-weight;
		text-decoration: @c-pagination-page-selected-text-decoration;
	}
}

.c-pagination__prev::after,
.c-pagination__next::after {
	width: @c-pagination-icon-width;
}

.c-pagination__prev {
	background-color: @c-pagination-prev-background-color;
	border: @c-pagination-prev-border;
	box-shadow: @c-pagination-prev-box-shadow;

	&::after { content: @c-pagination-icon-prev-glyph; }

	&:hover,
	&:active {
		background-color: @c-pagination-prev-hover-background-color;
		border: @c-pagination-prev-hover-border;
		box-shadow: @c-pagination-prev-hover-box-shadow;
	}
}
.c-pagination__next {
	background-color: @c-pagination-next-background-color;
	border: @c-pagination-next-border;
	box-shadow: @c-pagination-next-box-shadow;

	&::after { content: @c-pagination-icon-next-glyph; }

	&:hover,
	&:active {
		background-color: @c-pagination-next-hover-background-color;
		border: @c-pagination-next-hover-border;
		box-shadow: @c-pagination-next-hover-box-shadow;
	}
}


/* Sub-component: `c-pagination__perpage`
 ========================================================================== */

.c-pagination__perpage {
	position: absolute;
	right: 0;
}

.c-pagination__perpage__current {
	&::after {
		width: @c-pagination-icon-perpage-select-width;
		content: @c-pagination-icon-perpage-select-glyph;
		font-size: @c-pagination-icon-perpage-select-font-size;
	}
}

.c-pagination__perpage__values {
	position: absolute;
	bottom: @c-pagination-line-height;
	right: 0;

	background-color: @c-pagination-perpage-values-background-color;
	border-radius: @c-pagination-perpage-values-border-radius;
	box-shadow: @c-pagination-perpage-values-box-shadow;

	overflow: hidden;
	text-align: right;

	display: none;
	opacity: 0;
}

/*a*/
.c-pagination__perpage__value {
	display: block;
	padding: @c-pagination-perpage-value-padding;

	&:hover {
		background-color: @clr-grey-50;
	}
}

.c-pagination__perpage:hover {
	.c-pagination__perpage__values {
		display: block;
		opacity: 1;
	}
	.c-pagination__perpage__current::after {
		content: @c-pagination-icon-perpage-select-hover-glyph;
	}
}