@import "../settings/variables";

/**
 * Component:	Panel
 * Description: Reusable content areas.
 *
 * Elements:	`c-panel__head`
 *				`c-panel__controls`
 *
 ========================================================================== */


// Variables of the components
// ========================================================================

@c-panel-background: white;
@c-panel-border-radius: .2rem;
@c-panel-box-shadow: @box-shadow;
@c-panel-padding: @unit;


/* ========================================================================
   Component: Panel
 ========================================================================== */
 
.c-panel {
    display: block;
    position: relative;
	padding: @c-panel-padding;
	background: @c-panel-background;
	border-radius: @c-panel-border-radius;
	box-shadow: @c-panel-box-shadow;
	box-sizing: border-box;
	overflow: hidden;

	// Micro clearfix to make articles more robust
	&::before,
	&::after {
		content: "";
		display: table;
	}
}

.c-panel::after { clear: both; }

.c-panel + .c-panel {
   margin-top: @unit;
}


/* Subcomponent: `c-panel-divider`
 ========================================================================== */
 
.c-panel + .c-panel-divider {
	position: relative;
	margin-top: @unit !important;
}

.c-panel + .c-panel-divider::after {
    content: "";
    display: block;
    position: absolute;
    top: -.1rem;
    left: 0;
    right: 0;
    border-top: .1rem solid @clr-grey-800;
}


/* Element: `c-panel__head`
 ========================================================================== */

.c-panel__head {
	border-bottom: 1px solid @clr-grey-300;
	float: left;
}

	.c-panel__head hgroup,
	.c-panel__head__hgroup {
		line-height: 1.2;
		h1,h2,h3,h4,h5,h6 { margin: 0; }
	}

.c-panel__controls {
	float: right;
}


/* Element: `c-panel__body`
 ========================================================================== */

.c-panel__body {
	font-size: @body-font-size;

	// Micro clearfix to make the body panel more robust
	&::before,
	&::after {
		content: ' ';
		display: table;
		clear: both;
	}
}
.c-panel__head + .c-panel__body {
	padding: (@unit / 2) 0 @unit;
}


/* Modifier: `c-panel--clean`
 ========================================================================== */
 
.c-panel--clean {
	background: transparent;
	box-shadow: none;
}