@import "../variables";

/**
 * Component:	Panel
 * Description: Reusable content areas.
 *
 * Elements:	`c-panel__header`
 *				`c-panel__controls`
 *
 ========================================================================== */


// Variables of the components
// ========================================================================

@c-panel-background: white;
@c-panel-box-shadow: 0 .2rem .2rem 0 rgba(0,0,0,.14), 0 .3rem .1rem -.2rem rgba(0,0,0,.2), 0 .1rem .5rem 0 rgba(0,0,0,.12);
@c-panel-padding: @unit;


/* ========================================================================
   Component: Panel
 ========================================================================== */
 
.c-panel {
    display: block;
    position: relative;
	padding: @c-panel-padding;
	background: @c-panel-background;
	box-shadow: @c-panel-box-shadow;
	box-sizing: border-box;
}

.c-panel::before,
.c-panel::after {
    content: " ";
    display: table;
}

.c-panel::after { clear: both; }

.c-panel + .c-panel {
   margin-top: @unit;
}


/* Subcomponent: `c-panel-divider`
 ========================================================================== */
 
.c-panel + .c-panel-divider {
	position: relative;
	margin-top: @unit !important;
}

.c-panel + .c-panel-divider::after {
    content: "";
    display: block;
    position: absolute;
    top: -.1rem;
    left: 0;
    right: 0;
    border-top: .1rem solid @clr-grey-800;
}


/* Element: `c-panel__header`
 ========================================================================== */

.c-panel__header {
	border-bottom: 1px solid @clr-grey-300;
}

	.c-panel__header hgroup,
	.c-panel__header__hgroup {
		line-height: 1.2;
		h1,h2,h3,h4,h5,h6 { margin: 0; }
	}

.c-panel__controls {
	float: right;
}


/* Element: `c-panel__body`
 ========================================================================== */

.c-panel__body {
	font-size: @body-font-size;
}
.c-panel__header + .c-panel__body {
	padding: (@unit / 2) 0 @unit;
}


/* Modifier: `c-panel--clean`
 ========================================================================== */
 
.c-panel--clean {
	background: transparent;
	box-shadow: none;
}