
@import "../settings/_import.css";

/**
 * Component: `c-popover`
 *
 * Position modifiers:
 *   [data-position=top]
 *   [data-position=bottom]
 *   [data-position=left]
 *   [data-position=right]
 *   [data-position=left-top]
 *   [data-position=left-bottom]
 *   [data-position=right-top]
 *   [data-position=right-bottom]
 *   [data-position=top-left]
 *   [data-position=top-right]
 *   [data-position=bottom-left]
 *   [data-position=bottom-left]
 *
 ========================================================================== */

.c-popover {
    --background-color: var(--clr-grey-700);
    --shadow: var(--shadow-2dp);

    display: inline-block;
    position: fixed;
    left: 0;
    top: 0;
    transform: translate(0,0);
    z-index: 200;
    margin: var(--space-default);
    box-shadow: var(--shadow);

    transition-property: opacity;
    transition-duration: 0.16s;
    transition-timing-function: var(--easing);

    cursor: default;
    user-select: none;
    line-height: 1;
    font-size: 0.001px;
}

.c-popover[data-floating=true] {
    transition-property: opacity, transform;
}


/* Subelement: Caret of tooltip
 ========================================================================== */

.c-popover::after {
    content: '';
    position: absolute;
    z-index: 2;

    top: auto;
    right: auto;
    bottom: auto;
    left: auto;

    display: block;
    width: 0.8rem;
    height: 0.8rem;

    background-color: var(--background-color);
    box-shadow: var(--shadow);
    border-radius: 0.1rem;

    margin-top: 0;
    margin-left: 0;
    transform: rotate(45deg);
    transform-origin: 50% 50%;

    transition-property: top, right, bottom, left, margin-top, margin-left, opacity;
    transition-duration: 0.16s;
    transition-timing-function: var(--easing);
    transition-delay: 0;
}


/* Positioning */

.c-popover[data-position=bottom]::after {
    top: -0.4rem;
    left: 50%;
    margin-left: -0.4rem;
}
.c-popover[data-position=top]::after {
    bottom: -0.4rem;
    left: 50%;
    margin-left: -0.4rem;
}
.c-popover[data-position=right]::after {
    top: 50%;
    left: -0.4rem;
    margin-top: -0.4rem;
}
.c-popover[data-position=left]::after {
    top: 50%;
    right: -0.4rem;
    margin-top: -0.4rem;
}
.c-popover[data-position=right-top]::after {
    top: 0.8rem;
    left: -0.4rem;
}
.c-popover[data-position=right-bottom]::after {
    bottom: 0.8rem;
    left: -0.4rem;
}
.c-popover[data-position=left-top]::after {
    top: 0.8rem;
    right: -0.4rem;
}
.c-popover[data-position=left-bottom]::after {
    bottom: 0.8rem;
    right: -0.4rem;
}
.c-popover[data-position=bottom-left]::after {
    top: -0.4rem;
    left: 0.8rem;
}
.c-popover[data-position=bottom-right]::after {
    top: -0.4rem;
    right: 0.8rem;
}
.c-popover[data-position=top-left]::after {
    bottom: -0.4rem;
    left: 0.8rem;
}
.c-popover[data-position=top-right]::after {
    bottom: -0.4rem;
    right: 0.8rem;
}


/* Element: `c-popover__body`
 ========================================================================== */

.c-popover__body {
    position: relative;
    z-index: 3;
    display: inline-block;
    padding: 0.6rem 0.8rem;

    background-color: var(--background-color);
    border-radius: 0.2rem;
    overflow: hidden;
	
    color: var(--clr-grey-50);
    font-family: var(--font-primary);
    font-size: var(--text-sm);
    line-height: var(--line-height-sm);
}

/* text-crop (http://text-crop.eightshapes.com) */

.c-popover__body::before,
.c-popover__body::after {
    content: '';
    display: block;
    height: 0;
    width: 0;
}
.c-popover__body::before {
    margin-bottom: -0.2em;
}
.c-popover__body::after {
    margin-top: 0;
}


/* Visibility States
 ========================================================================== */

.c-popover:matches(.is-visible, .is-hidden) {
    animation-duration: 0.24s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
}

.c-popover.is-visible {
    animation-name: popoverShow;
    display: inline-block;
    visibility: visible;
}
.c-popover.is-hidden {
    animation-name: popoverHide;
    display: none;
    visibility: hidden;
}

@keyframes popoverShow {
    from { opacity: 0; }
    to { opacity: 1; }
}
@keyframes popoverHide {
    from { opacity: 1; }
    to { opacity: 0; }
}


/* Style: `s-linkset`
 ========================================================================== */

.c-popover.s-linkset {
    --background-color: var(--clr-white);
}

.c-popover.s-linkset a {
    display: block;
    line-height: 1.2;
    word-break: break-word;
    padding: 0 var(--space-sm);
    margin: var(--space-xs) 0;
}