@import "color.less";
@import "../settings/variables";

// Name:            Table
// Description:     Defines styles for tables
//
// Component:       `ui-table`
//
// Modifiers:       `ui-table-middle`
//                  `ui-table-striped`
//                  `ui-table-condensed`
//                  `ui-table-hover`
//
// States:          `ui-active`
//
// ========================================================================


// Variables
// ========================================================================

@table-margin-vertical:			@base-margin;
@table-td-padding-vertical:		@base-margin / 2;
@table-td-padding-horizontal:	@base-margin / 2;

@table-caption-color:		@clr-grey-900;
@table-caption-font-size:	@clr-grey-200;

@table-striped-background: #62d1f5;

@table-condensed-td-padding-vertical:	@base-margin / 4;
@table-condensed-td-padding-horizontal: @base-margin / 2;

@table-hover-background:	@clr-grey-300;
@table-hover-color:			currenColor;

@table-active-background:	@clr-light-blue-800;
@table-active-color:		@clr-white;


/* ========================================================================
   Component: Table
 ========================================================================== */

.ui-table {
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;
	margin-bottom: @table-margin-vertical;
}

/*
 * Add margin if adjacent element
 */

* + .ui-table { margin-top: @table-margin-vertical; }

.ui-table th,
.ui-table td {
	padding: @table-td-padding-vertical @table-td-padding-horizontal;
}

/*
 * Set alignment
 */

.ui-table th { text-align: left; }
.ui-table td { vertical-align: top; }

.ui-table thead th { vertical-align: bottom; }

/*
 * Caption and footer
 */

.ui-table caption,
.ui-table tfoot {
	font-size: @table-caption-font-size;
	font-style: italic;
}

.ui-table caption {
	text-align: left;
	color: @table-caption-color;
}

/*
 * Active State
 */

.ui-table tbody tr[data-active=true] {
	background: @table-active-background;
	color: @table-active-color;
}


/* Sub-modifier: `ui-table--middle`
 ========================================================================== */

.ui-table--middle,
.ui-table--middle td {
	vertical-align: middle !important;
}


/* Modifier: `ui-table--striped`
 ========================================================================== */

.ui-table--striped tr:nth-of-type(odd) {
	background: @table-striped-background;
}


/* Modifier: `ui-table--condensed`
 ========================================================================== */

.ui-table--condensed td {
	padding: @table-condensed-td-padding-vertical @table-condensed-td-padding-horizontal;
}


/* Modifier: `ui-table--hover`
 ========================================================================== */

.ui-table--hover tr:hover {
	background: @table-hover-background;
	color: @table-hover-color;
}