
.c-tabs {
	display: block;
	position: relative;
	margin: 0;
	padding: 0;
	
	width: inherit;
	height: 4.8rem;
	line-height: 4.8rem;
	
	box-sizing: border-box;
}

.c-tabs__item {
	display: inline-block;
	list-style: none;
	margin: 0;
	padding: 0 2.4rem;
	max-width: 18rem;
	text-align: center;
}
		
.c-tabs__indicator {
	display: block;
	position: absolute;
	left: 0;
	bottom: 0;
	width: 0;
	height: 2px;
	background-color: #0277BD;

	transition-property: left, right;
	transition-duration: 0.7s;
	transition-timing-function: @easing;
}

.c-tabs__content-wrapper,
.c-tabs__content {
	position: relative;
	width: inherit;
}

.c-tabs__content-wrapper {
	overflow: hidden;
}

.c-tabs__content {
	position: absolute;
	width: inherit;
	margin: 0;
	transform: translateX(0);

	transition-property: opacity, transform;
	transition-duration: 0.8s;
	transition-timing-function: @easing;
}

.c-tabs__content.is-active {
	opacity: 1;
}
.c-tabs__content.is-left {
	transform: translateX(-110%);
}
.c-tabs__content.is-right {
	transform: translateX(110%);
}

.s-animation-show .c-tabs__content {
	opacity: 0;
}