@import "../settings/variables";

/**
 * Name:            Thumbnail
 * Description:     Defines styles for the picture preview
 * 
 * Component:       `c-thumbnail`
 * 
 * Modifiers:       `c-thumbnail--mini`
 *					`c-thumbnail--small`
 *					`c-thumbnail--large`
 * 
 ========================================================================== */


// Variables
// ========================================================================

@c-thumbnail-max-width: 19.2rem;

@c-thumbnail-background-color: @clr-white;
@c-thumbnail-border-radius: .2rem;
@c-thumbnail-box-shadow: @shadow-3dp;
@c-thumbnail-margin-left: @unit;
@c-thumbnail-padding: 0;

@c-thumbnail-caption-padding: .4rem .8rem;
@c-thumbnail-caption-background-color: transparent;
@c-thumbnail-caption-color: @clr-white;
@c-thumbnail-caption-line-height: 1.2;
@c-thumbnail-caption-font-size: 1.3rem;
@c-thumbnail-caption-font-weight: 600;
@c-thumbnail-caption-text-shadow: @text-shadow;

@c-thumbnail-shutter-padding: .4rem .8rem;
@c-thumbnail-shutter-background-color: transparent;
@c-thumbnail-shutter-color: @clr-white;
@c-thumbnail-shutter-line-height: 1.2;
@c-thumbnail-shutter-font-size: 1.3rem;
@c-thumbnail-shutter-font-weight: 500;
@c-thumbnail-shutter-text-shadow: @text-shadow;


/* ========================================================================
   Component: `c-thumbnail`
 ========================================================================== */

/*figure*/
.c-thumbnail {
	position: relative;
	display: inline-block;
	overflow: hidden;
	max-width: @c-thumbnail-max-width;

	vertical-align: bottom;

	background-color: @c-thumbnail-background-color;
	border-radius: @c-thumbnail-border-radius;
	box-shadow: @c-thumbnail-box-shadow;
	box-sizing: border-box;

	margin: 0;
	padding: @c-thumbnail-padding;

	img { max-height: 1.8 * @c-thumbnail-max-width; }
}

.c-thumbnail + .c-thumbnail {
	margin-left: @c-thumbnail-margin-left;
}


/* Combination of components: `c-article` & `c-panel`
 ========================================================================== */

.c-panel .c-thumbnail {
	/* reset basic style */
	box-shadow: none;
}


/* Element: `c-thumbnail__caption`
 ========================================================================== */

.c-thumbnail__caption {
	position: absolute;
	left: 0; bottom: 0; right: 0;
	padding: @c-thumbnail-caption-padding;
	box-sizing: border-box;

	background-color: @c-thumbnail-caption-background-color;

	color: @c-thumbnail-caption-color;
	font-size: @c-thumbnail-caption-font-size;
	font-weight: @c-thumbnail-caption-font-weight;
	line-height: @c-thumbnail-caption-line-height;
	text-shadow: @c-thumbnail-caption-text-shadow;
}


/* Element: `c-thumbnail__shutter`
 ========================================================================== */

.c-thumbnail__shutter {
	position: absolute;
	top: 0; right: 0; bottom: 0; left: 0;
	padding: @c-thumbnail-shutter-padding;
	border-radius: inherit;

	background-color: @c-thumbnail-shutter-background-color;
	opacity: 0;
	transition: opacity .16s @easing;

	font-size: @c-thumbnail-shutter-font-size;
	font-weight: @c-thumbnail-shutter-font-weight;
	line-height: @c-thumbnail-shutter-line-height;
	color: @c-thumbnail-shutter-color;
	text-shadow: @c-thumbnail-shutter-text-shadow;
}


/* State `:hover`
 ========================================================================== */

a.c-thumbnail:hover {
	img {
		filter: grayscale(100%);
	}
	.c-thumbnail__shutter {
		opacity: 1;
	}
}