@import "../settings/variables";

/**
 * Name:            Thumbnail
 * Description:     Defines styles for the picture preview
 * 
 * Component:       `c-thumbnail`
 * 
 * Modifiers:       `c-thumbnail--mini`
 *					`c-thumbnail--small`
 *					`c-thumbnail--large`
 * 
 ========================================================================== */


// Variables
// ========================================================================

@c-thumbnail-width: 20rem;
@c-thumbnail-mini-width: 10rem;
@c-thumbnail-small-width: 16rem;
@c-thumbnail-large-width: 40rem;

@c-thumbnail-background-color: @clr-white;
@c-thumbnail-border-radius: .2rem;
@c-thumbnail-box-shadow: @shadow-3dp;
@c-thumbnail-margin-left: @unit;
@c-thumbnail-padding: .4rem;

@c-thumbnail-img-max-width: @c-thumbnail-width - @c-thumbnail-padding * 2;

@c-thumbnail-caption-font-size: @font-size-default;
@c-thumbnail-caption-margin-top: .6rem;

@c-thumbnail-shutter-background-color: fade(@clr-blue-grey-700, 30);


/* ========================================================================
   Component: Thumbnail
 ========================================================================== */

/*figure*/
.c-thumbnail {
	position: relative;
	display: inline-block;
	overflow: hidden;
	width: @c-thumbnail-width;

	font-size: .001px;
	text-align: center;
	vertical-align: bottom;

	background-color: @c-thumbnail-background-color;
	border-radius: @c-thumbnail-border-radius;
	box-shadow: @c-thumbnail-box-shadow;
	box-sizing: border-box;

	margin: 0;
	padding: @c-thumbnail-padding;
}

.c-thumbnail + .c-thumbnail {
	margin-left: @c-thumbnail-margin-left;
}


/* Combination of components: `c-article` & `c-panel`
 ========================================================================== */

.c-panel .c-thumbnail {

	/* reset basic style */
	box-shadow: none;
}


/* Element: `c-thumbnail__caption`
 ========================================================================== */

.c-thumbnail__caption {
	font-size: @c-thumbnail-caption-font-size;
}

.c-thumbnail img + .c-thumbnail__caption {
	margin-top: @c-thumbnail-caption-margin-top;
}


/* Element: `c-thumbnail__shutter`
 ========================================================================== */

.c-thumbnail__shutter {
	position: absolute;
	top: 0; right: 0; bottom: 0; left: 0;
	background-color: @c-thumbnail-shutter-background-color;
	border-radius: inherit;

	opacity: 0;
	transition: opacity 160ms @easing;
}


/* State `:hover`
 ========================================================================== */

.c-thumbnail:hover {
	a > img {
		filter: grayscale(100%);
	}
	.c-thumbnail__shutter {
		opacity: 1;
	}
}


/* Sizes modifiers
 ========================================================================== */

.c-thumbnail--mini {
	width: @c-thumbnail-mini-width;
}
.c-thumbnail--small {
	width: @c-thumbnail-small-width;
}
.c-thumbnail--large {
	width: @c-thumbnail-large-width;
}