@import "../settings/variables";

/**
 * Component: `c-tooltip`
 *
 * Position modifiers:
 *   [data-position=top]
 *   [data-position=bottom]
 *   [data-position=left]
 *   [data-position=right]
 *   [data-position=left-top]
 *   [data-position=left-bottom]
 *   [data-position=right-top]
 *   [data-position=right-bottom]
 *   [data-position=top-left]
 *   [data-position=top-right]
 *   [data-position=bottom-left]
 *   [data-position=bottom-left]
 *
 * Markup:
 *
 ========================================================================== */

// Variables
// ========================================================================

@c-tooltip-border-radius: .2rem;
@c-tooltip-box-shadow: @shadow-2dp;

@c-tooltip-padding: .6rem .8rem;

@c-tooltip-background-color: @clr-blue-grey-700;

@c-tooltip-caret-size: 1rem;

@c-tooltip-body-color: @clr-grey-50;
@c-tooltip-body-font-family: @body-font-family;
@c-tooltip-body-font-size: 1.3rem;
@c-tooltip-body-line-height: 1.2;


/* ========================================================================
   Component: Tooltip
 ========================================================================== */

.c-tooltip {
	display: inline-block;
	position: absolute;
	left: 50%; top: 50%;

	cursor: default;
	user-select: none;

	box-shadow: @c-tooltip-box-shadow;

	text-align: left;
	line-height: 1;
	font-size: 0.001px;

	margin: .8rem;
}


/* Subelement: Caret of tooltip
 ========================================================================== */

.c-tooltip::after {
	content: '';
	position: absolute;
	z-index: 2;

	top: auto;
	right: auto;
	bottom: auto;
	left: auto;

	display: block;
	width: @c-tooltip-caret-size;
	height: @c-tooltip-caret-size;

	background-color: @c-tooltip-background-color;
	box-shadow: @c-tooltip-box-shadow;
	border-radius: .1rem;

	margin-top: 0;
	margin-left: 0;
	transform: rotate(45deg);
	transform-origin: 50% 50%;

	transition-property: top, right, bottom, left, margin-top, margin-left;
	transition-duration: 160ms;
	transition-timing-function: @easing;
	transition-delay: 0ms;
}


// Positioning

.c-tooltip {
	&[data-position=bottom]::after {
		top: -@c-tooltip-caret-size/2;
		left: 50%;
		margin-left: -@c-tooltip-caret-size/2;
	}
	&[data-position=top]::after {
		bottom: -@c-tooltip-caret-size/2;
		left: 50%;
		margin-left: -@c-tooltip-caret-size/2;
	}
	&[data-position=right]::after {
		top: 50%;
		left: -@c-tooltip-caret-size/2;
		margin-top: -@c-tooltip-caret-size/2;
	}
	&[data-position=left]::after {
		top: 50%;
		right: -@c-tooltip-caret-size/2;
		margin-top: -@c-tooltip-caret-size/2;
	}
	&[data-position=right-bottom]::after {
		top: @c-tooltip-caret-size;
		left: -@c-tooltip-caret-size/2;
	}
	&[data-position=right-top]::after {
		bottom: @c-tooltip-caret-size;
		left: -@c-tooltip-caret-size/2;
	}
	&[data-position=left-bottom]::after {
		top: @c-tooltip-caret-size;
		right: -@c-tooltip-caret-size/2;
	}
	&[data-position=left-top]::after {
		bottom: @c-tooltip-caret-size;
		right: -@c-tooltip-caret-size/2;
	}
	&[data-position=bottom-right]::after {
		top: -@c-tooltip-caret-size/2;
		left: @c-tooltip-caret-size;
	}
	&[data-position=bottom-left]::after {
		top: -@c-tooltip-caret-size/2;
		right: @c-tooltip-caret-size;
	}
	&[data-position=top-right]::after {
		bottom: -@c-tooltip-caret-size/2;
		left: @c-tooltip-caret-size;
	}
	&[data-position=top-left]::after {
		bottom: -@c-tooltip-caret-size/2;
		right: @c-tooltip-caret-size;
	}
}


/* Element: `c-tooltip__inside`
 ========================================================================== */

.c-tooltip__inside {
	position: relative;
	z-index: 3;
	display: inline-block;
	padding: @c-tooltip-padding;

	background-color: @c-tooltip-background-color;
	border-radius: @c-tooltip-border-radius;
	overflow: hidden;

	color: @c-tooltip-body-color;
	font-family: @c-tooltip-body-font-family;
	font-size: @c-tooltip-body-font-size;
	line-height: @c-tooltip-body-line-height;
}


/* Control element: `c-tooltip-item`
 ========================================================================== */

.c-tooltip-item {
	display: inline-block;
	cursor: pointer;
	border-bottom: 1px dashed @body-color;
	background-color: transparent;
}