@import "../settings/variables";

// Variables
// ========================================================================

@c-tooltip-border-radius: 0;
@c-tooltip-box-shadow: @shadow-2dp;

@c-tooltip-padding: .7rem 1.2rem .8rem;

@c-tooltip-background-color: @clr-blue-grey-700;

@c-tooltip-body-color: @clr-grey-50;
@c-tooltip-body-font-family: @body-font-family;
@c-tooltip-body-font-size: 1.3rem;
@c-tooltip-body-line-height: 1.2;


/* ========================================================================
   Component: Tooltip
 ========================================================================== */

.c-tooltip {
	display: inline-block;
	position: absolute;
	left: 50%; top: 50%;

	cursor: default;
	user-select: none;

	box-shadow: @c-tooltip-box-shadow;

	padding: @c-tooltip-padding;
	background-color: @c-tooltip-background-color;
	text-align: left;
	line-height: 1;

	margin: .8rem;
}


/* Element: `c-tooltip__body`
 ========================================================================== */

.c-tooltip__body {
	position: relative;
	z-index: 3;

	background-color: @c-tooltip-background-color;
	overflow: hidden;

	color: @c-tooltip-body-color;
	font-family: @c-tooltip-body-font-family;
	font-size: @c-tooltip-body-font-size;
	line-height: @c-tooltip-body-line-height;
}


/* Element: `c-tooltip__caret`
 ========================================================================== */

/*svg*/
.c-tooltip__caret {
	position: absolute;
	z-index: 2;
	width: 24px;
	height: 25px;

	top: auto; right: auto; bottom: auto; left: auto;
	transition-property: top, right, bottom, left;
	transition-duration: 160ms;
	transition-timing-function: @easing;
	transition-delay: 0ms;
}

// Position modifiers:
//   `pos-top`
//   `pos-bottom`
//   `pos-left`
//   `pos-right`
//   `pos-left-top`
//   `pos-left-bottom`
//   `pos-right-top`
//   `pos-right-bottom`
//   `pos-top-left`
//   `pos-top-right`
//   `pos-bottom-left`
//   `pos-bottom-left`
.c-tooltip__caret {
	&.pos-top			{ top: -24px; left: calc(50% - 12px); }
	&.pos-bottom		{ bottom: -24px; left: calc(50% - 12px); }
	&.pos-left			{ top: calc(50% - 12px); left: -24px; }
	&.pos-right			{ top: calc(50% - 12px); right: -24px; }
	&.pos-left-top		{ top: -4px; left: -24px; }
	&.pos-left-bottom	{ bottom: -4px; left: -24px; }
	&.pos-right-top		{ top: -4px; right: -24px; }
	&.pos-right-bottom	{ bottom: -4px; right: -24px; }
	&.pos-top-left		{ top: -24px; left: -4px; }
	&.pos-top-right		{ top: -24px; right: -4px; }
	&.pos-bottom-left	{ bottom: -24px; left: -4px; }
	&.pos-bottom-right	{ bottom: -24px; right: -4px; }
}


/* Control element: `c-tooltip-item`
 ========================================================================== */

.c-tooltip-item {
	display: inline-block;
	cursor: pointer;
	border-bottom: 1px dashed @body-color;
	background-color: transparent;
}