@import "../settings/variables";

// Variables
// ========================================================================

@c-tooltip-border-radius: .2rem;
@c-tooltip-box-shadow: @shadow-2dp;

@c-tooltip-padding: .7rem 1.2rem .8rem;

@c-tooltip-background-color: @clr-blue-grey-700;

@c-tooltip-caret-size: 2.4rem;

@c-tooltip-body-color: @clr-grey-50;
@c-tooltip-body-font-family: @body-font-family;
@c-tooltip-body-font-size: 1.3rem;
@c-tooltip-body-line-height: 1.2;


/* ========================================================================
   Component: Tooltip
 ========================================================================== */

.c-tooltip {
	display: inline-block;
	position: absolute;
	left: 50%; top: 50%;

	cursor: default;
	user-select: none;

	border-radius: @c-tooltip-border-radius;
	box-shadow: @c-tooltip-box-shadow;

	padding: @c-tooltip-padding;
	background-color: @c-tooltip-background-color;
	text-align: left;
	line-height: 1;

	margin: .8rem;
}


/* Element: `c-tooltip__body`
 ========================================================================== */

.c-tooltip__body {
	position: relative;
	z-index: 3;

	background-color: @c-tooltip-background-color;
	overflow: hidden;

	color: @c-tooltip-body-color;
	font-family: @c-tooltip-body-font-family;
	font-size: @c-tooltip-body-font-size;
	line-height: @c-tooltip-body-line-height;
}


/* Element: `c-tooltip__caret`
 ========================================================================== */

/*svg*/
.c-tooltip__caret {
	position: absolute;
	z-index: 2;
	width: @c-tooltip-caret-size;
	height: @c-tooltip-caret-size + .1rem;

	background-color: pink;

	top: auto; right: auto; bottom: auto; left: auto;
	margin-top: 0; margin-left: 0;

	transition-property: top, right, bottom, left, margin-top, margin-left;
	transition-duration: 160ms;
	transition-timing-function: @easing;
	transition-delay: 0ms;

	path {
		fill: #455A64;
	}
}

// Position modifiers:
//   `pos-top`
//   `pos-bottom`
//   `pos-left`
//   `pos-right`
//   `pos-left-top`
//   `pos-left-bottom`
//   `pos-right-top`
//   `pos-right-bottom`
//   `pos-top-left`
//   `pos-top-right`
//   `pos-bottom-left`
//   `pos-bottom-left`
.c-tooltip__caret {
	&.pos-top {
		top: -@c-tooltip-caret-size; left: 50%;
		margin-left: -@c-tooltip-caret-size/2;
	}
	&.pos-bottom {
		bottom: -@c-tooltip-caret-size; left: 50%;
		margin-left: -@c-tooltip-caret-size/2;
	}
	&.pos-left {
		top: 50%; left: -@c-tooltip-caret-size;
		margin-top: -@c-tooltip-caret-size/2;
	}
	&.pos-right {
		top: 50%; right: -@c-tooltip-caret-size;
		margin-top: -@c-tooltip-caret-size/2;
	}
	&.pos-left-top {
		top: -3px; left: -@c-tooltip-caret-size;
	}
	&.pos-left-bottom {
		bottom: -3px; left: -@c-tooltip-caret-size;
	}
	&.pos-right-top {
		top: -3px; right: -@c-tooltip-caret-size;
	}
	&.pos-right-bottom	{
		bottom: -3px; right: -@c-tooltip-caret-size;
	}
	&.pos-top-left {
		top: -@c-tooltip-caret-size; left: -3px;
	}
	&.pos-top-right {
		top: -@c-tooltip-caret-size; right: -3px;
	}
	&.pos-bottom-left	{
		bottom: -@c-tooltip-caret-size; left: -3px;
	}
	&.pos-bottom-right	{
		bottom: -@c-tooltip-caret-size; right: -3px;
	}
}


/* Control element: `c-tooltip-item`
 ========================================================================== */

.c-tooltip-item {
	display: inline-block;
	cursor: pointer;
	border-bottom: 1px dashed @body-color;
	background-color: transparent;
}