@import "../settings/variables";

/**
 * Component:       `c-badge`
 * Description:     Defines styles for badges
 * 
 * Modifiers:       `c-badge--*colors*`
 * 
 ========================================================================== */

.c-badge {
    display: inline-block;
    border-radius: 50vw;
	line-height: 3.2rem;
	
    padding: .4rem;
    font: 600 1.4rem 'Open Sans';
	overflow: hidden;
    vertical-align: middle;
	
	cursor: default;
	background-image: -webkit-radial-gradient(1rem 1rem, farthest-side, #D3D3D3, #FFFFFF);
	background-image: 	 -moz-radial-gradient(1rem 1rem, farthest-side, #D3D3D3, #FFFFFF);
	background-image: radial-gradient(1rem 1rem, farthest-side, #D3D3D3, #FFFFFF);
	/* border: .1rem solid #FAFAFA; */
	border: .1rem solid #E0E0E0;
}
.c-panel:not(.s-transparent) .c-badge {
	background-image: -webkit-radial-gradient(1rem 1rem, farthest-side, #E0E0E0, #FFFFFF);
	border: .1rem solid #EEEEEE;
}

.c-badge-str {
    display: inline-block;
    border-radius: 50vw;
	line-height: 1em;
	
    padding: .8rem;
	background-color: white;
	box-shadow: inset 0 0 .1rem .1rem rgba(255,255,255,.6);
    color: #424242;
	letter-spacing: .1rem;
	
}
a.c-badge:hover .c-badge-str { color: rgb(2,119,189); }



/* Color modifiers
 ========================================================================== */
