@import "../settings/variables";


/* ========================================================================
   Component: `c-ctrl`
 ========================================================================== */

.c-ctrl {
    display: inline-block;
    min-width: 2.2rem;
    min-height: 2.2rem;
    vertical-align: middle;
    line-height: 1;
}


/* ========================================================================
   Component: `c-ctrl-sort`
 ========================================================================== */

@c-ctrl-sort-color: @clr-grey-400;
@c-ctrl-sort-hover-color: @clr-grey-800;
@c-ctrl-sort-active-color: @clr-grey-900;
@c-ctrl-sort-after-color: transparent;
@c-ctrl-sort-after-hover-color: @clr-grey-400;
@c-ctrl-sort-after-active-color: @clr-grey-900;

.c-ctrl-sort {
    font-size: inherit;
    line-height: inherit;
    text-decoration: none;

    color: @c-ctrl-sort-color;
    cursor: pointer;

    &::after {
        content: '';
        display: inline-block;
        width: 2.2rem;
        vertical-align: middle;
        text-align: center;
        font-family: 'Iconic';
        font-size: 1.3rem;
        font-weight: 400;
        line-height: 1;
        color: @c-ctrl-sort-after-color;
        transition: color 0.16s @easing;
    }
    &[aria-sort="ascending"]::after {
        content: '\e246';
    }
    &[aria-sort="descending"]::after {
        content: '\e247';
    }
}

.c-ctrl-sort:hover {
    color: @c-ctrl-sort-hover-color;
    &::after {
        color: @c-ctrl-sort-after-hover-color;
    }
}

.c-ctrl-sort[aria-selected=true] {
    color: @c-ctrl-sort-active-color;
    &::after {
        color: @c-ctrl-sort-after-active-color;
    }
}