@import "../settings/variables";

/**
 * Component: `c-field`
 *
 * Wrapper: `c-field-box`
 *
 * Elements: `c-field-button`
 *           `c-field-error`
 *           `c-field-icon`
 *           `c-field-info`
 *           `c-field-label`
 *
 * States: `is-filled`
 *         `is-focused`
 *         `is-invalid`
 *
 * Styles: `s-floating`
 *
 ========================================================================== */

// Variables
// ========================================================================

@c-field-height: 3.2rem;
@c-field-padding-top: .2rem;
@c-field-padding-right: .4rem;
@c-field-padding-bottom: .2rem;
@c-field-padding-left: .4rem;
@c-field-font-family: inherit;
@c-field-font-size: @font-size-default;
@c-field-line-height: @line-height-default;

@c-field-background-color: white;
@c-field-border-color: @clr-grey-500;
@c-field-border-width: .1rem;
@c-field-border-style: solid;
@c-field-border-radius: .2rem;
@c-field-shadow: inset 0 0 .2rem @clr-grey-400, 0 0 0 @clr-blue-400;
@c-field-outline: none;


@c-field-textarea-min-height: 3 * @c-field-font-size * @c-field-line-height + @c-field-padding-top + @c-field-padding-bottom;

@c-field-checkbox-size: 1.6rem;
@c-field-checkbox-content: '\e154';
@c-field-checkbox-font-size: 1.2rem;

@c-field-radio-size: 1.6rem;
@c-field-radio-background: var(--svg-circle) no-repeat center;
@c-field-radio-background-size: .8rem .8rem;


@c-field-label-font-size: 1.3rem;
@c-field-label-line-height: 2rem;
@c-field-label-color: @clr-grey-600;
@c-field-label-cursor: default;
@c-field-label-user-select: none;
@c-field-label-left-after-icon: @c-field-icon-width;

@c-field-error-font-size: 1.3rem;
@c-field-error-font-weight: 500;
@c-field-error-line-height: 1.8rem;
@c-field-error-color: @clr-red-400;

@c-field-info-font-size: 1.2rem;
@c-field-info-font-weight: 500;
@c-field-info-letter-spacing: 0.05rem;
@c-field-info-line-height: 1.8rem;
@c-field-info-color: @clr-grey-500;

@c-field-button-width: @c-field-height;
@c-field-button-height: @c-field-height;

@c-field-icon-width: @c-field-height;
@c-field-icon-height: @c-field-height;
@c-field-icon-text-shadow: @c-button-text-shadow;


@c-field-autofill-background-color: @clr-yellow-50;

@c-field-disabled-background-color: @clr-grey-20;
@c-field-disabled-border-color: @clr-grey-600;
@c-field-disabled-border-style: dashed;

@c-field-focused-background-color: @clr-white;
@c-field-focused-border-color: @clr-blue-400;
@c-field-focused-box-shadow: inset 0 0 0rem @clr-grey-400, 0 0 .3rem @clr-blue-400;
@c-field-invalid-background-color: lighten(@clr-red-50, 3%);
@c-field-invalid-border-color: @clr-red-300;
@c-field-invalid-box-shadow: inset 0 0 0rem @clr-grey-400, 0 0 .3rem @clr-red-400;

@c-field-focused-label-top: 0;
@c-field-focused-label-left: 0;
@c-field-focused-label-color: @text-color;


/* Component: `c-field`
 ========================================================================== */

.c-field {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    height: @c-field-height;
    line-height: @c-field-line-height;

    padding-top: @c-field-padding-top;
    padding-left: @c-field-padding-left;
    padding-bottom: @c-field-padding-bottom;
    padding-right: @c-field-padding-right;

    background-color: @c-field-background-color;
    border-color: @c-field-border-color;
    border-width: @c-field-border-width;
    border-style: @c-field-border-style;
    border-radius: @c-field-border-radius;
    outline: @c-field-outline;
    box-shadow: @c-field-shadow;
    box-sizing: border-box;
    cursor: pointer;

    font-family: @c-field-font-family;
    font-size: @c-field-font-size;

    transition-property: background-color, border-color, box-shadow;
    transition-duration: 160ms;
    transition-timing-function: @easing;

    &:-webkit-autofill {
        -webkit-box-shadow: 0 0 0px 1000px @c-field-autofill-background-color inset;
        transition: background-color 5000s ease-in-out 0s;
    }

    &:disabled {
        background-color: @c-field-disabled-background-color;
        border-color: @c-field-disabled-border-color;
        border-style: @c-field-disabled-border-style;
        box-shadow: none;
    }

    &:focus {
        border-color: @c-field-focused-border-color;
        box-shadow: @c-field-focused-box-shadow;
    }
}

/* Style of the specific base
 ========================================================================== */

input.c-field,
textarea.c-field {
    -webkit-appearance: none;
    -moz-appearance: none;
}

textarea.c-field {
    min-height: @c-field-textarea-min-height;
}

input[type=checkbox].c-field,
input[type=radio].c-field {
    width: @c-field-checkbox-size;
    height: @c-field-checkbox-size;

    &:checked {
        background-color: @c-field-focused-background-color;
        box-shadow: none;

        &::after {
            content: ' ';
            display: inline-block;
            width: @c-field-checkbox-size - .2rem;
            height: @c-field-checkbox-size - .2rem;
            line-height: @c-field-checkbox-size - .2rem;

            cursor: pointer;
            vertical-align: top;
        }
    }

    &:disabled,
    &:disabled:checked::after {
        cursor: default;
    }
}

input[type=checkbox].c-field:checked::after {
    content: @c-field-checkbox-content;
    font-family: 'Iconic';
    font-size: @c-field-checkbox-font-size;
    text-align: center;
}

input[type=radio].c-field {
    border-radius: 50%;
    &:checked::after {
        background: @c-field-radio-background;
        background-size: @c-field-radio-background-size;
    }
}

input[type=file].c-field {
    opacity: 0;
    position: relative;
    z-index: 2;
    cursor: pointer;

    & + .c-field {
        position: absolute;
        left: 0;
        z-index: 1;
    }
}


/* Wrapper: `c-field-box`
 ========================================================================== */

.c-field-box {
    position: relative;
    display: block;
    font-size: 0.001px;
    contain: layout style;
}


/* Element: `c-field-label`
 ========================================================================== */

.c-field-label {
    display: inline-block;
    vertical-align: middle;
    padding-left: @c-field-padding-left;

    line-height: @c-field-label-line-height;
    font-size: @c-field-label-font-size;

    color: @c-field-label-color;
    cursor: @c-field-label-cursor;
    user-select: @c-field-label-user-select;

    transition-property: color;
    transition-duration: 160ms;
    transition-timing-function: @easing;

    // Micro clearfix to make articles more robust
    &::before,
    &::after {
        content: "";
        display: table;
        clear: both;
    }
}

::-webkit-input-placeholder {
    color: @c-field-label-color;
}
::-moz-placeholder {
    color: @c-field-label-color;
}
:-ms-input-placeholder {
    color: @c-field-label-color;
}

// Style of label after checkbox or radiobutton
input[type=checkbox] + .c-field-label,
input[type=radio] + .c-field-label {
    position: static !important;
    transition: none !important;
    padding-left: @space-s;
    padding-right: @space-default;
    font-size: @c-field-font-size;
    cursor: pointer;
}
input[type=checkbox]:checked + .c-field-label,
input[type=radio]:checked + .c-field-label {
    color: @c-field-focused-label-color;
}
input:disabled + .c-field-label {
    cursor: default;
}


/* Element: `c-field-icon`
 ========================================================================== */

.c-field-icon {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;

    display: inline-block;
    width: @c-field-icon-width;
    height: @c-field-icon-height;
    line-height: @c-field-icon-height;

    font-size: 1.6rem;
    text-align: center;
    text-shadow: @c-field-icon-text-shadow;

    .iconic {
        vertical-align: middle;
    }
}

.c-field-label + .c-field-icon,
.c-field-label + .c-field + .c-field-icon {
    top: @c-field-label-line-height;
}

.c-field-icon + .c-field-label {
    left: @c-field-label-left-after-icon;
}

.c-field-icon + .c-field,
.c-field-icon + .c-field-label + .c-field,
.c-field-icon + .c-field[type=file] + .c-field {
    padding-left: @c-field-label-left-after-icon;
}

/* Element: `c-field-button`
 ========================================================================== */

.c-field-button {
    // is button default
    .c-button;
    // reset button style
    background: transparent;
    border: none;
    box-shadow: none;
    padding: 0;
    min-height: 0;

    position: absolute;
    right: 0;

    width: @c-field-button-width;
    height: @c-field-button-height;

    .iconic {
        vertical-align: middle;
    }
}


/* Element: `c-field-error`
 ========================================================================== */

.c-field-error {
    position: absolute;
    left: 0;
    bottom: 0;
    transform: translateY(100%);
    display: inline-block;
    margin-left: @c-field-padding-left;

    font-size: @c-field-error-font-size;
    font-weight: @c-field-error-font-weight;
    line-height: @c-field-error-line-height;
    color: @c-field-error-color;

    opacity: 0;
    transition: opacity 160ms @easing;
}


/* Element: `c-field-info`
 ========================================================================== */

.c-field-info {
    position: absolute;
    left: 0;
    bottom: 0;
    transform: translateY(100%);
    display: inline-block;
    margin-left: @c-field-padding-left;

    opacity: 1;
    transition-property: color, opacity;
    transition-duration: 160ms;
    transition-timing-function: @easing;
}

.c-field-info[data-tooltip] {
    border-bottom: 0.1rem dotted @c-field-info-color;
    cursor: help;
}

.c-field-info,
.c-field-info .iconic[data-glyph]:before {
    font-size: @c-field-info-font-size;
    font-weight: @c-field-info-font-weight;
    letter-spacing: @c-field-info-letter-spacing;
    line-height: @c-field-info-line-height;
    color: @c-field-info-color;
}


/* State: `is-invalid`
 ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.is-invalid .c-field {
    background-color: @c-field-invalid-background-color;
    border-color: @c-field-invalid-border-color;
    &:focus {
        box-shadow: @c-field-invalid-box-shadow;
    }
}

.is-invalid .c-field-icon,
.is-invalid .c-field-info {
    color: @c-field-error-color;
}

.is-invalid .c-field-error {
    opacity: 1;
}
.is-invalid .c-field-error + .c-field-info {
    opacity: 0;
}


/* States: `is-focused` and `is-filled`
 ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.is-filled .c-field,
.is-focused .c-field,
.c-field:focus {
    background-color: @c-field-focused-background-color;
}

.is-filled input:not([type=file]).c-field,
.is-focused input:not([type=file]).c-field,
input.c-field:not([type=checkbox]):not([type=radio]):focus {
    cursor: text;
}

.is-filled .c-field-label,
.is-focused .c-field-label {
    top: @c-field-focused-label-top;
    left: @c-field-focused-label-left;
}

.is-focused .c-field-label {
    color: @c-field-focused-label-color;
}


/* ========================================================================
   Style: `s-floating`
 ========================================================================== */

@c-field-floating-focused-label-top: @c-field-border-width + @c-field-height
    - (@c-field-padding-top + @c-field-padding-bottom + 2 * @c-field-border-width);

@c-field-floating-border-bottom-width: 0.2rem;
@c-field-floating-border-bottom-style: solid;
@c-field-floating-border-bottom-color: @clr-grey-400;

@c-field-floating-focused-label-font-size: 1.2rem;
@c-field-floating-focused-label-color: @clr-grey-900;
@c-field-floating-focused-border-bottom-color: @clr-grey-900;
@c-field-floating-filled-border-bottom-color: @clr-grey-600;

.s-floating.c-field-box {

    .c-field,
    .c-field-label {
        padding-left: 0;
        padding-right: 0;
    }

    .c-field {
        background-color: transparent;
        border-radius: 0;
        border: none;
        border-bottom-width: @c-field-floating-border-bottom-width;
        border-bottom-style: @c-field-floating-border-bottom-style;
        border-bottom-color: @c-field-floating-border-bottom-color;
        box-shadow: none;
    }

    .c-field-label {
        position: relative;
        top: @c-field-floating-focused-label-top;
        font-size: @c-field-label-font-size;
        cursor: pointer;
        transition-property: top, font-size, color;
    }

    &.is-filled .c-field-label,
    &.is-focused .c-field-label {
        top: 0;
        font-size: @c-field-floating-focused-label-font-size;
        cursor: @c-field-label-cursor;
    }

    &.is-filled {
        .c-field {
            border-bottom-color: @c-field-floating-filled-border-bottom-color;
        }
    }

    &.is-focused {
        .c-field-label {
            color: @c-field-floating-focused-label-color;
        }
        .c-field {
            border-bottom-color: @c-field-floating-focused-border-bottom-color;
        }
    }
}