@import "../settings/variables";

/**
 * Component:       `c-list`
 * Description:     Defines styles for list items
 *
 * Containers:
 *				`c-list__head`
 *              `c-list__body`
 *              `c-list__item`
 *              `c-list__foot`
 *              `c-list__item`
 *              `c-list__meta`
 *
 * Elements:
 *				`c-list-sort`
 *				`c-list__head-box`
 *              `c-list__item-boxset`
 *              `c-list__item-box`
 *
 *
 * Markup:
 *
<!-- basic list style -->
<div class="c-list">
	<section class="c-list__item">
		<div class="c-list__item-box">...</div>
		<div class="c-list__item-box">...</div>
		<div class="c-list__item-box">...</div>
	</section>
</div>

<!-- table style -->
<section class="c-list">
	<div class="c-list__head">
		<h6 class="c-list__head-box">...</h6>
		<h6 class="c-list__head-box">...</h6>
		<h6 class="c-list__head-box">...</h6>
	</div>
	<div class="c-list__body">
		<section class="c-list__item>
			<div class="c-list__item-box">...</div>
			<div class="c-list__item-boxset">
				<div class="c-list__item-box">...</div>
				<div class="c-list__item-box">...</div>
				<div class="c-list__item-box">...</div>
			</div>
			<div class="c-list__item-box">...</div>
		</section>
	</div>
	<div class="c-list__meta">

	</div>
	<div class="c-list__foot">

	</div>
</section>
 *
 ========================================================================== */


// Variables
// ========================================================================


@c-list-head-padding: 0 0 @space-xs/2;
@c-list-head-margin-bottom: @space-xs;
@c-list-head-border-bottom: .2rem solid @clr-grey-300;
@c-list-head-color: @caption-color;
@c-list-head-font-family: @font-family-default;
@c-list-head-font-size: @font-size-small;
@c-list-head-font-weight: 600;
@c-list-head-line-height: 3;

@c-list-head-box-padding: 0 @space-xs;


@c-list-item-font-size: @font-size-default;
@c-list-item-margin-bottom: @space-xs;
@c-list-item-border-bottom-color: @clr-grey-300;
@c-list-item-border-bottom-width: .1rem;
@c-list-item-border-bottom-style: solid;

@c-list-item-box-padding: 0 @space-s;


/* ========================================================================
   Component: `c-list`
 ========================================================================== */

.c-list {
	overflow-x: auto;
}

.c-list__head,
.c-list__meta,
.c-list__body,
.c-list__foot,
.c-list__item,
.c-list__item-box,
.c-list__item-boxset {
	position: relative;
	box-sizing: border-box;
}

.c-list__head,
.c-list__item {
	contain: layout style;
	display: block;
	font-size: .001px;
	white-space: nowrap;
}

.c-list__head {
	padding: @c-list-head-padding;
	margin-bottom: @c-list-head-margin-bottom;
	border-bottom: @c-list-head-border-bottom;
	font-size: @c-list-head-font-size;
	line-height: @c-list-head-line-height;
}

.c-list__item {
	margin-bottom: @c-list-item-margin-bottom + @c-list-item-border-bottom-width;

	&::after {
		display: block;
		width: 100%;
		height: .1rem;
		position: relative;
		bottom: -(@c-list-item-margin-bottom/2 + @c-list-item-border-bottom-width);
		border-bottom-color: @c-list-item-border-bottom-color;
		border-bottom-width: @c-list-item-border-bottom-width;
		border-bottom-style: @c-list-item-border-bottom-style;
		content: ' ';
	}
}

.c-list__head-box,
.c-list__item-box {
	white-space: normal;
}

.c-list__head-box,
.c-list__item > .c-list__item-box,
.c-list__item > .c-list__item-boxset {
	display: inline-block;
}

.c-list__item-boxset > .c-list__item-box {
	display: block;
}

.c-list__head-box {
	padding: @c-list-head-box-padding;
	vertical-align: bottom;

	font-family: @c-list-head-font-family;
	font-size: @c-list-head-font-size;
	font-weight: @c-list-head-font-weight;
	color: @c-list-head-color;
}

.c-list__item-box,
.c-list__item-boxset {
	font-size: @c-list-item-font-size;
}

.c-list__item > .c-list__item-box,
.c-list__item > .c-list__item-boxset {
	padding: @c-list-item-box-padding;
	vertical-align: middle;
}

.c-list__item-boxset > .c-list__item-box {
	padding: 0;
}