@import "../settings/variables";

/**
 * Component:       `c-list`
 * Description:     Defines styles for list items
 *
 * Containers: `c-list__head`
 *             `c-list__body`
 *             `c-list__item`
 *             `c-list__foot`
 *             `c-list__item`
 *             `c-list__meta`
 *
 *
 * Markup:
 *
<!-- basic list style -->
<div class="c-list">
    <section class="c-list__item">
        <div class="c-list__cell">...</div>
        <div class="c-list__cell">...</div>
        <div class="c-list__cell">...</div>
    </section>
</div>

<!-- table style -->
<section class="c-list">
    <div class="c-list__head">
        <h6 class="c-list__cell">...</h6>
        <h6 class="c-list__cell">...</h6>
        <h6 class="c-list__cell">...</h6>
    </div>
    <div class="c-list__body">
        <section class="c-list__item>
            <div class="c-list__cell">...</div>
            <div class="c-list__cell">
                <div class="c-list__cell">...</div>
                <div class="c-list__cell">...</div>
                <div class="c-list__cell">...</div>
            </div>
            <div class="c-list__cell">...</div>
        </section>
    </div>
    <div class="c-list__meta"></div>
    <div class="c-list__foot"></div>
</section>
 *
 ========================================================================== */


// Variables
// ========================================================================

@c-list-head-padding: 0 0 @space-xs/2;
@c-list-head-margin-bottom: @space-xs;
@c-list-head-border-bottom: .2rem solid @clr-grey-300;
@c-list-head-color: @caption-color;
@c-list-head-font-family: @font-family-primary;
@c-list-head-font-size: 1.1rem;
@c-list-head-font-weight: 700;
@c-list-head-text-transform: uppercase;
@c-list-head-line-height: 3;

@c-list-head-box-padding: 0 @space-xs;


@c-list-item-font-size: @font-size-default;
@c-list-item-margin-bottom: @space-xs;
@c-list-item-border-bottom-color: @clr-grey-300;
@c-list-item-border-bottom-width: .1rem;
@c-list-item-border-bottom-style: solid;

@c-list-item-box-padding: 0 @space-s;


/* ========================================================================
   Component: `c-list`
 ========================================================================== */

.c-list {
    overflow-x: auto;
}

.c-list__head,
.c-list__meta,
.c-list__body,
.c-list__foot,
.c-list__item,
.c-list__cell {
    position: relative;
    box-sizing: border-box;
}

.c-list__head,
.c-list__item {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    contain: layout style;
}

.c-list__cell {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: auto;
}

.c-list__head {
    padding: @c-list-head-padding;
    margin-bottom: @c-list-head-margin-bottom;
    border-bottom: @c-list-head-border-bottom;
    line-height: @c-list-head-line-height;

    .c-list__cell {
        padding: @c-list-head-box-padding;

        font-family: @c-list-head-font-family;
        font-size: @c-list-head-font-size;
        font-weight: @c-list-head-font-weight;
        text-transform: @c-list-head-text-transform;
        color: @c-list-head-color;
    }
}

.c-list__item {
    margin-bottom: @c-list-item-margin-bottom + @c-list-item-border-bottom-width;

    border-bottom-color: @c-list-item-border-bottom-color;
    border-bottom-width: @c-list-item-border-bottom-width;
    border-bottom-style: @c-list-item-border-bottom-style;

    .c-list__cell {
        display: inline-block;
        white-space: normal;
        font-size: @c-list-item-font-size;
    }

    & > .c-list__cell {
        padding: @c-list-item-box-padding;
        vertical-align: middle;
    }

    & > .c-list__cell > .c-list__cell {
        display: block;
        padding: 0;
    }
}