@import "../settings/variables";

// Variables
// ========================================================================

@c-progress-height: 1.4rem;
@c-progress-mini-height: .4rem;
@c-progress-small-height: .8rem;

@c-progress-margin-vertical: 1.2rem;
@c-progress-background-color: @clr-grey-100;
@c-progress-border-radius: .2rem;

@c-progress-bar-background-color: @clr-light-blue-600;
@c-progress-bar-font-size: 1.2rem;
@c-progress-bar-color: #fff;

@c-progress-bar-success-background: #8cc14c;
@c-progress-bar-warning-background: #faa732;
@c-progress-bar-danger-background: #da314b;


/* ========================================================================
   Component: Progress
 ========================================================================== */

.c-progress {
	height: @c-progress-height;
	margin-bottom: @c-progress-margin-vertical;
	background-color: @c-progress-background-color;
	border-radius: @c-progress-border-radius;
	box-sizing: border-box;
	overflow: hidden;
	line-height: @c-progress-height;
}

* + .c-progress { margin-top: @c-progress-margin-vertical; }


/* Sub-element: `c-progress__bar`
 ========================================================================== */

.c-progress__bar {
	width: 0;
	height: 100%;
	float: left;
	-webkit-transition: width 0.6s ease;
	transition: width 0.6s ease;

	background-color: @c-progress-bar-background-color;
	color: @c-progress-bar-color;
	font-size: @c-progress-bar-font-size;
	text-align: center;
}


/* Modifier: `c-progress--striped`
 ========================================================================== */

.c-progress--striped .c-progress__bar {
	background-image: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
	background-image: linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
	background-size: 30px 30px;

	-webkit-animation: progress-bar-stripes 2s linear infinite;
	animation: progress-bar-stripes 2s linear infinite;
}

@keyframes progress-bar-stripes {
	0% { background-position: 0 0;}
	100% { background-position: 30px 0; }
}