@import "../settings/variables";


// Variables
// ========================================================================

@c-tabs-justify-content: flex-start;
@c-tabs-padding: 0 0;
@c-tabs-transition-duration: 0.1s;

@c-tab-min-width: 9rem;
@c-tab-padding: 1.2rem 1.6rem 1.2rem 1.6rem;
@c-tab-max-width: 36rem;
@c-tab-min-height: 4.8rem;
@c-tab-space: 0;

@c-tab-font-weight: 600;
@c-tab-letter-spacing: 0.08rem;
@c-tab-line-height: 2.4rem;
@c-tab-text-transform: uppercase;

@c-tab-hover-background-color: @clr-grey-100;
@c-tab-selected-color: @clr-grey-900;
@c-tab-unselected-color: @clr-grey-700;

@c-tab-label-after-icon-line-height: 2rem;
@c-tab-indicator-height: 0.2rem;
@c-tab-indicator-background-color: @clr-grey-900;
@c-tabs-hr-border-top: 0.1rem solid @clr-grey-300;


/* ========================================================================
   Component: `c-tab`
 ========================================================================== */

.c-tab {
    display: block;
    padding: @c-tab-padding;
    box-sizing: border-box;
    min-width: @c-tab-min-width;
    max-width: @c-tab-max-width;
    min-height: @c-tab-min-height;
    flex: 0 0 auto;

    background-color: transparent;
    text-align: center;
    line-height: 1;
    color: @c-tab-unselected-color;
    cursor: pointer;

    transition-property: background-color, color;
    transition-duration: @c-tabs-transition-duration;
    transition-timing-function: @easing;

    &:hover {
        background-color: @c-tab-hover-background-color;
    }

    &[aria-selected=true] {
        color: @c-tab-selected-color;
    }
}

.c-tab + .c-tab {
    margin-left: @c-tab-space;
}

.c-tab__label,
.c-tab__icon {
    display: block;
    line-height: @c-tab-line-height;
    vertical-align: middle;
}

.c-tab__label {
    font-weight: @c-tab-font-weight;
    letter-spacing: @c-tab-letter-spacing;
    text-transform: @c-tab-text-transform;
    max-width: @c-tab-max-width - extract(@c-tab-padding, 2) - extract(@c-tab-padding, 4);
    .u-text-truncate;
}

.c-tab__icon + .c-tab__label {
    line-height: @c-tab-label-after-icon-line-height;
}


/* Wrapper: `c-tabs-container`
 ========================================================================== */

.c-tabs-container {
    position: relative;
    display: flex;
    justify-content: @c-tabs-justify-content;
    flex-flow: row nowrap;
    padding: @c-tabs-padding;
    contain: layout style;
}

.c-tabs-container + hr {
    margin-top: 0;
    border-bottom: none;
    border-top: @c-tabs-hr-border-top;
}


/* Element: `c-tab-indicator`
 ========================================================================== */
        
.c-tab-indicator {
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    transform: translateX(0);
    min-width: @c-tab-min-width;
    height: @c-tab-indicator-height;
    background-color: @c-tab-indicator-background-color;

    transition-property: left, width;
    transition-duration: @c-tabs-transition-duration;
    transition-timing-function: @easing;
}


/* ========================================================================
   Supports
 ========================================================================== */

@supports not (display: flex) {

    .c-tabs-container {
        display: block;
        min-height: @c-tab-min-height;

        // Micro clearfix to make articles more robust
        &::before,
        &::after {
            content: '';
            display: table;
            clear: both;
        }
    }

    .c-tab {
        display: inline-block;
        float: left;
    }
}