@import "protosite-palette/assets/colors.css";

:root {
	--clr-text: rgba(0,0,0,0.87);
	--clr-secondary-text: rgba(0,0,0,0.54);
	--clr-icons: rgba(0,0,0,0.54);
	--clr-disabled: rgba(0,0,0,0.26);
	--clr-hint-text: rgba(0,0,0,0.26);
	--clr-dividers: rgba(0,0,0,0.12);
}
