@import "../settings/variables";

// Name:            Table
// Description:     Styles for tables
//
// Element:			`table`
//
// Modifiers:       `is-active` ([aria-selected=true])
//
// ========================================================================


// Variables
// ========================================================================

@table-margin-vertical: @space-default;

@table-cell-padding-vertical: @space-s;
@table-cell-padding-horizontal: @space-m;

@table-header-cell-font-family: @font-family-primary;
@table-header-cell-font-size: @font-size-default;
@table-header-cell-font-weight: 600;
@table-header-cell-color: @caption-color;

@table-footer-font-family: @font-family-primary;
@table-footer-font-size: @font-size-small;
@table-footer-font-weight: 300;
@table-footer-color: @text-color;

@table-caption-font-family: @font-family-primary;
@table-caption-font-size: @font-size-default;
@table-caption-font-weight: 300;
@table-caption-color: @muted-color;

@table-row-active-background-color: @clr-blue-50;


/* ========================================================================
   Element: Table
 ========================================================================== */

table {
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;
	margin-bottom: @table-margin-vertical;
}

table + table { margin-top: @table-margin-vertical; }


/* Header cell
 ========================================================================== */

table th {
	padding: @table-cell-padding-vertical @table-cell-padding-horizontal;
	text-align: left;
	vertical-align: bottom;
	font-family: @table-header-cell-font-family;
	font-size: @table-header-cell-font-size;
	font-weight: @table-header-cell-font-weight;
	color: @table-header-cell-color;
}


/* Cell
 ========================================================================== */

table td {
	padding: @table-cell-padding-vertical @table-cell-padding-horizontal;
	vertical-align: top;
}


/* Footer
 ========================================================================== */

table tfoot {
	font-family: @table-footer-font-family;
	font-size: @table-footer-font-size;
	font-weight: @table-footer-font-weight;
	color: @table-footer-color;
}


/* Caption
 ========================================================================== */

table caption {
	text-align: left;
	font-family: @table-caption-font-family;
	font-size: @table-caption-font-size;
	font-weight: @table-caption-font-weight;
	color: @table-caption-color;
}


/* Row modifier: `is-active`
 ========================================================================== */

table > tr.is-active,
table tbody tr.is-active,
table > tr[aria-selected=true],
table tbody tr[aria-selected=true] {
	background-color: @table-row-active-background-color !important;
}