@import "../settings/variables";

/**
 * Name:            Text elements
 * Description:     Defining styles for formatting text
 *
 * ======================================================================== */

@paragraph-font-size: 1.4rem;
@paragraph-font-font-weight: normal;
@paragraph-line-height: 2.4rem;


/* Links
 ========================================================================== */

a,
.u-link {
	outline: 0;
	background-color: transparent;
	color: @link-color;
	text-decoration: @link-text-decoration;
	transition: @link-transition;
}
a:hover,
.u-link:hover {
	outline: 0;
	color: @link-hover-color;
	text-decoration: @link-hover-text-decoration;
}


/* Weight modifiers
 ========================================================================== */

.u-text-light { font-weight: 300; }
b, .u-text-semibold { font-weight: 600; }
b > b, strong, .u-text-bold { font-weight: 700; }
strong > strong, .u-text-extrabold { font-weight: 800; }


/* Size modifiers
 ========================================================================== */

small {
	font-size: @font-size-small;
	line-height: @line-height-small;
}


/* Text-level semantics
 ========================================================================== */

abbr[title] {
	border-bottom: 1px dotted;
}
code,
kbd,
pre,
samp {
	font-family: "PT Mono", monospace;
	font-size: inherit;
}
code,
kbd,
samp { white-space: nowrap; }
ins {
	display: inline-block;
	margin: 0 -.2rem;
	padding: 0 .2rem;
	background-color: @clr-green-100;
	color: @clr-grey-900;
	text-decoration: none;
}
mark {
	background-color: @selection-background-color;
	color: @selection-color;
	text-decoration: none;
}
i,
em,
dfn,
q { font-style: italic; }

pre {
	overflow: auto;
	white-space: pre-wrap;
}

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}
sup {
	top: -0.5em;
}
sub {
	bottom: -0.25em;
}


/* Headings
 ========================================================================== */

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: @font-family-caption;
	color: @caption-color;
}

h1,
.u-h1 {
	font-size: @h1-font-size;
	font-weight: @h1-font-weight;
	line-height: @h1-line-height;
	margin: @h1-margin;
	text-shadow: .1rem .1rem fade(@clr-white, 30%), 0 .1rem fade(@clr-white, 30%);
}
h2,
.u-h2 {
	font-size: @h2-font-size;
	font-weight: @h2-font-weight;
	line-height: @h2-line-height;
	margin: @h2-margin;
}
h3,
.u-h3 {
	font-size: @h3-font-size;
	font-weight: @h3-font-weight;
	line-height: @h3-line-height;
	margin: @h3-margin;
}
h4,
.u-h4 {
	font-size: @h4-font-size;
	font-weight: @h4-font-weight;
	line-height: @h4-line-height;
	margin: @h4-margin;
}
h5,
.u-h5 {
	font-family: @font-family-primary;
	font-size: @h5-font-size;
	font-weight: @h5-font-weight;
	line-height: @h5-line-height;
	margin: @h5-margin;
}
h6,
.u-h6 {
	font-family: @font-family-primary;
	font-size: @h6-font-size;
	font-weight: @h6-font-weight;
	line-height: @h6-line-height;
	margin: @h6-margin;
}

* + h1, * + h2, * + h3, * + h4, * + h5, * + h6
{
	margin-top: @space-default;
}

h1 + h2, h1 + h3, h1 + h4, h1 + h5, h1 + h6,
h2 + h1, h2 + h3, h2 + h4, h2 + h5, h2 + h6,
h3 + h1, h3 + h2, h3 + h4, h3 + h5, h3 + h6,
h4 + h1, h4 + h2, h4 + h3, h4 + h5, h4 + h6,
h5 + h1, h5 + h2, h5 + h3, h5 + h4, h5 + h6,
h6 + h1, h6 + h2, h6 + h3, h6 + h4, h6 + h5
{
	margin-top: 0;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a { color: @caption-color; }

/* Paragraph
 ========================================================================== */

p {
	font-family: inherit;
	font-size: @paragraph-font-size;
	font-weight: @paragraph-font-font-weight;
	line-height: @paragraph-line-height;
}