@import "../settings/variables";


/* Style: `s-danger`
 ========================================================================== */

@c-button-danger-background-color: fade(@danger-color, 76%);
@c-button-danger-background-color-focus: fade(@clr-red-900, 82%);
@c-button-danger-background-blend-mode: color-burn;
@c-button-danger-color: @clr-white;
@c-button-danger-text-shadow: none;

.c-button.s-danger {
	background-color: @c-button-danger-background-color;
	background-blend-mode: @c-button-danger-background-blend-mode;
	text-shadow: @c-button-danger-text-shadow;

	&, &:hover {
		color: @c-button-danger-color;
	}

	&:focus,
	.c-panel:not(.s-transparent) &:focus {
		background-color: @c-button-danger-background-color-focus;
	}
}


/* Style: `s-primary`
 ========================================================================== */

@c-button-primary-background-color: fade(@primary-color, 90%);
@c-button-primary-background-color-focus: fade(@clr-blue-900, 80%);
@c-button-primary-background-blend-mode: color-burn;
@c-button-primary-color: @clr-white;
@c-button-primary-text-shadow: none;

.c-button.s-primary {
	background-color: @c-button-primary-background-color;
	background-blend-mode: @c-button-primary-background-blend-mode;
	text-shadow: @c-button-primary-text-shadow;

	&, &:hover {
		color: @c-button-primary-color;
	}

	&:focus,
	.c-panel:not(.s-transparent) &:focus {
		background-color: @c-button-primary-background-color-focus;
	}
}


/* Style: `s-success`
 ========================================================================== */

@c-button-success-background-color: fade(@success-color, 76%);
@c-button-success-background-color-focus: fade(@clr-green-900, 72%);
@c-button-success-background-blend-mode: color-burn;
@c-button-success-color: @clr-white;
@c-button-success-text-shadow: none;

.c-button.s-success {
	background-color: @c-button-success-background-color;
	background-blend-mode: @c-button-success-background-blend-mode;
	text-shadow: @c-button-success-text-shadow;

	&, &:hover {
		color: @c-button-success-color;
	}

	&:focus,
	.c-panel:not(.s-transparent) &:focus {
		background-color: @c-button-success-background-color-focus;
	}
}


/* Style: `s-warning`
 ========================================================================== */

@c-button-warning-background-color: fade(@warning-color, 76%);
@c-button-warning-background-color-focus: fade(@clr-orange-900, 78%);
@c-button-warning-background-blend-mode: color-burn;
@c-button-warning-color: @clr-white;
@c-button-warning-text-shadow: none;

.c-button.s-warning {
	background-color: @c-button-warning-background-color;
	background-blend-mode: @c-button-warning-background-blend-mode;
	text-shadow: @c-button-warning-text-shadow;

	&, &:hover {
		color: @c-button-warning-color;
	}

	&:focus,
	.c-panel:not(.s-transparent) &:focus {
		background-color: @c-button-warning-background-color-focus;
	}
}


/* Style: `s-transparent`
 ========================================================================== */

.s-transparent,
.s-transparent .c-panel__head {
	background: transparent;
	box-shadow: none;
}