
@hovered-row-background-color: @clr-lime-50;


table.s-hovered > tr,
table.s-hovered tbody tr {

	transition-property: background-color;
	transition-duration: .16s;
	transition-timing-function: @easing;

	&:hover {
		background-color: @hovered-row-background-color;
	}
}




.c-list.s-hovered {}




.c-panel.s-hovered {}