

/* Component Avatar
 ========================================================================== */

@c-avatar-xsmall-size: 1.5 * @unit;
@c-avatar-small-size: 2.5 * @unit;
@c-avatar-medium-size: 5 * @unit;
@c-avatar-large-size: 8 * @unit;
@c-avatar-xlarge-size: 12 * @unit;

.c-avatar {
	&.s-xsmall {
		width: @c-avatar-xsmall-size;
		height: @c-avatar-xsmall-size;
	}
	&.s-small {
		width: @c-avatar-small-size;
		height: @c-avatar-small-size;
	}
	&.s-medium {
		width: @c-avatar-medium-size;
		height: @c-avatar-medium-size;
	}
	&.s-large {
		width: @c-avatar-large-size;
		height: @c-avatar-large-size;
	}
	&.s-xlarge {
		width: @c-avatar-xlarge-size;
		height: @c-avatar-xlarge-size;
	}
}