
@import "../settings/_import.css";

/**
 * Object: Article
 *
 * elements: `o-article__picture`
 *           `o-article__head`
 *           `o-article__lead`
 *
 ============================================================================ */

/* Component
 ============================================================================ */

.o-article {
    max-width: 86rem;
}

.o-article header {
    line-height: 4.4rem;
    margin-bottom: 1.6rem;
}

.o-article header h1,
.o-article header h2,
.o-article header h3,
.o-article header h4,
.o-article header h5,
.o-article header h6 {
    margin: 0;
}

.o-article header h1 {
    font-size: 2.8rem;
    line-height: 3.3rem;
    margin: 1.2rem 0 0;
}

.o-article header h3 {
    font-size: 1.8rem;
    line-height: inherit;
    margin: 0.6rem 0 0;
}

.o-article header h4 {
    font-size: 1.6rem;
    line-height: inherit;
    margin: 0.6rem 0 0;
}

.o-article header h6 {
    font-size: 1.3rem;
    font-weight: 400;
    line-height: inherit;
    margin: 0;
}

.o-article h1 + hr,
.o-article h2 + hr,
.o-article h3 + hr,
.o-article h4 + hr,
.o-article h5 + hr,
.o-article h6 + hr {
    margin-top: 0.6rem;
}


/* Combination of components: `o-article` & `c-panel`
 ========================================================================== */

.o-article.c-panel {
    padding-top: var(--space-md);
    padding-right: var(--space-xl);
    padding-bottom: var(--space-md);
    padding-left: var(--space-lg);
}


/* Element: `o-article-lead`
 ========================================================================== */

.o-article-lead {
    display: block;

    max-width: 74rem;
    margin-top: 2.1rem;
    margin-bottom: 1.9rem;

    font-family: inherit;
    font-size: 1.6rem;
    font-style: italic;
    font-weight: 600;
    line-height: 2.8rem;
    color: var(--caption-color);
}

.o-article-lead::before,
.o-article-lead::after {
    content: "";
    display: table;
}


/* Element: `o-article__picture`
 ========================================================================== */

.o-article__picture {
    display: inline-block;
    padding: 0;
    margin: 0;

    width: 100%;
    max-width: 60rem;
    max-height: 12.6rem;

    background-color: var(--clr-blue-grey-300);
    background-size: cover;
}

/* Micro clearfix to make the body panel more robust */
.o-article__picture::before,
.o-article__picture::after {
    content: ' ';
    position: absolute;
    width: 100%;
    display: block;
    clear: both;
}

.o-article__picture img {
    float: none;
    width: 100%;
    max-height: inherit;
    margin: 0;
    object-fit: cover;
}
