
@import "../settings/breakpoints.css";

/* Variables
 ========================================================================== */

.o-container {
    --base-width: auto;
    --width-xdesktop: 130.4rem;
    --width-desktop: 111.2rem;
    --width-tablet-landscape: 92rem;
    --width-tablet-portrait: 72rem;
    --width-handset-landscape: 46.4rem;
    --width-handset-portrait: 32rem;
}

/* ========================================================================
   Object: Container
 ========================================================================== */

.o-container {
    display: block;
    width: var(--base-width);
    margin: 4rem auto 6.4rem;
}
.o-container::before,
.o-container::after {
    content: " ";
    display: table;
}
.o-container::after {
    clear: both;
}


/* Media queries
 ========================================================================== */

@media (--screen-xdesktop) {
    .o-container { width: var(--width-xdesktop); }
}

@media (--screen-desktop) {
    .o-container { width: var(--width-desktop); }
}

@media (--screen-tablet-landscape) {
    .o-container { width: var(--width-tablet-landscape); }
}

@media (--screen-tablet-portrait) {
    .o-container { width: var(--width-tablet-portrait); }
}

@media (--screen-handset-landscape) {
    .o-container { width: var(--width-handset-landscape); }
}

@media (--screen-handset-portrait) {
    .o-container { width: var(--width-handset-portrait); }
}
