/**
 * Object:		Grid
 * Description: Seamless Flexbox grid.
 *
 * Elements:	`o-grid-cell`
 *
 ========================================================================== */

.o-grid {
	display: flex;
	flex-flow: row wrap;
	margin-left: -0.8rem;
	margin-right: -0.8rem;
}

.o-grid > * {
    flex: 0 0 auto;
}

.o-grid > * > * {
    -ms-flex: none;
    -webkit-flex: none;
    flex: none;
    box-sizing: border-box;
    width: 100%;
}

.o-grid__cell {
	contain: layout style;
	box-sizing: border-box;
	padding: 0 0.8rem 1.6rem;
	display: flex;
	flex-direction: column;
}

.o-grid__cell > .o-grid__cell {
    flex: 1 1 auto;
}
