@import "../settings/colors.css";


/* ========================================================================
	Text
 ========================================================================== */

.s-highlighted {
	color: var(--clr-highlighted-text, currentColor);
	background-color: var(--clr-highlighted-bg, transparent);
	font-weight: bold;
}
