
/* ========================================================================
	Link
 ========================================================================== */

a.s-inversed {
	text-decoration: none;
	&:hover { text-decoration: underline; }
}

/* ========================================================================
	Text
 ========================================================================== */

.s-inversed:not(a) {
	--clr-text: #ffffff;
	--clr-secondary-text: rgba(255,255,255,0.7);
	--clr-icons: #ffffff;
	--clr-disabled: rgba(255,255,255,0.3);
	--clr-hint-text: rgba(255,255,255,0.3);
	--clr-dividers: rgba(255,255,255,0.12);
}
