@font-face {
    font-family: 'PT Serif Caption';
    src: local('PT Serif Caption'),
         local('PTSerif-Caption'),
         url('pt-serif-caption.woff2') format('woff2'),
         url('pt-serif-caption.woff') format('woff'),
         url('pt-serif-caption.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
