@import '../settings/basic.css';
@import '../.snippet/icon.css';

@layer settings, modifiers, rules;

@layer rules {
	:host {
		display: contents;
	}

	.icon {
		container-name: icon-container;
		container-type: inline-size;

		display: inline-block;
		inline-size: var(--icon-size);
		block-size: var(--icon-size);
		vertical-align: baseline;

		&::before {
			@extend %icon-pseudo-element;
		}
	}

	:where(.icon, ::slotted(*)) {
		pointer-events: none;
		color: var(--text-color);
		font-family: var(--text-font);
		font-size: var(--text-size);
		line-height: var(--text-interligne);
		font-weight: var(--text-boldness);
	}
}

@layer modifiers {
	.icon::before {
		@container icon-container (min-width: 4rem) {
			--icon-weight: var(--font-medium);
		}

		@container icon-container (min-width: 12.8rem) {
			--icon-weight: var(--font-extra-bold);
		}
	}

	:host(.s-xxs) {
		--icon-size: var(--size-xxs);
	}

	:host(.s-xs) {
		--icon-size: var(--size-xs);
	}

	:host(.s-sm) {
		--icon-size: var(--size-sm);
	}

	:host(.s-md) {
		--icon-size: var(--size-md);
	}

	:host(.s-lg) {
		--icon-size: var(--size-lg);
	}

	:host(.s-xl) {
		--icon-size: var(--size-xl);
	}

	:host(.s-xxl) {
		--icon-size: var(--size-xxl);
	}
}

@layer settings {
	:host {
		@extend %icon-settings;

		--size-xxs: 0.75--unit;
		--size-xs: 1.75--unit;
		--size-sm: 2.5--unit;
		--size-md: 5--unit;
		--size-lg: 10--unit;
		--size-xl: 16--unit;
		--size-xxl: 20--unit;

		--text-font: var(--ui-font);
		--text-boldness: var(--font-normal);
		--text-color: currentColor;
		--text-interligne: var(--base-interligne);
		--text-size: var(--base-text-size);

		.icon {
			--text-font: var(--icon-font);
			--text-boldness: var(--icon-weight);
			--text-color: currentColor;
			--text-interligne: 1;
			--text-size: var(--icon-size);
		}
	}
}
