@import '../settings/main.css';

.c-arrow {
	--glyph: 'loop';
}

/**
 * Component: Arrow
 * Nested elements: Link and Image
=========================================================================== */

.c-arrow {
	display: contents;
	pointer-events: auto;

	i[data-glyph] {
		@extend %icon;

		display: inline-block;
		width: var(--icon-size);
		height: var(--icon-size);
		pointer-events: none;

		&::after {
			content: unset;
		}
	}
}

/** Restyle: Sizes
=========================================================================== */

.c-arrow {
	--size-xxs: var(--unit);
	--size-xs: 1.5--unit;
	--size-sm: 2.5--unit;
	--size-md: 6--unit;
	--size-lg: 8--unit;
	--size-xl: 12--unit;
	--size-xxl: 16--unit;

	&.s-xxs i[data-glyph] {
		--icon-size: var(--size-xxs);
	}
	&.s-xs i[data-glyph] {
		--icon-size: var(--size-xs);
	}
	&.s-sm i[data-glyph] {
		--icon-size: var(--size-sm);
	}
	&.s-md i[data-glyph] {
		--icon-size: var(--size-md);
	}
	&.s-lg i[data-glyph] {
		--icon-size: var(--size-lg);
	}
	&.s-xl i[data-glyph] {
		--icon-size: var(--size-xl);
	}
	&.s-xxl i[data-glyph] {
		--icon-size: var(--size-xxl);
	}
}

/** Arrow Glyphs
=========================================================================== */

.c-arrow {
	i[data-glyph='arrow-bottom-fill-acute']::before {
		content: '\e008';
	}

	i[data-glyph='arrow-bottom-fill-angled']::before {
		content: '\e009';
	}

	i[data-glyph='arrow-bottom-fill-large-acute']::before {
		content: '\e00a';
	}

	i[data-glyph='arrow-bottom-fill-large-angled']::before {
		content: '\e00b';
	}

	i[data-glyph='arrow-bottom-fill-large-oblique']::before {
		content: '\e00c';
	}

	i[data-glyph='arrow-bottom-fill-large']::before {
		content: '\e00d';
	}

	i[data-glyph='arrow-bottom-fill-oblique']::before {
		content: '\e00e';
	}

	i[data-glyph='arrow-bottom-fill']::before {
		content: '\e00f';
	}

	i[data-glyph='arrow-bottom-left-fill-acute']::before {
		content: '\e010';
	}

	i[data-glyph='arrow-bottom-left-fill-angled']::before {
		content: '\e011';
	}

	i[data-glyph='arrow-bottom-left-fill-large-acute']::before {
		content: '\e012';
	}

	i[data-glyph='arrow-bottom-left-fill-large-angled']::before {
		content: '\e013';
	}

	i[data-glyph='arrow-bottom-left-fill-large-oblique']::before {
		content: '\e014';
	}

	i[data-glyph='arrow-bottom-left-fill-large']::before {
		content: '\e015';
	}

	i[data-glyph='arrow-bottom-left-fill-oblique']::before {
		content: '\e016';
	}

	i[data-glyph='arrow-bottom-left-fill']::before {
		content: '\e017';
	}

	i[data-glyph='arrow-bottom-left-line-acute']::before {
		content: '\e018';
	}

	i[data-glyph='arrow-bottom-left-line-large-acute']::before {
		content: '\e019';
	}

	i[data-glyph='arrow-bottom-left-line-large-oblique']::before {
		content: '\e01a';
	}

	i[data-glyph='arrow-bottom-left-line-large']::before {
		content: '\e01b';
	}

	i[data-glyph='arrow-bottom-left-line-oblique']::before {
		content: '\e01c';
	}

	i[data-glyph='arrow-bottom-left-line']::before {
		content: '\e01d';
	}

	i[data-glyph='arrow-bottom-line-acute']::before {
		content: '\e01e';
	}

	i[data-glyph='arrow-bottom-line-large-acute']::before {
		content: '\e01f';
	}

	i[data-glyph='arrow-bottom-line-large-oblique']::before {
		content: '\e020';
	}

	i[data-glyph='arrow-bottom-line-large']::before {
		content: '\e021';
	}

	i[data-glyph='arrow-bottom-line-oblique']::before {
		content: '\e022';
	}

	i[data-glyph='arrow-bottom-line']::before {
		content: '\e023';
	}

	i[data-glyph='arrow-bottom-right-fill-acute']::before {
		content: '\e024';
	}

	i[data-glyph='arrow-bottom-right-fill-angled']::before {
		content: '\e025';
	}

	i[data-glyph='arrow-bottom-right-fill-large-acute']::before {
		content: '\e026';
	}

	i[data-glyph='arrow-bottom-right-fill-large-angled']::before {
		content: '\e027';
	}

	i[data-glyph='arrow-bottom-right-fill-large-oblique']::before {
		content: '\e028';
	}

	i[data-glyph='arrow-bottom-right-fill-large']::before {
		content: '\e029';
	}

	i[data-glyph='arrow-bottom-right-fill-oblique']::before {
		content: '\e02a';
	}

	i[data-glyph='arrow-bottom-right-fill']::before {
		content: '\e02b';
	}

	i[data-glyph='arrow-bottom-right-line-acute']::before {
		content: '\e02c';
	}

	i[data-glyph='arrow-bottom-right-line-large-acute']::before {
		content: '\e02d';
	}

	i[data-glyph='arrow-bottom-right-line-large-oblique']::before {
		content: '\e02e';
	}

	i[data-glyph='arrow-bottom-right-line-large']::before {
		content: '\e02f';
	}

	i[data-glyph='arrow-bottom-right-line-oblique']::before {
		content: '\e030';
	}

	i[data-glyph='arrow-bottom-right-line']::before {
		content: '\e031';
	}

	i[data-glyph='arrow-left-fill-acute']::before {
		content: '\e032';
	}

	i[data-glyph='arrow-left-fill-angled']::before {
		content: '\e033';
	}

	i[data-glyph='arrow-left-fill-large-acute']::before {
		content: '\e034';
	}

	i[data-glyph='arrow-left-fill-large-angled']::before {
		content: '\e035';
	}

	i[data-glyph='arrow-left-fill-large-oblique']::before {
		content: '\e036';
	}

	i[data-glyph='arrow-left-fill-large']::before {
		content: '\e037';
	}

	i[data-glyph='arrow-left-fill-oblique']::before {
		content: '\e038';
	}

	i[data-glyph='arrow-left-fill']::before {
		content: '\e039';
	}

	i[data-glyph='arrow-left-line-acute']::before {
		content: '\e03a';
	}

	i[data-glyph='arrow-left-line-large-acute']::before {
		content: '\e03b';
	}

	i[data-glyph='arrow-left-line-large-oblique']::before {
		content: '\e03c';
	}

	i[data-glyph='arrow-left-line-large']::before {
		content: '\e03d';
	}

	i[data-glyph='arrow-left-line-oblique']::before {
		content: '\e03e';
	}

	i[data-glyph='arrow-left-line']::before {
		content: '\e03f';
	}

	i[data-glyph='arrow-right-angle-bottom-left-fill-acute']::before {
		content: '\e040';
	}

	i[data-glyph='arrow-right-angle-bottom-left-fill-angled']::before {
		content: '\e041';
	}

	i[data-glyph='arrow-right-angle-bottom-left-fill']::before {
		content: '\e042';
	}

	i[data-glyph='arrow-right-angle-bottom-left-line']::before {
		content: '\e043';
	}

	i[data-glyph='arrow-right-angle-bottom-right-fill-acute']::before {
		content: '\e044';
	}

	i[data-glyph='arrow-right-angle-bottom-right-fill-angled']::before {
		content: '\e045';
	}

	i[data-glyph='arrow-right-angle-bottom-right-fill']::before {
		content: '\e046';
	}

	i[data-glyph='arrow-right-angle-bottom-right-line']::before {
		content: '\e047';
	}

	i[data-glyph='arrow-right-angle-left-bottom-fill-acute']::before {
		content: '\e048';
	}

	i[data-glyph='arrow-right-angle-left-bottom-fill-angled']::before {
		content: '\e049';
	}

	i[data-glyph='arrow-right-angle-left-bottom-fill']::before {
		content: '\e04a';
	}

	i[data-glyph='arrow-right-angle-left-bottom-line']::before {
		content: '\e04b';
	}

	i[data-glyph='arrow-right-angle-left-top-fill-acute']::before {
		content: '\e04c';
	}

	i[data-glyph='arrow-right-angle-left-top-fill-angled']::before {
		content: '\e04d';
	}

	i[data-glyph='arrow-right-angle-left-top-fill']::before {
		content: '\e04e';
	}

	i[data-glyph='arrow-right-angle-left-top-line']::before {
		content: '\e04f';
	}

	i[data-glyph='arrow-right-angle-right-bottom-fill-acute']::before {
		content: '\e050';
	}

	i[data-glyph='arrow-right-angle-right-bottom-fill-angled']::before {
		content: '\e051';
	}

	i[data-glyph='arrow-right-angle-right-bottom-fill']::before {
		content: '\e052';
	}

	i[data-glyph='arrow-right-angle-right-bottom-line']::before {
		content: '\e053';
	}

	i[data-glyph='arrow-right-angle-right-top-fill-acute']::before {
		content: '\e054';
	}

	i[data-glyph='arrow-right-angle-right-top-fill-angled']::before {
		content: '\e055';
	}

	i[data-glyph='arrow-right-angle-right-top-fill']::before {
		content: '\e056';
	}

	i[data-glyph='arrow-right-angle-right-top-line']::before {
		content: '\e057';
	}

	i[data-glyph='arrow-right-angle-thick-bottom-left-fill-acute']::before {
		content: '\e058';
	}

	i[data-glyph='arrow-right-angle-thick-bottom-left-fill-angled']::before {
		content: '\e059';
	}

	i[data-glyph='arrow-right-angle-thick-bottom-left-fill']::before {
		content: '\e05a';
	}

	i[data-glyph='arrow-right-angle-thick-bottom-left-line']::before {
		content: '\e05b';
	}

	i[data-glyph='arrow-right-angle-thick-bottom-right-fill-acute']::before {
		content: '\e05c';
	}

	i[data-glyph='arrow-right-angle-thick-bottom-right-fill-angled']::before {
		content: '\e05d';
	}

	i[data-glyph='arrow-right-angle-thick-bottom-right-fill']::before {
		content: '\e05e';
	}

	i[data-glyph='arrow-right-angle-thick-bottom-right-line']::before {
		content: '\e05f';
	}

	i[data-glyph='arrow-right-angle-thick-left-bottom-fill-acute']::before {
		content: '\e060';
	}

	i[data-glyph='arrow-right-angle-thick-left-bottom-fill-angled']::before {
		content: '\e061';
	}

	i[data-glyph='arrow-right-angle-thick-left-bottom-fill']::before {
		content: '\e062';
	}

	i[data-glyph='arrow-right-angle-thick-left-bottom-line']::before {
		content: '\e063';
	}

	i[data-glyph='arrow-right-angle-thick-left-top-fill-acute']::before {
		content: '\e064';
	}

	i[data-glyph='arrow-right-angle-thick-left-top-fill-angled']::before {
		content: '\e065';
	}

	i[data-glyph='arrow-right-angle-thick-left-top-fill']::before {
		content: '\e066';
	}

	i[data-glyph='arrow-right-angle-thick-left-top-line']::before {
		content: '\e067';
	}

	i[data-glyph='arrow-right-angle-thick-right-bottom-fill-acute']::before {
		content: '\e068';
	}

	i[data-glyph='arrow-right-angle-thick-right-bottom-fill-angled']::before {
		content: '\e069';
	}

	i[data-glyph='arrow-right-angle-thick-right-bottom-fill']::before {
		content: '\e06a';
	}

	i[data-glyph='arrow-right-angle-thick-right-bottom-line']::before {
		content: '\e06b';
	}

	i[data-glyph='arrow-right-angle-thick-right-top-fill-acute']::before {
		content: '\e06c';
	}

	i[data-glyph='arrow-right-angle-thick-right-top-fill-angled']::before {
		content: '\e06d';
	}

	i[data-glyph='arrow-right-angle-thick-right-top-fill']::before {
		content: '\e06e';
	}

	i[data-glyph='arrow-right-angle-thick-right-top-line']::before {
		content: '\e06f';
	}

	i[data-glyph='arrow-right-angle-thick-top-left-fill-acute']::before {
		content: '\e070';
	}

	i[data-glyph='arrow-right-angle-thick-top-left-fill-angled']::before {
		content: '\e071';
	}

	i[data-glyph='arrow-right-angle-thick-top-left-fill']::before {
		content: '\e072';
	}

	i[data-glyph='arrow-right-angle-thick-top-left-line']::before {
		content: '\e073';
	}

	i[data-glyph='arrow-right-angle-thick-top-right-fill-acute']::before {
		content: '\e074';
	}

	i[data-glyph='arrow-right-angle-thick-top-right-fill-angled']::before {
		content: '\e075';
	}

	i[data-glyph='arrow-right-angle-thick-top-right-fill']::before {
		content: '\e076';
	}

	i[data-glyph='arrow-right-angle-thick-top-right-line']::before {
		content: '\e077';
	}

	i[data-glyph='arrow-right-angle-top-left-fill-acute']::before {
		content: '\e078';
	}

	i[data-glyph='arrow-right-angle-top-left-fill-angled']::before {
		content: '\e079';
	}

	i[data-glyph='arrow-right-angle-top-left-fill']::before {
		content: '\e07a';
	}

	i[data-glyph='arrow-right-angle-top-left-line']::before {
		content: '\e07b';
	}

	i[data-glyph='arrow-right-angle-top-right-fill-acute']::before {
		content: '\e07c';
	}

	i[data-glyph='arrow-right-angle-top-right-fill-angled']::before {
		content: '\e07d';
	}

	i[data-glyph='arrow-right-angle-top-right-fill']::before {
		content: '\e07e';
	}

	i[data-glyph='arrow-right-angle-top-right-line']::before {
		content: '\e07f';
	}

	i[data-glyph='arrow-right-fill-acute']::before {
		content: '\e080';
	}

	i[data-glyph='arrow-right-fill-angled']::before {
		content: '\e081';
	}

	i[data-glyph='arrow-right-fill-large-acute']::before {
		content: '\e082';
	}

	i[data-glyph='arrow-right-fill-large-angled']::before {
		content: '\e083';
	}

	i[data-glyph='arrow-right-fill-large-oblique']::before {
		content: '\e084';
	}

	i[data-glyph='arrow-right-fill-large']::before {
		content: '\e085';
	}

	i[data-glyph='arrow-right-fill-oblique']::before {
		content: '\e086';
	}

	i[data-glyph='arrow-right-fill']::before {
		content: '\e087';
	}

	i[data-glyph='arrow-right-line-acute']::before {
		content: '\e088';
	}

	i[data-glyph='arrow-right-line-large-acute']::before {
		content: '\e089';
	}

	i[data-glyph='arrow-right-line-large-oblique']::before {
		content: '\e08a';
	}

	i[data-glyph='arrow-right-line-large']::before {
		content: '\e08b';
	}

	i[data-glyph='arrow-right-line-oblique']::before {
		content: '\e08c';
	}

	i[data-glyph='arrow-right-line']::before {
		content: '\e08d';
	}

	i[data-glyph='arrow-thick-bottom-fill-acute']::before {
		content: '\e08e';
	}

	i[data-glyph='arrow-thick-bottom-fill-angled']::before {
		content: '\e08f';
	}

	i[data-glyph='arrow-thick-bottom-fill-large-acute']::before {
		content: '\e090';
	}

	i[data-glyph='arrow-thick-bottom-fill-large-angled']::before {
		content: '\e091';
	}

	i[data-glyph='arrow-thick-bottom-fill-large-oblique']::before {
		content: '\e092';
	}

	i[data-glyph='arrow-thick-bottom-fill-large']::before {
		content: '\e093';
	}

	i[data-glyph='arrow-thick-bottom-fill-oblique']::before {
		content: '\e094';
	}

	i[data-glyph='arrow-thick-bottom-fill']::before {
		content: '\e095';
	}

	i[data-glyph='arrow-thick-bottom-left-fill-acute']::before {
		content: '\e096';
	}

	i[data-glyph='arrow-thick-bottom-left-fill-angled']::before {
		content: '\e097';
	}

	i[data-glyph='arrow-thick-bottom-left-fill-large-acute']::before {
		content: '\e098';
	}

	i[data-glyph='arrow-thick-bottom-left-fill-large-angled']::before {
		content: '\e099';
	}

	i[data-glyph='arrow-thick-bottom-left-fill-large-oblique']::before {
		content: '\e09a';
	}

	i[data-glyph='arrow-thick-bottom-left-fill-large']::before {
		content: '\e09b';
	}

	i[data-glyph='arrow-thick-bottom-left-fill-oblique']::before {
		content: '\e09c';
	}

	i[data-glyph='arrow-thick-bottom-left-fill']::before {
		content: '\e09d';
	}

	i[data-glyph='arrow-thick-bottom-left-line-acute']::before {
		content: '\e09e';
	}

	i[data-glyph='arrow-thick-bottom-left-line-large-acute']::before {
		content: '\e09f';
	}

	i[data-glyph='arrow-thick-bottom-left-line-large-oblique']::before {
		content: '\e0a0';
	}

	i[data-glyph='arrow-thick-bottom-left-line-large']::before {
		content: '\e0a1';
	}

	i[data-glyph='arrow-thick-bottom-left-line-oblique']::before {
		content: '\e0a2';
	}

	i[data-glyph='arrow-thick-bottom-left-line']::before {
		content: '\e0a3';
	}

	i[data-glyph='arrow-thick-bottom-line-acute']::before {
		content: '\e0a4';
	}

	i[data-glyph='arrow-thick-bottom-line-large-acute']::before {
		content: '\e0a5';
	}

	i[data-glyph='arrow-thick-bottom-line-large-oblique']::before {
		content: '\e0a6';
	}

	i[data-glyph='arrow-thick-bottom-line-large']::before {
		content: '\e0a7';
	}

	i[data-glyph='arrow-thick-bottom-line-oblique']::before {
		content: '\e0a8';
	}

	i[data-glyph='arrow-thick-bottom-line']::before {
		content: '\e0a9';
	}

	i[data-glyph='arrow-thick-bottom-right-fill-acute']::before {
		content: '\e0aa';
	}

	i[data-glyph='arrow-thick-bottom-right-fill-angled']::before {
		content: '\e0ab';
	}

	i[data-glyph='arrow-thick-bottom-right-fill-large-acute']::before {
		content: '\e0ac';
	}

	i[data-glyph='arrow-thick-bottom-right-fill-large-angled']::before {
		content: '\e0ad';
	}

	i[data-glyph='arrow-thick-bottom-right-fill-large-oblique']::before {
		content: '\e0ae';
	}

	i[data-glyph='arrow-thick-bottom-right-fill-large']::before {
		content: '\e0af';
	}

	i[data-glyph='arrow-thick-bottom-right-fill-oblique']::before {
		content: '\e0b0';
	}

	i[data-glyph='arrow-thick-bottom-right-fill']::before {
		content: '\e0b1';
	}

	i[data-glyph='arrow-thick-bottom-right-line-acute']::before {
		content: '\e0b2';
	}

	i[data-glyph='arrow-thick-bottom-right-line-large-acute']::before {
		content: '\e0b3';
	}

	i[data-glyph='arrow-thick-bottom-right-line-large-oblique']::before {
		content: '\e0b4';
	}

	i[data-glyph='arrow-thick-bottom-right-line-large']::before {
		content: '\e0b5';
	}

	i[data-glyph='arrow-thick-bottom-right-line-oblique']::before {
		content: '\e0b6';
	}

	i[data-glyph='arrow-thick-bottom-right-line']::before {
		content: '\e0b7';
	}

	i[data-glyph='arrow-thick-left-fill-acute']::before {
		content: '\e0b8';
	}

	i[data-glyph='arrow-thick-left-fill-angled']::before {
		content: '\e0b9';
	}

	i[data-glyph='arrow-thick-left-fill-large-acute']::before {
		content: '\e0ba';
	}

	i[data-glyph='arrow-thick-left-fill-large-angled']::before {
		content: '\e0bb';
	}

	i[data-glyph='arrow-thick-left-fill-large-oblique']::before {
		content: '\e0bc';
	}

	i[data-glyph='arrow-thick-left-fill-large']::before {
		content: '\e0bd';
	}

	i[data-glyph='arrow-thick-left-fill-oblique']::before {
		content: '\e0be';
	}

	i[data-glyph='arrow-thick-left-fill']::before {
		content: '\e0bf';
	}

	i[data-glyph='arrow-thick-left-line-acute']::before {
		content: '\e0c0';
	}

	i[data-glyph='arrow-thick-left-line-large-acute']::before {
		content: '\e0c1';
	}

	i[data-glyph='arrow-thick-left-line-large-oblique']::before {
		content: '\e0c2';
	}

	i[data-glyph='arrow-thick-left-line-large']::before {
		content: '\e0c3';
	}

	i[data-glyph='arrow-thick-left-line-oblique']::before {
		content: '\e0c4';
	}

	i[data-glyph='arrow-thick-left-line']::before {
		content: '\e0c5';
	}

	i[data-glyph='arrow-thick-right-fill-acute']::before {
		content: '\e0c6';
	}

	i[data-glyph='arrow-thick-right-fill-angled']::before {
		content: '\e0c7';
	}

	i[data-glyph='arrow-thick-right-fill-large-acute']::before {
		content: '\e0c8';
	}

	i[data-glyph='arrow-thick-right-fill-large-angled']::before {
		content: '\e0c9';
	}

	i[data-glyph='arrow-thick-right-fill-large-oblique']::before {
		content: '\e0ca';
	}

	i[data-glyph='arrow-thick-right-fill-large']::before {
		content: '\e0cb';
	}

	i[data-glyph='arrow-thick-right-fill-oblique']::before {
		content: '\e0cc';
	}

	i[data-glyph='arrow-thick-right-fill']::before {
		content: '\e0cd';
	}

	i[data-glyph='arrow-thick-right-line-acute']::before {
		content: '\e0ce';
	}

	i[data-glyph='arrow-thick-right-line-large-acute']::before {
		content: '\e0cf';
	}

	i[data-glyph='arrow-thick-right-line-large-oblique']::before {
		content: '\e0d0';
	}

	i[data-glyph='arrow-thick-right-line-large']::before {
		content: '\e0d1';
	}

	i[data-glyph='arrow-thick-right-line-oblique']::before {
		content: '\e0d2';
	}

	i[data-glyph='arrow-thick-right-line']::before {
		content: '\e0d3';
	}

	i[data-glyph='arrow-thick-top-fill-acute']::before {
		content: '\e0d4';
	}

	i[data-glyph='arrow-thick-top-fill-angled']::before {
		content: '\e0d5';
	}

	i[data-glyph='arrow-thick-top-fill-large-acute']::before {
		content: '\e0d6';
	}

	i[data-glyph='arrow-thick-top-fill-large-angled']::before {
		content: '\e0d7';
	}

	i[data-glyph='arrow-thick-top-fill-large-oblique']::before {
		content: '\e0d8';
	}

	i[data-glyph='arrow-thick-top-fill-large']::before {
		content: '\e0d9';
	}

	i[data-glyph='arrow-thick-top-fill-oblique']::before {
		content: '\e0da';
	}

	i[data-glyph='arrow-thick-top-fill']::before {
		content: '\e0db';
	}

	i[data-glyph='arrow-thick-top-left-fill-acute']::before {
		content: '\e0dc';
	}

	i[data-glyph='arrow-thick-top-left-fill-angled']::before {
		content: '\e0dd';
	}

	i[data-glyph='arrow-thick-top-left-fill-large-acute']::before {
		content: '\e0de';
	}

	i[data-glyph='arrow-thick-top-left-fill-large-angled']::before {
		content: '\e0df';
	}

	i[data-glyph='arrow-thick-top-left-fill-large-oblique']::before {
		content: '\e0e0';
	}

	i[data-glyph='arrow-thick-top-left-fill-large']::before {
		content: '\e0e1';
	}

	i[data-glyph='arrow-thick-top-left-fill-oblique']::before {
		content: '\e0e2';
	}

	i[data-glyph='arrow-thick-top-left-fill']::before {
		content: '\e0e3';
	}

	i[data-glyph='arrow-thick-top-left-line-acute']::before {
		content: '\e0e4';
	}

	i[data-glyph='arrow-thick-top-left-line-large-acute']::before {
		content: '\e0e5';
	}

	i[data-glyph='arrow-thick-top-left-line-large-oblique']::before {
		content: '\e0e6';
	}

	i[data-glyph='arrow-thick-top-left-line-large']::before {
		content: '\e0e7';
	}

	i[data-glyph='arrow-thick-top-left-line-oblique']::before {
		content: '\e0e8';
	}

	i[data-glyph='arrow-thick-top-left-line']::before {
		content: '\e0e9';
	}

	i[data-glyph='arrow-thick-top-line-acute']::before {
		content: '\e0ea';
	}

	i[data-glyph='arrow-thick-top-line-large-acute']::before {
		content: '\e0eb';
	}

	i[data-glyph='arrow-thick-top-line-large-oblique']::before {
		content: '\e0ec';
	}

	i[data-glyph='arrow-thick-top-line-large']::before {
		content: '\e0ed';
	}

	i[data-glyph='arrow-thick-top-line-oblique']::before {
		content: '\e0ee';
	}

	i[data-glyph='arrow-thick-top-line']::before {
		content: '\e0ef';
	}

	i[data-glyph='arrow-thick-top-right-fill-acute']::before {
		content: '\e0f0';
	}

	i[data-glyph='arrow-thick-top-right-fill-angled']::before {
		content: '\e0f1';
	}

	i[data-glyph='arrow-thick-top-right-fill-large-acute']::before {
		content: '\e0f2';
	}

	i[data-glyph='arrow-thick-top-right-fill-large-angled']::before {
		content: '\e0f3';
	}

	i[data-glyph='arrow-thick-top-right-fill-large-oblique']::before {
		content: '\e0f4';
	}

	i[data-glyph='arrow-thick-top-right-fill-large']::before {
		content: '\e0f5';
	}

	i[data-glyph='arrow-thick-top-right-fill-oblique']::before {
		content: '\e0f6';
	}

	i[data-glyph='arrow-thick-top-right-fill']::before {
		content: '\e0f7';
	}

	i[data-glyph='arrow-thick-top-right-line-acute']::before {
		content: '\e0f8';
	}

	i[data-glyph='arrow-thick-top-right-line-large-acute']::before {
		content: '\e0f9';
	}

	i[data-glyph='arrow-thick-top-right-line-large-oblique']::before {
		content: '\e0fa';
	}

	i[data-glyph='arrow-thick-top-right-line-large']::before {
		content: '\e0fb';
	}

	i[data-glyph='arrow-thick-top-right-line-oblique']::before {
		content: '\e0fc';
	}

	i[data-glyph='arrow-thick-top-right-line']::before {
		content: '\e0fd';
	}

	i[data-glyph='arrow-top-fill-acute']::before {
		content: '\e0fe';
	}

	i[data-glyph='arrow-top-fill-angled']::before {
		content: '\e0ff';
	}

	i[data-glyph='arrow-top-fill-large-acute']::before {
		content: '\e100';
	}

	i[data-glyph='arrow-top-fill-large-angled']::before {
		content: '\e101';
	}

	i[data-glyph='arrow-top-fill-large-oblique']::before {
		content: '\e102';
	}

	i[data-glyph='arrow-top-fill-large']::before {
		content: '\e103';
	}

	i[data-glyph='arrow-top-fill-oblique']::before {
		content: '\e104';
	}

	i[data-glyph='arrow-top-fill']::before {
		content: '\e105';
	}

	i[data-glyph='arrow-top-left-fill-acute']::before {
		content: '\e106';
	}

	i[data-glyph='arrow-top-left-fill-angled']::before {
		content: '\e107';
	}

	i[data-glyph='arrow-top-left-fill-large-acute']::before {
		content: '\e108';
	}

	i[data-glyph='arrow-top-left-fill-large-angled']::before {
		content: '\e109';
	}

	i[data-glyph='arrow-top-left-fill-large-oblique']::before {
		content: '\e10a';
	}

	i[data-glyph='arrow-top-left-fill-large']::before {
		content: '\e10b';
	}

	i[data-glyph='arrow-top-left-fill-oblique']::before {
		content: '\e10c';
	}

	i[data-glyph='arrow-top-left-fill']::before {
		content: '\e10d';
	}

	i[data-glyph='arrow-top-left-line-acute']::before {
		content: '\e10e';
	}

	i[data-glyph='arrow-top-left-line-large-acute']::before {
		content: '\e10f';
	}

	i[data-glyph='arrow-top-left-line-large-oblique']::before {
		content: '\e110';
	}

	i[data-glyph='arrow-top-left-line-large']::before {
		content: '\e111';
	}

	i[data-glyph='arrow-top-left-line-oblique']::before {
		content: '\e112';
	}

	i[data-glyph='arrow-top-left-line']::before {
		content: '\e113';
	}

	i[data-glyph='arrow-top-line-acute']::before {
		content: '\e114';
	}

	i[data-glyph='arrow-top-line-large-acute']::before {
		content: '\e115';
	}

	i[data-glyph='arrow-top-line-large-oblique']::before {
		content: '\e116';
	}

	i[data-glyph='arrow-top-line-large']::before {
		content: '\e117';
	}

	i[data-glyph='arrow-top-line-oblique']::before {
		content: '\e118';
	}

	i[data-glyph='arrow-top-line']::before {
		content: '\e119';
	}

	i[data-glyph='arrow-top-right-fill-acute']::before {
		content: '\e11a';
	}

	i[data-glyph='arrow-top-right-fill-angled']::before {
		content: '\e11b';
	}

	i[data-glyph='arrow-top-right-fill-large-acute']::before {
		content: '\e11c';
	}

	i[data-glyph='arrow-top-right-fill-large-angled']::before {
		content: '\e11d';
	}

	i[data-glyph='arrow-top-right-fill-large-oblique']::before {
		content: '\e11e';
	}

	i[data-glyph='arrow-top-right-fill-large']::before {
		content: '\e11f';
	}

	i[data-glyph='arrow-top-right-fill-oblique']::before {
		content: '\e120';
	}

	i[data-glyph='arrow-top-right-fill']::before {
		content: '\e121';
	}

	i[data-glyph='arrow-top-right-line-acute']::before {
		content: '\e122';
	}

	i[data-glyph='arrow-top-right-line-large-acute']::before {
		content: '\e123';
	}

	i[data-glyph='arrow-top-right-line-large-oblique']::before {
		content: '\e124';
	}

	i[data-glyph='arrow-top-right-line-large']::before {
		content: '\e125';
	}

	i[data-glyph='arrow-top-right-line-oblique']::before {
		content: '\e126';
	}

	i[data-glyph='arrow-top-right-line']::before {
		content: '\e127';
	}
}
