@import '../.snippet/icon.css';
@import '../settings/main.css';
@import '../document/icon-glyphs-arrow.css';

@custom-selector :--component .c-arrow, :host;
@custom-selector :--icon .c-arrow, :host i;

:--component {
	--size-xxs: 0.75--unit;
	--size-xs: 1.75--unit;
	--size-sm: 2.5--unit;
	--size-md: 5--unit;
	--size-lg: 10--unit;
	--size-xl: 16--unit;
	--size-xxl: 20--unit;
}

:host {
	display: contents;
	& > * { pointer-events: none; }
}

/**
 * Component: Arrow
=========================================================================== */

:--icon[data-glyph] {
	@extend %icon;
	--icon-code: '\e1e0';

	display: inline-block;
	width: var(--icon-size);
	height: var(--icon-size);
	vertical-align: middle;

	&::before {
		all: unset;
	}

	&::after {
		vertical-align: middle;
	}
}

/** Restyle: Sizes
=========================================================================== */

:--icon {
	&.s-xxs {
		--icon-size: var(--size-xxs);
		--icon-weight: 400;
	}
	&.s-xs {
		--icon-size: var(--size-xs);
		--icon-weight: 400;
	}
	&.s-sm {
		--icon-size: var(--size-sm);
		--icon-weight: 400;
	}
	&.s-md {
		--icon-size: var(--size-md);
		--icon-weight: 500;
	}
	&.s-lg {
		--icon-size: var(--size-lg);
		--icon-weight: 500;
	}
	&.s-xl {
		--icon-size: var(--size-xl);
		--icon-weight: 800;
	}
	&.s-xxl {
		--icon-size: var(--size-xxl);
		--icon-weight: 800;
	}
}
