@import '../settings/main.css';
@import '../settings/shadows.css';

:is(.c-avatar, :host) {
	--bg-color: transparent;
	--border: 1--pixel solid var(--muted-color);
	--shadow: var(--shadow-2dp);
	--text-size: 0;

	--size: 5--unit;
	--size-xxs: 1--unit;
	--size-xs: 1.5--unit;
	--size-sm: 2.5--unit;
	--size-md: 6--unit;
	--size-lg: 8--unit;
	--size-xl: 12--unit;
	--size-xxl: 16--unit;
}

:is(.c-avatar, :host [role='img']):not([style*='background-image']):empty {
	--bg-color: var(--clr-gray-100);
	--border: none;
	--shadow: none;
}

/**
 * Component: Avatar
 * Children: Image and Link
=========================================================================== */

.c-avatar,
.c-avatar__link,
:host :is([role='img'], a) {
	display: inline-block;
	border-radius: 50%;
	width: var(--size);
	height: var(--size);
	overflow: hidden;
	text-align: center;
	vertical-align: middle;
	user-select: none;
}

:is(.c-avatar, :host [role='img']) {
	background-color: var(--bg-color);
	border: var(--border);
	box-shadow: var(--shadow);

	img {
		user-select: auto;
		width: inherit;
		height: inherit;
		object-fit: cover;
	}

	&[style*='background-image'] {
		background-size: cover;

		img {
			display: none;
		}
	}
}

:host {
	display: contents;
	pointer-events: none;
	& > * {
		pointer-events: auto;
	}
}

/** Restyle: Sizes
=========================================================================== */

:is(.c-avatar, :host [role='img']) {
	&.s-xxs {
		--size: var(--size-xxs);
	}
	&.s-xs {
		--size: var(--size-xs);
	}
	&.s-sm {
		--size: var(--size-sm);
	}
	&.s-md {
		--size: var(--size-md);
	}
	&.s-lg {
		--size: var(--size-lg);
	}
	&.s-xl {
		--size: var(--size-xl);
	}
	&.s-xxl {
		--size: var(--size-xxl);
	}
}

/** Context: Panel Component
=========================================================================== */

:is(.c-panel, :host-context(.c-panel)):not(.s-clean) .c-avatar {
	--shadow: var(--inset-shadow-2dp);

	img {
		z-index: -1;
		position: relative;
	}
}
