@import '../.snippet/custom-selectors.css';
@import '../settings/main.css';
@import '../settings/shadows.css';

.c-avatar {
	--bg-color: transparent;
	--border: 1--pixel solid var(--muted-color);
	--shadow: var(--shadow-2dp);
	--size: 5--unit;
	--text-size: 0;

	&:not([style*='background-image']):empty {
		--bg-color: var(--clr-gray-100);
		--border: none;
		--shadow: none;
	}
}

/**
 * Component: Avatar
 * Nested elements: Link and Image
=========================================================================== */

:host {
	display: contents;
	pointer-events: none;
	& > * {
		pointer-events: auto;
	}
}

.c-avatar {
	display: inline-block;
	border-radius: 50%;
	width: var(--size);
	height: var(--size);
	margin: 0;
	overflow: hidden;
	text-align: center;
	vertical-align: middle;
	user-select: none;

	background-color: var(--bg-color);
	border: var(--border);
	box-shadow: var(--shadow);

	:where(a, img) {
		display: inline-block;
		width: inherit;
		height: inherit;
	}

	img {
		object-fit: cover;
	}

	&[style*='background-image'] {
		background-size: cover;
	}

	/** Empty State
	=========================================================================== */

	&:not([style*='background-image']) .c-avatar__link:empty {
		position: relative;
		box-sizing: border-box;

		&::before {
			display: inline-block;
			content: '';

			position: absolute;
			top: 50%;
			left: 50%;

			height: 40%;
			width: 40%;
			transform: translate(-50%, -50%);

			border-radius: 50%;
			background-color: var(--clr-gray-300);
		}
	}
}

/** Context
=========================================================================== */

:host-context(.c-panel:not(.s-clean)) .c-avatar {
	--shadow: var(--inset-shadow-2dp);

	img {
		z-index: -1;
		position: relative;
	}
}
