/**
 * Component:	   `c-badge`
 * Description:	 Defines styles for badges
 * 
 * Modifiers:	   `c-badge--*colors*`
 * 
 ========================================================================== */

@import '../settings/color.css';
@import '../settings/basic.css';
@import '../settings/typography.css';

/* Settings
=========================================================================== */

.c-badge {
	--bkgd-color: var(--clr-gray-600);
	--bord-color: transparent;
	--text-color: var(--clr-white);

	&.s-primary {
		--bkgd-color: var(--primary-color);
	}
	&.s-info {
		--bkgd-color: var(--clr-cyan-800);
	}
	&.s-success {
		--bkgd-color: var(--success-color);
	}
	&.s-warning {
		--bkgd-color: var(--warning-color);
	}
	&.s-danger {
		--bkgd-color: var(--danger-color);
	}
}

/* Rules
=========================================================================== */

.c-badge {
	display: inline-block;
	vertical-align: middle;
	border-radius: 50vw;

	padding: var(--space-xs) var(--space-xs);
	font-size: var(--text-xs);
	line-height: 1.1;
	text-transform: uppercase;
	letter-spacing: 0.04em;

	background-color: var(--bkgd-color);
	border-color: var(--bord-color);
	border-style: solid;
	border-width: 1--rpx;
}
