@import '../settings/color.css';
@import '../settings/basic.css';
@import '../settings/typography.css';

/**
 * Component:	   `c-badge`
 * Description:	 Defines styles for badges
 * 
 * Modifiers:	   `c-badge--*colors*`
 * 
 ========================================================================== */

.c-badge {
	display: inline-block;
	vertical-align: middle;
	border-radius: 50vw;

	padding: var(--space-xs) var(--space-xs);
	font-size: var(--text-xs);
	line-height: 1.1;
	text-transform: uppercase;
	letter-spacing: 0.04em;

	cursor: default;
	background-color: var(--clr-gray-600);
	color: var(--clr-white);
}

/* Color modifiers
 ========================================================================== */

.c-badge--primary {
	background-color: var(--primary-color);
}
.c-badge--info {
	background-color: var(--clr-cyan-800);
}
.c-badge--success {
	background-color: var(--success-color);
}
.c-badge--warning {
	background-color: var(--warning-color);
}
.c-badge--danger {
	background-color: var(--danger-color);
}
