@import "../.snippet/custom-selectors.css";
@import "../settings/document.css";
@import "../settings/shadows.css";
@import "../settings/space.css";
@import "../document/icon.css";

/**
 * Component: Button
 * 
 * Nested elements: `c-button__icon`, `c-button__text`
 * Container: `c-button-group`
 * 
=========================================================================== */

.c-button {
	--height: 2.5--unit;
	--padding-horz: var(--space);
	--padding-vert: var(--space-xs);

	--bg-color: var(--clr-white);
	--border-color: transparent;
	--text-color: var(--clr-black);
	--roundness: var(--space-xs);
	--shadow: var(--shadow-2dp);
	
	--text-font: var(--ui-font);
	--text-interligne: var(--unit);
	
	&:hover {
		--bg-color: var(--clr-grey-50);
	}
}

:--button-is-active {
	--shadow: none;
}

:--button-has-focus {
	--border-color: var(--clr-violet-500);
}

.c-button {
	-webkit-appearance: none;
	-moz-appearance: none;
	outline: none;

	display: inline-block;
	min-height: var(--height);
	box-sizing: border-box;
	padding: var(--padding-vert) var(--padding-horz);
	vertical-align: middle;

	cursor: pointer;
	color: var(--text-color);
	font-family: var(--text-font);
	font-weight: var(--font-medium);

	background-color: var(--bg-color);
	border-color: var(--border-color);
	border-radius: var(--roundness);
	border-style: solid;
	border-width: 0.5--pixel;
	box-shadow: var(--shadow);
	
	transition-property: color, background-color, box-shadow;
	transition-duration: 0.5--duration;
	transition-timing-function: var(--easing);
	user-select: none;
	
	& > :--icon-attr-included {
		margin-right: var(--space-sm);
		
		&::before {
			vertical-align: middle;
		}
	}
 
	&::-moz-focus-inner {
		border: 0;
		padding: 0;
	}

	& + & {
		margin-left: var(--space-sm);
	}
}

:--button-has-focus {
	border-style: dashed;
}


/* Context: Button is placed on Panel
=========================================================================== */

.c-panel:not(.s-clean) {
	.c-button {
		--border-color: var(--clr-grey-200);
		--shadow: none;
	}
	:--button-is-active {
		--shadow: var(--inset-shadow-2dp);
	}
}


/* ========================================================================
   Nested elements: Icon and Text
=========================================================================== */

.c-button {
	&__icon,
	&__text {
		display: inline-block;
		vertical-align: baseline;
	}
	
	&__icon {
		margin-left: -1rem;
		margin-right: 1.3rem;
	}
	
	&__text + &__icon {
		margin-left: 1.3rem;
		margin-right: -1rem;
	}
	
	&__text {
		/* text-crop */
	
		:is(&::before, &::after) {
			content: ' ';
			display: block;
			height: 0;
			width: 0;
		}
	
		&::before {
			margin-bottom: -0.2em;
		}
		&::after {
			margin-top: 0;
		}
	}
}


/* ========================================================================
   Container: `c-button-group`
=========================================================================== */

.c-button-group {
	display: inline-flex;
	vertical-align: middle;

	.c-button {
		&:not(:first-child) {
			border-top-left-radius: 0;
			border-bottom-left-radius: 0;
			border-left: 1px solid var(--clr-grey-200);
			
			&:focus-visible {
				border-left: 1px solid transparent;
			}
		}

		&:not(:last-child) {
			border-top-right-radius: 0;
			border-bottom-right-radius: 0;
		}
		
		& + .c-button {
			margin-left: 0 !important;
		}
	}
}
