@import "../.snippets/custom-selectors.css";
@import "../settings/document.css";
@import "../settings/space.css";
@import "../document/icon.css";

/**
 * Component: Button
 * 
 * Nested elements: `c-button__icon`, `c-button__text`
 * Container: `c-button-group`
 * 
=========================================================================== */

.c-button {
	--height: 3.2rem;
	--padding-horizontal: var(--space-md);
	--padding-vertical: 0;

	--text-font: var(--ui-font);
	--text-size: var(--text-sm);

	--color: var(--clr-white);
	--hover-color: var(--clr-white);
	
	--bg-color: var(--clr-blue-grey-400);
	--focus-bg-color: var(--clr-blue-grey-600);
	--hover-bg-color: var(--clr-blue-grey-500);
	
	&:hover {
		--bg-color: var(--hover-bg-color);
		--text-color: var(--hover-color);
	}
}

.c-button {
	-webkit-appearance: none;
	-moz-appearance: none;

	border: none;
	outline: none;
	text-align: center;

	display: inline-block;
	line-height: var(--height);
	box-sizing: border-box;
	padding: var(--padding-vertical) var(--padding-horizontal);
	vertical-align: middle;

	cursor: pointer;
	font-weight: var(--font-medium);

	background-color: var(--bg-color);
	border-radius: 0.3rem;
	box-shadow: 0 1px 1px rgba(0,0,0,0.11), 
				0 2px 2px rgba(0,0,0,0.11);
	
	transition-property: color, background-color;
	transition-duration: var(--duration);
	transition-timing-function: var(--easing);
	user-select: none;
	
	& > :--icon-attr-included {
		margin-right: var(--space-sm);
		
		&::before {
			vertical-align: middle;
		}
	}
 
	&::-moz-focus-inner {
		border: 0;
		padding: 0;
	}

	& + & {
		margin-left: var(--space-sm);
	}
}

:--button-is-active {
	box-shadow: none;
}

:--button-has-focus {
	--bg-color: var(--focus-bg-color);
}


/* Context: Button is placed on Panel
=========================================================================== */

.c-panel:not(.s-clean) {
	.c-button {
		box-shadow: none;
	}
	:--button-is-active {
		box-shadow: inset 0 .1rem .1rem 0 rgba(0,0,0,.14), inset 0 .1rem .3rem 0 rgba(0,0,0,.12);
	}
}


/* ========================================================================
   Nested elements: Icon and Text
=========================================================================== */

.c-button {
	&__icon,
	&__text {
		display: inline-block;
		vertical-align: baseline;
		line-height: 1;
	}
	
	&__icon {
		margin-left: -1rem;
		margin-right: 1.3rem;
	}
	
	&__text + &__icon {
		margin-left: 1.3rem;
		margin-right: -1rem;
	}
	
	&__text {
		/* text-crop */
	
		:is(&::before, &::after) {
			content: ' ';
			display: block;
			height: 0;
			width: 0;
		}
	
		&::before {
			margin-bottom: -0.2em;
		}
		&::after {
			margin-top: 0;
		}
	}
}


/* ========================================================================
   Container: `c-button-group`
=========================================================================== */

.c-button-group {
	display: inline-flex;
	vertical-align: middle;

	.c-button {
		&:not(:first-child) {
			border-top-left-radius: 0;
			border-bottom-left-radius: 0;
			border-left: 1px solid var(--clr-grey-200);
			
			&:focus {
				border-left: 1px solid transparent;
			}
		}

		&:not(:last-child) {
			border-top-right-radius: 0;
			border-bottom-right-radius: 0;
		}
		
		& + .c-button {
			margin-left: 0 !important;
		}
	}
}
