@import '../.snippet/custom-selectors.css';
@import '../.snippet/icon.css';
@import '../settings/color.css';
@import '../settings/shadow.css';
@import '../settings/basic.css';

/**
 * Component: Button
 * Nested elements: `icon`, `c-button__icon`, `c-button__text`
=========================================================================== */

.c-button {
	--height: 2.5--unit;
	--padding-horz: var(--space);
	--padding-vert: var(--space-xs);
	--roundness: var(--space-xs);

	--bkgd-color: var(--clr-background);
	--bord-color: transparent;
	--shadow: var(--shadow-2dp);

	--text-color: var(--clr-black);
	--text-font: var(--ui-font);
	--text-interligne: 1.4;

	&:hover {
		--bkgd-color: var(--clr-gray-50);
	}

	&:--is-active {
		--shadow: none;
	}
}

:--button-any-has-focus {
	--bord-color: var(--clr-violet-500);
}

.c-button {
	-moz-appearance: none;
	-webkit-appearance: none;
	contain: content;
	outline: none;
	text-decoration: none;
	user-select: none;

	display: inline-block;
	min-height: var(--height);
	box-sizing: border-box;
	padding: var(--padding-vert) var(--padding-horz);
	vertical-align: middle;

	color: var(--text-color);
	font-family: var(--text-font);
	font-size: var(--text-size);
	line-height: var(--text-interligne);
	font-weight: var(--font-medium);
	text-rendering: geometricPrecision;

	background-color: var(--bkgd-color);
	border-color: var(--bord-color);
	border-radius: var(--roundness);
	border-style: solid;
	border-width: 0.5--pixel;
	box-shadow: var(--shadow);
	cursor: pointer;

	transition-property: color, background-color, box-shadow;
	transition-duration: 0.5--base-duration;
	transition-timing-function: var(--base-easing);

	&:empty {
		--padding-horz: 0.5--height;
		min-width: var(--height);
	}

	&:disabled {
		background-color: var(--clr-gray-50);
		border-color: var(--clr-gray-400);
		border-style: dotted;
		box-shadow: none;
		color: var(--disabled-color);
		cursor: not-allowed;
	}

	&::-moz-focus-inner {
		border: 0;
		padding: 0;
	}

	& + & {
		margin-left: var(--space-sm);
	}
}

:--button-any-has-focus {
	border-style: dashed;
}

/* ========================================================================
	Nested elements
=========================================================================== */

.c-button[data-glyph],
.c-button__icon {
	@extend %icon;

	&::before {
		line-height: 1;
		vertical-align: middle;
		top: -1--space-xxs;
		left: -1--space-sm;
	}

	&:empty::before {
		width: 0;
	}
}

.c-button {
	&__icon,
	&__text {
		display: inline-block;
		vertical-align: baseline;
	}

	&__text + &__icon,
	&__icon + &__text {
		margin-left: 0.75--unit;
	}

	&__text {
		/* text-crop */

		:is(&::before, &::after) {
			content: ' ';
			display: block;
			height: 0;
			width: 0;
		}

		&::before {
			margin-bottom: -0.2em;
		}
		&::after {
			margin-top: 0;
		}
	}
}
