@import '../settings/color.css';
@import '../settings/basic.css';
@import '../settings/typography.css';

/* ========================================================================
	Helper Component: Grid
=========================================================================== */

.c-grid {
	--color: var(--clr-blue);
	--bord-color: color(var(--clr-red) blackness(25%));
	--z-index: 200;
}

.c-grid {
	position: absolute;
}

:is(.c-grid__guide--horizontal, .c-grid__guide--vertical, .c-grid .line, .c-grid .sizes) {
	position: absolute;
}

.c-grid {
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: var(--z-index);
	overflow: hidden;

	outline: 1px dotted var(--bord-color);

	.sizes {
		right: var(--space-sm);
		bottom: var(--space-xs);
		font-family: var(--ui-font);
		font-size: 1rem;
		font-weight: var(--font-bold);
		opacity: 0.7;
	}
}

.c-grid__guide--horizontal,
.c-grid__guide--vertical {
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.c-grid__guide--horizontal .line {
	top: 0;
	right: auto;
	bottom: 0;
	left: var(--unit);

	width: 0.1rem;
	height: 100%;

	border-right: 1px dotted var(--color);
	opacity: 0.3;

	&.s-axis {
		border-left: 1px dotted white;
		border-right: 1px dotted black;
		opacity: 0.5;
	}
}

.c-grid__guide--vertical .line {
	top: var(--unit);
	right: 0;
	bottom: 0;
	left: 0;

	width: 100%;
	height: 0.1rem;

	border-top: 1px dotted var(--color);
	opacity: 0.3;

	&.s-axis {
		border-top: 1px dotted white;
		border-bottom: 1px dotted black;
		opacity: 0.5;
	}
}
