@import '../settings/document.css';
@import '../settings/shadow.css';
@import '../settings/space.css';
@import '../settings/typography.css';

/**
 * Component:   `c-modal`
 *
 * Elements:	`c-modal__head`
 *				`c-modal__body`
 *
 * State:		`is-closed` (by default)
 *				`is-opened`
 *
 ========================================================================== */

:root {
	--c-modal-padding: var(--space-md);
}

/* ========================================================================
   Component: `c-modal`
 ========================================================================== */

.c-modal {
	contain: content;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	min-width: 50rem;
	min-height: 30rem;
	box-sizing: border-box;
	padding-bottom: var(--c-modal-padding);

	background-color: var(--clr-white);
	box-shadow: var(--shadow-8dp);

	transition-property: transform, opacity;
	transition-duration: var(--duration);
	transition-timing-function: var(--easing);

	border: none;
	text-align: left;
}
.c-modal > *:first-child {
	padding-top: var(--c-modal-padding);
}

.c-modal,
.c-modal.is-closed {
	z-index: -1;
	transform: translate(-50%, -54%);
	opacity: 0;
}

.c-modal.is-opened {
	z-index: 110;
	transform: translate(-50%, -50%);
	opacity: 1;
}

/* Element: `c-modal__header`
 ========================================================================== */

.c-modal__header {
	padding: 0 var(--c-modal-padding);
}

/* Element: `c-modal__body`
 ========================================================================== */

.c-modal__body {
	padding: 0 var(--c-modal-padding);
}

/* Element: `c-modal__foot`
 ========================================================================== */

.c-modal__foot {
	padding: var(--space-sm) var(--c-modal-padding);
	margin-top: var(--c-modal-padding);

	font-size: 0.001px;
	line-height: 3.6rem;
	text-align: right;
}
