@import '../settings/color.css';
@import '../settings/typography.css';

/**
 * Component:	`c-pagination`
 *
 * Elements:	`c-pagination__ellipsis`
 *				`c-pagination__page`
 *				`c-pagination__prev`
 *				`c-pagination__next`
 ========================================================================== */

.c-pagination {
	--size: 2.4rem;
	--color: var(--link-color);
	--hover-color: var(--link-hover-color);

	contain: content;
	display: block;
	position: relative;
	line-height: var(--size);
	font-family: var(--font-primary);
	font-size: var(--text-md);
	text-align: center;
	color: var(--color);
}

/* Common
 ========================================================================== */

.c-pagination__ellipsis,
.c-pagination__page,
.c-pagination__next,
.c-pagination__prev {
	display: inline-block;
	vertical-align: middle;
	color: currentColor;
	text-decoration: none;
}

.c-pagination__ellipsis[aria-disabled='true'],
.c-pagination__page[aria-disabled='true'],
.c-pagination__next[aria-disabled='true'],
.c-pagination__prev[aria-disabled='true'] {
	display: none;
	visibility: hidden;
}

.c-pagination__page,
.c-pagination__prev,
.c-pagination__next {
	min-width: var(--size);
	box-sizing: border-box;
	text-align: center;
}

.c-pagination__page:hover,
.c-pagination__next:hover,
.c-pagination__prev:hover {
	color: var(--hover-color);
}

.c-pagination__ellipsis,
.c-pagination__next,
.c-pagination__prev {
	margin: 0 0.4rem;
}

/* Specific
 ========================================================================== */

.c-pagination__page {
	padding: 0 0.4rem;
	margin: 0 0.2rem;
}

.c-pagination__page:not([aria-selected='true']):hover {
	text-decoration: underline;
}

.c-pagination__page[aria-selected='true'] {
	cursor: default;
	font-weight: var(--font-bold);
}

/* Icons
 ========================================================================== */

.c-pagination__prev::after,
.c-pagination__next::after {
	line-height: 1;
	font-family: 'Iconic';
	font-size: 1.1rem;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
}

.c-pagination__prev::after {
	content: '\e14d';
}
.c-pagination__next::after {
	content: '\e14e';
}
