@import "../.snippet/custom-selectors.css";

@import "../settings/document.css";
@import "../settings/shadows.css";
@import "../settings/space.css";
@import "../settings/typography.css";

/**
 * Component:	Panel
 * Description: Reusable content areas.
 *
 * Elements:	`c-panel__head`
 *				`c-panel__toolbar`
 *
=========================================================================== */

.c-panel {
	--bg-color: var(--clr-white);
	--padding-horz: var(--space);
	--padding-vert: var(--space);
	--roundness: var(--space-xxs);
	--shadow: var(--shadow-3dp);
}


/* ========================================================================
	Component
=========================================================================== */
 
.c-panel {
	contain: layout style paint;
	display: block;
	position: relative;
	min-width: min-content;

	background-color: var(--bg-color);
	border-radius: var(--roundness);
	box-shadow: var(--shadow);
	box-sizing: border-box;

	&:not(:has(> :is(.c-panel__head, .c-panel__body)))  {
		padding: var(--padding-vert) var(--padding-horz);
	}

	&::before,
	&::after {
		content: "";
		display: table;
		clear: both;
	}
}

.c-panel:not([aria-hidden=true]) + .c-panel {
   margin-top: var(--space);
}


/* Subcomponent: `c-panel-divider`
=========================================================================== */
 
.c-panel + .c-panel-divider {
	position: relative;
	margin-top: var(--space-md);
}

.c-panel + .c-panel-divider::after {
	content: "";
	display: block;
	position: absolute;
	top: -1--pixel;
	left: 0;
	right: 0;
	border-top: var(--pixel) solid var(--clr-grey-800);
}


/* Child element: `c-panel__head`
=========================================================================== */

.c-panel__head {
	position: relative;
	padding: 0.75--padding-vert var(--padding-horz) 0.5--padding-vert;

	border-top-left-radius: var(--roundness);
	border-top-right-radius: var(--roundness);

	:--headings {
		margin-top: 0;
		margin-bottom: 0;
	}

	.c-toolbar {
		display: inline-block;
		float: right;
		vertical-align: middle;
	}
}


/* Child element: `c-panel__body`
=========================================================================== */

.c-panel__body {
	position: relative;
	padding: var(--padding-vert) var(--padding-horz);

	&::before,
	&::after {
		content: "";
		display: table;
		clear: both;
	}
}

.c-panel__head + .c-panel__body::before {
	content: ' ';
	display: block;
	position: absolute;
	top: 0;
	left: calc(var(--padding-vert) - var(--space-sm));
	right: calc(var(--padding-vert) - var(--space-sm));
	border-top: 1px solid var(--clr-grey-400);
}


/* Nested components: Button and Toolbar
=========================================================================== */

.c-panel:not(.s-clean) {
	:is(.c-button, .c-toolbar) {
		--border-color: var(--clr-grey-200);
		--shadow: none;
	}

	.c-button:--is-active {
		--shadow: var(--inset-shadow-2dp);
	}

	.c-toolbar {
		border-color: var(--border-color);
		border-style: solid;
		border-width: 0.5--pixel;
	}
}


/* ========================================================================
	Context
=========================================================================== */

:--avatar {
	--border: none;
	--shadow: var(--shadow-2dp);
}

.c-panel:not(.s-clean) :--avatar {
	--shadow: var(--inset-shadow-2dp);

	img {
		z-index: -1;
		position: relative;
	}
}


/* ========================================================================
	Mediaqueries
=========================================================================== */

@media (--screen-handset) {
	.c-panel__head {
		padding: var(--space-sm) var(--space-sm) var(--space-xs) var(--space-sm);
	}
	.c-panel__head::after {
		left: var(--space-sm);
		right: var(--space-sm);
	}
	
	.c-panel__body {
		padding: var(--space-sm);
	}
}
