@import '../.snippet/icon.css';
@import '../.snippet/field.css';
@import '../settings/main.css';
@import '../settings/space.css';
@import '../settings/shadow.css';
@import '../settings/typography.css';

@custom-selector :--selected [aria-checked='true'], [aria-selected='true'];

:host {
	--text-boldness: var(--font-normal);
	--text-font: var(--ui-font);
	--text-interligne: var(--default-interligne);
	--text-size: var(--default-text-size);
}

:host {
	--bg-color: var(--clr-background);
	--border-color: transparent;
	--radius: var(--field-radius);
	--shadow: var(--shadow-2dp);

	--bottom-space: 0.125--unit;
	--left-space: 1--space;
	--right-space: 0.75--unit;
	--top-space: 0.125--unit;

	--listbox-gap: 0.1875--space;
	--listbox-bg-color: var(--bg-color);
	--listbox-border-color: var(--clr-gray-100);
	--marker-glyph: '\e18a';
	--marker-size: var(--text-md);
	--marker-indent: 1--space;
	--option-glyph: '\e035';
	--option-start-space: 2--unit;
	--option-end-space: 0.75--unit;
	--option-bg-color: var(--clr-gray-50);
}

:host(:state(collapsed)) {
	--marker-glyph: '\e18a';
}

:host(:state(expanded)) {
	--marker-glyph: '\e18d';
	--shadow: var(--shadow-3dp);
}

[role='button'] {
	--icon-code: var(--marker-glyph);
	--icon-size: var(--text-md);
}

[role='listbox'] {
	--bg-color: var(--clr-white);
	--text-color: var(--clr-foreground);
	--shadow: var(--shadow-3dp);
}

[role='option'] {
	::slotted(&) {
		--bg-color: transparent;
		--icon-code: '';
		--text-interligne: 2.5em;
	}

	::slotted(&:hover) {
		--bg-color: var(--option-bg-color);
	}

	&:--selected {
		::slotted(&) {
			--icon-code: var(--option-glyph);
			--text-color: var(--clr-gray-300);
		}

		::slotted(&:hover) {
			--bg-color: transparent;
		}
	}

	::slotted(&:is(:hover, :--selected)) {
		--text-boldness: var(--font-medium);
	}
}

[role='status'] {
}

/**
 * Component: Select Field
 * Children: HTML Input element, custom subcomponents Button and ListBox
=========================================================================== */

:host {
	@extend %field;

	position: relative;
	display: inline-block;
	vertical-align: middle;
	inline-size: inherit;
	block-size: max-content;

	background-color: var(--bg-color);
	border-color: var(--border-color);
	border-width: 1--pixel;
	border-style: solid;
	border-radius: var(--radius);
	box-shadow: var(--shadow);

	&:state(expanded) {
		outline: 3--pixel dashed var(--clr-violet-700);
	}

	&:state(collapsed) {
		outline: 3--pixel dashed var(--clr-lime-600);
	}

	[role][aria-activedescendant] {
		pointer-events: auto;
	}

	[role='button'] {
		@extend %icon;

		anchor-name: --marker;

		box-sizing: border-box;
		inline-size: 100%;
		min-block-size: calc(1--field-height - 2--pixel);
		padding-block: var(--top-space) var(--bottom-space);
		padding-inline: var(--left-space) var(--right-space);

		display: flex;
		align-items: center;
		column-gap: var(--marker-indent);

		border-radius: inherit;
		cursor: pointer;

		&::after {
			content: var(--marker-glyph);
		}

		&::before {
			all: unset;
		}
	}

	[role='listbox'] {
		position: absolute;
		position-anchor: --marker;
		position-area: end;
		justify-self: end;
		z-index: 2;

		interpolate-size: allow-keywords;
		inline-size: max-content;
		block-size: max-content;
		padding: 1--listbox-gap;
		margin-block-start: 1--space-xs;

		background-color: var(--listbox-bg-color);
		border-radius: 0.375--unit;
		box-shadow: var(--shadow);
		outline-color: var(--listbox-border-color);
		outline-width: 1--pixel;
		outline-style: solid;
		outline-offset: -0.8--listbox-gap;
		text-align: right;

		display: none;
		height: 0;
		overflow: hidden;
		transition: height ease 1s;
	}

	[role='status'][aria-label]::before {
		content: attr(aria-label) ' ';
	}
}

:host(:state(expanded)) [role='listbox'] {
	display: block;
	height: max-content;
}

[role='option'] {
	::slotted(&) {
		padding-inline-start: var(--option-start-space);
		padding-inline-end: var(--option-end-space);

		background-color: var(--bg-color);
		transition: background-color 0.16s ease;
		cursor: pointer;
	}

	::slotted(&:first-of-type) {
		border-radius: var(--space-sm) var(--space-sm) 0 0;
	}
	::slotted(&:last-of-type) {
		border-radius: 0 0 var(--space-sm) var(--space-sm);
	}

	::slotted(&:--selected) {
		@extend %icon;

		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 0.5em;
		cursor: default;

		&::before {
			all: unset;
		}
		&::after {
			content: var(--icon-code);
		}
	}
}
