@import '../.snippet/icon.css';
@import '../.snippet/field.css';
@import '../settings/main.css';
@import '../settings/space.css';
@import '../settings/shadow.css';
@import '../settings/typography.css';

/** Component Settings
=========================================================================== */

:host {
	@extend %field-settings;

	--text-boldness: var(--font-normal);
	--text-font: var(--ui-font);
	--text-interligne: var(--default-interligne);
	--text-size: var(--default-text-size);

	--bg-color: var(--clr-background);

	--bottom-space: 0.125--unit;
	--left-space: 0.75--space;
	--right-space: 1--space-md;
	--top-space: 0.125--unit;

	--listbox-gap: 0.1875--space;
	--listbox-bg-color: var(--bg-color);
	--listbox-border-color: var(--clr-gray-100);
	--marker-color: currentColor;
	--marker-glyph: '\e18a';
	--marker-indent: 1--left-space;
	--option-glyph: '\e159';
	--option-start-space: 0.75--unit;
	--option-end-space: 2--unit;
	--option-bg-color: var(--clr-gray-50);
}

/** Starting */

:host {
	--border-color: transparent;
	--marker-color: var(--clr-gray-400);
	--shadow: var(--shadow-2dp);
}

/** Modifications */

:host(:state(--expanded)) {
	--marker-glyph: '\e18d';
}

:host(:hover),
:host(:focus),
:host(:state(--expanded)) {
	--marker-color: currentColor;
}

:host(:hover),
:host(:focus) {
	--shadow: var(--shadow-3dp);
}

:host-context(.c-panel:not(.s-clean)) {
	--shadow: none;
}

/** Childnodes Settings
=========================================================================== */

[role='button'] {
	--icon-code: var(--marker-glyph);
	--icon-color: var(--marker-color);
	--icon-size: var(--text-md);
}

[role='listbox'] {
	--bg-color: var(--clr-white);
	--text-color: var(--clr-foreground);
	--shadow: var(--shadow-3dp);
}

/**
 * Web Component: Select Field
 * Childnodes:
 *	Button subcomponent as the main element of user interaction;
 *	Status of choice as an element that is a child of the button;
 *	Listbox subcomponent with existing options of selection.
 *	
 * [ProtoSite](http://protosite.rocks/components/select-field.html)
=========================================================================== */

:host {
	@extend %field;

	position: relative;
	display: inline-block;
	vertical-align: middle;
	inline-size: inherit;
	block-size: max-content;
	padding-inline: unset;

	background-color: var(--bg-color);
	border-color: var(--border-color);
	border-width: 1--pixel;
	border-style: solid;
	border-radius: var(--radius);
	box-shadow: var(--shadow);
	user-select: none;

	[role='button'] {
		@extend %icon;

		anchor-name: --anchor-on-marker;

		box-sizing: border-box;
		inline-size: 100%;
		min-block-size: calc(1--height - 2--pixel);
		padding-block: var(--top-space) var(--bottom-space);
		padding-inline: var(--left-space) var(--right-space);

		display: flex;
		align-items: center;
		column-gap: var(--marker-indent);

		border-radius: inherit;
		cursor: pointer;

		&::after {
			all: unset;
		}

		&::before {
			content: var(--marker-glyph);
			transition: color var(--easing) 0.16s;
		}

		&:focus {
			outline: unset;
		}
	}

	[role='listbox'] {
		position: absolute;
		position-anchor: --anchor-on-marker;
		position-area: inline-start block-end;
		justify-self: end;
		z-index: 2;

		interpolate-size: allow-keywords;
		inline-size: max-content;
		block-size: max-content;
		max-block-size: 25vh;

		padding: 1--listbox-gap;
		margin-block-start: var(--space-sm);

		background-color: var(--listbox-bg-color);
		border-radius: 0.375--unit;
		box-shadow: var(--shadow);
		outline-color: var(--listbox-border-color);
		outline-width: 1--pixel;
		outline-style: solid;
		outline-offset: -0.8--listbox-gap;

		animation-duration: 460ms;
		animation-fill-mode: backwards;
		animation-name: none;
		animation-timing-function: var(--easing);
		transform-origin: top;
		display: none;
		overflow: hidden;
		overflow-y: clip;
		overflow-clip-margin: var(--space-sm);

		&::part(container) {
			display: block;
			opacity: 0;
			transition: opacity var(--easing) 240ms;
		}
	}

	[role='status'] {
		&::before {
			unset: all;
			transition: color var(--easing) 680ms;
		}

		&[aria-label]:not(:empty)::before {
			content: attr(aria-label) ' ';
			color: var(--marker-color);
		}
		&[aria-placeholder]:empty::before {
			content: attr(aria-placeholder);
			color: var(--marker-color);
		}
	}
}

/** Modifiers
=========================================================================== */

:host(:focus) {
	outline-color: var(--clr-red-800);
	outline-width: 1--pixel;
	outline-style: dashed;
	outline-offset: -0.8--listbox-gap;
}

:host(:state(--disabled)) {
	opacity: 0.5;
	pointer-events: none;
}

:host(:state(--expanded)) [role='listbox'] {
	display: block;
	animation-name: expand-listbox;

	&::part(container) {
		opacity: 1;
	}
}

:host(:state(--expanded):not(:state(--animating))) [role='listbox'] {
	overflow-y: auto;
}

:host(:state(--collapsed)) [role='listbox'] {
	animation-duration: 240ms;
	animation-name: collapse-listbox;
	display: none;

	&::part(container) {
		opacity: 0;
	}
}

/**
 * Option of the value available for user selection.
 * It is an element nested in Listbox and whose role is option.
 * The option element can contain text or an image,
 * or a DOM subtree specified by other UI components.
 *	
 * [ProtoSite](http://protosite.rocks/components/select-field.html)
=========================================================================== */

[role='option'] {
	::slotted(&) {
		--bg-color: transparent;
		--icon-code: '';
		--text-interligne: 2.5em;
	}

	::slotted(&:hover) {
		--bg-color: var(--option-bg-color);
	}

	::slotted(&[aria-current='true']) {
		--text-boldness: var(--font-bold);
	}

	&[aria-selected='true'] {
		::slotted(&) {
			--icon-code: var(--option-glyph);
			--icon-color: var(--clr-gray-400);
			--icon-size: 0.75--unit;
			--text-boldness: var(--font-normal);
			--text-color: var(--clr-gray-500);
		}

		::slotted(&:hover) {
			--bg-color: transparent;
		}
	}
}

[role='option'] {
	::slotted(&) {
		padding-inline-start: var(--option-start-space);
		padding-inline-end: var(--option-end-space);
		margin-block-end: 1--pixel;

		background-color: var(--bg-color);
		transition: background-color 160ms var(--easing);
		cursor: pointer;
	}

	::slotted(&:first-of-type) {
		border-radius: var(--space-sm) var(--space-sm) 0 0;
	}

	::slotted(&:last-of-type) {
		border-radius: 0 0 var(--space-sm) var(--space-sm);
		margin-block-end: unset;
	}

	::slotted(&[aria-selected='true']) {
		@extend %icon;

		display: flex;
		align-items: center;
		gap: 0.5em;
		cursor: default;

		&::after {
			all: unset;
		}
		&::before {
			content: var(--icon-code);
		}
	}
}

/** Animation
=========================================================================== */

@keyframes expand-listbox {
	from {
		block-size: 0;
	}

	to {
		block-size: max-content;
	}
}

@keyframes collapse-listbox {
	from {
		block-size: max-content;
		display: block;
		opacity: 1;
		transform: translateY(0);
	}

	70% {
		opacity: 0.9;
		transform: translateY(0);
	}

	100% {
		display: none;
		block-size: 0;
		opacity: 0;
		transform: translateY(-1--space-xs);
	}
}
