@import '../.snippet/icon.css';
@import '../settings/main.css';
@import '../settings/space.css';

.c-select {
	--button-glyph: '\e18a';
	--check-glyph: '\e153';
	--text-font: var(--ui-font);

	option {
		--text-interligne: 2--unit;
	}

	.c-button__icon::before {
		--icon-size: var(--text-md);
	}

	&:open {
		--button-glyph: '\e18d';
	}
}

.c-select {
	listbox {
		border: none;
		border-radius: var(--space-xxs);
		text-align: right;
		box-shadow: var(--shadow-3dp);
		margin-top: var(--space-xs);

		option {
			cursor: pointer;
			background-color: transparent;
			transition: background-color 0.16s ease;
			padding-right: var(--space);
			padding-left: var(--space);

			&:checked,
			&:hover {
				font-weight: var(--font-medium);
			}

			&:checked {
				@extend %icon;

				display: flex;
				align-items: center;
				justify-content: space-between;

				&::before {
					content: var(--check-glyph);
				}
			}

			&:hover {
				background-color: var(--clr-gray-50);
			}
		}
	}

	.c-button__icon::before {
		content: var(--button-glyph);
	}
}
